<div class="custom-fields-section">
  
    {% if resource_type == "products" %}
    <div class="custom-fields-section__products">
      {% for block in blocks %}
      {% if block.type contains "cf_" %}
      <div class="custom-fields-section__item custom-fields-section__item--{{ block.type }} custom-fields-section__item--{{ block.type }}--{{ block.settings.key }}" {{ block.shopify_attributes }}>
        {% case block.settings.key %}
        
          {% when "addition" %}
            {% render "custom_fields.products.addition" %}
        
          {% when "awards" %}
            {% render "custom_fields.products.awards" %}
        
          {% when "bonus_points" %}
            {% render "custom_fields.products.bonus_points" %}
        
          {% when "brand_logos" %}
            {% render "custom_fields.products.brand_logos" %}
        
          {% when "expert_reviews" %}
            {% render "custom_fields.products.expert_reviews" %}
        
          {% when "faq" %}
            {% render "custom_fields.products.faq" %}
        
          {% when "faq_questions" %}
            {% render "custom_fields.products.faq_questions" %}
        
          {% when "highlights" %}
            {% render "custom_fields.products.highlights" %}
        
          {% when "highlight_points" %}
            {% render "custom_fields.products.highlight_points" %}
        
          {% when "inclusions" %}
            {% render "custom_fields.products.inclusions" %}
        
          {% when "inclusions_points" %}
            {% render "custom_fields.products.inclusions_points" %}
        
          {% when "location" %}
            {% render "custom_fields.products.location" %}
        
          {% when "location_background_image" %}
            {% render "custom_fields.products.location_background_image" %}
        
          {% when "makers_detail" %}
            {% render "custom_fields.products.makers_detail" %}
        
          {% when "map_path_location" %}
            {% render "custom_fields.products.map_path_location" %}
        
          {% when "mile" %}
            {% render "custom_fields.products.mile" %}
        
          {% when "mixcase_collection_subtitle" %}
            {% render "custom_fields.products.mixcase_collection_subtitle" %}
        
          {% when "mixcase_collection_title" %}
            {% render "custom_fields.products.mixcase_collection_title" %}
        
          {% when "mixcase_product_bg_heading" %}
            {% render "custom_fields.products.mixcase_product_bg_heading" %}
        
          {% when "mixcase_product_image" %}
            {% render "custom_fields.products.mixcase_product_image" %}
        
          {% when "mixcase_product_post_heading" %}
            {% render "custom_fields.products.mixcase_product_post_heading" %}
        
          {% when "mixcase_product_pre_heading" %}
            {% render "custom_fields.products.mixcase_product_pre_heading" %}
        
          {% when "mixcase_wines" %}
            {% render "custom_fields.products.mixcase_wines" %}
        
          {% when "points" %}
            {% render "custom_fields.products.points" %}
        
          {% when "single_product_price" %}
            {% render "custom_fields.products.single_product_price" %}
        
          {% when "state_country" %}
            {% render "custom_fields.products.state_country" %}
        
          {% when "subscription_months" %}
            {% render "custom_fields.products.subscription_months" %}
        
          {% when "wine_details" %}
            {% render "custom_fields.products.wine_details" %}
        
          {% when "wine_subscription_heading_2" %}
            {% render "custom_fields.products.wine_subscription_heading_2" %}
        
          {% when "wine_subscription_heading_line" %}
            {% render "custom_fields.products.wine_subscription_heading_line" %}
        
          {% when "wine_subs_section_1" %}
            {% render "custom_fields.products.wine_subs_section_1" %}
        
          {% when "wine_subs_tabs" %}
            {% render "custom_fields.products.wine_subs_tabs" %}
        
          {% when "wine_subs_testimonial" %}
            {% render "custom_fields.products.wine_subs_testimonial" %}
        
          {% when "wine_tour" %}
            {% render "custom_fields.products.wine_tour" %}
        
          {% when "wine_tour_brands" %}
            {% render "custom_fields.products.wine_tour_brands" %}
        
          {% when "wine_tour_wines" %}
            {% render "custom_fields.products.wine_tour_wines" %}
        
        {% endcase %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
  
    {% if resource_type == "customers" %}
    <div class="custom-fields-section__customers">
      {% for block in blocks %}
      {% if block.type contains "cf_" %}
      <div class="custom-fields-section__item custom-fields-section__item--{{ block.type }} custom-fields-section__item--{{ block.type }}--{{ block.settings.key }}" {{ block.shopify_attributes }}>
        {% case block.settings.key %}
        
          {% when "krisflyer_number" %}
            {% render "custom_fields.customers.krisflyer_number" %}
        
          {% when "points" %}
            {% render "custom_fields.customers.points" %}
        
        {% endcase %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
  
</div>
