{% for block in section.blocks %}
{% if block.type == 'coming_soon_column' %}
<div class="grid__item grid__jump medium-up--one-third text-center">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="248.586" height="26.789" viewBox="0 0 248.586 26.789">
    <defs>
      <path id="bcpath-1" fill-rule="evenodd" d="M28.4434967 19H5.5C2.98439026 19 .86097717 20.6925354.2073822 23h33.5287323c-.65359497-2.3074646-2.77700805-4-5.2926178-4zM.08807373 25.48475647v-1.96951294C.0302124 23.83477783 0 24.16389465 0 24.5c0 .33610535.0302124.66522217.08807373.98475647z"></path>
      <mask id="bcmask-2" x="0" y="0" maskContentUnits="userSpaceOnUse" maskUnits="userSpaceOnUse">
        <rect width="248.586" height="26.789" x="0" y="0" fill="black"></rect>
        <use fill="white" xlink:href="#bcpath-1"></use>
      </mask>
      <path id="bcpath-3" fill-rule="evenodd" d="M243.08618164 19H220.1427002c-2.51559449 0-4.63900757 1.6925354-5.29260254 4h33.23797607v3.78878784c.3197937-.69703674.49810791-1.47224426.49810791-2.28878784 0-3.03553772-2.46444702-5.5-5.5-5.5z"></path>
      <mask id="bcmask-4" x="0" y="0" maskContentUnits="userSpaceOnUse" maskUnits="userSpaceOnUse">
        <rect width="248.586" height="26.789" x="0" y="0" fill="black"></rect>
        <use fill="white" xlink:href="#bcpath-3"></use>
      </mask>
      <path id="bcpath-5" fill-rule="evenodd" d="M182.02822876 23c-10.0923462-13.55513-32.60614014-23-58.73345947-23C97.16744995 0 74.653656 9.44487 64.56129456 23h117.4669342z"></path>
      <mask id="bcmask-6" x="0" y="0" maskContentUnits="userSpaceOnUse" maskUnits="userSpaceOnUse">
        <rect width="248.586" height="26.789" x="0" y="0" fill="black"></rect>
        <use fill="white" xlink:href="#bcpath-5"></use>
      </mask>
      <path id="bcpath-7" fill-rule="evenodd" d="M176.22433472 23c-10.9630127-11.39904785-30.57705689-19-52.92956543-19-22.35250855 0-41.96658325 7.60095215-52.92959595 19h105.85916138z"></path>
      <mask id="bcmask-8" x="0" y="0" maskContentUnits="userSpaceOnUse" maskUnits="userSpaceOnUse">
        <rect width="248.586" height="26.789" x="0" y="0" fill="black"></rect>
        <use fill="white" xlink:href="#bcpath-7"></use>
      </mask>
    </defs>
    <g>
      <use fill-opacity="0" stroke="rgb(228,228,228)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1" mask="url(#bcmask-2)" xlink:href="#bcpath-1"></use>
      <use fill-opacity="0" stroke="rgb(228,228,228)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1" mask="url(#bcmask-4)" xlink:href="#bcpath-3"></use>
      <use fill-opacity="0" stroke="rgb(228,228,228)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1.02" mask="url(#bcmask-6)" xlink:href="#bcpath-5"></use>
      <use fill-opacity="0" stroke="rgb(228,228,228)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1.02" mask="url(#bcmask-8)" xlink:href="#bcpath-7"></use>
    </g>
  </svg>
  <div class="jump-card-image-wrapper">
    <div id="TextColumnImageWrapper-1600149856749-0" class="feature-row__image-wrapper jump-card-image js">
      <div style="padding-top:66.23134328358209%;">
        <img id="TextColumnImage-1600149856749-0" class="feature-row__image lazyautosizes ls-is-cached lazyloaded" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.5098591549295775" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/0423/0312/7712/files/Pasted_Image_180x.png?v=1600150275 180w, //cdn.shopify.com/s/files/1/0423/0312/7712/files/Pasted_Image_360x.png?v=1600150275 360w, //cdn.shopify.com/s/files/1/0423/0312/7712/files/Pasted_Image_540x.png?v=1600150275 540w, //cdn.shopify.com/s/files/1/0423/0312/7712/files/Pasted_Image_720x.png?v=1600150275 720w, //cdn.shopify.com/s/files/1/0423/0312/7712/files/Pasted_Image_900x.png?v=1600150275 900w, //cdn.shopify.com/s/files/1/0423/0312/7712/files/Pasted_Image_1080x.png?v=1600150275 1080w, //cdn.shopify.com/s/files/1/0423/0312/7712/files/Pasted_Image_1296x.png?v=1600150275 1296w, //cdn.shopify.com/s/files/1/0423/0312/7712/files/Pasted_Image_1512x.png?v=1600150275 1512w, //cdn.shopify.com/s/files/1/0423/0312/7712/files/Pasted_Image_1728x.png?v=1600150275 1728w, //cdn.shopify.com/s/files/1/0423/0312/7712/files/Pasted_Image_2048x.png?v=1600150275 2048w" sizes="354px" srcset="//cdn.shopify.com/s/files/1/0423/0312/7712/files/Pasted_Image_180x.png?v=1600150275 180w, //cdn.shopify.com/s/files/1/0423/0312/7712/files/Pasted_Image_360x.png?v=1600150275 360w, //cdn.shopify.com/s/files/1/0423/0312/7712/files/Pasted_Image_540x.png?v=1600150275 540w, //cdn.shopify.com/s/files/1/0423/0312/7712/files/Pasted_Image_720x.png?v=1600150275 720w, //cdn.shopify.com/s/files/1/0423/0312/7712/files/Pasted_Image_900x.png?v=1600150275 900w, //cdn.shopify.com/s/files/1/0423/0312/7712/files/Pasted_Image_1080x.png?v=1600150275 1080w, //cdn.shopify.com/s/files/1/0423/0312/7712/files/Pasted_Image_1296x.png?v=1600150275 1296w, //cdn.shopify.com/s/files/1/0423/0312/7712/files/Pasted_Image_1512x.png?v=1600150275 1512w, //cdn.shopify.com/s/files/1/0423/0312/7712/files/Pasted_Image_1728x.png?v=1600150275 1728w, //cdn.shopify.com/s/files/1/0423/0312/7712/files/Pasted_Image_2048x.png?v=1600150275 2048w">
      </div>
    </div>
    <div class="jump-image-text">
      <h3 class="h4">{{ block.settings.title }}</h3>
      <img class="jump-card-bottle" src="//cdn.shopify.com/s/files/1/0423/0312/7712/t/3/assets/bottle.png?v=9730947806482682081">
    </div>
  </div>
  <noscript>
    <p>
      <img src="//cdn.shopify.com/s/files/1/0423/0312/7712/files/Pasted_Image_480x480@2x.png?v=1600150275" alt="" class="feature-row__image" />
    </p>
  </noscript>
  <div class="jump-card-content">
    <h4 class="h5">WHITES</h4>
    <div class="rte-setting">
      {{ block.settings.text }}
    </div>
    <a href="{{ block.settings.btn_link }}" class="btn btn--secondary btn--small btn-jump-card" aria-label="{{ block.settings.btn_text }}" tabindex="0">{{ block.settings.btn_text }}
      {% comment %}<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19">
      <path fill="rgb(248,131,121)" fill-rule="evenodd" d="M18 9.4392c0-.0912-.03281677-.1824-.09024613-.2584L10.80492252.1824C10.71467639.0684 10.5752051 0 10.42752962 0H6.39927075C5.9480401 0 5.5788514.342 5.5788514.76c0 .1444.04102097.2812.1230629.4028l2.53509572 3.7544c.2379216.3572.1230629.8284-.26253419 1.0488-.1230629.076-.27894257.114-.42661805.114H.82041933C.3691887 6.08 0 6.422 0 6.84v5.32c0 .418.3691887.76.82041933.76h6.72743846c.15587968 0 .30355515.038.43482225.114.38559708.2204.50045578.6916.26253418 1.0488l-2.53509571 3.7544c-.08204194.1216-.1312671.2584-.1312671.4028 0 .418.3691887.76.82041933.76h4.0200547c.14767547 0 .29535095-.0684.37739288-.1824l7.10483136-9.006c.05742935-.076.09024613-.1672.09024613-.2584 0-.0228-.0082042-.038-.01640839-.0608C17.99179581 9.4772 18 9.462 18 9.4392z"></path>
      </svg>{% endcomment %}
    </a>
  </div>
</div>
{% endif %}
{% endfor %}