
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
  <defs>
    <rect id="rect-1" width="24" height="24" x="0" y="0"/>
    <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="userSpaceOnUse">
      <rect width="24" height="24" x="0" y="0" fill="black"/>
      <use fill="white" xlink:href="#rect-1"/>
    </mask>
  </defs>
  <g>
    <use fill="none" xlink:href="#rect-1"/>
    <g mask="url(#mask-2)">
      <path fill="none" stroke="rgb(21,47,56)" stroke-dasharray="0 0 0 0" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1" d="M2.5 9l9.5 6 9.5-6"/>
      <path fill="none" stroke="rgb(21,47,56)" stroke-dasharray="0 0 0 0" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1" d="M5.5 7l-3 2v13h19V9l-3.2-2"/>
      <path fill="none" stroke="rgb(21,47,56)" stroke-dasharray="0 0 0 0" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1" d="M12 3.2l-.7-.5c-.39784308-.4352269-.96033775-.68313727-1.55-.68313727S8.59784308 2.2647731 8.2 2.7c-.4352269.39784308-.68313727.96033775-.68313727 1.55S7.7647731 5.40215692 8.2 5.8L12 9.7l3.8-3.9c.4352269-.39784308.68313727-.96033775.68313727-1.55S16.2352269 3.09784308 15.8 2.7c-.39784308-.4352269-.96033775-.68313727-1.55-.68313727S13.09784308 2.2647731 12.7 2.7l-.7.5z"/>
    </g>
  </g>
</svg>
