
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
  <defs>
    <rect id="rect-1" width="24" height="24" x="0" y="0"/>
    <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="userSpaceOnUse">
      <rect width="24" height="24" x="0" y="0" fill="black"/>
      <use fill="white" xlink:href="#rect-1"/>
    </mask>
  </defs>
  <g>
    <use fill="none" xlink:href="#rect-1"/>
    <g mask="url(#mask-2)">
      <path fill="none" stroke="rgb(21,47,56)" stroke-dasharray="0 0 0 0" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1" d="M17 14l-2.9 1.9c-2.51279831-1.4113818-4.5886182-3.48720169-6-6L10 7 8 2H4L2.1 3.9c.91432217 9.53678486 8.46321514 17.08567783 18 18L22 20v-4l-5-2z"/>
    </g>
  </g>
</svg>
