
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
  <defs>
    <rect id="rect-1" width="24" height="24" x="0" y="0"/>
    <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="userSpaceOnUse">
      <rect width="24" height="24" x="0" y="0" fill="black"/>
      <use fill="white" xlink:href="#rect-1"/>
    </mask>
  </defs>
  <g>
    <use fill="none" xlink:href="#rect-1"/>
    <g mask="url(#mask-2)">
      <path fill="none" stroke="rgb(21,47,56)" stroke-dasharray="0 0 0 0" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1" d="M6.1 18.76c-2.46969416-1.41984459-4.0228337-4.02230035-4.1-6.87 0-4.7 4.47-8.51 10-8.51s10 3.81 10 8.51c0 4.7-4.48 8.5-10 8.5-.63302558.0013433-1.26511101-.04882221-1.89-.15l-4.45 2.25.44-3.73z"/>
      <path fill="none" stroke="rgb(21,47,56)" stroke-dasharray="0 0 0 0" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1" d="M12 10.75l-.44-.39c-.5910195-.55071772-1.51201944-.53446775-2.0832436.0367564C8.90553225 10.96798056 8.88928228 11.8889805 9.44 12.48l2.56 2.6 2.56-2.6c.55071772-.5910195.53446775-1.51201944-.0367564-2.0832436C13.95201944 9.82553225 13.0310195 9.80928228 12.44 10.36l-.44.39z"/>
    </g>
  </g>
</svg>
