{% if customer.metafields.custom_fields["points"] != blank %}
  <div class="custom-field custom-field__points custom-field__type--number">
    <h3 class="custom-field--title">Points</h3>
    <div class="custom-field--value">
      {{ customer.metafields.custom_fields["points"] }}
    </div>
  </div>
{% endif %}