{% if product.metafields.custom_fields["mile"] != blank %}
  <div class="custom-field custom-field__mile custom-field__type--number">
    <h3 class="custom-field--title">mile</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["mile"] }}
    </div>
  </div>
{% endif %}