{% if customer.metafields.custom_fields["krisflyer_number"] != blank %}
  <div class="custom-field custom-field__krisflyer-number custom-field__type--number">
    <h3 class="custom-field--title">Krisflyer Number</h3>
    <div class="custom-field--value">
      {{ customer.metafields.custom_fields["krisflyer_number"] }}
    </div>
  </div>
{% endif %}