<svg xmlns="http://www.w3.org/2000/svg" width="897.5" height="242.5" viewBox="0 0 897.5 242.5">
  <path fill="none" stroke="rgb(65,141,147)" stroke-dasharray="2 6 2 6" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1.00013508 241.50050297c-.00017749-158 329.49981746-162.50037014 605.4999107-79.50068017 276.00009323 82.99968996 289.99994046-53.00032577 289.9998944-94.00032577-.00004605-41-22.53300354-66.99997469-55.00007526-66.99993821-38.474198.00004321-87.05501449 94.6209255-163.99988093 106.00018422-70.9999882 10.50007976-152.00002527-22.49982925-152.00010615-94.49982925"/>
</svg>
