<svg xmlns="http://www.w3.org/2000/svg" width="307" height="122" viewBox="0 0 307 122">
  <path fill="none" stroke="rgb(65,141,147)" stroke-dasharray="2 6 2 6" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M98.9175812 121.00006131c5.49438316-39.50000617 31.9675154-56.0000359 100.39813238-38.50011278 68.43061696 17.49992313 99.89868726 4.49988779 105.89257168-28.00011895C311.20216968 21.99982285 282.23152826.9998554 249.76445654.99989186c-38.474198.00004322-105.47917315 58.18202556-142.35555306 61.50015992C62.9539944 66.5001017-.18142519 47.55664819 1.01675526 16.50017128"/>
</svg>
