<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="97.467" height="97.473" viewBox="0 0 97.467 97.473">
  <defs>
    <rect id="rect-3" width="29.1" height="55.81" x="0" y="0"/>
    <mask id="mask-4" maskContentUnits="userSpaceOnUse" maskUnits="userSpaceOnUse">
      <rect width="97.467" height="97.473" x="0" y="0" fill="black"/>
      <use fill="white" xlink:href="#rect-3"/>
    </mask>
  </defs>
  <g>
    <ellipse cx="48.733" cy="48.736" fill="none" stroke="rgb(65,141,147)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1.6" rx="47.933" ry="47.936"/>
    <ellipse cx="48.733" cy="48.736" fill="none" stroke="rgb(65,141,147)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1.6" rx="41.979" ry="41.981"/>
    <g transform="translate(34.8 20.8)">
      <use fill="none" xlink:href="#rect-3"/>
      <g mask="">
        <path fill="none" stroke="rgb(65,141,147)" stroke-dasharray="0 0 0 0" stroke-linecap="butt" stroke-linejoin="round" stroke-width="1.5" d="M12.91756098 16.73464232c-2.2002439-2.19228314-3.20035477-2.52659025-3.20035477-5.5417832V4.36527935h.6645898V1.99941366h-.6645898V.84219676H5.72321508v1.15078792h-.67104213v2.37229467h.6645898v6.82757977c0 3.01519295-1.00011087 3.34307107-3.20035477 5.5417832C.31616408 18.93335445.78073171 21.69781707.78073171 21.69781707L.9613969 53.3412706c0 1.90297892 1.64534368 1.72939638 1.64534368 1.72939638H12.8336807s1.64534368.18001152 1.64534368-1.72939638l.18066519-31.64345352c-.00645233 0 .4581153-2.7708916-1.7421286-4.96317475h0z"/>
        <rect width="17.46" height="17.191" x="5.484" y="33.508" fill="none" stroke="rgb(65,141,147)" stroke-dasharray="0 0 0 0" stroke-linecap="butt" stroke-linejoin="round" stroke-width="1.5" rx="0" ry="0"/>
        <path fill="none" stroke="rgb(65,141,147)" stroke-dasharray="0 0 0 0" stroke-linecap="butt" stroke-linejoin="round" stroke-width="1.5" d="M26.58359202 16.62534961c-2.2002439-2.19228314-3.20035477-2.52659025-3.20035477-5.5417832V4.25598664h.6645898V1.89012095h-.6645898V.73933303h-3.99399113v1.15078792h-.6645898v2.37229467h.6645898v6.82757977c0 3.01519295-1.00011087 3.34307108-3.20035477 5.5417832-2.2002439 2.19871214-1.73567627 4.96317476-1.73567627 4.96317476l.18066519 31.64345352c0 1.90297892 1.64534368 1.72939638 1.64534368 1.72939638h10.22694013s1.64534368.18001152 1.64534368-1.72939638l.18066519-31.64345352c-.01290466-.00642899.45166297-2.77732059-1.74858093-4.96960374h0z"/>
      </g>
    </g>
  </g>
</svg>
