<svg xmlns="http://www.w3.org/2000/svg" width="320.769" height="148.5" viewBox="0 0 320.769 148.5">
  <path fill="none" stroke="rgb(79,149,154)" stroke-dasharray="2 6 2 6" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M208.0824039 147.50005358c-5.49438314-39.50000617-31.9675154-56.00003591-100.39813236-38.50011278-68.43061697 17.49992313-99.89868726 4.49988778-105.89257168-28.00011895-5.99388443-32.50000673 22.976757-53.49997419 55.44382872-53.49993772 38.47419799.00004322 107.56612161 48.8284248 142.35555305 61.50015991 54.90887933 20.00006168 166.90887933 20.0001875 98.90900065-87.9998889"/>
</svg>
