<svg xmlns="http://www.w3.org/2000/svg" width="1440" height="51" viewBox="0 0 1440 51">
  <path fill="rgb(244,244,242)" fill-rule="evenodd" d="M0 15.39100513S32.01705446 0 432.2302352 0c169.25769559 0 357.87820447 12.48102688 523.77900028 15.39100513C1226.24351668 20.13104195 1440 0 1440 0v51H0V15.39100513z"/>
</svg>
