<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="248.586" height="26.789" viewBox="0 0 248.586 26.789">
  <defs>
    <path id="bcpath-1" fill-rule="evenodd" d="M28.4434967 19H5.5C2.98439026 19 .86097717 20.6925354.2073822 23h33.5287323c-.65359497-2.3074646-2.77700805-4-5.2926178-4zM.08807373 25.48475647v-1.96951294C.0302124 23.83477783 0 24.16389465 0 24.5c0 .33610535.0302124.66522217.08807373.98475647z"/>
    <mask id="bcmask-2" x="0" y="0" maskContentUnits="userSpaceOnUse" maskUnits="userSpaceOnUse">
      <rect width="248.586" height="26.789" x="0" y="0" fill="black"/>
      <use fill="white" xlink:href="#bcpath-1"/>
    </mask>
    <path id="bcpath-3" fill-rule="evenodd" d="M243.08618164 19H220.1427002c-2.51559449 0-4.63900757 1.6925354-5.29260254 4h33.23797607v3.78878784c.3197937-.69703674.49810791-1.47224426.49810791-2.28878784 0-3.03553772-2.46444702-5.5-5.5-5.5z"/>
    <mask id="bcmask-4" x="0" y="0" maskContentUnits="userSpaceOnUse" maskUnits="userSpaceOnUse">
      <rect width="248.586" height="26.789" x="0" y="0" fill="black"/>
      <use fill="white" xlink:href="#bcpath-3"/>
    </mask>
    <path id="bcpath-5" fill-rule="evenodd" d="M182.02822876 23c-10.0923462-13.55513-32.60614014-23-58.73345947-23C97.16744995 0 74.653656 9.44487 64.56129456 23h117.4669342z"/>
    <mask id="bcmask-6" x="0" y="0" maskContentUnits="userSpaceOnUse" maskUnits="userSpaceOnUse">
      <rect width="248.586" height="26.789" x="0" y="0" fill="black"/>
      <use fill="white" xlink:href="#bcpath-5"/>
    </mask>
    <path id="bcpath-7" fill-rule="evenodd" d="M176.22433472 23c-10.9630127-11.39904785-30.57705689-19-52.92956543-19-22.35250855 0-41.96658325 7.60095215-52.92959595 19h105.85916138z"/>
    <mask id="bcmask-8" x="0" y="0" maskContentUnits="userSpaceOnUse" maskUnits="userSpaceOnUse">
      <rect width="248.586" height="26.789" x="0" y="0" fill="black"/>
      <use fill="white" xlink:href="#bcpath-7"/>
    </mask>
  </defs>
  <g>
    <use fill-opacity="0" stroke="rgb(228,228,228)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1" mask="url(#bcmask-2)" xlink:href="#bcpath-1"/>
    <use fill-opacity="0" stroke="rgb(228,228,228)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1" mask="url(#bcmask-4)" xlink:href="#bcpath-3"/>
    <use fill-opacity="0" stroke="rgb(228,228,228)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1.02" mask="url(#bcmask-6)" xlink:href="#bcpath-5"/>
    <use fill-opacity="0" stroke="rgb(228,228,228)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1.02" mask="url(#bcmask-8)" xlink:href="#bcpath-7"/>
  </g>
</svg>
