<svg xmlns="http://www.w3.org/2000/svg" width="97.467" height="97.473" viewBox="0 0 97.467 97.473">
  <g>
    <ellipse cx="48.733" cy="48.736" fill="none" stroke="rgb(248,131,121)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1.6" rx="47.933" ry="47.936"/>
    <ellipse cx="48.733" cy="48.736" fill="none" stroke="rgb(248,131,121)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1.6" rx="41.979" ry="41.981"/>
    <g>
      <path fill="none" stroke="rgb(248,131,121)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1.6" d="M22.23604467 48.0754235s6.85707038-10.59230917 18.70110104-8.10000113C52.78117636 42.46773041 62.13172688 29.3831132 62.13172688 29.3831132"/>
      <path fill="none" stroke="rgb(248,131,121)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1.6" d="M26.59963491 54.92927062s6.85707038-10.59230917 18.70110104-8.10000113C57.1447666 49.32157753 66.49531712 36.2369603 66.49531712 36.2369603"/>
      <path fill="none" stroke="rgb(248,131,121)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1.6" d="M30.96322515 61.16004072s6.85707038-10.59230917 18.70110104-8.10000113C61.50835685 55.55234763 70.85890737 42.4677304 70.85890737 42.4677304"/>
      <path fill="none" stroke="rgb(248,131,121)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1.6" d="M36.57355546 67.39081083s6.85707038-10.59230918 18.70110104-8.10000114c11.84403066 2.49230804 21.19458118-10.59230917 21.19458118-10.59230917"/>
    </g>
  </g>
</svg>
