<svg xmlns="http://www.w3.org/2000/svg" class="icon__plane" width="60.057" height="63.097" viewBox="0 0 60.057 63.097">
  <path fill="none" stroke="rgb(35,31,32)" stroke-dasharray="0 0 0 0" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1.5" d="M20.41148608 7.50586683l5.73730674 5.4701422-.580519 13.51161991-22.03978837-6.3946905.00966826 6.05759753 22.8621576 16.35264984s.33861588 10.11204713.3966624 13.5597736c.03869768 2.29206398 1.66410752 3.0817685 2.75738944 3.3514243l.2709017.086675s-.07740059.05778304.21285137.01926128c.29025187.04815293.16447612-.02889138.16447612-.02889138l.31927719-.06741328c1.09328253-.27928388 2.71869415-1.06898475 2.75739697-3.35141811.0483792-3.44772636.39669285-13.55977271.39669285-13.55977271l22.84284423-16.36222903.00968187-6.05759751-22.03980273 6.39464099-.58048865-13.5116212 5.73731903-5.47012932.57083324-3.97740441-10.18784481 2.2535304-10.18783975-2.2535533.5708243 3.9774057h0z"/>
</svg>
