<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60.216" height="60" viewBox="0 0 60.216 60">
  <defs>
    <ellipse id="ellipse-2" cx="30.108" cy="30" rx="30.108" ry="30"/>
    <mask id="mask-3" x="0" y="0" maskContentUnits="userSpaceOnUse" maskUnits="userSpaceOnUse">
      <rect width="60.216" height="60" x="0" y="0" fill="black"/>
      <use fill="white" xlink:href="#ellipse-2"/>
    </mask>
  </defs>
  <g>
    <path fill="rgb(85,139,146)" fill-rule="evenodd" d="M17.32415985 26.34423828c.00073242.73754883.00146484 1.47485352.00146484 2.2121582l-.00061035 2.37231446c-.00061035 1.58251953-.00115967 3.16552734.00061035 4.7512207.00268555 1.8137207.01068115 1.84277344 1.82324219 1.88745117.74371338.01855469 1.18353271.1899414 1.41009521 1.01513672.33587647 1.22314453 1.32476807 1.88745117 2.41766358 1.87182617 1.08752441-.01586914 1.9298706-.6538086 2.36169433-1.94042968.21588135-.63793946.52508545-.94116211 1.2128296-.93603516 2.72686767.01855469 5.45373534.01855469 8.18060302-.0024414.67706299-.0053711 1.00494385.26879882 1.2341919.90429687.49041747 1.35498047 1.37805175 2.04052734 2.48431396 1.96655273 1.29541015-.08691406 2.03381347-.8540039 2.45495605-2.05639648.11462403-.32421875.54376221-.7434082.84765625-.75927735 1.14886475-.05786132 1.28479004-.58251953 1.03424073-1.56591796-.80236817-3.14770508-1.543396-6.3088379-2.30841065-9.46435547-.48510742-2.00366211-.97290039-4.00732422-1.4473877-6.01611328-.25341796-1.07470704-1.0211792-1.05004883-1.79412841-1.02514649-.10510254.00341797-.21032715.0065918-.31433106.00732422-.89831543.0053711-1.0848999.59863281-1.0848999 1.32885742-.0008545.87524414-.00030518 1.75048828.00030518 2.6262207v.02661133c.00115966 1.75073242.00231933 3.50195313-.00830078 5.25341797-.00799561 1.00463867.44519042 1.43945313 1.45007324 1.3894043.74639892-.03686524 1.50604248-.06591797 2.2390747.03686523.35717774.05029297.88232422.35327149.96759034.6459961.4744873 1.64233398.8583374 3.31396484 1.23150634 4.98266601.1572876.70654297-.31988525.85424805-.87164306.71704102-.2798462-.06835938-.51708985-.31103516-.76501465-.48754883-1.27410889-.90966797-2.0578003-.87548828-3.3692627-.00268555-.4451294.29785157-1.0182495.55615235-1.5380249.56420899-2.98809814.05273437-5.97888183.04736328-8.9696045.00512695-.48516845-.00512695-1.0316162-.20288086-1.43676757-.47705078-1.50604248-1.02026367-2.071167-.9519043-3.7078247.01586914-.63171387.37158203-1.57800294.39257813-2.33502198.27661133-.23724365-.03686524-.4611206-1.03588867-.4664917-1.59765625-.03710937-4.20043946-.02661133-8.3984375-.01617431-12.59863281l.00006103-.01757813.00006104-.01782226.00006103-.01757813c.00268555-1.66894531.09863281-1.75585938 1.82861328-1.75854492 3.77978516-.0078125 7.56219483-.01049805 11.3446045 0 1.71929931.0053711 1.74328613.03686523 1.74597167 1.79541015.00158692 1.10620118.0010376 2.2121582.00048829 3.3178711-.00134278 2.58398437-.00262452 5.16748047.02349853 7.75219726.00531006.4428711.30651856.8857422.46911621 1.32861329.14398194-.41650391.40783692-.83056641.41052246-1.24707032.03198242-4.08618164.02667237-8.16992187.01330567-12.25634765-.00531006-1.45507813-.14923096-1.5949707-1.59661866-1.59765625-4.52880859-.01049805-9.06030273-.01049805-13.58905029 0-1.42346191.00537109-1.5593872.15039062-1.56469726 1.62402343-.00738526 1.69995118-.00579834 3.3996582-.00427246 5.0991211l.00012207.0678711zm19.4734497-1.53930664h.02130127c0-.30444336-.00305176-.60913086-.00604248-.91357422-.00836181-.83789062-.01672363-1.67578125.0380249-2.51098633.01867676-.28735351.40783692-.55371093.62908936-.82788086.2319336.21875.60772705.40332032.67706299.6669922.62109375 2.37792968 1.19415283 4.76660155 1.75927734 7.15771484.04528809.1923828-.03997803.59057617-.10662842.60107421-.1130371.01635743-.22662353.03369141-.34039306.0510254-.65887451.10058593-1.32373047.2019043-1.96533203.12548828-.27453614-.03149414-.64239502-.67211914-.67437745-1.05981446-.06500244-.78100586-.05316162-1.56982422-.0413208-2.36083984.00469971-.3100586.00933838-.61987305.00933838-.92919922zm1.6046753 11.58691406c-.82366944.00512696-1.47674561.6538086-1.50073243 1.4946289-.02398681.8911133.66638184 1.6188965 1.52734375 1.6057129.77838135-.01074219 1.50604248-.72509766 1.5354004-1.50292969.02929687-.84082031-.71435547-1.6027832-1.56201172-1.5974121zm-15.35632325.00512696c.82366944.05810546 1.42608643.7355957 1.40472412 1.5793457-.02130127.83032226-.68505859 1.5053711-1.48736572 1.5131836-.83966064.01049804-1.58068847-.7487793-1.5593872-1.59497071.0213623-.859375.78637695-1.55810547 1.6420288-1.4975586z"/>
    <use fill-opacity="0" stroke="rgb(85,139,146)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="2" mask="url(#mask-3)" xlink:href="#ellipse-2"/>
  </g>
</svg>


{% comment %}
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60.216" height="60" viewBox="0 0 60.216 60">
  <defs>
    <ellipse id="ellipse-2" cx="30.108" cy="30" rx="30.108" ry="30"/>
    <mask id="mask-3" x="0" y="0" maskContentUnits="userSpaceOnUse" maskUnits="userSpaceOnUse">
      <rect width="60.216" height="60" x="0" y="0" fill="black"/>
      <use fill="white" xlink:href="#ellipse-2"/>
    </mask>
  </defs>
  <g>
    <path fill="rgb(85,139,146)" fill-rule="evenodd" d="M17.32415985 26.34423828c.00073242.73754883.00146484 1.47485352.00146484 2.2121582l-.00061035 2.37231446c-.00061035 1.58251953-.00115967 3.16552734.00061035 4.7512207.00268555 1.8137207.01068115 1.84277344 1.82324219 1.88745117.74371338.01855469 1.18353271.1899414 1.41009521 1.01513672.33587647 1.22314453 1.32476807 1.88745117 2.41766358 1.87182617 1.08752441-.01586914 1.9298706-.6538086 2.36169433-1.94042968.21588135-.63793946.52508545-.94116211 1.2128296-.93603516 2.72686767.01855469 5.45373534.01855469 8.18060302-.0024414.67706299-.0053711 1.00494385.26879882 1.2341919.90429687.49041747 1.35498047 1.37805175 2.04052734 2.48431396 1.96655273 1.29541015-.08691406 2.03381347-.8540039 2.45495605-2.05639648.11462403-.32421875.54376221-.7434082.84765625-.75927735 1.14886475-.05786132 1.28479004-.58251953 1.03424073-1.56591796-.80236817-3.14770508-1.543396-6.3088379-2.30841065-9.46435547-.48510742-2.00366211-.97290039-4.00732422-1.4473877-6.01611328-.25341796-1.07470704-1.0211792-1.05004883-1.79412841-1.02514649-.10510254.00341797-.21032715.0065918-.31433106.00732422-.89831543.0053711-1.0848999.59863281-1.0848999 1.32885742-.0008545.87524414-.00030518 1.75048828.00030518 2.6262207v.02661133c.00115966 1.75073242.00231933 3.50195313-.00830078 5.25341797-.00799561 1.00463867.44519042 1.43945313 1.45007324 1.3894043.74639892-.03686524 1.50604248-.06591797 2.2390747.03686523.35717774.05029297.88232422.35327149.96759034.6459961.4744873 1.64233398.8583374 3.31396484 1.23150634 4.98266601.1572876.70654297-.31988525.85424805-.87164306.71704102-.2798462-.06835938-.51708985-.31103516-.76501465-.48754883-1.27410889-.90966797-2.0578003-.87548828-3.3692627-.00268555-.4451294.29785157-1.0182495.55615235-1.5380249.56420899-2.98809814.05273437-5.97888183.04736328-8.9696045.00512695-.48516845-.00512695-1.0316162-.20288086-1.43676757-.47705078-1.50604248-1.02026367-2.071167-.9519043-3.7078247.01586914-.63171387.37158203-1.57800294.39257813-2.33502198.27661133-.23724365-.03686524-.4611206-1.03588867-.4664917-1.59765625-.03710937-4.20043946-.02661133-8.3984375-.01617431-12.59863281l.00006103-.01757813.00006104-.01782226.00006103-.01757813c.00268555-1.66894531.09863281-1.75585938 1.82861328-1.75854492 3.77978516-.0078125 7.56219483-.01049805 11.3446045 0 1.71929931.0053711 1.74328613.03686523 1.74597167 1.79541015.00158692 1.10620118.0010376 2.2121582.00048829 3.3178711-.00134278 2.58398437-.00262452 5.16748047.02349853 7.75219726.00531006.4428711.30651856.8857422.46911621 1.32861329.14398194-.41650391.40783692-.83056641.41052246-1.24707032.03198242-4.08618164.02667237-8.16992187.01330567-12.25634765-.00531006-1.45507813-.14923096-1.5949707-1.59661866-1.59765625-4.52880859-.01049805-9.06030273-.01049805-13.58905029 0-1.42346191.00537109-1.5593872.15039062-1.56469726 1.62402343-.00738526 1.69995118-.00579834 3.3996582-.00427246 5.0991211l.00012207.0678711zm19.4734497-1.53930664h.02130127c0-.30444336-.00305176-.60913086-.00604248-.91357422-.00836181-.83789062-.01672363-1.67578125.0380249-2.51098633.01867676-.28735351.40783692-.55371093.62908936-.82788086.2319336.21875.60772705.40332032.67706299.6669922.62109375 2.37792968 1.19415283 4.76660155 1.75927734 7.15771484.04528809.1923828-.03997803.59057617-.10662842.60107421-.1130371.01635743-.22662353.03369141-.34039306.0510254-.65887451.10058593-1.32373047.2019043-1.96533203.12548828-.27453614-.03149414-.64239502-.67211914-.67437745-1.05981446-.06500244-.78100586-.05316162-1.56982422-.0413208-2.36083984.00469971-.3100586.00933838-.61987305.00933838-.92919922zm1.6046753 11.58691406c-.82366944.00512696-1.47674561.6538086-1.50073243 1.4946289-.02398681.8911133.66638184 1.6188965 1.52734375 1.6057129.77838135-.01074219 1.50604248-.72509766 1.5354004-1.50292969.02929687-.84082031-.71435547-1.6027832-1.56201172-1.5974121zm-15.35632325.00512696c.82366944.05810546 1.42608643.7355957 1.40472412 1.5793457-.02130127.83032226-.68505859 1.5053711-1.48736572 1.5131836-.83966064.01049804-1.58068847-.7487793-1.5593872-1.59497071.0213623-.859375.78637695-1.55810547 1.6420288-1.4975586z"/>
    <use fill-opacity="0" stroke="rgb(85,139,146)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="2" mask="url(#mask-3)" xlink:href="#ellipse-2"/>
  </g>
</svg>
{% endcomment %}