<?xml version="1.0" encoding="utf-8"?>
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 60.2 60" style="enable-background:new 0 0 60.2 60;" xml:space="preserve" width="60.2px">
<style type="text/css">
/* 	.st0{filter:url(#Adobe_OpacityMaskFilter);} */
	.st1{fill:#FFFFFF;}
	.st2{mask:url(#mask-6_1_);}
	.st3{fill-opacity:0;}
	.st4{fill:#558B92;}
</style>
<defs>
	<filter id="Adobe_OpacityMaskFilter" filterUnits="userSpaceOnUse" x="-1" y="-1" width="62.2" height="62">
		<feColorMatrix  type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0"/>
	</filter>
</defs>
<mask maskUnits="userSpaceOnUse" x="-1" y="-1" width="62.2" height="62" id="mask-6_1_">
	<rect y="0" class="st0" width="60.2" height="60"/>
	<g>
		<ellipse id="ellipse-5_2_" class="st1" cx="30.1" cy="30" rx="30.1" ry="30"/>
	</g>
</mask>
<g class="st2">
	<g>
		<g>
			<ellipse id="ellipse-5_3_" class="st3" cx="30.1" cy="30" rx="30.1" ry="30"/>
			<path class="st4" d="M30.1,61C13,61-1,47.1-1,30S13-1,30.1-1s31.1,13.9,31.1,31S47.3,61,30.1,61z M30.1,1C14.1,1,1,14,1,30
				s13.1,29,29.1,29s29.1-13,29.1-29S46.2,1,30.1,1z"/>
		</g>
	</g>
</g>
<path class="st4" d="M30.2,38.8c-2.8,0-5.5-1.4-7-3.9c-2.4-3.9-1.2-9,2.6-11.4c1.9-1.2,4.1-1.5,6.2-1.1c2.2,0.5,4,1.8,5.2,3.7
	c1.2,1.9,1.5,4.1,1.1,6.2c-0.5,2.2-1.8,4-3.7,5.2l0,0C33.2,38.4,31.7,38.8,30.2,38.8z M30.2,23.4c-1.3,0-2.6,0.4-3.8,1.1
	c-1.6,1-2.7,2.6-3.2,4.4c-0.4,1.9-0.1,3.8,0.9,5.4c2.1,3.3,6.5,4.3,9.8,2.3l0,0c3.3-2.1,4.3-6.5,2.3-9.8c-1-1.6-2.6-2.7-4.4-3.2
	C31.2,23.5,30.7,23.4,30.2,23.4z"/>
<path class="st4" d="M31,52.8c-0.2,0-0.7,0-1.2-0.4c-0.4-0.3-0.6-0.8-0.6-1.5l-0.1-13.6c0-0.4,0-0.9,0-1.3c0-1.2-0.1-2.5,0.1-3.8
	c0.2-1.8,0.6-3.5,1.2-5.2c0.2-0.5,0.4-0.9,0.5-1.4c0.4-1,0.8-1.9,1-2.9c0.6-2.4,1.3-5.2,1.3-7.8V9.6h-0.6V6.7h0.6v-1h4.3v1h0.6v2.9
	h-0.6v5.4c0,2.6,0.7,5.3,1.3,7.6c0.3,1.1,0.7,2.3,1.1,3.4l0.2,0.7c0.5,1.3,1,2.8,1.3,4.4c0.4,2.6,0.3,5.3,0.2,7.9
	c0,0.8,0,1.7-0.1,2.5l-0.1,9.5c0,0.6-0.2,1.1-0.6,1.5c-0.5,0.5-1.2,0.4-1.3,0.4l-8.6,0C31.1,52.8,31.1,52.8,31,52.8z M33.6,8.7h0.6
	v6.2c0,2.7-0.7,5.6-1.3,8c-0.3,1-0.7,2-1.1,3c-0.2,0.4-0.4,0.9-0.5,1.3c-0.6,1.6-1,3.3-1.2,5c-0.1,1.2-0.1,2.5-0.1,3.7
	c0,0.4,0,0.9,0,1.3l0.1,13.6c0,0.4,0.1,0.7,0.3,0.8c0.3,0.2,0.6,0.2,0.6,0.2l8.7,0c0,0,0.4,0,0.7-0.2c0.2-0.2,0.3-0.4,0.3-0.8
	l0.1-9.5c0-0.8,0-1.7,0.1-2.5c0.1-2.5,0.1-5.2-0.2-7.7c-0.2-1.5-0.7-2.9-1.2-4.2v0l-0.2-0.7c-0.4-1.1-0.9-2.3-1.2-3.4
	c-0.6-2.4-1.3-5.1-1.3-7.9V8.7h0.6V7.5h-0.6v-1h-2.5v1h-0.6V8.7z"/>
<path class="st4" d="M40.3,48.9H29.1V33.8h11.2V48.9z M30,48.1h9.5V34.6H30V48.1z"/>
<path class="st4" d="M10.5,45.1c-0.5,0-1-0.3-1.3-0.7l-0.5-0.9c-0.5-0.7-0.2-1.7,0.5-2.2l10.3-6.5c0.7-0.5,1.7-0.2,2.2,0.5l0.5,0.9
	c0.5,0.7,0.2,1.7-0.5,2.2l-10.3,6.5C11,45,10.7,45.1,10.5,45.1z M10.1,43.7c0.1,0.2,0.4,0.3,0.6,0.1L21,37.4
	c0.1-0.1,0.2-0.2,0.2-0.3c0-0.1,0-0.2-0.1-0.3L20.6,36c-0.1-0.2-0.4-0.3-0.6-0.1L9.7,42.3c-0.2,0.1-0.3,0.4-0.1,0.6L10.1,43.7z"/>
<rect x="22" y="33.8" transform="matrix(0.5308 0.8475 -0.8475 0.5308 40.533 -2.5892)" class="st4" width="1.3" height="2.9"/>
</svg>
