<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="43" height="42.436" viewBox="0 0 43 42.436">
  <defs>
    <path id="path-1" fill-rule="evenodd" d="M22.49331986 13.49807508l1.92901712 3.75630755c.16123128.30934298.46641906.52477826.82343119.5744941l4.31869504.602114c.89828857.12705159 1.2553007 1.18765607.6046173 1.79529406l-3.1267352 2.92218632c-.2591217.2430552-.3742869.59106604-.3167043.92802893l.73705728 4.12641433c.15547302.85621716-.78888163 1.51357098-1.58927978 1.11032032l-3.8637925-1.94996554c-.3167043-.16019547-.70250772-.16019547-1.01921203 0l-3.8637925 1.94996554c-.8061564.40325066-1.7447528-.24857918-1.58927977-1.11032032l.73705729-4.12641433c.06334086-.34248687-.0575826-.69049772-.3167043-.92802893l-3.12673522-2.92218632c-.65068338-.60763799-.29367126-1.66824247.6046173-1.79529405l4.31869505-.60211401c.35701213-.04971584.66795817-.26515112.8234312-.5744941l1.92901711-3.75630755c.42611124-.77888142 1.58352152-.77888142 1.98659972 0z"/>
    <mask id="mask-2" x="0" y="0" maskContentUnits="userSpaceOnUse" maskUnits="userSpaceOnUse">
      <rect width="43" height="42.436" x="0" y="0" fill="white"/>
      <use fill="black" xlink:href="#path-1"/>
    </mask>
    <ellipse id="ellipse-3" cx="21.5" cy="21.218" rx="21.5" ry="21.218"/>
    <mask id="mask-4" x="0" y="0" maskContentUnits="userSpaceOnUse" maskUnits="userSpaceOnUse">
      <rect width="43" height="42.436" x="0" y="0" fill="black"/>
      <use fill="white" xlink:href="#ellipse-3"/>
    </mask>
  </defs>
  <g>
    <use fill-opacity="0" stroke="rgb(10,48,57)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="2" mask="url(#mask-2)" xlink:href="#path-1"/>
    <use fill-opacity="0" stroke="rgb(10,48,57)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="2" mask="url(#mask-4)" xlink:href="#ellipse-3"/>
  </g>
</svg>
