<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="45.705" height="69.352" viewBox="0 0 45.705 69.352">
  <defs>
    <path id="sign-path-2" fill-rule="evenodd" d="M5.8503418 8c0-1.1045695.8954305-2 2-2h25.33333333c.43274043 0 .85380766.14035574 1.2.4L37.8503418 9l-3.46666667 2.6c-.34619234.25964426-.76725957.4-1.2.4H7.8503418c-1.1045695 0-2-.8954305-2-2V8z"/>
    <path id="sign-path-3" fill-rule="evenodd" d="M0 19c0-1.1045695.8954305-2 2-2h25.33333333c.43274043 0 .85380766.14035574 1.2.4L32 20l-3.46666667 2.6c-.34619234.25964426-.76725957.4-1.2.4H2c-1.1045695 0-2-.8954305-2-2v-2z"/>
    <path id="sign-path-4" fill-rule="evenodd" d="M9 30c0-1.1045695.8954305-2 2-2h25.33333333c.43274043 0 .85380766.14035574 1.2.4L41 31l-3.46666667 2.6c-.34619234.25964426-.76725957.4-1.2.4H11c-1.1045695 0-2-.8954305-2-2v-2z"/>
  </defs>
  <g transform="translate(2.35231505 .5)">
    <path fill="none" stroke="rgb(27,63,67)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1" d="M16.3503418 0h0c.82787253 0 1.5.67212746 1.5 1.5V66h-3V1.5c0-.82787254.67212746-1.5 1.5-1.5z"/>
    <g>
      <use fill="rgb(255,255,255)" xlink:href="#sign-path-2"/>
      <use fill-opacity="0" stroke="rgb(27,63,67)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1" xlink:href="#sign-path-2"/>
    </g>
    <g transform="rotate(-179.999936 16 20)">
      <use fill="rgb(255,255,255)" xlink:href="#sign-path-3"/>
      <use fill-opacity="0" stroke="rgb(27,63,67)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1" xlink:href="#sign-path-3"/>
    </g>
    <g>
      <use fill="rgb(255,255,255)" xlink:href="#sign-path-4"/>
      <use fill-opacity="0" stroke="rgb(27,63,67)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1" xlink:href="#sign-path-4"/>
    </g>
    <path fill="none" stroke="rgb(27,63,67)" stroke-linecap="round" stroke-linejoin="miter" stroke-width="1" d="M4.8503418 66h22"/>
  </g>
</svg>
