
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50.705" height="69.352" viewBox="0 0 50.705 69.352">
  <defs>
    <path id="path-2" fill-rule="evenodd" d="M13.20265685 8.5c0-1.1045695.8954305-2 2-2h25.33333333c.43274043 0 .85380766.14035574 1.2.4l3.46666667 2.6-3.46666667 2.6c-.34619234.25964426-.76725957.4-1.2.4H15.20265685c-1.1045695 0-2-.8954305-2-2v-2z"/>
    <path id="path-3" fill-rule="evenodd" d="M7.35231505 19.5c0-1.1045695.8954305-2 2-2H34.6856484c.43274043 0 .85380766.14035574 1.2.4l3.46666666 2.6-3.46666666 2.6c-.34619234.25964426-.76725957.4-1.2.4H9.35231505c-1.1045695 0-2-.8954305-2-2v-2z"/>
    <path id="path-4" fill-rule="evenodd" d="M16.35231505 30.5c0-1.1045695.8954305-2 2-2H43.6856484c.43274043 0 .85380766.14035574 1.2.4l3.46666666 2.6-3.46666666 2.6c-.34619234.25964426-.76725957.4-1.2.4H18.35231505c-1.1045695 0-2-.8954305-2-2v-2z"/>
  </defs>
  <g>
    <path fill-opacity="0" fill-rule="evenodd" stroke="rgb(27,63,67)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1" d="M23.70265685.5h0c.82787254 0 1.5.67212746 1.5 1.5v64.5h-3V2c0-.82787254.67212746-1.5 1.5-1.5z"/>
    <g>
      <use fill="rgb(255,255,255)" xlink:href="#path-2"/>
      <use fill-opacity="0" stroke="rgb(27,63,67)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1" xlink:href="#path-2"/>
    </g>
    <g transform="rotate(-179.999936 23.35231505 20.5)">
      <use fill="rgb(255,255,255)" xlink:href="#path-3"/>
      <use fill-opacity="0" stroke="rgb(27,63,67)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1" xlink:href="#path-3"/>
    </g>
    <g>
      <use fill="rgb(255,255,255)" xlink:href="#path-4"/>
      <use fill-opacity="0" stroke="rgb(27,63,67)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1" xlink:href="#path-4"/>
    </g>
    <path fill-opacity="0" fill-rule="evenodd" stroke="rgb(27,63,67)" stroke-linecap="round" stroke-linejoin="miter" stroke-width="1" d="M3.05558335 66.5h30.9438052"/>
    <g>
      <path fill="rgb(27,63,67)" fill-rule="evenodd" d="M14.31248478 42.44708613h1.67033828c.43305132 0 .804238.31351981.74237335.75244743.18559275.188112.30932203.43892792.30932203.68974383v.94055944c0 .25081561-.06186346.50163122-.24745739.68974383v2.00652669c0 1.19137505.30932204 2.3827495.55677943 3.44871735.12372928.50163122.30932203 1.00326364.49491478 1.50489546l.12372929.31351981c.24745857.62703963.49491478 1.44219067.61864406 2.2573417.18559275 1.31678466.18559275 2.63356692.12372929 3.88764617v5.70606204c0 1.12867085-.80423682 1.69300508-1.60847481 1.69300508h-4.14491573c-.80423682 0-1.60847422-.56433423-1.60847422-1.69300508v-7.0228443c0-.62703963 0-1.25407925.06186464-1.94382428.1237287-.87785404.30932204-1.75571048.61864407-2.63356691.06186405-.25081442.18559275-.43892583.2474574-.68974204.18559333-.43892821.30932202-.81515103.43305072-1.25407925.30932203-1.06596784.61864407-2.3200465.61864407-3.51142215v-2.0692303c-.1237287-.1881126-.2474574-.4389282-.2474574-.68974382v-.94055944c0-.25081591.1237287-.50163182.30932204-.68974383.06186464-.43892762.49491478-.75244743.9279661-.75244743zm1.67033828 1.44219126v-.50163182h-1.73220292v.50163182h-.2474574v1.00326364h.2474574v2.75897412c0 1.25407926-.30932203 2.57086152-.61864407 3.76223776-.18559334.68974264-.49491537 1.31678167-.74237276 2.0065267-.2474574.81515103-.49491537 1.63030206-.55677943 2.4454531-.04106354.49945214-.02761365 1.0265291-.01392718 1.56289407.0069335.27169867.01392718.54577735.01392718.81985843v6.52121068c0 .62703963.49491479.68974503.61864407.68974503h4.26864324c.12372929 0 .61864407-.0627054.61864407-.68974503.06186582-1.50489367.06186582-3.00978973.06186582-4.51468579.00916011-.2506709.019676-.49996641.03014233-.74809226.06022331-1.42768578.11881118-2.81660257-.09200815-4.20551936-.06186346-.75244803-.30932203-1.37948766-.55677824-2.06923029-.24745858-.62703963-.49491597-1.25407985-.6805099-1.94382368-.30932203-1.19137505-.61864406-2.4454543-.61864406-3.69953356v-2.75897412h.24745857v-.94055944h-.24745857z"/>
      <path fill="rgb(27,63,67)" fill-rule="evenodd" d="M4.84723032 66.08648114c.24745757.31351982.61864403.31351982.74237287.31351982.06186435 0 .06186435 0 .12372884-.0627054h4.7635598c.06186405.0627054.49491478.0627054.86610146-.25081442.18559333-.1254084.37118667-.43892821.37118667-.94055944l.06186406-15.17435945c.06186464-.2508168.18559333-1.56759967-.9279661-2.69627111l-.49491538-.50163123c-.74237276-.68974383-.9279661-.87785583-.9279661-1.88111888v-2.88438252c.18559334 0 .30932203-.18811186.30932203-.37622372v-1.12867137c0-.25081584-.1237287-.3762238-.30932203-.43892777v-.12540792c0-.25081583-.18559275-.43892773-.43305073-.43892773h-1.8559322c-.2474574 0-.43305103.1881119-.43305103.43892773v.12540792c-.18559319.06270398-.30932203.25081584-.30932203.43892777v1.12867137c0 .18811186.12372884.37622372.30932203.37622372v2.88438252c0 1.00326305-.24745768 1.19137505-.9279661 1.88111888l-.49491522.50163123c-1.05169492 1.06596784-.98983051 2.4454543-.9279661 2.69627111l.12372881 15.17435945c0 .50163123.18559322.81515104.37118645.94055944zM7.50739959 41.6319348c0-.2508159-.1237287-.37622386-.30932203-.43892792h.06186464v-.25081576c.18559334-.0627039.30932204-.25081583.30932204-.4389277v-.12540795h.98983015v.12540796c0 .18811186.18559334.31351974.30932204.37622379v.31351966c-.18559275.06270406-.30932204.25081591-.30932204.43892792v3.26060564c0 1.37948706.43305132 1.81841528 1.17542408 2.50815851.18559334.1254078.30932263.25081621.49491538.50163182.8008444.81171199.7025057 1.7842574.68314063 1.97577617-.00157821.01560638-.00263192.02602698-.00263192.03075112v.0627042L10.8480779 65.1459217c0 .062703-.06186405.25081681-.1237287.31351982-.06186404.062703-.18559333.062703-.24745738.062703H5.58960319s-.12372884 0-.1855932-.12540601c-.12372883-.0627054-.12372883-.1881138-.12372883-.31351981L5.2184168 49.90885805v-.0627042s-.18559327-1.12867145.68050841-2.00652729l.43305073-.43892762c.74237291-.68974323 1.17542364-1.12867145 1.17542364-2.5081585v-3.26060565z"/>
      <path fill="rgb(27,63,67)" fill-rule="evenodd" d="M12.39468794 56.05384591h4.94915254c.55677942 0 .98982956.43892822.98982956 1.00326365v5.01631701c0 .56433662-.43305014 1.00326245-.98982956 1.00326245h-4.94915254c-.55678002 0-.98983075-.43892583-.98983075-1.00326245v-5.01631701c0-.56433543.43305073-1.00326365.98983075-1.00326365zm4.94915254 6.01958066v-5.01631701h-4.94915254v5.01631701h4.94915254z"/>
      <path fill="rgb(27,63,67)" fill-rule="evenodd" d="M4.97095913 60.00419628h6.18644079c.2474574 0 .49491537-.1881114.49491537-.43892821v-7.52447553c0-.25081561-.24745798-.50163122-.49491537-.50163122H4.97095913c-.24745761 0-.49491526.2508156-.49491526.50163122v7.46177252c0 .2508168.24745765.50163122.49491526.50163122zm5.69152542-.94055944H5.46587432v-6.58391608h5.19661023v6.58391608z"/>
    </g>
  </g>
</svg>
