<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60.216" height="60" viewBox="0 0 60.216 60">
  <defs>
    <ellipse id="ellipse-1" cx="30.108" cy="30" rx="30.108" ry="30"/>
    <mask id="mask-2" x="0" y="0">
      <rect width="60.216" height="60" x="0" y="0" fill="black"/>
      <use fill="white" xlink:href="#ellipse-1"/>
    </mask>
    <path id="path-3" fill-rule="evenodd" d="M24.91988035 43.04541016h10.38000489c1.02026367 0 1.85449218-.8388672 1.85449218-1.86865235V17.31933594c0-1.02954102-.83044433-1.8647461-1.85449218-1.8647461H24.91988035c-1.02392578 0-1.85449218.83520508-1.85449218 1.8647461v23.86132812c0 1.02978516.8305664 1.8647461 1.85449218 1.8647461zm-1.09606933-25.72607422c0-.60620117.49304199-1.10205078 1.09606933-1.10205078h10.38000489c.60290527 0 1.09594726.49194336 1.09594726 1.10205078V41.1767578c0 .60644532-.49304199 1.10229492-1.09594726 1.10229492H24.91988035c-.60302734 0-1.09606933-.49194335-1.09606933-1.10229492V17.31933594z"/>
    <mask id="mask-4" x="0" y="0">
      <rect width="60.216" height="60" x="0" y="0" fill="white"/>
      <use fill="black" xlink:href="#path-3"/>
    </mask>
    <path id="path-6" fill-rule="evenodd" d="M20.69881102 28.71020508c0 5.21704101 4.22106933 9.46142578 9.40917968 9.46142578 5.19189454 0 9.40905762-4.24829102 9.40905762-9.4650879 0-5.217041-4.22094726-9.46142577-9.40905762-9.46142577-5.18811035 0-9.40917968 4.24829101-9.40917968 9.46508789zm.75854492 0c0-4.79736328 3.87976074-8.70239258 8.65063476-8.70239258 4.77087403 0 8.65063477 3.9050293 8.65063477 8.70239258 0 4.79760742-3.87976074 8.69873047-8.65063477 8.69873047-4.77087402 0-8.65063476-3.90112305-8.65063476-8.69873047z"/>
  </defs>
  <g>
    <use fill-opacity="0" stroke="rgb(85,139,146)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="2" mask="url(#mask-2)" xlink:href="#ellipse-1"/>
    <g>
      <g>
        <use fill="rgb(85,139,146)" xlink:href="#path-3"/>
        <use fill-opacity="0" stroke="rgb(85,139,146)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width=".4" mask="url(#mask-4)" xlink:href="#path-3"/>
      </g>
      <g>
        <ellipse cx="30.108" cy="28.71" fill="rgb(255,255,255)" rx="9.03" ry="9.08"/>
        <g>
          <use fill="rgb(85,139,146)" xlink:href="#path-6"/>
          <use fill-opacity="0" stroke="rgb(85,139,146)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width=".2" xlink:href="#path-6"/>
        </g>
      </g>
      <g>
        <ellipse cx="30.108" cy="22.246" fill="rgb(255,255,255)" rx=".265" ry=".267"/>
        <path fill="rgb(233,137,125)" fill-rule="evenodd" d="M29.46321531 22.2463379c0 .35864257.28820801.6484375.6447754.6484375.3564453 0 .6484375-.28979493.6484375-.6484375 0-.35839845-.2919922-.64819337-.6484375-.64819337-.35656739 0-.6447754.28979492-.6447754.64819336zm.53479004.00024413c0-.0649414.04931641-.11450195.10998535-.11450195.06445313 0 .11376954.04956054.11376954.11450195 0 .06469727-.05310059.11425781-.11376954.11425781-.06066894 0-.10998535-.04956054-.10998535-.1142578z"/>
        <ellipse cx="36.536" cy="28.71" fill="rgb(255,255,255)" rx=".265" ry=".267"/>
        <ellipse cx="23.68" cy="28.71" fill="rgb(255,255,255)" rx=".265" ry=".267"/>
        <ellipse cx="30.108" cy="35.174" fill="rgb(255,255,255)" rx=".265" ry=".267"/>
        <path fill="rgb(233,137,125)" fill-rule="evenodd" d="M29.46321531 35.1743164c0 .35864258.28820801.6484375.6447754.6484375.3564453 0 .6484375-.28979492.6484375-.6484375 0-.35839843-.2919922-.64819335-.6484375-.64819335-.35656739 0-.6447754.28979492-.6447754.64819336zm.53479004 0c0-.0649414.04931641-.11450195.10998535-.11450195.06445313 0 .11376954.04956055.11376954.11450196 0 .06469726-.05310059.1142578-.11376954.1142578-.06066894 0-.10998535-.04956054-.10998535-.1142578z"/>
        <path fill="rgb(233,137,125)" fill-rule="evenodd" d="M23.03120848 28.71020508c0 .35864258.29199219.6484375.64855957.6484375.35644531 0 .64465332-.28979492.64465332-.6484375 0-.35839844-.288208-.64819336-.64465332-.64819336-.36035156 0-.64855957.28979492-.64855957.64819336zm.53479004.00024414c0-.0649414.05310058-.11450195.11376953-.11450195.06445312 0 .10998535.04956054.10998535.11450195 0 .06469726-.04553223.11425781-.10998535.11425781-.06445313 0-.11376953-.04956055-.11376953-.11425781z"/>
        <path fill="rgb(233,137,125)" fill-rule="evenodd" d="M35.89156004 28.71020508c0 .35864258.288208.6484375.6447754.6484375.3564453 0 .6484375-.28979492.6484375-.6484375 0-.35839844-.2919922-.64819336-.6484375-.64819336-.3565674 0-.6447754.28979492-.6447754.64819336zm.53466797.00024414c0-.0649414.0493164-.11450195.10998535-.11450195.06445313 0 .11376953.04956054.11376953.11450195 0 .06469726-.05310058.11425781-.11376953.11425781-.06066894 0-.10998535-.04956055-.10998535-.11425781z"/>
      </g>
      <path fill="rgb(85,139,146)" fill-rule="evenodd" d="M30.244513 29.55317585c-.09860436 0-.19341624-.03813533-.26926575-.11059245l-4.2551573-4.27878369c-.14790653-.14872777-.14790653-.38898033 0-.53770811.14790654-.14872778.38683249-.14872778.53473902 0l4.25136482 4.27497016c.14790654.14872777.14790654.38898033 0 .5377081-.06826455.07627066-.16686891.11440599-.2616808.11440599z"/>
      <path fill="rgb(85,139,146)" fill-rule="evenodd" d="M30.3507023 29.6294465c-.14032158 0-.27305822-.07627065-.3375303-.2097443-.09481188-.1868631-.01896237-.41567506.16686892-.51101338l4.85816087-2.46354212c.18583129-.09533832.4133798-.01906767.50819169.16779544.09481188.1868631.01896237.41567506-.16686892.51101338l-4.85816087 2.46735566c-.05688713.02669473-.11377426.03813532-.17066138.03813532z"/>
    </g>
  </g>
</svg>