<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="67.31" height="91.97" viewBox="0 0 67.31 91.97">
  <defs>
    <rect id="baloon-rect-1" width="67.31" height="91.97" x="0" y="0"/>
    <mask id="baloon-mask-2" maskContentUnits="userSpaceOnUse" maskUnits="userSpaceOnUse">
      <rect width="67.31" height="91.97" x="0" y="0" fill="black"/>
      <use fill="white" xlink:href="#baloon-rect-1"/>
    </mask>
    <path id="baloon-path-6" fill-rule="evenodd" d="M33.72 1C22.44 1 13.3 10.58 13.3 22.4c0 7.13 5.57 18.51 16.71 34.15l.87 1.21.24.3c1.18 1.31 3.18 1.55 4.65.5.31-.22.57-.49.79-.79C48.28 41.5 54.14 29.71 54.14 22.4 54.14 10.58 45 1 33.72 1z"/>
  </defs>
  <g>
    <use fill="none" xlink:href="#baloon-rect-1"/>
    <g mask="url(#baloon-mask-2)">
      <ellipse cx="33.42" cy="22.4" fill="none" stroke="rgb(10,48,57)" stroke-dasharray="0 0 0 0" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" rx="6.81" ry="7.13"/>
      <path fill="none" stroke="rgb(10,48,57)" stroke-dasharray="0 0 0 0" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.69 5.2C3.21 9.35-1.77 21.62 2.57 32.61c2.62 6.63 11.99 15.17 28.1 25.61l1.25.81.33.19c1.58.79 3.53.27 4.5-1.25.2-.32.35-.66.45-1.03 4.92-19.43 6.04-32.55 3.35-39.35C36.21 6.6 24.18 1.05 13.69 5.2h0z"/>
      <path fill="none" stroke="rgb(10,48,57)" stroke-dasharray="0 0 0 0" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M52.76 3.99C42.1.31 30.33 6.39 26.47 17.56c-2.33 6.74-.77 19.32 4.66 37.73l.43 1.43.13.36c.69 1.62 2.5 2.5 4.23 1.98.36-.11.7-.27 1.01-.49C53.31 47.02 62.7 37.79 65.08 30.88c3.86-11.17-1.66-23.21-12.32-26.89h0z"/>
      <g>
        <use fill="rgb(255,255,255)" xlink:href="#baloon-path-6"/>
        <use fill-opacity="0" stroke="rgb(10,48,57)" stroke-dasharray="0 0 0 0" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" xlink:href="#baloon-path-6"/>
      </g>
      <path fill="none" stroke="rgb(10,48,57)" stroke-dasharray="0 0 0 0" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M33.42 59.56l-9.14 12.22"/>
      <path fill="none" stroke="rgb(10,48,57)" stroke-dasharray="0 0 0 0" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M34.39 59.53l9.43 11.95"/>
      <ellipse cx="34.362" cy="25.242" fill="none" stroke="rgb(10,48,57)" stroke-dasharray="0 0 0 0" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" rx="6.81" ry="7.13" transform="rotate(-40.465014 34.36224796 25.24165195)"/>
      <path fill="none" stroke="rgb(10,48,57)" stroke-dasharray="0 0 0 0" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M22.27 75.66c0-.83.67-1.5 1.5-1.5h21.18c.83 0 1.5.68 1.5 1.5 0 .73-.51 1.33-1.19 1.47l-2.28 10.48c-.4 1.85-2.27 3.35-4.16 3.35H29.9c-1.9 0-3.76-1.5-4.16-3.35l-2.28-10.48c-.68-.14-1.19-.74-1.19-1.47h0z"/>
    </g>
  </g>
</svg>
