<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21.963" height="48" viewBox="0 0 21.963 48">
  <defs>
    <rect id="rect-1" width="21.963" height="48" x="0" y="0"/>
    <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="userSpaceOnUse">
      <rect width="21.963" height="48" x="0" y="0" fill="black"/>
      <use fill="white" xlink:href="#rect-1"/>
    </mask>
  </defs>
  <g>
    <use fill="none" xlink:href="#rect-1"/>
    <g mask="url(#mask-2)">
      <path fill="none" stroke="rgb(85,139,146)" stroke-dasharray="0 0 0 0" stroke-linecap="butt" stroke-linejoin="round" stroke-width=".5" d="M20.0681174 21.4567812c-.52224047-1.37142858-1.07968818-2.73707053-1.46109977-4.16636529-.68654086-2.55189873-1.3378745-5.29475587-1.3378745-7.95081374V3.37359855h.58678707V1.29620253h-.58678706V.28933093h-3.52072235v1.0068716h-.58678706v2.0716094h.58678706v5.96600362c0 2.70235082-.680673 5.50886076-1.38481746 8.10705244-.41661881 1.5334539-1.07382032 2.89909584-1.6371359 4.37468355-.63373002 1.67233273-1.0562167 3.4198915-1.24985643 5.19638336-.19363973 1.73598553-.06454658 3.46039783-.04694297 5.19059675l.03520723 4.01012658c.02347148 2.55768535.0410751 5.12115732.06454657 7.67884267.00586787.76962026.01173574 1.53924051.01760362 2.30307415 0 1.6665461 1.4552319 1.5103074 1.4552319 1.5103074h9.02478496s1.45523191.1562387 1.45523191-1.5103074c.02933935-3.24050633.05281084-6.48101266.08215019-9.721519.02933935-3.52983724.33446862-7.0943942-.1995076-10.60108498-.24645057-1.54502713-.75108744-2.98589512-1.2967994-4.41518988h0z"/>
      <rect width="15.878" height="15.473" x=".293" y="28.302" fill="none" stroke="rgb(85,139,146)" stroke-dasharray="0 0 0 0" stroke-linecap="butt" stroke-linejoin="round" stroke-width=".5" rx="0" ry="0"/>
    </g>
  </g>
</svg>
