<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="36.96" viewBox="0 0 25 36.96">
  <defs>
    <path id="passport-path-1" fill-rule="evenodd" d="M0 .00012598h25v36.9600082H0V.00012599z"/>
    <mask id="passport-mask-2" maskContentUnits="userSpaceOnUse" maskUnits="userSpaceOnUse">
      <rect width="25" height="36.96" x="0" y="0" fill="black"/>
      <use fill="white" xlink:href="#passport-path-1"/>
    </mask>
    <path id="passport-path-4" fill-rule="evenodd" d="M3.1728454 0h.98188215v36.51155992H3.1728454V0z"/>
    <mask id="passport-mask-5" maskContentUnits="userSpaceOnUse" maskUnits="userSpaceOnUse">
      <rect width="25" height="36.96" x="0" y="0" fill="black"/>
      <use fill="white" xlink:href="#passport-path-4"/>
    </mask>
  </defs>
  <g>
    <g>
      <use fill="none" xlink:href="#passport-path-1"/>
      <g mask="url(#passport-mask-2)">
        <path fill="rgb(10,48,57)" fill-rule="evenodd" d="M.70482063 36.96025858h22.0961895c1.21241188 0 2.19898987-.970047 2.19898987-2.1626625V2.16278967c0-1.1926145-.98657799-2.1626637-2.19898987-2.1626637H.73726541C.3304247.00012598 0 .32515544 0 .72451338v35.54285503c0 .38214112.3159099.69289017.70482063.69289017zm22.0961914-.96584702H.98230905V.96555588h21.818703c.67152023 0 1.21667862.5370965 1.21667862 1.19723404v32.63480615c0 .65971756-.54515839 1.1968155-1.21667862 1.1968155z"/>
      </g>
    </g>
    <g>
      <use fill="none" xlink:href="#passport-path-4"/>
      <g mask="url(#passport-mask-5)">
        <path fill="rgb(10,48,57)" fill-rule="evenodd" d="M3.66378648 36.51155992c-.27108485 0-.49094107-.21626638-.49094107-.48292492V.48284094c0-.26665855.21985622-.48292493.49094107-.48292493s.49094107.21626638.49094107.48292493V36.028635c0 .26665854-.21985622.48292492-.49094107.48292492"/>
      </g>
    </g>
    <path fill="rgb(10,48,57)" fill-rule="evenodd" d="M6.37881851 13.93120766c0 3.49385643 3.53178787 6.33639526 7.8725605 6.33639526s7.8725605-2.84253883 7.8725605-6.33639526c0-3.49385643-3.53178787-6.33639431-7.8725605-6.33639431s-7.8725605 2.84253788-7.8725605 6.3363943zm.9818821 0c0-2.96137905 3.09122085-5.37054444 6.8906784-5.37054444 3.79945565 0 6.8906765 2.40916539 6.8906765 5.37054444 0 2.96138-3.09122085 5.37096595-6.8906765 5.37096595-3.79945755 0-6.8906784-2.40958595-6.8906784-5.37096595z"/>
    <path fill="rgb(10,48,57)" fill-rule="evenodd" d="M13.778624 19.9112046c-.11099537 0-.22241765-.03695425-.3150561-.1125425-1.92363518-1.58441368-2.961015-3.67568857-2.91917829-5.8883246.04140981-2.23573243 1.17569714-4.31608902 3.1941053-5.85724943.21430644-.16419448.52295896-.12556048.68902511.08524675.16563925.21038729.12721777.51400009-.08708867.6773547-1.7793412 1.3584888-2.77787265 3.17428652-2.8145865 5.11270517-.03586005 1.91448238.87600963 3.73615918 2.56783524 5.12950257.20875669.17133337.23522481.47578604.06190127.68029424-.0977613.11422225-.23693243.1730131-.37695736.1730131"/>
    <path fill="rgb(10,48,57)" fill-rule="evenodd" d="M15.07099435 19.9112046c-.14087874 0-.28004986-.05879085-.37695736-.1730131-.17417736-.2045082-.14685542-.50896087.06104745-.68029424 1.69182562-1.39334339 2.6036953-3.21502019 2.56783525-5.12950257-.03586004-1.93841865-1.0352453-3.75421637-2.81373269-5.11270518-.21430645-.1633546-.25358173-.4669674-.08708868-.6773547.16606616-.21080722.47386486-.24944122.68902512-.08524674 2.01755435 1.54116041 3.15269548 3.621517 3.1941053 5.85724943.0409829 2.21263603-.99554311 4.30391092-2.9200321 5.8883246-.09178464.07558825-.20320692.1125425-.3142023.1125425"/>
    <path fill="rgb(10,48,57)" fill-rule="evenodd" d="M14.51319991 12.07270318c-2.08799371 0-4.16830314-.67273542-5.6774133-1.99510984-.20149929-.17763239-.21985621-.48292493-.03927528-.68197398.18015403-.199469.49051416-.21668632.69286727-.03905393 2.50166493 2.19373896 6.79163607 2.36171285 9.56139751.37542164.22028313-.15663565.5259473-.10960296.68603679.10582355.16008948.2154265.11184918.5177795-.10758013.67483509-1.45745462 1.04479757-3.28930517 1.56005747-5.11603286 1.56005747"/>
    <path fill="rgb(10,48,57)" fill-rule="evenodd" d="M19.34004713 18.44882395c-.11569133 0-.23266338-.04031373-.32700944-.12262094-2.50123803-2.19373896-6.79120917-2.36213278-9.56097061-.37542163-.21942932.15705558-.52637421.1100229-.6864637-.10582355-.15923566-.21542651-.11056846-.51735957.10758014-.67441516 3.12451973-2.23951184 7.96562559-2.04508207 10.79387305.43505237.2023531.17721245.21985622.48250499.0397022.68155404-.0973344.10708336-.23180957.16167487-.36671164.16167487"/>
    <path fill="rgb(10,48,57)" fill-rule="evenodd" d="M21.44708082 14.26362858H6.87381534c-.27065795 0-.49094107-.21626638-.49094107-.48292493 0-.26665854.22028312-.48292492.49094107-.48292492h14.57326548c.27108485 0 .49094107.21626638.49094107.48292492 0 .26665855-.21985622.48292493-.49094107.48292493"/>
  </g>
</svg>
