
<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.3.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 900 170" style="enable-background:new 0 0 900 170;" xml:space="preserve">
<style type="text/css">
	.logo_full .st0{fill:#152F38;}
</style>
<g class="logo_full">
	<g>
		<path class="st0" d="M102.8,123.4h-3c-0.7,0-1.3-0.4-1.5-1.1L75.5,54.7c-0.5-1.4-2.5-1.4-3,0l-22,67.7c-0.2,0.6-0.8,1.1-1.5,1.1
			h-3c-0.7,0-1.3-0.4-1.5-1L13.7,35.2c-3.9-11-8.1-15.5-12.8-17.6C0.4,17.3,0,16.8,0,16.2l0,0c0-0.9,0.7-1.6,1.6-1.6h32.6
			c0.9,0,1.6,0.7,1.6,1.6v0c0,0.6-0.3,1.2-0.9,1.4c-5.4,2.5-8.9,8.1-5.5,17.8l20.2,58.1c0.5,1.4,2.5,1.4,3,0l17.2-54.7
			c0.1-0.3,0.1-0.6,0-1l-0.8-2.5c-3.7-11-8-15.5-12.8-17.6c-0.6-0.3-0.9-0.8-0.9-1.4v0c0-0.9,0.7-1.6,1.6-1.6h32.6
			c0.9,0,1.6,0.7,1.6,1.6v0c0,0.6-0.3,1.1-0.9,1.4c-5.3,2.5-8.6,8.1-5.5,17.8l19.3,58.9c0.5,1.4,2.5,1.4,3,0l19.6-59.2
			c3.1-9.3-3.1-15.1-8.5-17.5c-0.6-0.3-0.9-0.8-0.9-1.4v0c0-0.9,0.7-1.6,1.6-1.6h27.6c0.9,0,1.6,0.7,1.6,1.6v0
			c0,0.6-0.3,1.1-0.9,1.4c-4.3,2.2-9.5,9.3-12.4,17.3l-30.2,87.5C104.1,123,103.5,123.4,102.8,123.4z"/>
		<path class="st0" d="M144.1,122c0-0.6,0.4-1.1,0.9-1.3c5.2-1.8,8.4-6.8,8.4-14.6V74.9c0-6.9-1.4-13-8.3-14.9
			c-0.7-0.2-1.2-0.8-1.2-1.6v0c0-0.8,0.5-1.4,1.2-1.6c8.1-2.2,14.8-5.7,20.2-10.8h2v60c0,7.7,3.1,12.8,7.9,14.6
			c0.6,0.2,0.9,0.7,0.9,1.3v0c0,0.8-0.6,1.4-1.4,1.4h-29.3C144.7,123.4,144.1,122.7,144.1,122L144.1,122z M150.1,32.9
			c0-5.5,3.9-9.8,9.1-9.8c5.4,0,9.4,4.4,9.4,9.9c0,5.1-3.8,9.5-8.9,9.7C154.3,43,150.1,38.4,150.1,32.9z"/>
		<path class="st0" d="M191.3,105.9v-31c0-9.1-2.3-13.2-8.4-14.9c-0.6-0.2-1.1-0.7-1.1-1.4v-0.3c0-0.7,0.5-1.2,1.1-1.4
			c8-2.1,14.5-5.5,20-10.4c0.3-0.2,0.6-0.4,1-0.4l0,0c0.8,0,1.5,0.7,1.5,1.5v6.8c0,4.3-0.1,9.2-0.3,11.7l0.3,0.1
			c8.2-8.9,22.3-19.2,34-19.2c9.7,0,15,7.2,15,18v40.9c0,7.7,2.5,12.9,7.1,14.6c0.6,0.2,1,0.8,1,1.4v0.1c0,0.8-0.7,1.5-1.5,1.5
			h-28.2c-0.8,0-1.5-0.7-1.5-1.5v-0.2c0-0.6,0.3-1.1,0.8-1.3c5.5-2.6,8.3-6.6,8.3-14.3V71.6c0-7.8-2.7-11.8-9.2-12
			c-6.2-0.3-14.3,3.2-25.2,11.2c-0.4,0.3-0.6,0.7-0.6,1.2l0,34c0,7.7,3.3,11.7,8.4,14.3c0.5,0.3,0.8,0.8,0.8,1.3v0.2
			c0,0.8-0.7,1.5-1.5,1.5h-29.8c-0.8,0-1.5-0.7-1.5-1.5v-0.1c0-0.6,0.4-1.2,1-1.4C188.1,118.6,191.3,113.7,191.3,105.9z"/>
		<path class="st0" d="M303,114.7c8.6,0,16.1-4.2,21-11.3c0.4-0.6,1.3-0.8,2-0.4l0,0c0.6,0.4,0.9,1.1,0.7,1.8
			c-4.3,12.7-17,20.7-29.3,20.7c-16.6,0-33.4-12.5-33.4-37c0-22.8,15.3-41.5,35.6-41.5c16.4,0,28.7,12.3,28.7,30.4v2.4
			c0,0.8-0.7,1.5-1.5,1.5h-50.4v0.4C276.4,103.9,288.9,114.7,303,114.7z M278.6,74.8l33.9,0c0.9,0,1.6-0.7,1.5-1.6
			c-0.6-10.6-7.7-19-17.8-19c-8.3,0-16.5,5.8-19.1,18.8C276.9,73.9,277.7,74.8,278.6,74.8z"/>
		<path class="st0" d="M497.3,47c20.3,0,36,16.4,36,39.1c0,22.8-16.4,39.5-36,39.5c-19.7,0-35.9-16.9-35.9-39.5
			C461.4,63.5,477.1,47,497.3,47z M497.3,119c13.4,0,20.9-13.8,20.9-33c0-19-6.9-32.6-20.9-32.6c-13.7,0-20.6,13.6-20.6,32.6
			C476.7,105.2,484.1,119,497.3,119z"/>
		<path class="st0" d="M592.1,106.4l-0.3-0.1c-8.1,8.8-21.3,19.2-32.4,19.2c-9.7,0-15-7.2-15-18V74.9c0-6.9-1.3-12.4-7-14.7
			c-0.7-0.3-1.1-0.9-1.1-1.6v0c0-0.8,0.5-1.5,1.3-1.7c7.7-2.1,14-5.8,19.3-10.8h1.4v54.6c0,8.2,2.6,12.5,9.2,12.7
			c6.1,0.3,13.3-3.5,24.2-12.4V76.4c0-7.6-1.3-14.4-7.6-16.3c-0.7-0.2-1.2-0.9-1.2-1.6l0,0c0-0.8,0.5-1.4,1.2-1.6
			c7.6-2.2,14.2-5.7,20-10.8h1.6v52.8c0,9.7,2.5,13.7,8.8,15.1v2.6c-7.8,2-14.7,4.9-20.6,9.7h-2.2V118
			C591.8,113.7,591.9,108.8,592.1,106.4z"/>
		<path class="st0" d="M642.5,60.5l0.4,0.1c5.3-6.8,12.8-13.7,20.5-13.7c5.3,0,9.7,4,9.7,9.5c0,5.5-4,9.1-7.8,9.1
			c-6.2,0-7.4-6.1-13-6.1c-3.2,0-5.5,2-9.4,5.5v40.9c0,7.1,3.4,12,8.8,14.5c0.6,0.3,0.9,0.8,0.9,1.4l0,0c0,0.9-0.7,1.6-1.6,1.6H621
			c-0.8,0-1.5-0.7-1.5-1.5l0,0c0-0.6,0.4-1.2,1-1.4c6.1-2.3,8.6-7.4,8.6-14.5v-31c0-9-2.4-13.2-8.3-14.8c-0.7-0.2-1.2-0.9-1.2-1.6
			l0,0c0-0.8,0.5-1.4,1.2-1.6c8.1-2.2,14.7-5.7,20.2-10.8h2v8.2C643,56.5,642.8,59.2,642.5,60.5z"/>
		<path class="st0" d="M685.8,105.9v-31c0-9.1-2.3-13.2-8.3-14.8c-0.7-0.2-1.2-0.9-1.2-1.6l0,0c0-0.8,0.5-1.4,1.2-1.6
			c8.1-2.2,14.7-5.7,20.2-10.8h2v8.2c0,4.3-0.1,9.2-0.3,11.7l0.3,0.1c8.2-8.9,22.3-19.2,34-19.2c9.7,0,15,7.2,15,18v40.9
			c0,7.7,2.5,12.8,7.1,14.5c0.6,0.2,1,0.8,1,1.4l0,0c0,0.8-0.7,1.5-1.5,1.5h-28.1c-0.9,0-1.6-0.7-1.6-1.6l0,0c0-0.6,0.3-1.2,0.9-1.4
			c5.5-2.6,8.2-6.6,8.2-14.3V71.6c0-7.8-2.7-11.8-9.2-12c-6.3-0.3-14.6,3.3-25.8,11.7v34.7c0,7.7,3.2,11.7,8.4,14.3
			c0.5,0.3,0.8,0.8,0.8,1.4l0,0c0,0.9-0.7,1.6-1.6,1.6h-29.6c-0.8,0-1.5-0.7-1.5-1.5l0,0c0-0.6,0.4-1.2,1-1.4
			C682.6,118.6,685.8,113.7,685.8,105.9z"/>
		<path class="st0" d="M796.2,114.7c8.6,0,16.1-4.2,21-11.3c0.4-0.6,1.3-0.8,2-0.4l0,0c0.6,0.4,0.9,1.1,0.7,1.8
			c-4.3,12.7-17,20.7-29.3,20.7c-16.6,0-33.4-12.5-33.4-37c0-22.8,15.3-41.5,35.6-41.5c16.4,0,28.7,12.3,28.7,30.4v3.9h-51.9v0.4
			C769.5,103.9,782.1,114.7,796.2,114.7z M770,74.8h37.3c0-11.4-7.2-20.6-17.9-20.6C780.8,54.2,772.1,60.5,770,74.8z"/>
		<path class="st0" d="M821.9,144.8c-0.2-5.4,3.9-8.7,8.4-8.7c6.8,0,7.6,7.6,11.5,7.6c5-0.1,8.4-8.9,11.5-16.1l3.2-7.4l-24.8-52.9
			c-4.3-9-7.1-13.4-11.6-16c-0.4-0.2-0.6-0.6-0.6-1v0c0-0.6,0.5-1.2,1.2-1.2h31.3c0.6,0,1.2,0.5,1.2,1.2v0c0,0.4-0.3,0.8-0.6,1
			c-6.8,3.5-8.6,8.7-5,16.1l16.7,35.3l15.4-35.3c3.2-7.5,0.4-13.7-5.1-16.2c-0.4-0.2-0.6-0.6-0.6-1l0,0c0-0.6,0.5-1.1,1.1-1.1h24
			c0.6,0,1.1,0.5,1.1,1.1v0.1c0,0.4-0.2,0.8-0.6,1c-4.4,2.7-8.6,9.6-11.5,15.8l-29,63.9c-8.2,18.4-16.3,24.7-28,23.3
			C826,153.7,822.1,149.7,821.9,144.8z"/>
	</g>
	<path class="st0" d="M441,130.2c-12.5,15.3-28.4,23.2-47.2,23.5c-0.2,0-0.5,0-0.7,0c-12.8,0-24.1-5.3-34.7-16.1
		c-10.9-11.1-16.4-24.4-16.4-39.4c0-1.9,0.3-4,0.9-6.2c2-7.4,9-11.7,16.3-10c7.3,1.8,11.4,8.6,9.7,16.2c-0.6,2.7-1.4,5.3-2.2,7.8
		c-0.8,2.5-1.5,5.1-2.1,7.6c-1.9,8.4-1.5,15.3,1.1,21.7c3.1,7.4,9.5,10.4,15.4,12.3c17.2,5.7,36.2-1.6,46.3-17.6
		c5.7-9.2,8.4-19.8,8-31.6c-0.3-8.5-1.2-17.5-3-29.2c-1.4-9.6-3.1-19.3-4.7-28.7c-0.9-5.5-1.9-11-2.8-16.4c-0.3-1.6-0.8-2-2.4-2
		c0,0,0,0-0.1,0c-8.9,0.1-17.7,0.1-26.6,0.1c-6.6,0-13.1,0-19.7,0.1c-1.4,0-2.7,0.1-4.1,0.1c-1.5,0.1-3,0.1-4.5,0.1c0,0,0,0,0,0
		c-2.2,0-3.8,0.9-4.9,2.6c-1.2,2-2.1,4.2-3.1,6.3l-0.3,0.8c-0.5,1.2-1.4,3.2-3.9,2.4c-2.6-0.8-2-3.3-1.7-4.4l1-4.1
		c0.9-3.6,1.8-7.1,2.6-10.7c0.5-2.4,1.9-2.8,3.8-2.8c9.6,0,19.1,0,28.7,0l18.3,0l27.9,0c3.8,0,4.5,0.6,5,4.3
		c2.1,13.8,4.1,27.7,6.2,41.5l0.8,5.5c0.4,2.6,0.8,5.3,1.2,7.9c0.9,6.2,1.9,12.5,2.7,18.8C453.8,105.5,450.2,118.9,441,130.2z"/>
</g>
</svg>
