<div class="mixcase-product-index">
  <div class="page-width jump--sign text-center">
    <div class="grid grid--uniform grid--flush-bottom grid--mixcase--wrapper">
      {% assign collection = collections[section.settings.col] %}
      {% for product in collection.products limit:5 %}
      {% unless product.tags contains 'coming soon' %}
      <div class="grid__item grid__jump medium-up--one-third text-center">
        <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{{ product.url }}">
          <span class="visually-hidden">{{ product.title }}</span>
        </a>
        {%- assign max_height = 530 -%}
        {% capture img_id %}TextColumnImage-{{ product.id }}{% endcapture %}
        {% capture wrapper_id %}TextColumnImageWrapper-{{ product.id }}{% endcapture %}
        {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        {% include 'image-style', image: product.featured_image, height: max_height, wrapper_id: wrapper_id, img_id: img_id %}

        {% include 'graphic_brief-case' %}
        <div class="jump-card-image-wrapper">

          {% if product.featured_image %}
          <div id="{{ wrapper_id }}" class="feature-row__image-wrapper jump-card-image js">
            <div style="padding-top:{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100}}%;">
              <img id="{{ img_id }}"
                   class="feature-row__image lazyload"
                   data-src="{{ img_url }}"
                   data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ product.featured_image.alt | escape }}">
            </div>
          </div>
          {% else %}
          <div class="jump-card-image">
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
          </div>
          {% endif %}
          <div class="jump-image-text">
            <h3 class="h4">{{ product.title | escape }}</h3>
            <img class="jump-card-bottle" src="{{ 'bottle.png' | asset_url }}">
          </div> 

        </div>
        <noscript>
          <p>
            {{ product.featured_image | img_url: '480x480', scale: 2 | img_tag: product.featured_image.alt, 'feature-row__image' }}
          </p>
        </noscript>
        <div class="jump-card-content">
          <h4 class="h5">{{ product.collections.first.title }}</h4>
          <div class="rte-setting">
            <p>{{ product.description | strip_html | truncatewords: 15  }}</p>
          </div>
          <a href="{{ product.url }}" class="btn btn--secondary btn--small btn-jump-card" aria-label="WHAT'S IN THE CASE?" tabindex="0">
            WHAT'S IN THE CASE?
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19">
            <path fill="rgb(248,131,121)" fill-rule="evenodd" d="M18 9.4392c0-.0912-.03281677-.1824-.09024613-.2584L10.80492252.1824C10.71467639.0684 10.5752051 0 10.42752962 0H6.39927075C5.9480401 0 5.5788514.342 5.5788514.76c0 .1444.04102097.2812.1230629.4028l2.53509572 3.7544c.2379216.3572.1230629.8284-.26253419 1.0488-.1230629.076-.27894257.114-.42661805.114H.82041933C.3691887 6.08 0 6.422 0 6.84v5.32c0 .418.3691887.76.82041933.76h6.72743846c.15587968 0 .30355515.038.43482225.114.38559708.2204.50045578.6916.26253418 1.0488l-2.53509571 3.7544c-.08204194.1216-.1312671.2584-.1312671.4028 0 .418.3691887.76.82041933.76h4.0200547c.14767547 0 .29535095-.0684.37739288-.1824l7.10483136-9.006c.05742935-.076.09024613-.1672.09024613-.2584 0-.0228-.0082042-.038-.01640839-.0608C17.99179581 9.4772 18 9.462 18 9.4392z"></path>
            </svg>
          </a>
        </div>
      </div>
      {% endunless %}
      {% endfor %}
      {% comment %}
      {% for product in collection.products limit:90 %}
      {% if product.tags contains 'coming soon' %}
      <div class="grid__item grid__jump medium-up--one-third text-center">
        {%- assign max_height = 530 -%}
        {% capture img_id %}TextColumnImage-{{ block.id }}{% endcapture %}
        {% capture wrapper_id %}TextColumnImageWrapper-{{ block.id }}{% endcapture %}
        {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        {% include 'image-style', image: product.featured_image, height: max_height, wrapper_id: wrapper_id, img_id: img_id %}
        {% include 'graphic_brief-case' %}
        <div class="jump-card-image-wrapper">
          {% if product.featured_image %}
          <div id="{{ wrapper_id }}" class="feature-row__image-wrapper jump-card-image js">
            <div style="padding-top:{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100}}%;">
              <img id="{{ img_id }}"
                   class="feature-row__image lazyload"
                   data-src="{{ img_url }}"
                   data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ product.featured_image.alt | escape }}">
            </div>
          </div>
          {% else %}
          <div class="jump-card-image">
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
          </div>
          {% endif %}
          <div class="jump-image-text">
            <h3 class="h4">{{ product.title | escape }}</h3>
            <img class="jump-card-bottle" src="{{ 'bottle.png' | asset_url }}">
          </div> 
        </div>
        <noscript>
          <p>
            {{ product.featured_image | img_url: '480x480', scale: 2 | img_tag: product.featured_image.alt, 'feature-row__image' }}
          </p>
        </noscript>
        <div class="jump-card-content">
          <h4 class="h5">{{ product.collections.first.title }}</h4>
          <div class="rte-setting">
            <p>{{ product.description | strip_html | truncatewords: 15  }}</p>
          </div>
          <a href="#!" class="btn btn--secondary btn--small btn-jump-card" aria-label="comingsoon" tabindex="0">
            Coming Soon
          </a>
        </div>
      </div> 
      {% endif %}
      {% endfor %}
      {% endcomment %}
    </div>
  </div>
</div> 