<div class="stamp {% if template contains 'product' %}product-stamp{% endif %} sk-product-badge">
  {% for tag in product.tags %}
  {%- if tag contains 'Badge' -%}
  {%- assign tagNum = tag | split: ' ' -%}
  {%- assign image = "WJ-Stamp-Template_" | append: tagNum[1] | append: '.png' -%}
  <img src="{{ image | asset_url }}" width="100" height="auto">
  {%- endif -%}
  {% endfor %}
</div>