
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="54" height="54" viewBox="0 0 54 54">
  <defs>
    <path id="path-2" fill-rule="evenodd" d="M27.93063354 37.48950195c-.44335937.55749512-1.31088256.48596192-1.65686035-.13671875 0 0-7.27377319-8.75390625-7.27377319-13.0913086 0-4.33740233 3.58172607-7.85363769 8-7.85363769s8 3.51623536 8 7.8536377c0 4.33740234-7.06936646 13.22802734-7.06936646 13.22802734zm1.73605347-13.22802734c0-1.44494629-1.19491577-2.61791992-2.66668701-2.61791992s-2.6666565 1.17297363-2.6666565 2.61791992c0 1.44482422 1.19488526 2.61779785 2.6666565 2.61779785 1.47177124 0 2.66668701-1.17297363 2.66668701-2.61779785z"/>
    <mask id="mask-3" x="0" y="0" maskContentUnits="userSpaceOnUse" maskUnits="userSpaceOnUse">
      <rect width="54" height="54" x="0" y="0" fill="black"/>
      <use fill="white" xlink:href="#path-2"/>
    </mask>
  </defs>
  <g>
    <ellipse cx="27" cy="27" fill="none" stroke="rgb(248,131,121)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width=".5" rx="26.75" ry="26.75"/>
    <use fill-opacity="0" stroke="rgb(21,47,56)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="2" mask="url(#mask-3)" xlink:href="#path-2"/>
  </g>
</svg>
