<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="54" height="54" viewBox="0 0 54 54">
  <defs>
    <rect id="rect-2" width="13.72" height="31.25" x="18.14" y="10.375"/>
    <mask id="mask-3" maskContentUnits="userSpaceOnUse" maskUnits="userSpaceOnUse">
      <rect width="54" height="54" x="0" y="0" fill="black"/>
      <use fill="white" xlink:href="#rect-2"/>
    </mask>
  </defs>
  <g>
    <ellipse cx="27" cy="27" fill="none" stroke="rgb(248,131,121)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width=".5" rx="26.75" ry="26.75"/>
    <g>
      <use fill="none" xlink:href="#rect-2"/>
      <g mask="">
        <path fill="rgb(35,31,32)" fill-rule="evenodd" d="M30.43908691 41.6213379c.0177002.0036621.04248047.0036621.0744629.0036621.17712402 0 .53149414-.03710938.81848144-.3227539.1842041-.17053223.40393066-.50073243.40393066-1.0793457l.04956055-6.23144532c.00366211-.5526123.01782227-1.10534668.03198242-1.66174317l.0008545-.03564453c.04223632-1.69140625.0859375-3.4407959-.1604004-5.16467285-.15234375-1.05700683-.49243164-2.05859375-.7972412-2.91540527l-.15234376-.41906739c-.25866699-.71594238-.5279541-1.45776367-.71923828-2.21069335-.38269043-1.51708985-.79382324-3.27893067-.79382324-4.9852295v-3.40124511c.19848633-.02600098.35437012-.20410157.35437012-.42285157v-1.32800293c0-.21508789-.15234375-.39685058-.35437012-.42272949v-.22265625c0-.23730469-.1842041-.42651367-.4074707-.42651367h-2.1295166c-.2232666 0-.4074707.18920898-.4074707.42651367v.22265625c-.19848634.0258789-.35437012.2039795-.35437012.4227295v1.33166503c0 .2150879.15234374.39685059.35437011.42285157v3.397583c0 1.71740723-.42529297 3.52380371-.82214355 5.08532715-.16296387.64538574-.39331055 1.2388916-.63781739 1.86950684-.11340332.29296875-.22668457.58972168-.33654785.8939209-.39331054 1.10534668-.65551758 2.25878906-.77954101 3.43469238-.08862305.85314941-.07092285 1.70251465-.04968262 2.5258789.00708008.28564454.01416016.56750489.0177002.85314942l.07092285 8.96520996c0 .5822754.21972656.91235352.40393066 1.08300781.34375.3227539.77600098.31896973.90002442.31164551h5.42138671zm.35778809-.94958497c-.10681152.10461426-.28430176.10058594-.29760742.10021973h-5.53479004c-.01586914.00061035-.19506836.00744629-.3046875-.10021973-.10632324-.10388184-.12756348-.30041504-.12756348-.44885254l-.07092285-8.96875c-.00354004-.28930664-.01062012-.57495117-.0177002-.86425781-.02124023-.83093262-.03894042-1.6135254.04260254-2.41101074.11694336-1.10534668.36132813-2.19213868.73339844-3.22705079.10632324-.30041503.21972656-.58972167.32958985-.8753662.24450683-.62683106.49609375-1.27587891.67321777-1.9732666.41101074-1.6135254.85046387-3.48657227.85046387-5.30407716v-3.82421875c0-.21520996-.15246582-.39685058-.35437012-.42285156v-.48217773c.19836426-.02600098.35437012-.2039795.35437012-.42285157v-.21887207h1.3145752v.21887207c0 .2150879.15234374.39685059.3543701.42285157v.48217773c-.19848632.02600098-.3543701.2039795-.3543701.42285156v3.82788086c0 1.80639649.42517089 3.63500977.82202148 5.2039795.20202636.79382324.47839355 1.55786132.74768066 2.2960205l.14880371.41540528c.30480957.85314941.61303711 1.765625.75476074 2.74487304.2355957 1.64538575.1920166 3.35656739.14978028 5.01037598l-.00097657.0378418c-.0177002.5600586-.03186035 1.12011718-.03540039 1.68017578l-.04968261 6.23522949c0 .14465332-.02124024.34118652-.12756348.44506836z"/>
        <path fill="rgb(35,31,32)" fill-rule="evenodd" d="M18.54748535 39.10644531h9.5883789c.2232666 0 .40759278-.1928711.40759278-.43029785v-9.91845703c0-.23730469-.18432617-.42651367-.40759277-.42651367h-9.5883789c-.22326661 0-.40747071.18920898-.40747071.42651367v9.92211914c0 .23376465.1842041.42663574.4074707.42663574zm9.1809082-.85314941h-8.7734375v-9.06896973h8.7734375v9.06896973z"/>
      </g>
    </g>
  </g>
</svg>