
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="54" height="54" viewBox="0 0 54 54">
  <defs>
    <rect id="rect-2" width="25.08" height="24.68" x="14.25" y="14.25"/>
    <mask id="mask-3" maskContentUnits="userSpaceOnUse" maskUnits="userSpaceOnUse">
      <rect width="54" height="54" x="0" y="0" fill="black"/>
      <use fill="white" xlink:href="#rect-2"/>
    </mask>
  </defs>
  <g>
    <ellipse cx="27" cy="27" fill="none" stroke="rgb(248,131,121)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width=".5" rx="26.75" ry="26.75"/>
    <g>
      <use fill="none" xlink:href="#rect-2"/>
      <g mask="url(#mask-3)">
        <path fill="rgb(35,31,32)" fill-rule="evenodd" d="M38.84436035 14.27478027c.11135864-.04333496.2350769-.03100586.33099365.03723145.09896851.06811523.15463257.17651367.15774537.29418945v20.78039551c0 .14245605-.0866089.272583-.21652222.32836914l-7.46710205 3.18713379c-.0834961.03417969-.17630005.03723144-.26290894.00622559l-8.4909668-3.14697266-8.05477905 3.14074707c-.04330444.01550293-.08660888.02478027-.12991333.02478027-.07116699 0-.14230346-.02160644-.20108032-.06188965-.09588623-.06506347-.15466309-.17346191-.15466309-.2911377L14.25 18.01025392c0-.14245606.08352661-.27258301.21652222-.32836914l8.00839233-3.40393067c.09280396-.03723144.19488525-.03723144.28460693.00305176l7.49490357 3.3482666 8.5899353-3.35449219zM31.4978943 38.1928711l7.12063598-3.04162597h.0031128v-20.0246582l-7.74240113 3.02307128v7.82092285c.09280396-.09606933.2381897-.13635253.3711853-.08984375.4083252.14245606.78878785.3499756 1.13833619.61633301.15774536.11767578.18869018.34387207.0680542.49865723-.071167.08984375-.17633057.1394043-.28457642.1394043-.07733154 0-.15158081-.02478028-.21655273-.07434082-.29074097-.21984864-.60626221-.39331055-.94342041-.51098633-.05569458-.02172852-.09899903-.05273438-.1361084-.09301758v8.5147705h.05877685c.19796753-.01550292.36499024.13623048.37738037.3314209.01235962.19519044-.1361084.36547852-.33099365.3779297-.0340271.00305175-.07113647 0-.10516357.00305175v2.27966309l.62173462.22924804zm-8.58065796-3.15942382v-7.32531739c.02474975.00927735.04949951.02478028.07733154.02783203.21963501.03100586.44851685.0465088.68051148.0465088.19796752 0 .39904785-.0123291.59701538-.03405762.19485473-.02172852.33407592-.1982422.31240844-.39343262-.02163696-.19506836-.19796753-.33447266-.39593505-.31274414-.36810303.04333496-.7454834.0402832-1.09500123-.00927735-.06185913-.00939941-.12374877.00305176-.17941284.02478028V15.12963867l7.18869019 3.2088623c.02166748.00927735.04330444.00927735.06497192.01550294v10.9276123c-.10827637-.10534668-.27529907-.13623047-.41452026-.05883789-.14227295.07739258-.28146362.15795898-.4206543.2385254l-.17633056.10217284c-.14846802.08361817-.29693604.17041016-.44543458.26013184-.1670227.10229492-.22268676.3190918-.12063598.48937988.0680542.11157227.1856079.17346192.3062439.17346192.06185913 0 .12683105-.01538086.18249511-.0526123.14230347-.08666993.28768921-.17041017.42996216-.2508545l.17941284-.10229492.40829468-.2322998c.02786255-.01538087.04949951-.04016114.071167-.06188966v5.16027832c-.11135865-.01245117-.2227173-.01867675-.32788087-.03723144-.19488525-.03405762-.37738037.09606933-.41140747.2911377-.0340271.19519042.09588623.37792968.2876587.4119873.14846801.02478027.30004882.04650879.45162963.05883789v2.0288086l-7.1515808-2.6451416c-.0340271-.01550294-.0680542-.0185547-.09899903-.02172852zm-.71450806-19.8635254l-7.24127197 3.0756836.1020813 19.80786133 7.13919067-2.78149414V15.16992187z"/>
        <path fill="rgb(35,31,32)" fill-rule="evenodd" d="M17.36489393 26.05105422c.03093241.00929217.06186483.01238956.089704.01238956.1577553 0 .30313764-.10531125.34334978-.2663755.04330537-.16725904.11135668-.33142069.19796744-.48319278.09898372-.17035642.04021213-.3871737-.12991614-.48629016-.17012827-.09911646-.38665515-.04026606-.48563887.13009036-.12063641.2075251-.2103404.43053715-.27220523.65974398-.04639862.19203815.0680513.3840763.25673902.43363454z"/>
        <path fill="rgb(35,31,32)" fill-rule="evenodd" d="M21.02419832 25.58644578l-.09898372-.18274598c-.11754316-.22301205-.23817957-.45221888-.38665515-.66903615-.0525851-.07743473-.11135669-.15177208-.17322151-.22610943-.1268229-.1486747-.3526295-.16725904-.50110508-.03716868-.14847558.12699297-.16703503.35310241-.0371189.50177711.04639862.05265562.08661076.10840864.1268229.16416165.12682288.18274598.23199309.3840763.34334977.59779618l.10207696.18894076c.06495807.1177008.18559448.18584338.31241737.18584338.05567834 0 .11444992-.01238956.17012827-.04336346.17012826-.0898243.23508633-.30664156.1422891-.48009538z"/>
        <path fill="rgb(35,31,32)" fill-rule="evenodd" d="M27.6375481 32.95823293c-.07114455-.15486948-.1051702-.33142068-.1051702-.51726405v-.04026607c.00309324-.19513554-.15156882-.35929719-.34953626-.36239458h-.00618648c-.19178096 0-.3526295.15486948-.35572275.35000502v.05265563c0 .29115461.05567834.5637249.17012827.81151606.06186483.13938253.13919586.28805723.22271337.43673193.06495807.11460341.18559447.1796486.30932412.1796486.05877159 0 .12063641-.01548696.17631476-.04646085.17012826-.09601908.22889985-.31593374.13300937-.48629016-.0742378-.13009036-.1422891-.26018073-.1948742-.37788153z"/>
        <path fill="rgb(35,31,32)" fill-rule="evenodd" d="M32.20317218 28.2532982c.0680513.09911646.17940799.15177208.29385791.15177208.07114455 0 .13919586-.02168173.20106068-.06504518.09898372-.06814257.19796744-.13938253.29695116-.21371988.23508634-.1765512.46398619-.36858936.67123335-.5637249.1422891-.13628514.14847558-.35929719.01546621-.5048745-.13300937-.14247992-.35881598-.1486747-.50110508-.01548694-.18868772.17964859-.39593488.3531024-.60936853.51416666-.089704.06814257-.18250123.13318775-.27529847.19823293-.16703502.11460342-.20724716.33761547-.09279723.49867972z"/>
        <path fill="rgb(35,31,32)" fill-rule="evenodd" d="M28.54696103 26.10061245c-.04949186-.19203815-.24127282-.30354418-.43305378-.25708333-.42686729.10840863-.82898865.24779116-1.16615195.37168674-.18559447.06814257-.28148495.27257028-.21343364.45531627.0525851.1455773.18868771.2354016.33407005.2354016.04021214 0 .08042427-.00619477.12063641-.02168172.31860385-.11460342.69907252-.24779117 1.09810064-.35000502.1948742-.04955823.30932413-.24469378.25983227-.43363454z"/>
        <path fill="rgb(35,31,32)" fill-rule="evenodd" d="M34.31894919 28.93782129c-.08351752-.17655121-.29695116-.25398595-.47326591-.17035643-.17631476.08362952-.25364579.2973494-.17012827.4739006.16394178.34381024.28767143.69691265.37118895 1.05001506.0371189.16416165.18559447.27566767.34644302.27566767.02783917 0 .05567834-.00309739.08042427-.00929217.19178096-.04646084.30932412-.2354016.26601875-.42743975-.09589048-.40266065-.23508634-.8022239-.42068081-1.19249498z"/>
        <path fill="rgb(35,31,32)" fill-rule="evenodd" d="M34.34678836 32.80336345c-.18250124-.07123996-.3897484.01858434-.46089295.20133033-.13610261.35000502-.31860385.65664658-.54131722.91372991-.12991613.1486747-.11444992.37478414.03402566.50177711.0680513.0588504.15156882.08672691.23508633.08672691.09898372 0 .19796744-.04026606.269112-.1207982.27529846-.31593373.50110507-.69381525.6681401-1.12125501.0680513-.18274599-.02165269-.39027109-.20415392-.46151105z"/>
        <path fill="rgb(35,31,32)" fill-rule="evenodd" d="M35.06132708 23.81783635c-.19178095-.0030974-.36190922.14247992-.37118894.33761546-.00927973.18584337-.03402566.37168674-.0742378.55443273-.04330537.19203815.07733104.38097891.269112.42434237.02474592.00619478.0525851.00929217.07733102.00929217.16394179 0 .30932413-.11150603.34644302-.27876506.04949186-.22301205.08042428-.44912149.089704-.67523093.01237296-.19513554-.13919586-.36239458-.3371633-.37168674z"/>
        <path fill="rgb(35,31,32)" fill-rule="evenodd" d="M33.28889985 22.77401606c.0680513.06814257.16084855.10531125.25055254.10531125.089704 0 .18250124-.03407129.25055254-.10531125l.87538728-.87656124.72691169.72788655c.0680513.06814257.16084854.10531124.25055254.10531124.089704 0 .18250123-.03407128.25055254-.10531124.13919585-.13938253.13919585-.36549197 0-.5048745l-.7269117-.72788655.9372521-.93850903c.13919586-.13938253.13919586-.36549197 0-.5048745-.13919585-.13938253-.36500246-.13938253-.50419832 0l-.93415885.94160642-.79186976-.79293172c-.13919586-.13938253-.36500247-.13938253-.50419833 0-.13919585.13938253-.13919585.36549196 0 .5048745l.79186976.79293172-.87538727.87656125c-.13610261.13628514-.13610261.36239457.00309324.5017771z"/>
        <path fill="rgb(35,31,32)" fill-rule="evenodd" d="M15.72546387 27.7701416c0-.68139648.55368042-1.23583984 1.2341919-1.23583984.68051147 0 1.2342224.55444336 1.2342224 1.23583984 0 .68139649-.55371093 1.23583985-1.2342224 1.23583985-.68051148 0-1.2341919-.55444336-1.2341919-1.23583985zm.7114563 0c0 .28808594.2350769.5234375.5227661.5234375.2876587 0 .5227356-.23535156.5227356-.5234375s-.2350769-.5234375-.5227356-.5234375c-.2876892 0-.5227661.23535156-.5227661.5234375z"/>
      </g>
    </g>
  </g>
</svg>
