
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 30 30">
  <defs>
    <path id="path-1" fill-rule="evenodd" d="M15 0c8.27872537 0 15 6.72127463 15 15s-6.72127463 15-15 15S0 23.27872537 0 15 6.72127463 0 15 0z"/>
    <mask id="mask-2" x="0" y="0" maskContentUnits="userSpaceOnUse" maskUnits="userSpaceOnUse">
      <rect width="30" height="30" x="0" y="0" fill="black"/>
      <use fill="white" xlink:href="#path-1"/>
    </mask>
  </defs>
  <g>
    <use fill-opacity="0" stroke="rgb(10,48,57)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="2" mask="url(#mask-2)" xlink:href="#path-1"/>
    <path fill="rgb(10,48,57)" fill-rule="evenodd" d="M14.9290821 16.64055274l-1.95280833-1.92315734-.85127377.83834823L14.9877233 18.375 19.625 13.15572532 18.71898578 12.375l-3.78990368 4.26555274z"/>
  </g>
</svg>
