
<svg xmlns="http://www.w3.org/2000/svg" width="12" height="16.184" viewBox="0 0 12 16.184">
  <path fill="rgb(65,141,147)" fill-rule="evenodd" d="M6.93701172 15.7996521c-.44274902.5671997-1.32165527.49520874-1.66619873-.13647461C5.27081299 15.66317749 0 9.3137207 0 6c0-3.3137207 2.6862793-6 6-6s6 2.6862793 6 6-5.06298828 9.7996521-5.06298828 9.7996521zM8 6c0-1.1038208-.8961792-2-2-2s-2 .8961792-2 2 .8961792 2 2 2 2-.8961792 2-2z"/>
</svg>
