
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="54" height="54" viewBox="0 0 54 54">
  <defs>
    <rect id="rect-2" width="22.32" height="29.97" x="16.25" y="12.75"/>
    <mask id="mask-3" maskContentUnits="userSpaceOnUse" maskUnits="userSpaceOnUse">
      <rect width="54" height="54" x="0" y="0" fill="black"/>
      <use fill="white" xlink:href="#rect-2"/>
    </mask>
  </defs>
  <g>
    <ellipse cx="27" cy="27" fill="none" stroke="rgb(248,131,121)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width=".5" rx="26.75" ry="26.75"/>
    <g>
      <use fill="none" xlink:href="#rect-2"/>
      <g mask="">
        <path fill="rgb(35,31,32)" fill-rule="evenodd" d="M24.74438477 20.04943848c0 1.45983886 1.16369628 2.64929199 2.58935546 2.64929199 1.42578125 0 2.58947754-1.18945313 2.58947754-2.649292 0-1.45983886-1.16040039-2.64929199-2.58947754-2.64929199-1.42895507 0-2.58935546 1.18945313-2.58935546 2.649292zm.66308593 0c0-1.10144043.86535645-1.9975586 1.92626953-1.9975586 1.06103516 0 1.9263916.89611817 1.9263916 1.9975586s-.86206054 1.99755859-1.9263916 1.99755859c-1.06420898 0-1.92626953-.89611816-1.92626953-1.9975586z"/>
        <g>
          <path fill="none" d="M23.02358289 14.33371425c-.70620321.01629336-1.41903744.14664021-2.1086631.41385126-1.59807487.61914755-2.84139038 1.84440796-3.50449198 3.44767424-.6631016 1.60978363-.6631016 3.40531152 0 5.06071654.77582887 1.92913341 3.48459893 4.43505165 8.05005347 7.45258128-3.44812834-4.85542025-5.13240641-8.34871589-5.13240641-10.65911384 0-2.31365663 1.05433155-4.37965424 2.69550802-5.71570948z"/>
          <path fill="none" d="M34.53502674 20.04942373c0 2.339726-1.72406417 5.89493639-5.26171123 10.84159943 4.757754-3.39227683 7.52951871-6.14259541 8.24566845-8.18252365.59016043-1.6814744.51058823-3.47700228-.22545455-5.0541992-.73272727-1.57393824-2.03240642-2.74380123-3.65368984-3.29451668-.65647059-.22158965-1.33614973-.33238448-2.01582887-.33238448-.05967915 0-.11604279.00325867-.17572193.00651734 1.86 1.31324454 3.08673797 3.51936501 3.08673797 6.01550724z"/>
          <path fill="none" d="M28.38807487 14.157746c.33818181-.17270958.68962566-.3063151 1.04106952-.42362727-.62994653-.21181363-1.29967915-.33238447-1.99925134-.33238447-.8686631 0-1.6975401.1824856-2.45679145.50509405.78909091.2052963 1.54171123.54419811 2.2280214 1.00367077.36802139-.28676308.76588235-.53768077 1.18695187-.75275308z"/>
          <path fill="rgb(35,31,32)" fill-rule="evenodd" d="M27.201123 14.91049908c-.68631017-.45621399-1.43893049-.7951158-2.2280214-1.00367077-.31497326.13360553-.61336898.29979776-.90181818.47902469.92171123.13034685 1.80695187.46599 2.6026738.96782537.17240642-.15315755.34481283-.30305643.52716577-.4431793z"/>
          <path fill="rgb(35,31,32)" fill-rule="evenodd" d="M27.62882353 32.35742525c-.06631016.00977601-.13262032.01629335-.19561497.01629335-.411123 0-.81561498-.16619223-1.10737968-.48554202l-.09283423-.11079483-.29839572-.41059258c-.1624599-.22484832-.31497326-.43992063-.47080214-.6582516-4.56545454-3.01752963-7.2742246-5.52344787-8.05005347-7.45258128-.66641712-1.65540502-.66641712-3.45093291 0-5.06071654.6631016-1.60326628 1.9064171-2.8285267 3.50449197-3.44767424.68962567-.26721105 1.4024599-.3975579 2.1086631-.41385126.27850268-.22810699.5768984-.43666195.88855616-.61914754-1.07754011-.1140535-2.1849198.01303468-3.24588236.42688594-1.76716577.68757964-3.1431016 2.03992824-3.87251337 3.80938675-.72941176 1.76619985-.72941176 3.73443732 0 5.5429999.90181819 2.24522453 3.99187166 5.02487115 9.44588236 8.49861476l.43101604.2737284.1259893.06843209c.21219252.10427748.44096257.15315755.6631016.15315755.22877006 0 .4542246-.05539741.6564706-.15315755-.09946524.01955203-.19893048.03258671-.29508022.03258671-.06631016.00325867-.13262032 0-.19561497-.00977601z"/>
          <path fill="rgb(35,31,32)" fill-rule="evenodd" d="M37.89363636 17.38057193c-.80898395-1.73687181-2.24459893-3.02730565-4.04160427-3.63667718-1.09080214-.36822986-2.23465241-.45621398-3.35197861-.2737284.32823529.16293357.64320855.35193651.94160427.56375014.05967915-.00325867.1193583-.00651734.17572193-.00651734.67967914 0 1.35935829.11079483 2.01582888.33238448 1.62459893.55071545 2.92096256 1.72057844 3.65368984 3.29451669.73604278 1.5771969.81561497 3.3727248.22545454 5.0541992-.71614973 2.03992823-3.48791444 4.79024681-8.24566845 8.18252364-.11935829.1694509-.2453476.33890182-.36802139.5116114-.0397861.1466402-.09946524.28676307-.18235294.41385125-.15251337.23462433-.36139037.40733391-.59679144.52464608.0464171-.00977601.09283422-.01629336.13593583-.02932804.15251336-.0456214.29839572-.1140535.43101604-.2052963 5.5402139-3.8387148 8.63358289-6.84320974 9.45582888-9.18293573.64652406-1.84440796.56032085-3.81264543-.2486631-5.5429999z"/>
          <path fill="rgb(35,31,32)" fill-rule="evenodd" d="M27.201123 14.91049908c.19229946.12708818.3779679.26395237.55700534.41059258.29508022-.2150723.60342246-.41385126.93497326-.58330216.54705883-.27698706 1.1140107-.47250734 1.6942246-.58656084-.30502673-.16293356-.6233155-.30305643-.9548663-.41710993-.35144386.1140535-.7028877.2509177-1.04106953.42362727-.42438502.21507231-.82224598.46599-1.19026738.75275308z"/>
          <path fill="rgb(35,31,32)" fill-rule="evenodd" d="M27.75812834 15.31783299c-.17903743-.14664021-.36470588-.28024573-.55700535-.41059259-.18235294.14338154-.35475935.29328042-.52385026.44969664.18898395.12057084.3746524.2509177.55368984.38778189.1690909-.14989888.34481283-.29328042.52716577-.42688594z"/>
          <path fill="rgb(35,31,32)" fill-rule="evenodd" d="M28.71962567 31.81648581c.0828877-.12708818.14588235-.26721105.18235294-.41385126-.0862032.12057084-.1690909.23788301-.25860963.35845385-.09283422.12708818-.208877.24114168-.33818181.33238447-.2055615.14664021-.43764706.23136566-.67636364.26395238.06631016.00977601.12930481.01303468.19561497.01303468.09614974 0 .19561498-.01303468.29508022-.03258671.23871657-.1140535.44759358-.29002175.60010695-.5213874z"/>
          <path fill="rgb(35,31,32)" fill-rule="evenodd" d="M27.42989305 13.40173426c.6995722 0 1.36930481.12057084 1.99925134.33238447.35144385-.1140535.70951871-.20855496 1.07090909-.26721104C29.57171123 13.00743503 28.5306417 12.75 27.42989305 12.75c-1.2797861 0-2.48.3519365-3.51775401.96130804.35807486.03910405.71283422.10427748 1.06096256.19552027.75925134-.32260846 1.58812835-.50509405 2.45679145-.50509405z"/>
          <path fill="rgb(35,31,32)" fill-rule="evenodd" d="M33.87192513 20.04942373c0 2.03992823-1.5284492 5.2692715-4.53893048 9.60982168-.10941176.46599-.22545454.94501467-.35144385 1.43707404.09614973-.0684321.19561498-.1368642.2917647-.20529629 3.53433156-4.94666304 5.26171124-8.50187344 5.26171124-10.84159943 0-2.49614223-1.22673797-4.7022627-3.09005348-6.0187659-.35475936.009776-.7062032.04888006-1.05764706.12057083 2.0655615 1.10794825 3.48459893 3.33362075 3.48459893 5.89819507z"/>
          <path fill="rgb(35,31,32)" fill-rule="evenodd" d="M28.15930481 31.46454931c.04973262-.07494944.0828877-.15315755.10609626-.237883.00994652-.03584539.01657754-.0684321.02652406-.10101882-.06299465.08798413-.1226738.17270958-.18566845.25743504-.05304812.07169077-.11604278.13360552-.18898395.18574426-.08951872.06191476-.18566845.10427748-.2851337.13034685.08620322.01955203.17572193.02606937.26524065.01955203.09946524-.06517342.19229946-.14989888.26192513-.25417636z"/>
          <path fill="rgb(35,31,32)" fill-rule="evenodd" d="M26.2562032 30.86169512c-.02983956-.10101881-.05636363-.19552028-.0862032-.29328042-3.4315508-4.80002283-5.17882353-8.33893987-5.17882353-10.51899097 0-2.39512341 1.2366845-4.49044906 3.08342246-5.66357073-.34812834-.04888007-.6995722-.06517343-1.05101604-.05539742-1.64117647 1.33931391-2.69550802 3.40531152-2.69550802 5.71896815 0 2.31039795 1.68427807 5.8036936 5.13240641 10.65911384.30171123.19877895.61336899.40407524.93497327.60611286l-.13925134-.45295531z"/>
          <path fill="rgb(35,31,32)" fill-rule="evenodd" d="M26.45181818 31.477584l-.04973262-.13360553-.00994652-.02932804c-.31828877-.2052963-.62994653-.40733391-.93497326-.60611286.15582887.21833097.30834224.43666195.47080213.6582516l.29839573.41059258.09283422.11079483c.2917647.31934979.6995722.48554202 1.10737968.48554202.06631016 0 .13262032-.00651734.19561497-.01629335-.50395722-.0684321-.95818181-.38778189-1.17037433-.87984126z"/>
          <path fill="rgb(35,31,32)" fill-rule="evenodd" d="M24.07459893 14.385853c.2884492-.1824856.58684492-.34541916.90181818-.47902469-.34812834-.0912428-.7028877-.15641622-1.06096256-.19552027-.31165776.18248559-.61005348.39104055-.88855615.61914754.34812834-.00651734.69957219.00651735 1.04770053.05539742z"/>
          <path fill="rgb(35,31,32)" fill-rule="evenodd" d="M28.26540107 31.22340763c-.02320856.08472546-.05636364.16619224-.10609626.237883-.06962567.10753616-.16245989.18900294-.26524064.2509177.05636364-.00325867.11272727-.01303469.16909091-.02932804.0862032-.02606937.1657754-.06517343.23871658-.1140535.23208556-.1596749.45090909-.31609112.67636363-.475766.1259893-.49205938.24203209-.97108406.35144385-1.43707406-.32823529.47250734-.67636363.96130804-1.04106951 1.46314342-.00663102.03910406-.01326204.07169077-.02320856.10427748z"/>
          <path fill="rgb(35,31,32)" fill-rule="evenodd" d="M30.3873262 14.15122866c.35144385-.0684321.7028877-.11079482 1.05764706-.12057084-.29839572-.21181363-.61336898-.40081657-.94160428-.56375013-.36139037.05865608-.71946524.14989888-1.07090909.26721104.3282353.11079483.64983958.2509177.95486631.41710993z"/>
          <path fill="rgb(35,31,32)" fill-rule="evenodd" d="M27.63213904 31.69591497c-.2884492.07169077-.60010695-.01303468-.80235294-.23136566l-.35475936-.47576601c-.10278075-.14338154-.19893048-.28024573-.30171123-.4203686.02983957.09776014.05636363.19552028.0862032.29328042l.13925134.45621398c.06962567.0456214.13593583.08798413.2055615.13360552l.50727273.31283245c.2519786.1238295.55037433.09776014.7857754-.04888007-.09283423.00651734-.18235294 0-.26524064-.01955203z"/>
          <path fill="rgb(35,31,32)" fill-rule="evenodd" d="M28.90860963 31.38308253c0 .00651734-.00331551.01303468-.00663102.01955202.1226738-.17270957.2486631-.34216048.36802139-.51161139-.09283422.0684321-.19561497.1368642-.2917647.2052963-.02320856.09776013-.04641712.18900293-.06962567.28676307z"/>
          <path fill="rgb(35,31,32)" fill-rule="evenodd" d="M28.9815508 31.09631945c-.22213904.15641622-.44427807.31283245-.67636363.47576601-.07294118.05213874-.15251337.08798413-.23871658.1140535-.05636364.01629335-.11272727.02606937-.16909091.02932804-.23540107.14338154-.5337968.1694509-.7857754.04888007l-.50727273-.31283245c-.06962567-.0456214-.13593583-.08798412-.2055615-.13360552l.00994653.02932804.04973262.13360553c.21219251.49205936.66641711.81466782 1.17368984.87984125.23540107-.03258671.47080214-.11731217.67636363-.26395238.12930482-.0912428.2453476-.20529629.33818182-.33238447.08951872-.12057084.17240642-.237883.25860963-.35845384.0033155-.00651735.0033155-.01303469.00663101-.01955203.01989305-.10101881.0431016-.1922616.06962567-.29002175z"/>
        </g>
        <path fill="rgb(35,31,32)" fill-rule="evenodd" d="M24.30336898 36.46660976c-.06962566 0-.13925133-.01955202-.19893048-.06517342-.14588235-.10753616-.17572192-.31283245-.06631016-.45621398l3.03037433-3.98209634c.10941177-.14338154.31828877-.17270958.46417113-.06517343.14588235.10753616.17572192.31283245.06631016.45621399l-3.03037433 3.98209633c-.06631016.08472546-.1657754.13034685-.26524065.13034685z"/>
        <path fill="rgb(35,31,32)" fill-rule="evenodd" d="M30.78187166 36.36884962c-.09946524 0-.19561498-.04236272-.26192514-.1238295l-3.12983957-3.89411222c-.11272727-.14012286-.08951871-.34541915.05304813-.45621398.14256685-.11079482.35144385-.08798412.46417112.05213874l3.12983958 3.89411221c.11272727.14012287.08951871.34541916-.05304813.45621399-.05636364.04888007-.12930482.07169076-.202246.07169076z"/>
        <path fill="rgb(35,31,32)" fill-rule="evenodd" d="M26.16674805 42.7199707h2.95739746c.7857666 0 1.53503418-.59301757 1.70080566-1.34899902l.71948242-3.24572754c.2652588-.13684082.44104004-.41381836.44104004-.72009277 0-.44970703-.37133789-.81469727-.82897949-.81469727h-7.0222168c-.45751953 0-.82885742.36499024-.82885742.81469727 0 .30627441.17578125.57995605.44091797.72009277l.71618652 3.24572754c.16906739.75598145.91503907 1.34899902 1.70422364 1.34899902zm-2.1982422-5.31481933c0-.0880127.07299806-.16296387.1657715-.16296387h7.0222168c.0895996 0 .16577147.07165527.16577147.16296387 0 .078125-.05297851.14331054-.13256835.15966797-.12597657.02600097-.22875977.1237793-.25524903.25085449l-.75598144 3.41516113c-.0994873.45288086-.5834961.83422852-1.0543213.83422852h-2.95739745c-.4708252 0-.95495606-.38134766-1.05444336-.83422852l-.75585938-3.41516113c-.02648926-.1270752-.12597656-.22485352-.2553711-.2508545-.07946776-.01635742-.13256835-.08154296-.13256835-.15966796z"/>
      </g>
    </g>
  </g>
</svg>
