<div class="ctm-sticky-box">
  <div class="page-width">
    <div class="ctm-sticky-txt">
      <h2>{{ product.title }}</h2>
      {% unless product.collections.first.title contains 'Featured' or product.collections.first.title == 'All' or product.collections.first.title contains 'Home page' %}
      <p>{{ product.collections.first.title }}</p>
      {% endunless %}
    </div>
    <div class="ctm-sticky-btn">
      <div class="">
        {% include 'product-price', variant: product.selected_or_first_available_variant, show_vendor: false, price_format: true %}
        {% unless template contains 'wine-subscriptions'%}
        <p class="ctm-sticky-var">{{ product.selected_or_first_available_variant.title }} <span>Bottles</span></p>
        {% endunless %}
      </div>
      <div class="">
        <button type="button" 
                {% unless product.selected_or_first_available_variant.available %} aria-disabled="true"{% endunless %}
                aria-label="{% unless product.selected_or_first_available_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}"
                class="btn secAddToCart click__addToCart"
                {% if settings.enable_ajax %}aria-haspopup="dialog"{% endif %}
                data-add-to-cart>
          <span data-add-to-cart-text>
            {% unless product.selected_or_first_available_variant.available %}
            {{ 'products.product.sold_out' | t }}
            {% else %}
            {{ 'products.product.add_to_cart' | t }}
            {% endunless %}
          </span>
          <span class="hide" data-loader>
            {% include 'icon-spinner' %}
          </span>
          {% include 'btn-arrow' %}
        </button>
      </div>
    </div>
  </div>
</div>
<style>
/*   .site-header{
    position:static;
  } */
  .site-header, .site-header__mobile-nav{
/*     background-color: #F4F4F2 !important; */
    border-bottom: 0;
  }
  .main-content{
    padding-top:0px; 
  }
</style>