  <div class="product-maker-wrapper page-width">
    <div class="pre-heading"><span>THE MAKER</span></div>
    <div class="heading"><h2>{{ product.metafields.custom_fields["makers_name"] }}</h2></div>
    <div class="maker-content grid">
      <div class="maker-col-1 grid__item medium-up--one-half">
        <h3>{{ product.metafields.custom_fields["makers_section_title"] }}</h3>
        <span class="wj-j"><hr></span>
        {% unless product.metafields.custom_fields["makers_section_text"] contains '<!-- split -->' %}
        <p>{{ product.metafields.custom_fields["makers_section_text"] }}</p>
        {% else %}
        {% assign desc = product.metafields.custom_fields["makers_section_text"] | split: '<!-- split -->'%}
        {{ desc[0] }}
        {% endunless %}
      </div>
      <div class="maker-col-2 grid__item medium-up--one-half">
        <div class="image-wrapper">
          <span class="image-1">
          	{{ product.metafields.custom_fields["makers_section_image_1"] }}
          </span>
          <span class="img-logo">{% include "graphic_stamp-passport-01" %}</span>
          <span class="image-2">
            {{ product.metafields.custom_fields["makers_section_image_2"] }}
          </span>
        </div>
      </div>
      {% if product.metafields.custom_fields["makers_section_text"] contains '<!-- split -->' %}
      <div class="maker-col-1 maker__col_splitText grid__item medium-up--one-whole">
        {% assign desc = product.metafields.custom_fields["makers_section_text"] | split: '<!-- split -->'%}
        {{ desc[1] }}
      </div>
      {% endif %}
    </div>
    <div class="maker-tabs grid">
      <div class="maker-tab-1 grid__item medium-up--one-third">
        <div class="maker-tab">
          <p>{{ product.metafields.custom_fields["makers_tab_1"] }}</p>
        </div>
      </div>
      <div class="maker-tab-2 grid__item medium-up--one-third">
        <div class="maker-tab">
          <p>{{ product.metafields.custom_fields["makers_tab_2"] }}</p>
        </div>
      </div>
      <div class="maker-tab-3 grid__item medium-up--one-third">
        <div class="maker-tab">
          <p>{{ product.metafields.custom_fields["makers_tab_3"] }}</p>
        </div>
      </div>
    </div>
  </div>