<style>
  .custom-blog-section {
    padding: 100px 0;
  }
  .custom-blog-section .section-header {
  	margin-bottom: 0 !important;
  }
  .custom-blog-section .section-header h1 {
    color: #1B3F43;
    font-family: "roslindaletextregular";
    font-size: 54px;
    line-height: 62px;
    text-align: center;
    margin-bottom: 60px;
  }
  .custom-blog-section .section-sub-header {
  	margin-bottom: 0 !important;
  }
  .custom-blog-section .section-sub-header h3 {
    color: #1B3F43;
    font-size: 32px;
    line-height: 42px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 55px;
  }
  .custom-blog-section .article__grid-image-wrapper {
    max-width: 400px !important;
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .custom-blog-section .article__grid-image-wrapper .article__link {
  	width: 100%;
    height: 100%;
  }
  
  .custom-blog-section .article__grid-image-wrapper .custom-blog-content {
  	position: absolute;
    top: 0;
    padding: 50px 30px;
    bottom: 0;
  }
  
  .custom-blog-section .article__grid-image-wrapper .custom-blog-content .article__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .custom-blog-section .article__grid-image-wrapper .custom-blog-content h3 {
  	color: #FFF;
    font-family: "{{ settings.custom_text_font }}";
    font-size: 32px;
    font-weight: 300;
    line-height: 36px;
  }
  
  .custom-blog-section .article__grid-image-wrapper .custom-blog-content .btn--small {
  	color: #FFF;
    font-family: "{{ settings.custom_text_font }}";
    line-height: 26px;
    border: none !important;
    
    padding: 0;
    text-decoration: underline;
    font-weight: 300;
    font-size: 18px;
  }
  
  .article__date time {
  	color: #FFF;
    font-family: "{{ settings.custom_text_font }}";
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
  }
  
  .custom-blog-section .article__grid-image-wrapper img {
    max-width: 400px !important;
    max-height: 500px !important;
  }
  
  .custom-blog-section .article__grid-image-container {
    margin-bottom: 0 !important;
  }
  
  .custom-blog-view-all .btn {
    margin-top: 75px;
    background: #fff;
    border: .5px solid #0A3039;
    border-radius: 45px;
    padding: 23px 150px;
    color: #0A3039;
    font-size: 13.82px;
    font-weight: 700;
    letter-spacing: 2.3px;
    text-align: center;
    position: relative;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .custom-blog-view-all .btn {
    background: #fff !important;
    color: #0A3039 !important;
  }
  .custom-blog-view-all svg {
  	position: absolute;
  	right: 27px;
  } 
</style>

<div class="custom-blog-section">
{% paginate blog.articles by 12 %}

<div class="page-width">
  <header class="section-header text-center">
    <h1>{{ page_title }}</h1>
    {% if blog.tags.size > 0 %}
      <div class="blog-filter">
        <label class="blog-filter__label select-label" for="BlogTagFilter">{{ 'collections.filters.title_tags' | t }}</label>
        <div class="select-group">
          <select id="BlogTagFilter" aria-describedby="a11y-refresh-page-message a11y-selection-message" data-blog-tag-filter>
            <option value="{{ blog.url }}">{{ 'blogs.article.all_topics' | t }}</option>
            {% for tag in blog.all_tags %}
              <option value="{{ blog.url }}/tagged/{{ tag | handleize }}" {% if current_tags contains tag %}selected{% endif %}>{{ tag }}</option>
            {% endfor %}
          </select>
          {% include 'icon-chevron-down' %}
        </div>
      </div>
    {% endif %}
  </header>
</div>


  <div class="page-width">
    <ul class="grid grid--uniform grid--blog">
      {% for article in blog.articles %}
        <li class="grid__item medium-up--one-third">
          <a href="{{ article.url }}" class="article__link">
            {% if article.image %}
              {% capture img_id %}ArticleImage-{{ article.image.id }}{% endcapture %}
              {% capture img_wrapper_id %}ArticleImageWrapper-{{ article.image.id }}{% endcapture %}
              {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

              {% include 'image-style', image: article.image, height: 345, wrapper_id: img_wrapper_id, img_id: img_id %}
              <div id="{{ img_wrapper_id }}" class="article__grid-image-wrapper js">
                <div class="article__grid-image-container" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;" data-image-loading-animation>
                  <img id="{{ img_id }}"
                      class="article__grid-image lazyload"
                      data-src="{{ img_url }}"
                      data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                      data-aspectratio="{{ article.image.aspect_ratio }}"
                      data-sizes="auto"
                      alt="">
                </div>
                
                <div class="custom-blog-content">
                   <span class="article__date">
                     {{ article.published_at | time_tag: format: 'date' }}
                   </span>
                   <h3 class="article__title" id="FeaturedBlogTitle-{{ forloop.index0 }}-{{ section.id }}">
                     {{ article.title }}
                   </h3>
                   <a href="{{ article.url }}" class="btn btn--tertiary btn--small" aria-label="{{ 'blogs.article.read_more_title' | t: title: article.title }}">
                     {{ 'blogs.article.read_more' | t }}
                   </a>
                </div>
              </div>
              <noscript>
                <div class="article__grid-image-wrapper">
                  {{ article | img_url: '345x345', scale: 2 | img_tag: article.title, 'article__grid-image' }}
                </div>
              </noscript>
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

{%- if paginate.pages > 1 -%}
  {% include 'pagination', paginate: paginate %}
{%- endif -%}

{% endpaginate %}

</div>

{% schema %}
{
  "name": {
    "cs": "Stránky blogu",
    "da": "Blogsider",
    "de": "Blogseiten",
    "en": "Blog pages",
    "es": "Páginas del blog",
    "fi": "Blogisivut",
    "fr": "Pages du blog",
    "hi": "ब्लॉग पेज",
    "it": "Pagine del blog",
    "ja": "ブログページ",
    "ko": "블로그 페이지",
    "nb": "Bloggsider",
    "nl": "Blogpagina's",
    "pl": "Strony blogu",
    "pt-BR": "Páginas do blog",
    "pt-PT": "Páginas do blogue",
    "sv": "Bloggsidor",
    "th": "หน้าบล็อก",
    "tr": "Blog sayfaları",
    "vi": "Trang blog",
    "zh-CN": "博客页面",
    "zh-TW": "部落格頁面"
  }
}
{% endschema %}
