{%- if section.settings.image_mobile != blank -%}
<style>
  @media(max-width: 425px) {
    #Hero-{{ section.id }} {
      background-image: url({{ section.settings.image_mobile | img_url: '425x' }}) !important; 
    }
  }
  
</style>
{%- endif -%}
 
{%- if section.settings.hero_layout == 'full_width' and section.settings.hero_size == 'adapt' -%} 
  {%- if section.settings.image.aspect_ratio == blank -%} 
    {%- assign min_aspect_ratio = 2.0 -%} 
  {%- else -%}
    {%- assign min_aspect_ratio = section.settings.image.aspect_ratio -%}
  {%- endif -%}
  {%- assign wrapper_height = 100 | divided_by: min_aspect_ratio -%}
  {%- style -%}
    .hero-{{ section.id }} {
      height: {{- wrapper_height -}}vw !important;
    }
  {%- endstyle -%}
{%- endif -%}
<div class="subsections-{{section.id}}" data-section-id="{{ section.id }}" data-section-type="hero-section" class="{% if section.settings.section_class %}{{section.settings.section_class}}{% endif %}">
  {%- if section.settings.hero_layout == 'fixed_width' -%} 
    <div class="page-width">
  {%- endif -%}
  {%- if section.settings.hero_layout == 'fixed_width' and section.settings.hero_size ==  'adapt' -%}
    {%- assign slide_width = 1090 -%}
    {%- assign min_aspect_ratio = section.settings.image.aspect_ratio | default: 2.0 -%}
    <div class="img-sectionss hero-fixed-width hero--adapt"
         id="Hero-{{ section.id }}"
         data-layout="{{ section.settings.hero_layout }}"
         data-image-loading-animation>
      {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
      {%- if section.settings.image.width < max_width -%} 
        {%- assign slide_width = section.settings.image.width -%} 
      {%- endif -%}
      <div class="hero-fixed-width__content">
        <div class="page-width text-center">
          {%- if section.settings.title != blank -%}
            <h2 class="h1 mega-title{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}">{{ section.settings.title | escape }}</h2>
          {%- endif -%}
          {%- if section.settings.text != blank -%}
            <div class="rte-setting mega-subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">{{ section.settings.text }}</div>
          {%- endif -%}
          {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
            <a href="{{ section.settings.button_link }}" class="btn hero__btn">
              {{ section.settings.button_label | escape }}
            </a>
          {%- endif -%}
        </div>
      </div>
      {%- if section.settings.image != blank -%}
        <img class="img-sectionss hero-fixed-width__image lazyload lazypreload"
             data-src="{{ img_url }}"
             data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
             data-aspectratio="{{ section.settings.image.aspect_ratio }}"
             data-sizes="auto"
             style="{%- if slide_width <= max_width -%}
                      {%- assign min_width = slide_width | times: 100 | divided_by: max_width -%}
                      min-width: {{ min_width }}%;
                    {%- endif -%}
                    object-position: {{ section.settings.alignment }};"  
             alt="{{ section.settings.image.alt | escape }}">
      {%- else -%}
        <span>
          {% capture current %}{% cycle 1, 2 %}{% endcapture %}
          {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        </span>
      {%- endif -%}
      <noscript>
        <div class="hero-fixed-width__image"{% if section.settings.image %}{% unless section.settings.image.alt == blank %} role="img" aria-label="{{ section.settings.image.alt | escape }}"{% endunless %} style="background-image: url('{{ section.settings.image | img_url: '2048x' }}'); background-position: center {{ section.settings.alignment }};"{% endif %}></div>
      </noscript>
    </div>
  {%- else -%}
    <div class="img-sectionss hero hero--{{ section.settings.hero_size }} hero-{{ section.id }}{% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %} hero__overlay{% endif %} box ratio-container lazyload js"
         id="Hero-{{ section.id }}"
         data-layout="{{ section.settings.hero_layout }}"
         {%- if section.settings.image -%}
          {% unless section.settings.image.alt == blank %}
          role="img"
          aria-label="{{ section.settings.image.alt | escape }}" 
          data-alt="{{ section.settings.image.alt | escape }}"
          {% endunless %}
         data-bg="{{ section.settings.image | img_url: '300x300' }}"
         data-bgset="{% include 'bgset', image: section.settings.image %}"
         data-sizes="auto"
         data-parent-fit="cover"
         style="background-position: {{ section.settings.alignment }};"
         data-image-loading-animation
         {%- endif -%}>
    {%- if section.settings.image == blank -%}
      <div class="placeholder-background">
        {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
      </div>
    {%- endif -%}
      <div class="hero__inner">
        <div class="page-width text-center hero__inner-content">
          <span class="animate__animated animate__fadeIn hero_main_logo">
            {% comment %}
            {% if section.settings.overlay_image != blank %}
            	<img src="{{ section.settings.overlay_image | img_url: "original" }}">
            {% endif %}
            
           {% if section.settings.hide_svg_logo %}
            	{% include 'logo_full' %}
            {% endif %}
             {% endcomment %}
            
            {% if section.settings.logo_img == true %}
            <img src="{{ section.settings.image_logo | img_url: 'master' }}" class="logos-icn">
            {% endif %}
          </span>

          {%- if section.settings.title != blank -%}
            <h2 class="animate__animated animate__fadeIn h1 mega-title{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}">{{ section.settings.title | escape }}</h2>
          {%- endif -%}
          {%- if section.settings.text != blank -%}
            <div class="custom-content-area animate__animated animate__fadeIn rte-setting mega-subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">{{ section.settings.text }}</div>
          {%- endif -%}
          {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
            {%- capture ariaLabel -%}
              {{- section.settings.button_label -}}
              {%- if section.settings.button_link.type == 'frontpage_link' -%}
                : {{ 'homepage.general.title' | t -}}
              {%- elsif section.settings.button_link.type == 'catalog_link' -%}
                : {{ 'collections.catalog.title' | t -}}
              {%- elsif section.settings.button_link.object.title -%}
                : {{ section.settings.button_link.object.title -}}
              {%- endif -%}
            {%- endcapture -%}

            <a href="{% if template contains 'product' %}#{% else %}{{ section.settings.button_link }}{% endif %}"
              class="btn hero__btn animate__animated animate__fadeIn animate__delay-1s {% if template contains 'product' %}click__addToCart{% endif %}"
              aria-label="{{ ariaLabel }}">
              {{- section.settings.button_label | escape -}}
              {% include 'btn-arrow' %}
            </a>
          {%- endif -%}
        </div>
      </div>
    </div>
    <noscript>
      <div class="hero hero--{{ section.settings.hero_size }}{% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %} hero__overlay{% endif %}"{% if section.settings.image %}{% unless section.settings.image.alt == blank %} role="img" aria-label="{{ section.settings.image.alt | escape }}"{% endunless %} style="background-image: url('{{ section.settings.image | img_url: '2048x' }}'); background-position: center {{ section.settings.alignment }};"{% endif %}></div>
    </noscript>
  {%- endif -%}
  {%- if section.settings.hero_layout == 'fixed_width' -%}
    </div>
  {%- endif -%}
</div>


<style>
.img-sectionss::before {
  background-color: rgb(0,0,0, {{section.settings.bg_opacity}}) !important;
    opacity: 1 !important;
    border-radius: 20px;
  }

  .img-sectionss {
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px;
  }
  .img-sectionss .mega-title {
    margin-bottom: 8px;
    color: {{section.settings.title_color}} !important;   
    font-family: "roslindaletextregular";
    font-weight: normal;
    text-shadow: 7px 5px 34px rgb(0 0 0 / 51%);
  }
  .custom-content-area {
    padding-top: 13px;
  }
  .custom-content-area p{
    color: {{section.settings.title_color}} !important;
  }

  .custom-img-sect .hero__inner-content .hero_main_logo svg path {
    fill: {{section.settings.icon_color}} !important;
  }

  
  
  /*****right****/
  {% if section.settings.icon_alignment == 'right' %}
  .custom-img-sect .hero__inner-content .hero_main_logo svg {
    width: 26%;
    position: absolute;
    height: auto;
    top: 0;
    padding: 22px 22px 12px 22px;
    right: 0;
    /* background-color: #000; */
    transform: translateX(0)translateY(0);
  }

  {% elsif section.settings.icon_alignment == 'center' %} 

  /*****center****/ 

  .custom-img-sect .hero__inner-content .hero_main_logo svg {
    width: 26%;
    position: absolute;
    height: auto;
    top: 0;
    padding: 22px 22px 12px 22px;
    left: 50%;
    transform: translateX(-50%)translateY(0%);
  } 

  {% elsif section.settings.icon_alignment == 'left' %} 

  /********left**********/  
  .custom-img-sect .hero__inner-content .hero_main_logo svg {
    width: 26%;
    position: absolute;
    height: auto;
    top: 0;
    padding: 22px 22px 12px 22px;
    left: 0;
    /* background-color: #000; */
    transform: translateX(0%)translateY(0);
  }
  {% endif %}

  .custom-img-sect {
    padding-bottom: 0px !important;
  }
  
  .subsections-{{section.id}}{
    margin-top: {{section.settings.margin_top}}px;
    margin-bottom: {{section.settings.margin_bottom}}px;
  }  
  
  
  @media (max-width: 768px) {

    .custom-img-sect .hero__inner-content .hero_main_logo svg {
      width: 55%;
      padding: 10px 20px 10px 20px;
    }

  }
  
  
</style>


{% schema %}
{
  "name": "Custom Image Section",
  "class": "custom-img-sect",
  "settings": [
    {
		"type": "text",
		"id": "section_class",
		"label": "Section Class" 
	},
	{
      "type": "range",
      "id": "margin_top",
      "label": "Margin Top",
      "min": 0,
      "max": 100,
      "step": 1,
	  "unit": "px",
      "default": 50
    },
	{
      "type": "range",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
	  "unit": "px",
      "default": 50
    },
	{
      "type": "image_picker",
      "id": "image",
      "label":"Image"
    },
	{
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Image - Mobile View"
    },
	{
      "type": "image_picker",
      "id": "image_logo",
      "label": "Image Logo"
    },
    {
		"type": "checkbox",
		"id": "logo_img",
		"label": "Show Logo",
		"default": true
    },
    {
      "type": "select",
      "id": "icon_alignment",
      "label": "Image alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Top Left"
        },
        {
          "value": "center",
          "label": "Top Center"
        },
        {
          "value": "right",
          "label": "Top right"
        }
      ]
    },
    {
		"type": "color",
		"id": "icon_color",
		"label": "Icon Color",
		"default": "#ffffff"
    },

    {
      "type": "select",
      "id": "alignment",
      "label": "Image alignment",
      "default": "center",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Middle"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "select",
      "id": "hero_layout", 
      "label": "Layout",
      "default": "full_width",
      "options": [
        {
          "label": "Full width",
          "value": "full_width"
        },
        {
          "label": "Fixed width",
          "value": "fixed_width"
        }
      ]
    },
    {
      "type": "select",
      "id": "hero_size",
      "label": "Section height",
      "default": "medium",
      "options": [
        {
          "label": "Adapt to image",
          "value": "adapt"
        },
        {
          "label": "Extra Small",
          "value": "x-small"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Extra Large",
          "value": "x-large"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "Text size",
      "default": "medium",
      "options": [
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        }
      ]
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Text Color",
      "default":"#ffffff"
    },
    {
      "type": "text",
      "id": "bg_opacity",
      "label": "Background Opacity",
      "default":"0.5"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default":"Image with text overlay"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"        
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "name": "Custom Image Section",
      "category": "Image"
    }
  ]
}
{% endschema %}
