<style>

</style>

{%- assign product = all_products[section.settings.product] -%} 

  <div class="page-width product-slider-wrapper">
    <div class="product-slider-graphic"> 
      <span class="graphic_or">OR</span>
      <span class="swirl small--hide">{% include 'graphic_swirl-left-lrg' %}</span>
      <span class="swirl mobile__swirl medium-up--hide">
        <svg xmlns="http://www.w3.org/2000/svg" width="307" height="122" viewBox="0 0 307 122">
          <path fill="none" stroke="rgb(65,141,147)" stroke-dasharray="2 6 2 6" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M98.9175812 121.00006131c5.49438316-39.50000617 31.9675154-56.0000359 100.39813238-38.50011278 68.43061696 17.49992313 99.89868726 4.49988779 105.89257168-28.00011895C311.20216968 21.99982285 282.23152826.9998554 249.76445654.99989186c-38.474198.00004322-105.47917315 58.18202556-142.35555306 61.50015992C62.9539944 66.5001017-.18142519 47.55664819 1.01675526 16.50017128"></path>
        </svg>
      </span>
      {% include 'icon_plane' %}
    </div>
    
    <div class="grid"> 
      <div class="grid__item medium-up--two-eighths product-slider-col-1">
        <div class="product-slider-col-1-wrapper">
          {% if section.settings.title != blank %}
            <div class="section-header">
              <h2>{{ section.settings.title | escape }}</h2>
              {% if section.settings.short_title != blank %}
              <h2 class="medium-up--hide">{{ section.settings.short_title }}</h2>
              {% endif %}
            </div>
          {% endif %}

          {% if section.settings.sub_title != blank %}
            <div class="section-sub-header">
              {{ section.settings.sub_title }}
            </div>
          {% endif %}

          {% if section.settings.button_label_1 != blank and section.settings.button_link_1 != blank %}
            <a href="{{ section.settings.button_link_1 }}"
               class="btn btn--secondary btn--small btn-product-slider color-1">
              {{- section.settings.button_label_1 | escape -}}
              {% include 'btn-arrow' %}
            </a>
          {% endif %}
          
          {% if section.settings.button_label_2 != blank and section.settings.button_link_2 != blank %}
            <a href="{{ section.settings.button_link_2 }}"
               class="btn btn--secondary btn--small btn-product-slider color-2">
              {{- section.settings.button_label_2 | escape -}}
              {% include 'btn-arrow' %}
            </a>
          {% endif %}
          
          {% if section.settings.button_label_card != blank and section.settings.button_link_card != blank %}
              <a href="{{ section.settings.button_link_card }}"
                 class="btn btn--secondary btn--small btn-product-slider-mob color-4">
                {{- section.settings.button_label_card | escape -}}
                {% include 'btn-arrow' %}
              </a>
            {% endif %}
        </div>
      </div>
      <div class="grid__item medium-up--three-eighths product-slider-col-2">
        <div class="product-slider-col-2-wrapper">
          <div class="card-image-wrapper">
            {% if section.settings.card_image %}
              <img src="{{ section.settings.card_image | img_url: '1024x'}}">
            {% endif %}
          </div>
          <div class="card-content-wrapper text-center">
            {% if section.settings.card_title != blank %}
              <div class="section-header text-center">
                <h2>{{ section.settings.card_title | escape }}</h2>
              </div>
            {% endif %}

            {% if section.settings.button_label_card != blank and section.settings.button_link_card != blank %}
              <a href="{{ section.settings.button_link_card }}"
                 class="btn btn--secondary btn--small btn-product-slider color-3">
                {{- section.settings.button_label_card | escape -}}
                {% include 'btn-arrow' %}
              </a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="grid__item medium-up--three-eighths product-slider-col-3">
        <div class="product-slider-col-wrapper">
          <a href="{{ product.url }}">
          <div class="product_details">
            <span class="product-title">{{product.title}}</span>
            <br>
            <span class="product-price">{{ product.first_available_variant.metafields.custom_fields["single_product_price"] | times: 100.0 | money_without_trailing_zeros }}</span>
          </div>
          
          {% assign images = product.media | where: "media_type", "image" %}
          <div class="product-images">
            <div class="single-product-slider">
              {% for image in images %}
              	<div class="image-container"><img src="{{ image | img_url: '1024x' }}" height="530" width="auto"></div>
              {% endfor %}
            </div>
            <span class="prev-product">
              {% include 'btn-arrow' %}
            </span>
            <span class="next-product">
              {% include 'btn-arrow' %}
            </span>
          </div>
          </a>
        </div>
      </div>
    </div>
    
  </div>


{% schema %}
{
  "name": "Custom Featured Product", 
  "class": "custom-product-slider",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
	{
      "type": "text",
      "id": "short_title",  
      "label": "Short Heading",
	  "default":"Choose your own adventure"
    },
	{
      "type": "richtext",
      "id": "sub_title",  
      "label": "Sub Heading"
    },
	{
      "type": "text",
      "id": "button_label_1",
      "label": "Button 1 Label" 
    },
    {
      "type": "url",
      "id": "button_link_1",
      "label": "Button 1 Link"
    },
    {
      "type": "text",
      "id": "button_label_2",
      "label": "Button 2 Label"
    },
    {
      "type": "url",
      "id": "button_link_2",
      "label": "Button 2 Link"
    },
	{
      "type": "text",
      "id": "card_title",
      "label": "Shop Card Heading"
    },
	{
      "type": "image_picker",
      "id": "card_image",
      "label": "Shop Card Image"
    },
	{
      "type": "text",
      "id": "button_label_card",
      "label": "Card Button Label"
    },
    {
      "type": "url",
      "id": "button_link_card",
      "label": "Card Button Link"
    },
	{
	  "type": "product",
	  "id": "product",
	  "label": "Featured Product"
	}
  ],
  "presets": [
    {
      "name": "Custom Featured Product",
      "category": "Custom Section"
    }
  ]
}
{% endschema %}