<style>
  .custom-section-1 {
	padding: 80px 0;
  } 
  .custom-section-1__wrapper { 
    padding: 100px 0;
	background-image: url({{ 'Ellipse_2.png' | asset_url }});  
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
</style>

<div class="custom-section-1__wrapper">
  {% if section.settings.text_1 %}
  	<p class="custom-section-1__text1">{{section.settings.text_1}}</p>
  {% endif %}
  
  {% if section.settings.heading %}
  	<h2 class="custom-section-1__heading">{{section.settings.heading}}</h2>
  {% endif %}
  
   
  {% if section.settings.sub_heading %} 
  	<div class="custom-section-1__sub-heading">{{section.settings.sub_heading}}</div>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Custom Section 1",
	"class": "custom-section-1",
    "settings": [
		{
			"type": "text",
			"id": "text_1",
			"label": "Text above Heading"
		},
		{
			"type": "text",
			"id": "heading",
			"label": "Heading"
		},
		{
			"type": "richtext",
			"id": "sub_heading",
			"label": "Sub-Heading"
		}
	],
	"presets": [
    {
      "name": "Custom Section 1",
      "category": "Custom Section"
    }
  ]
  }
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
