<style>
  .testimonial-section {
    background-image: url({{ "Tall_Bg.png" | asset_url }});
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 30px;
  }
  
  .testimonial-section .grid {
  	margin-left: 0 !important;
  }
  
  .testimonial-wrapper {
  	background: white;
  }
  
  .testimonial-content {
  	position: relative;
    padding: 20px 60px 20px 100px;
    
    display: flex;
    align-items: center;
  }
  
  .testimonial-content .section-pre-header span {
    color: #1B3F43;
    font-family: "{{ settings.custom_text_font }}";
    font-size: 12px;
    letter-spacing: 4px;
    line-height: 20px;
  }
  
  .testimonial-content .section-header {
  	margin-bottom: 0 !important;
  }
  
  .testimonial-content .section-header h2 {
    color: #1B3F43;
    font-family: "{{ settings.custom_heading_font }}";
    font-size: 54px;
    line-height: 54px;
    text-transform: inherit !important;
    letter-spacing: 0px !important;
    
  }
  
  .testimonial-content .section-sub-header p {
    color: #222;
    font-family: Arial;
    font-size: 13px;
    line-height: 26px;
  }
  
  .testimonial-content-wrapper {
    z-index: 5;
  }
  
  .testimonial-section .quotes-slide {
    width: 300px;
  }
  
  .slick-arrow:hover {
    cursor: pointer;
  }
  
  .slick-arrow {
    padding: 15px 14px;
    border-radius: 50px;
    display: inline-flex;
    transition: .2s;
  }
  
  .testimonial-slider-nav svg {
    width: 14px;
    height: 12px;
  }
  
  .testimonial-slider-nav svg path {
  	fill: #0A3039;
    transition: .2s;
  }
  
  .testimonial-slider-nav .prev svg {
  	transform: rotate(180deg);
  }
  .testimonial-slider-nav .next svg {
  	transform: rotate(180deg);
  }
  
  .testimonial-slider-nav .prev:hover, .testimonial-slider-nav .next:hover {
    background: #0A3039;
    transition: .2s;
  }
  
  .testimonial-slider-nav .prev:hover svg path, .testimonial-slider-nav .next:hover svg path {
    fill: #fff;
    transition: .2s;
  }
  
  .j-logo {
    position: absolute;
    top: -24px;
    left: 45px;
  }
  
  @media (max-width: 425px) {
    .testimonial-section {
      padding-top: 60px;
      padding-bottom: 30px;
    }
    .testimonial-content .section-header h2 {
      font-size: 40px;
      line-height: 40px;
    }
  }
</style>

<div class="testimonial-section" data-section-id="{{ section.id }}" data-section-type="quotes">
  
  <div class="grid">
    <div class="grid__item medium-up--one-third testimonial-content">
      <span class="j-logo">
      	{% include 'icon_logo-symbolic' %}
      </span>
      <div class="testimonial-content-wrapper">
        {% if section.settings.pre_title != blank %}
          <div class="section-pre-header">
            <span>{{ section.settings.pre_title | escape }}</span>
          </div>
        {% endif %}

        {% if section.settings.title != blank %}
          <div class="section-header">
            <h2>{{ section.settings.title | escape }}</h2>
          </div>

        {% endif %}
        {% if section.settings.sub_title != blank %}
          <div class="section-sub-header">
            {{ section.settings.sub_title }}
          </div>
        {% endif %}
      </div>
    </div>
    <div class="grid__item medium-up--two-thirds testimonial-slider-content">
       {% if section.blocks.size > 0 %}
            <div class="quotes-slider testimonial-slider" id="Quotes-{{ section.id }}" data-count="{{ section.blocks.size }}" data-slider-track>
              {% for block in section.blocks %}
                <div id="slickSlide{{ block.id }}"
                  class="quotes-slide quotes-slide--{{ block.id }}{% if section.blocks.size == 1 %} quotes-slide--single{% endif %}"
                  aria-labelledby="slickDot{{ block.id }}"
                  {{ block.shopify_attributes }}
                  data-slider-slide-index="{{ forloop.index0 }}"
                  data-slider-item>
                  <div class="testimonial-wrapper">
                    <blockquote class="quotes-slider__text text-center">

                      <div class="testimonial-row-1">
                        <div class="testimonial-col-1">
                          {% if block.settings.image_testimonial %}
                            <img src="{{ block.settings.image_testimonial | img_url }}">
                          {% endif %}
                        </div>

                        <div class="testimonial-col-2">
                          {% if block.settings.author != blank %}
                            <p class="author">{{ block.settings.author | escape }}</p>
                          {% endif %}

                          <div class="testimonial-info">
                            {% if block.settings.rating %}
                                <div class="star-rating-wrapper">
                                  {% for i in (1..block.settings.rating) %}
                                    <img src="{{ "star.png" | asset_url }}">
                                  {% endfor %}
                                </div>
                            {% endif %}

                            {% if block.settings.votes != blank %}
                                <span class="votes">{{ block.settings.votes }} votes</span>
                            {% endif %}
                          </div>

                        </div>

                      </div>

                      {% if block.settings.quote != blank %}
                        <div class="rte-setting rte">{{ block.settings.quote }}</div>
                      {% endif %}

                    </blockquote>
                  </div>
                </div>
              {% endfor %}
            </div>

            <div class="testimonial-slider-nav">
              <span class="prev">{% include 'btn-arrow' %}</span>
              <span class="next">{% include 'btn-arrow' %}</span>
            </div>

      {% endif %}
    </div>
  </div>

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
</div>


{% schema %}
{
  "name": {
    "cs": "Ohlasy",
    "da": "Udtalelser",
    "de": "Testimonials",
    "en": "Testimonials",
    "es": "Testimonios",
    "fi": "Suositukset",
    "fr": "Témoignages",
    "hi": "प्रमाणपत्र",
    "it": "Testimonial",
    "ja": "お客様の声",
    "ko": "추천",
    "nb": "Tilbakemeldinger fra kunder",
    "nl": "Getuigenissen",
    "pl": "Referencje",
    "pt-BR": "Depoimentos",
    "pt-PT": "Depoimentos",
    "sv": "Kundberättelser",
    "th": "เสียงชื่นชมจากลูกค้า",
    "tr": "Kullanıcı görüşleri",
    "vi": "Chứng thực",
    "zh-CN": "感言",
    "zh-TW": "推薦文"
  },
  "class": "custom-testimonial-section",
  "max_blocks": 9,
  "settings": [
	{
	  "type": "text",
	  "id": "pre_title",
	  "label": "Pre Heading"
	},
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": {
        "cs": "Ohlasy",
        "da": "Udtalelser",
        "de": "Testimonials",
        "en": "Testimonials",
        "es": "Testimonios",
        "fi": "Suositukset",
        "fr": "Témoignages",
        "hi": "प्रमाणपत्र",
        "it": "Testimonial",
        "ja": "お客様の声",
        "ko": "추천",
        "nb": "Tilbakemeldinger fra kunder",
        "nl": "Getuigenissen",
        "pl": "Referencje",
        "pt-BR": "Depoimentos",
        "pt-PT": "Depoimentos",
        "sv": "Kundberättelser",
        "th": "เสียงชื่นชมจากลูกค้า",
        "tr": "Kullanıcı görüşleri",
        "vi": "Chứng thực",
        "zh-CN": "感言",
        "zh-TW": "推薦文"
      }
    },
	{
	  "type": "richtext",
	  "id": "sub_title",
	  "label": "Sub Heading Text"
	}
  ],
  "blocks": [
    {
      "type": "quote",
      "name": {
        "cs": "Ohlas",
        "da": "Udtalelse",
        "de": "Testimonial",
        "en": "Testimonial",
        "es": "Testimonio",
        "fi": "Suositukset",
        "fr": "Témoignages",
        "hi": "प्रमाणपत्र",
        "it": "Testimonial",
        "ja": "お客様の声",
        "ko": "추천",
        "nb": "Anbefaling",
        "nl": "Testimonial",
        "pl": "Referencja",
        "pt-BR": "Depoimento",
        "pt-PT": "Testemunho",
        "sv": "Kundberättelser",
        "th": "เสียงชื่นชมจากลูกค้า",
        "tr": "Kullanıcı görüşü",
        "vi": "Chứng thực",
        "zh-CN": "感言",
        "zh-TW": "推薦文"
      },
      "settings": [
        {
          "type": "richtext",
          "id": "quote",
          "label": {
            "cs": "Text",
            "da": "Tekst",
            "de": "Text",
            "en": "Text",
            "es": "Texto",
            "fi": "Teksti",
            "fr": "Texte",
            "hi": "टेक्स्ट",
            "it": "Testo",
            "ja": "テキスト",
            "ko": "텍스트",
            "nb": "Tekst",
            "nl": "Tekst",
            "pl": "Tekst",
            "pt-BR": "Texto",
            "pt-PT": "Texto",
            "sv": "Text",
            "th": "ข้อความ",
            "tr": "Metin",
            "vi": "Văn bản",
            "zh-CN": "文本",
            "zh-TW": "文字"
          },
          "default": {
            "cs": "<p>Přidejte recenze a ohlasy zákazníků, které vyjadřují jejich spokojenost s vaším obchodem.</p>",
            "da": "<p>Tilføj kundeanmeldelser og udtalelser for at fremhæve din butiks tilfredse kunder.</p>",
            "de": "<p>Kunden-Reviews und Testimonials, die Kundenzufriedenheit beweisen.</p>",
            "en": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>",
            "es": "<p>Agrega las reseñas y los testimonios de los clientes para mostrar a los clientes satisfechos de tu tienda.</p>",
            "fi": "<p>Lisää asiakasarviointeja ja suositteluja esimerkeiksi myymäläsi tyytyväisistä asiakkaista.</p>",
            "fr": "<p>Ajoutez des avis et témoignages pour mettre en avant vos clients satisfaits.</p>",
            "hi": "<p>अपने स्टोर के खुश ग्राहकों को दिखाने के लिए ग्राहक समीक्षा और प्रशंसापत्र जोड़ें.</p>",
            "it": "<p>Aggiungi recensioni e testimonianze sul tuo negozio per dimostrare che i clienti sono soddisfatti.</p>",
            "ja": "<p>あなたのストアの幸せなお客様を紹介するために、カスタマーレビューとお客様の声を追加してください。</p>",
            "ko": "<p>고객 리뷰 및 추천을 추가하여 스토어에 만족한 고객을 보여주십시오.</p>",
            "nb": "<p>Legg til kundeomtaler og anbefalinger for å vise frem butikkens glade kunder.</p>",
            "nl": "<p>Voeg beoordelingen van klanten en testimonials toe om te laten zien dat je klanten tevreden zijn.</p>",
            "pl": "<p>Dodaj opinie i referencje od klientów, aby pokazać zadowolenie klientów Twojego sklepu.</p>",
            "pt-BR": "<p>Adicione comentários e depoimentos para dar destaque aos clientes satisfeitos com a sua loja.</p>",
            "pt-PT": "<p>Adicione análises e testemunhos para mostrar os clientes felizes da sua loja.</p>",
            "sv": "<p>Lägg till kundrecensioner och berättelser för att visa upp din butiks nöjda kunder.</p>",
            "th": "<p>เพิ่มรีวิวและเสียงชื่นชมจากลูกค้าเพื่อนำเสนอลูกค้าที่ได้รับความพึงพอใจจากร้านค้า</p>",
            "tr": "<p>Müşteri değerlendirmeleri ve kullanıcı görüşleri ekleyerek mağazanızdan memnun kalan müşterileri gösterin.</p>",
            "vi": "<p>Thêm đánh giá và chứng thực từ khách hàng để chứng minh khách hàng hài lòng với cửa hàng.</p>",
            "zh-CN": "<p>添加客户评论和感言，以展示对您的商店满意的客户。</p>",
            "zh-TW": "<p>新增顧客評論和推薦文，展示對您商店滿意之顧客。</p>"
          }
        },
        {
          "type": "text",
          "id": "author",
          "label": {
            "cs": "Autor",
            "da": "Forfatter",
            "de": "Autor",
            "en": "Author",
            "es": "Autor",
            "fi": "Kirjoittaja",
            "fr": "Auteur",
            "hi": "लेखक",
            "it": "Autore",
            "ja": "執筆者",
            "ko": "작성자",
            "nb": "Forfatter",
            "nl": "Auteur",
            "pl": "Autor",
            "pt-BR": "Autoria",
            "pt-PT": "Autoria",
            "sv": "Upphovsman",
            "th": "ผู้เขียน",
            "tr": "Yazar",
            "vi": "Tác giả",
            "zh-CN": "作者",
            "zh-TW": "作者"
          },
          "default": {
            "cs": "Jméno autora",
            "da": "Forfatterens navn",
            "de": "Name des Autors",
            "en": "Author's name",
            "es": "Nombre del autor",
            "fi": "Kirjoittajan nimi",
            "fr": "Nom de l'auteur",
            "hi": "लेखक का नाम",
            "it": "Nome dell'autore",
            "ja": "筆者の名前",
            "ko": "작성자 이름",
            "nb": "Forfatterens navn",
            "nl": "Naam auteur",
            "pl": "Nazwisko autora",
            "pt-BR": "Nome do autor",
            "pt-PT": "Nome do autor",
            "sv": "Författarens namn",
            "th": "ชื่อผู้เขียน",
            "tr": "Yazar adı",
            "vi": "Tên tác giả",
            "zh-CN": "作者姓名",
            "zh-TW": "作者名稱"
          }
        },
		{
			"type": "range",
            "id": "rating",
            "min": 0,
            "max": 5,
            "step": 1,
            "label": "Rating",
            "default": 0
		},
		{
			"type": "text",
            "id": "votes",
            "label": "Votes",
			"info": "Only Numbers"
		},
		{
			"type": "image_picker",
            "id": "image_testimonial",
            "label": "Testimonial Image"
		}
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Testimonials",
      "category": "Custom Section",
      "blocks": [
        {
          "type": "quote"
        },
        {
          "type": "quote"
        },
        {
          "type": "quote"
        }
      ]
    }
  ]
}
{% endschema %}
