{% if section.settings.enable_section == true %}
<div class="custom__featured_article">
  <div class="page-width">
    {% assign article = articles[section.settings.featured_article] %}
    <div class="grid grid__uniform">
      <div class="grid__item medium-up--one-half">
        <div class="fa__content">
          <h3>{{ article.title }}</h3>
          <div class="fa__article_excerpt">
            <div class="rte article__grid-excerpt">
              {% if article.excerpt.size > 0 %}
              {{ article.excerpt }}
              {% else %}
              {{ article.content | strip_html | truncate: 300 }}
              {% endif %}
            </div>
            <a href="{{ article.url }}" class="btn fa__btn" aria-label="{{ 'blogs.article.read_more_title' | t: title: article.title }}">
              {{ 'blogs.article.read_more' | t }}
            </a>
          </div>
        </div>
      </div>
      <div class="grid__item medium-up--one-half">
        <a href="{{ article.url }}" class="article__link">
          <img id="{{ article.id }}" class="fa__img lazyload" src="{{ article.image | img_url: '500x500' }}" alt="{{ article.title }}">
        </a>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% schema %}
  {
    "name": "Custom Featured Article",
    "settings": [
      {
        "type":"checkbox",
        "id":"enable_section",
        "label":"Enable section",
		"default": false
      },
      {
        "type":"article",
        "id":"featured_article",
        "label":"Featured Article"
      }
	]
  }
{% endschema %}