<div class="card-wrapper">
  <div class="bottle-card test {% unless section.settings.arrow_show %}no-arrow{% endunless %}">
    {% assign taste-of = taste_of | default: section.settings.taste_of %}
    {% if taste-of == false %}
		{% if product.compare_at_price > product.price %} <span class="on-sale">On Sale</span> {% endif %}
    {% endif %}
    <div class="stamp">
      {% for tag in product.tags %}
      {% unless tag != "93 Points" %}
      <img src="{{ "point93.png" | asset_url }}" width="100" height="auto">
      {% endunless %}
      {% unless tag != "94 Points" %}
      <img src="{{ "point94.png" | asset_url }}" width="100" height="auto">
      {% endunless %}
      {% unless tag != "95 Points" %}
      <img src="{{ "point95.png" | asset_url }}" width="100" height="auto">
      {% endunless %}
      {% unless tag != "96 Points" %}
      <img src="{{ "point96.png" | asset_url }}" width="100" height="auto">
      {% endunless %}
      {% unless tag != "97 Points" %}
      <img src="{{ "point97.png" | asset_url }}" width="100" height="auto">
      {% endunless %}
      {% unless tag != "98 Points" %}
      <img src="{{ "point98.png" | asset_url }}" width="100" height="auto">
      {% endunless %}
      {% unless tag != "99 Points" %}
      <img src="{{ "point99.png" | asset_url }}" width="100" height="auto">
      {% endunless %}
      {% endfor %}
    </div>
    {%- include 'product-stamps', product: product -%}
    <a href="{{ product.url }}">
     
      <div class="img-container">
        {% capture img_id %}TextColumnImage-{{ block.id }}{% endcapture %}
        {% capture wrapper_id %}TextColumnImageWrapper-{{ block.id }}{% endcapture %}
        {% assign mode = 1 %}
        {% if section.settings.arrow_show %}
          {% assign mode = section.settings.grid %}
        {% endif %}
        {% if product_image == blank and hover_image == blank %}

          {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <div style="padding-top:{{ 1 | divided_by: product.featured_image.aspect_ratio | divided_by: mode | times: 100}}%;">
            <img id="{{ img_id }}"
                class="feature-row__image lazyload"
                data-src="{{ img_url }}"
                data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                data-sizes="auto"
                alt="{{ product.featured_image.alt | escape }}">
          </div>
          <span class="bg-c"></span>
        {% else %}
          {%- assign img_url = product_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <div style="padding-top:{{ 1 | divided_by: product_image.aspect_ratio | times: 100}}%;">
            <img id="{{ img_id }}"
                class="feature-row__image lazyload"
                data-src="{{ img_url }}"
                data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                data-aspectratio="{{ product_image.aspect_ratio }}"
                data-sizes="auto"
                alt="{{ product_image.alt | escape }}">
          </div>
          <span class="bg-c"></span>
        {% endif %}
      </div>
    </a>
    <div class="content-container">
      <div class="text">
        <h3 {{ button_text }}>{{product.title}}</h3>
        {% assign show_vendor = show_vendor | default: section.settings.show_vendor %}
        {% comment %}
          {%  if taste-of == true %}
            <div class="sub-heading">Three Wine Pack</div>
          {% endif %}
        {% endcomment %}
       	{% if show_vendor %}
          <div class="sub-heading">{{ product.vendor }}</div>
        {% else %}
          <span class="sub-heading">{{ product.metafields.custom_fields["location"] }}</span> 
        {% endif %}
      </div>
      <div class="price">
        {% assign selectedVar = product.selected_or_first_available_variant %}
        {% if selectedVar.metafields.custom_fields["single_product_price"] != blank %}
        <span>{{ selectedVar.metafields.custom_fields["single_product_price"] | times: 100.0 | money | remove: '.00' }}</span>
        {% else %}
        {% if taste-of == false %}
        	<span class="price-old">{{ product.compare_at_price | money | remove: '.00' }}</span>
        {% endif %}
        <span>{{ product.price | money | remove: '.00' }}</span>
        {% endif %}
      </div>
    </div>
    {% assign button_text = button_text | default: section.settings.item_button_text %}
    <a class="btn-view-item" href="{{ product.url }}">{% if button_text != blank %}{{ button_text }}{% else %}Explore{% endif %}
      {% unless hide_arrow %}
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19">
          <path fill="rgb(248,131,121)" fill-rule="evenodd" d="M18 9.4392c0-.0912-.03281677-.1824-.09024613-.2584L10.80492252.1824C10.71467639.0684 10.5752051 0 10.42752962 0H6.39927075C5.9480401 0 5.5788514.342 5.5788514.76c0 .1444.04102097.2812.1230629.4028l2.53509572 3.7544c.2379216.3572.1230629.8284-.26253419 1.0488-.1230629.076-.27894257.114-.42661805.114H.82041933C.3691887 6.08 0 6.422 0 6.84v5.32c0 .418.3691887.76.82041933.76h6.72743846c.15587968 0 .30355515.038.43482225.114.38559708.2204.50045578.6916.26253418 1.0488l-2.53509571 3.7544c-.08204194.1216-.1312671.2584-.1312671.4028 0 .418.3691887.76.82041933.76h4.0200547c.14767547 0 .29535095-.0684.37739288-.1824l7.10483136-9.006c.05742935-.076.09024613-.1672.09024613-.2584 0-.0228-.0082042-.038-.01640839-.0608C17.99179581 9.4772 18 9.462 18 9.4392z"></path>
        </svg>
      {% endunless %}
    </a>
  </div>
</div>  