<div class="section_container">
  <div class="hero-slide-banner-wrapper" data-slider data-dots="false" data-arrows="false" data-autoplay="true" data-show="1" data-scroll="1" data-infinite="true">
    {% for block in section.blocks %}
      <div class="hero-banner">
        <div class="image_wrapper">
          {% render 'rimage', image: block.settings.image, wrapper_class: 'hide--mobile' %}
          {% assign mob_image = block.settings.mob_image | default: block.settings.image %}
          {% render 'rimage', image: block.settings.mob_image, wrapper_class: 'hide--desktop' %}
        </div>
        <div class="content_wrapper page-width">
          <div class="content align-{{ block.settings.content_pos }}">
            {% if block.settings.pretitle != blank %}
              <div class="pretitle">{{ block.settings.pretitle }}</div>
            {% endif %}
            {% if block.settings.text_image != blank %}              
            	<div class="title text_title">         
                {%- assign img_url = block.settings.text_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <img 
                class="feature-row__image lazyload {{ image_class }}"
                data-src="{{ img_url }}"
                data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                data-aspectratio="{{ image.aspect_ratio }}"
                data-sizes="auto"
                alt="{{ block.settings.text_image.alt | escape }}">
			    </div>
            {% else if block.settings.title != blank %}
              <div class="title">{{ block.settings.title }}</div>
            {% endif %}
            {% if block.settings.subtitle != blank %}
              <div class="subtitle">{{ block.settings.subtitle }}</div>
            {% endif %}
            {% if block.settings.btn_label != blank and block.settings.btn_link != blank %}
              <div class="btn_wrapper">
                <a class="btn btn--secondary btn--small btn-white btn-rounded" href="{{ block.settings.btn_link }}">
                  {{ block.settings.btn_label }}
                  <span class="icon">
                    {% render 'icon' with 'icon-btn-arrow' %}
                  </span>
                </a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {% if section.blocks.size > 0 %}
    <div class="custom_slider-dots page-width">
      {% for block in section.blocks %}
        <div class="slick-dot" data-index="{{ forloop.index0 }}">
          <div class="dot_title hide--mobile">{{ block.settings.title }}</div>
          <div class="dot_line {% if forloop.first %}active{% endif %}">
            <span class="hide--mobile"></span>
            <span></span>
            <span class="hide--mobile"></span>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>


{% schema %}
{
  "name": "Hero slide banner",
  "class": "hero-slide-banner",
  "tag": "section",
  "settings": [

  ],
  "blocks": [
    {
      "type": "block",
      "name": "Banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image" 
        },
        {
          "type": "image_picker",
          "id": "mob_image",
          "label": "Image (mobile)"
        },
{
          "type": "image_picker",
          "id": "text_image",
          "label": "Text Image" 
        },
        {
          "type": "text",
          "id": "pretitle",
          "label": "Pretitle"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "select",
          "options": [
            {
              "label": "Left",
              "value": "left"
            },
            {
              "label": "Center",
              "value": "center"
            },
            {
              "value": "Right",
              "value": "right"
            }
          ],
          "default": "left",
          "id": "content_pos",
          "label": "Content alignment"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Button Link"
        },
        {
          "type": "text",
          "id": "btn_label",
          "label": "Button Label",
          "default": "SHOP NOW"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero slide banner"
    }
  ]
}
{% endschema %}