<div class="section_container {% if section.settings.hide_logo %}logo-hidden{% endif %}">
    <div class="hero-slide-banner-wrapper">
        <div class="hero-banner">
          <div class="image_wrapper">
            {% render 'rimage', image: section.settings.image, wrapper_class: 'hide--mobile' %}
            {% assign mob_image = section.settings.mob_image | default: section.settings.image %}
            {% render 'rimage', image: section.settings.mob_image, wrapper_class: 'hide--desktop' %}
          </div>
          <div class="content_wrapper page-width">
            <div class="content align-{{ section.settings.content_pos }} {{ section.settings.text_alignment }}">
              {% if section.settings.pretitle != blank %}
                <div class="pretitle">{{ section.settings.pretitle }}</div>
              {% endif %}
              {% if section.settings.title != blank %}
                <div class="title">{{ section.settings.title }}</div>
              {% endif %}
              {% if section.settings.subtitle != blank %}
                <div class="subtitle {% if section.settings.hide_logo %}hide--mobile{% endif %}">{{ section.settings.subtitle }}</div>
              {% endif %}
              {% if section.settings.btn_label != blank and section.settings.btn_link != blank %}
                <div class="btn_wrapper">
                  <a class="btn btn--secondary btn--small btn-white btn-rounded" href="{{ section.settings.btn_link }}">
                    {{ section.settings.btn_label }}
                    <span class="icon">
                      {% render 'icon' with 'icon-btn-arrow' %}
                    </span>
                  </a>
                </div>
              {% endif %}
            </div>
            {% if section.settings.product != blank %}
              <div class="product-content  {% if section.settings.hide_logo %}hide--mobile{% endif %}">
                {% assign product = all_products[section.settings.product] %}
                {% include 'custom-taste-grid', section: section, product_image: section.settings.product_image, hide_arrow: true, show_vendor: true, button_text: section.settings.button_text %}
              </div>
            {% endif %}
          </div>
          
        </div>
        {% if section.settings.hide_logo %}
            <div class="subtitle hide--desktop">
                {{ section.settings.subtitle }}
            </div>
            {% if section.settings.product != blank %}
              <div class="product-content hide--desktop">
                {% assign product = all_products[section.settings.product] %}
                {% include 'custom-taste-grid', section: section, product_image: section.settings.product_image, hide_arrow: true, show_vendor: true, button_text: section.settings.button_text %}
              </div>
            {% endif %}
          {% endif %}
    </div>
   
  </div>
  
  
  {% schema %}
  {
    "name": "Hero Product banner",
    "class": "hero-slide-banner",
    "tag": "section",
    "settings": [
    {
        "type": "image_picker",
        "id": "image",
        "label": "Image" 
      },
      {
        "type": "image_picker",
        "id": "mob_image",
        "label": "Image (mobile)"
      },
      {
        "type": "text",
        "id": "pretitle",
        "label": "Pretitle"
      },
      {
        "type": "richtext",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "select",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ],
        "default": "left",
        "id": "content_pos",
        "label": "Content alignment"
      },
      {
          "type": "select",
          "options": [
            {
                "label": "Left",
                "value": "text_left"
            },
            {
                "label": "Center",
                "value": "text_center"
            },
            {
                "label": "Right",
                "value": "text_right"
            }
          ],
          "id": "text_alignment",
          "label": "Text Alignment",
          "default": "text_left"
      },
      {
        "type": "header",
        "content": "Button"
      },
      {
        "type": "url",
        "id": "btn_link",
        "label": "Button Link"
      },
      {
        "type": "text",
        "id": "btn_label",
        "label": "Button Label",
        "default": "SHOP NOW"
      },
      {
          "type": "product",
          "id": "product",
          "label": "product"
      },
      {
        "type": "image_picker",
        "id": "product_image",
        "label": "Product Image"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Product Button Text",
        "default": "View Pack"
      },
      {
        "type": "checkbox",
        "id": "hide_logo",
        "label": "Hide Footer Logo",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Hero Featured Product"
      }
    ]
  }
  {% endschema %}