<style>
    .main_content .section-pre-header span {
    color: #1B3F43;
    font-family: "{{ settings.custom_text_font }}";
    font-size: 12px;
    letter-spacing: 4px;
    line-height: 20px;
  }
  .main_content .section-header h2 {
    text-align: left;
  }
  .main_content .testimonial-content-wrapper  .j-logo {
    display: block;
    position: absolute;
    top: -34px;
    left: -65px;
    z-index: -10;
  }
  .main_content .testimonial-content-wrapper {
    position: relative;
  }
</style>
<div class="main_content">
  
        <div class="testimonial-content-wrapper">
          <span class="j-logo">
      	    {% include 'icon_logo-symbolic' %}
      	  </span>
        {% if section.settings.subtitle != blank %}
          <div class="section-pre-header">
            <span>{{ section.settings.subtitle | escape }}</span>
          </div>
        {% endif %}

        {% if section.settings.title != blank %}
          <div class="section-header">
            <h2>{{section.settings.title }}</h2>
          </div>

        {% endif %}
        {% if section.settings.sub_title != blank %}
          <div class="section-sub-header">
            {{ section.settings.sub_title }}
          </div>
        {% endif %}
      </div>
<!--     <div class="subtitle">{{ section.settings.subtitle }}</div>
    <div class="title">{{ section.settings.title }}</div> -->
</div>
{% if section.blocks.size > 0 %}
    <div class="text__blocks" text_slider>
        {% for block in section.blocks %}
            <div class="text_item">
                <div class="item_content">{{ block.settings.item_text }}</div>
                <div class="time_text">{{ block.settings.time_text }}</div>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% schema %}
{
    "name": "Text Block",
    "class": "text_blocks",
    "settings": [
        {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        }
    ],
    "blocks": [
        {
            "type": "text",
            "name": "Text Blocks",
            "settings": [
                {
                    "type": "richtext",
                    "id": "item_text",
                    "label": "Item Text"
                },
                {
                    "type": "text",
                    "id": "time_text",
                    "label": "Time Text"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Text Blocks",
            "category": "Block"
        }
    ]
}
{% endschema %}