<div class="page-width jump--sign text-center">

  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}
  
  {% if section.settings.sub_title != blank %}
    <div class="section-sub-header text-center">
      <h3>{{ section.settings.sub_title | escape }}</h3>
    </div>
  {% endif %}
  
  {% include 'mix-cases-grid' %}
  
  {% if section.settings.button_label_main != blank and section.settings.button_link_main != blank %}
    <a href="{{ section.settings.button_link_main }}"
       class="btn btn--secondary btn--small btn-jump-main">
      {{- section.settings.button_label_main | escape -}}
      <img src="{{ 'Path.png' | asset_url }}">
    </a>
  {% endif %}
</div>



{% schema %}
{
  "name": "Text columns with images",
  "class": "jump-section uio index__highlight_tour_section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Text columns with images"
    },
	{
      "type": "text",
      "id": "sub_title",
      "label": "Sub Heading",
      "default": "Text columns with images Sub Heading"
    },
	{
      "type": "collection",
      "id": "col",
      "label": "Collection"
    },
    {
      "type": "select",
      "id": "align_text",
      "label": "Text alignment",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Centered"
        }
      ]
    },
	{
      "type": "text",
      "id": "button_label_main",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link_main",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "name": "Index Highlight Tours",
      "category": "Custom Section"
	}
  ]
}
{% endschema %}
