{% case section.settings.grid %}
  {% when 2 %}
    {%- assign max_height = 530 -%}
  {% when 3 %}
    {%- assign max_height = 345 -%}
  {% when 4 %}
    {%- assign max_height = 250 -%}
  {% when 5 %}
    {%- assign max_height = 195 -%}
{% endcase %}

{%- assign limit = section.settings.grid -%}
<div data-section-id="{{ section.id }}" data-section-type="collection-template">
  <header class="collection-header">
      <div class="page-width">
        <div class="section-header">     
            {% if section.settings.title != blank %}
                <div class="title">{{ section.settings.title }}</div>
            {% endif %}
    
        </div>
      </div>
  </header>
<div class="product-index-wrapper">
  <div class="mixcase-bottle-card-wrapper page-width" id="Collection">
      {% case section.settings.grid %}
      {% when 2 %}
        {%- assign grid_item_width = 'medium-up--one-half' -%}
      {% when 3 %}
        {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
      {% when 4 %}
        {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
      {% when 5 %}
        {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
      {% endcase %}

      <ul class="grid grid--padding-right: 20px;uniform bottle-card-wrapper" {% if section.settings.arrow_show %}featured-product_slider{% else %}mob-featured-product_slider{% endif %}>
        {% for block in section.blocks %}
            {% if block.settings.product != blank %}
                {% assign product = all_products[block.settings.product] %}
                {% assign wrapper_class= "" %}
                {% unless section.settings.arrow_show %}
                  {% if forloop.index > section.settings.grid %}
                    {% assign wrapper_class = "hide--desktop" %}
                  {% endif %}
                {% endunless %}
                <li class="bottle-card-container grid__item grid__item--{{section.id}} {{ grid_item_width }} {{ wrapper_class }}">
                  {% include 'custom-product-grid', section: section, product_image: block.settings.item_image, hide_arrow: true %}
                </li>
            {% endif %}
        {% endfor %}
      </ul>
  </div>
</div>
{% if section.settings.arrow_show %}
  {% if section.settings.all_button_text != blank and section.settings.all_button_url %}
      <a href="{{ section.settings.all_button_url }}" class="btn btn--secondary btn--small btn-wine-main">{{ section.settings.all_button_text | escape }}   {% include 'btn-arrow' %}</a>
  {% endif %}
{% endif %}
</div>


{% schema %}
{
  "name": {
    "cs": "Stránky s kolekcemi",
    "da": "Kollektionssider",
    "de": "Kategorie-Seiten",
    "en": "Product Grid",
    "es": "Páginas de colección",
    "fi": "Kokoelman sivut",
    "fr": "Pages de collections",
    "hi": "कलेक्शन पेज",
    "it": "Pagine di collezioni",
    "ja": "コレクションページ",
    "ko": "컬렉션 페이지",
    "nb": "Samlingssider",
    "nl": "Collectiepagina's",
    "pl": "Strony kolekcji",
    "pt-BR": "Páginas de coleções",
    "pt-PT": "Páginas de coleções",
    "sv": "Produktseriesidor",
    "th": "หน้าคอลเลกชัน",
    "tr": "Koleksiyon sayfaları",
    "vi": "Trang bộ sưu tập",
    "zh-CN": "产品系列页面",
    "zh-TW": "商品系列頁面"
  },
  "class": "home_product_grid",
  "settings": [
    {
      "type": "range",
      "id": "grid",
      "label": "Show Product Number",
      "default": 3,
      "min": 2,
      "max": 5,
      "step": 1
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": {
        "cs": "Zobrazit dodavatele produktů",
        "da": "Vis produktleverandører",
        "de": "Produkt-Lieferanten anzeigen",
        "en": "Show product vendors",
        "es": "Mostrar proveedores del producto",
        "fi": "Näytä tuotteen myyjät",
        "fr": "Afficher les vendeurs",
        "hi": "उत्पाद विक्रेताओं को दिखाएं",
        "it": "Mostra fornitori prodotto",
        "ja": "商品の販売元を表示する",
        "ko": "제품 공급 업체 표시",
        "nb": "Vis produktleverandører",
        "nl": "Productleveranciers weergeven",
        "pl": "Pokaż dostawców produktu",
        "pt-BR": "Exibir fornecedores do produto",
        "pt-PT": "Mostrar fornecedores do produto",
        "sv": "Visa produktleverantörer",
        "th": "แสดงผู้ขายสินค้า",
        "tr": "Ürün satıcılarını göster",
        "vi": "Hiển thị nhà cung cấp sản phẩm",
        "zh-CN": "显示产品厂商",
        "zh-TW": "顯示產品廠商"
      },
      "default": false
    },
    {
        "type": "checkbox",
        "id": "taste_of",
        "label": "Taste of Grid",
        "default": false
    },
    {
        "type": "checkbox",
        "id": "arrow_show",
        "label": "Arrow Show",
        "default": false
    },
    {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Taste of Packs"
    },
    {
        "type": "header",
        "content": "Button Settings"
    },
    {
        "type": "paragraph",
        "content": "Product Item Button"
    },
    {
        "type": "text",
        "id": "item_button_text",
        "label": "Item Button Text",
        "default": "View Pack"
    },
    {
        "type": "paragraph",
        "content": "View All Button"
    },
    {
        "type": "text",
        "id": "all_button_text",
        "label": "View All Button Text",
        "default": "View All Packs"
    },
    {
        "type": "url",
        "id": "all_button_url",
        "label": "All Button Url"
    }
  ],
  "blocks": [
    {
        "type": "product",
        "name": "Product",
        "settings": [
            {
                "type": "product",
                "id": "product",
                "label": "Product"
            },
            {
                "type": "image_picker",
                "id": "item_image",
                "label": "Item Image"
            },
            {
                "type": "image_picker",
                "id": "item_image_hover",
                "label": "Item Image Hover"
            }
        ]
    }
  ],
  "presets": [
    {
        "category": "Product Grid",
        "name": "HomePage Product Grid"
    }
  ]
}
{% endschema %}
