<div class="page-width wine--sign text-center">

  {% if section.settings.title != blank %}
  <div class="section-header text-center">
    <h2>{{ section.settings.title }}</h2>
  </div>
  {% endif %}

  {% if section.settings.sub_title != blank %}
  <div class="section-sub-header text-center">
    <h3>{{ section.settings.sub_title }}</h3>
  </div>
  {% endif %}

  <div class="journey__promo">
    {% assign collection = collections[section.settings.col] %}
    {% for product in collection.products limit:5 %}    
    <div class="grid__item grid__sign text-{{ section.settings.align_text }}">
      {%- assign max_height = 530 -%}
      {% capture img_id %}TextColumnImage-{{ product.id }}{% endcapture %}
      {% capture wrapper_id %}TextColumnImageWrapper-{{ product.id }}{% endcapture %}
      {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
      {% include 'image-style', image: product.featured_image, height: max_height, wrapper_id: wrapper_id, img_id: img_id %}
      <a href="{% unless product.tags contains 'coming soon' %}{{ product.url }}{% else %}#!{% endunless %}" class="box-link1">
        <div id="{{ wrapper_id }}" class="feature-row__image-wrapper sign-card-image js">
          <div style="padding-top:120%;">
            <img id="{{ img_id }}"
                 class="feature-row__image lazyload"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                 data-sizes="auto">
          </div>
          
          {%- comment -%}{% if product.tags contains 'new' %}
          <div class="sk__tag grid-badge">
            <span>BRAND NEW</span>
          </div>
          {% elsif product.tags contains 'bestselling' %}
          <div class="sk__tag grid-badge" style="background-color:#F88379;">
            <span>Selling Fast</span>
          </div>
          {% endif %}{%- endcomment -%}
        </div>
      </a>

      <div class="sign-card-content">
        <a href="{% unless product.tags contains 'coming soon' %}{{ product.url }}{% else %}#!{% endunless %}" class="box-link12">
          <h3 class="h4">{{ product.title }}</h3>
          {% if block.settings.title2 != blank %}
          <h4 class="h5">{{ block.settings.title2 | escape }}</h4>

          <div class="rte-setting">{{ product.description | truncate: 200 }}</div>
          {% endif %}
        </a>

        <a href="{% unless product.tags contains 'coming soon' %}{{ product.url }}{% else %}#!{% endunless %}"
           class="btn btn--secondary btn--small btn-sign-card"
           aria-label="Let's Go">
          {% unless product.tags contains 'coming soon' %}Let's Go{% else %}Coming Soon{% endunless %}
          {% include 'btn-arrow' %}
        </a>
      </div>

    </div>
    {% endfor %}
  </div>
  
  <div class="main-btn-clss">
   {% comment %} {%- if product.metafields.custom_fields.mile != blank -%}                              
    <div class="new-mixcase-text">
      {{ product.metafields.custom_fields["mile"] }}
    </div>               
    {%- endif -%}{% endcomment %}

    {% if section.settings.button_label_main != blank and section.settings.button_link_main != blank %}
    <a href="{{ section.settings.button_link_main }}"
       class="btn btn--secondary btn--small btn-wine-main">
      {{- section.settings.button_label_main | escape -}}
      {% include 'btn-arrow' %}
    </a>
    {% endif %}
    

   <div class="cust-over-img-text">
	<div class="cust-left-secS">
		<ul>

			<li><img src="{{section.settings.codfdfl | img_url : ' ' }}"/></li>
			<li><span>
              
              
              {{ section.settings.titlefkr }}
              
              </span></li>
		</ul>
	</div>
	<div class="cust-right-secS">
      <h5><a href="{{ section.settings.sub_titledfd122 }}">{{ section.settings.sub_title122 }}</a></h5>
	</div>
</div>
  </div>


</div>



{% schema %}
{
"name": "Journey Promo",
"class": "sign-section",
"settings": [

{
"type": "text",
"id": "titlefkr",
"label": "Heading",
"default": "Earn KrisFlyer miles with us."
},
{
"type": "text",
"id": "sub_title122",
"label": "Link text",
"default": "FIND OUT MORE"
},
{
"type": "url",
"id": "sub_titledfd122",
"label": "Link"
},
{
"type": "image_picker",
"id": "codfdfl",
"label": "image"
},








{
"type": "text",
"id": "title",
"label": "Heading",
"default": "Text columns with images"
},
{
"type": "text",
"id": "sub_title",
"label": "Sub Heading",
"default": "Text columns with images Sub Heading"
},
{
"type": "collection",
"id": "col",
"label": "Collection"
},
{
"type": "select",
"id": "align_text",
"label": "Text alignment",
"default": "left",
"options": [
{
"value": "left",
"label": "Left"
},
{
"value": "center",
"label": "Centered"
}
]
},
{
"type": "text",
"id": "button_label_main",
"label": "Button label"
},
{
"type": "url",
"id": "button_link_main",
"label": "Button link"
}
],
"presets": [
{
"name": "Journey Promo",
"category": "Custom Section"
}
]
}
{% endschema %}
