<div class="mixcase-addition-section">

  <div class="page-width grid grid--uniform">
    <div class="section-2-left grid__item medium-up--one-half">
      <div class="content-left">
        {% comment %}
        {% if section.settings.pre_title != blank %}
        <span>{{ section.settings.pre_title | escape }}</span>
        {% endif %}

        {% endcomment %}


        <span>   
          {% if product.metafields.custom_fields["addition_title"] != blank %}

          {{ product.metafields.custom_fields["addition_title"] | escape }}
          {% else %}
          {% if section.settings.pre_title != blank %}
          <span>{{ section.settings.pre_title | escape }}</span>
          {% endif %}

          {% endif %} 
        </span>

        {% comment %}

        {% if section.settings.title != blank %}
        <h2>{{ section.settings.title | escape }}</h2>
        {% endif %}


        {% endcomment %} 

 
        <h2 {% if product.url == '/products/taste-of-the-french-rivera' %}style="display:none;"{% endif %}>
          {% if product.metafields.custom_fields["addition_sub_title"] != blank %}

          {{ product.metafields.custom_fields["addition_sub_title"] }}
          {% else %}
          <h2>{{ section.settings.title | escape }}</h2>

          {% endif %}

        </h2>

          {% if product.metafields.custom_fields["addition_image_left"] != blank %}

        <img class="addition-image-left" img src="{{ product.metafields.custom_fields["addition_image_left"] }}" class="from_meta_field">
        {% else %}
         {% if section.settings.img_left %}
        <img src="{{section.settings.img_left | img_url: 'original'}}" class="elsepart">
        {% endif %} 
        {% endif %}

        {% comment %} 

        {% if section.settings.img_left %}
        <img src="{{section.settings.img_left | img_url: 'original'}}">
        {% endif %}       {% endcomment %} 

      </div>
    </div>
    <div class="section-2-right grid__item medium-up--one-half">
      <div class="content-right">

          {% if product.metafields.custom_fields["addition_image_right"] != blank %}

        <img class="addition-image-right" img src="{{ product.metafields.custom_fields["addition_image_right"] }}">
        {% else %}
        {% if section.settings.img_right %}
        <img class="{% if template == 'product.new-template'%}addition-image-right{% endif %}" style="{% if template == 'product.new-template' %}border:0px solid #fff{% endif %}" src="{{section.settings.img_right | img_url: 'original'}}">
        {% endif %}   
{% endif %}

        {% comment %} 

        {% if section.settings.img_right %}
        <img src="{{section.settings.img_right | img_url: 'original'}}">
        {% endif %}        {% endcomment %}



      </div>
    </div>
  </div>

</div>



{% schema %}
{
"name": "Text columns with images",
"class": "sign-section testformetafields",
"settings": [
{
"type": "text",
"id": "title",
"label": "Heading"
},
{
"type": "text",
"id": "pre_title",
"label": "Pre Heading"
},
{
"type": "image_picker",
"id": "img_left",
"label": "Left Column Image"
},
{
"type": "image_picker",
"id": "img_right",
"label": "Right Column Image"
}
]
}
{% endschema %}
