<div class="about-section-container">
{% for block in section.blocks %}
 {% if block.type == 'custom-section-1' %} 
	<div class="custom-section-1">
      <h1 class="about__title">
        {% if block.settings.heading_1 %}
      		{{block.settings.heading_1}}
        {% endif %}
        {% if block.settings.heading_2 %}
            <span>{{block.settings.heading_2}}</span>
        {% endif %}
      </h1>
  	</div>
  	
  	<style>
      .custom-section-1 {
          background-image: url('{{block.settings.image | img_url: '1440x'}}');
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          height: 100vh;
            
          display: flex;
          justify-content: center;
          align-items: center
      }
      .section-1-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .section-1-content .heading-1 {
          color: #fff;
          font-size: 160px;
          font-weight: 900;
          letter-spacing: -4.17px;
          line-height: 50px;
          text-align: center;
      }
      .section-1-content .heading-2 {
          color: rgba(249,249,249,0);
          font-size: 160px;
          font-weight: 900;
          letter-spacing: -4.17px;
          line-height: 160px;
          text-align: center;
          -webkit-text-stroke: 1px white;
          -webkit-text-fill-color: rgba(249,249,249,0);
      }
      @media only screen and (max-width: 768px) {
        .section-1-content .heading-1 {
          font-size: 120px;
        }
        .section-1-content .heading-2 {
            font-size: 120px;
            line-height: 120px;
        }
      }
      @media only screen and (max-width: 576px) {
        .section-1-content .heading-1 {
          font-size: 100px;
        }
        .section-1-content .heading-2 {
            font-size: 100px;
            line-height: 100px;
        }
      }
      @media only screen and (max-width: 425px) {
        .section-1-content .heading-1 {
          font-size: 80px;
        }
        .section-1-content .heading-2 {
            font-size: 80px;
            line-height: 80px;
        }
      }
  	</style>
  

 {% elsif block.type == 'custom-section-2' %}
  
  	<div class="custom-section-2">
      <div class="page-width grid grid--uniform">
        <div class="section-2-left grid__item medium-up--one-half">
          <div class="page-width">
            <div class="section-2-heading">
              {% if block.settings.pre_heading %}
              <span class="pre-heading">{{block.settings.pre_heading}}</span>
              {% endif %}
              {% if block.settings.heading %}
              <h2>{{block.settings.heading}}</h2>
              {% endif %}
              {% if block.settings.section_text_1 %}
              <p>{{block.settings.section_text_1}}</p>
              {% endif %}
            </div>
          </div>
          <div class="content-left">
            {% if block.settings.section_image_1 %}
               <img src="{{block.settings.section_image_1 | img_url: 'original'}}">
            {% endif %}
          </div>
        </div>
        <div class="section-2-right grid__item medium-up--one-half">
          <div class="content-right">
            {% if block.settings.section_image_2 %}
               <img src="{{block.settings.section_image_2 | img_url: 'original'}}">
            {% endif %}
          </div>
          <div class="page-width">
            <div class="section-2-heading">
              {% if block.settings.pre_heading_1_2 %}
              <span class="pre-heading">{{block.settings.pre_heading_1_2}}</span>
              {% endif %}
              {% if block.settings.heading_1_2 %}
              <h2>{{block.settings.heading_1_2}}</h2>
              {% endif %}
              {% if block.settings.section_text_1_2 %}
              <p>{{block.settings.section_text_1_2}}</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
  	</div>
  	<style>
      .custom-section-2 {
        background: #F4F4F2;
        padding: 5% 0;
      }
      .custom-section-2 .section-2-heading {
        text-align: left;
      }
      .custom-section-2 .section-2-heading span {
        color: #558B92;
        font-size: 12px;
        letter-spacing: 4px;
        line-height: 20px;
        text-align: left;
      }
      .custom-section-2 .section-2-heading h2 {
        color: #1B3F43;
        font-family: "roslindaletextregular";
        font-size: 54px;
        line-height: 48px;
        text-align: left;
        margin: 6px 0 29px;
      }
      .custom-section-2 .section-2-heading p {
        color: #152F38;
        font-size: 16px;
        line-height: 26px;
        text-align: justify;
      }
      .custom-section-2 .heading-container span {
        color: #1B3F43;
        font-size: 12px;
        letter-spacing: 4px;
        line-height: 20px;
      }
      .custom-section-2 .heading-container h2 {
        color: #1B3F43;
        font-family: "roslindaletextregular";
        font-size: 54px;
        line-height: 48px;
      }
      .custom-section-2 p {
        color: #152F38;
        font-size: 16px;
        line-height: 26px;
        text-align: justify;
      }
      .custom-section-2 .heading-container {
        position: relative;
      }
      .custom-section-2 .heading-container .pre-heading {
        margin-bottom: 15px;
        display: inline-block;
        z-index: 2;
        position: relative;
      }
      .custom-section-2 .heading-container .j-logo {
        position: absolute;
        top: -60px;
        left: -45px;
        z-index: 0;
      }
      .custom-section-2 .heading-container h2 {
        z-index: 5;
    	position: relative;
      }
      .custom-section-2 .section-2-left .content-left {
        margin-top: 5em;
      }
      @media only screen and (max-width: 768px) {
        .custom-section-2 .heading-container h2 {
          font-size: 48px;
          line-height: 48px;
        }
      }
      @media only screen and (max-width: 576px) {
        .custom-section-2 .heading-container .j-logo {
          top: -36px;
    	  left: -22px;
        }
        .custom-section-2 .grid__item {
          padding-left: 0;
        }
      }
      @media only screen and (max-width: 425px) {
        
      }
      @media only screen and (max-width: 320px) {
 		.custom-section-2 .heading-container h2 {
          font-size: 36px;
          line-height: 36px;
        }
        .custom-section-2 .heading-container .j-logo svg {
          width: 60px;
          height: 60px;
        }
        .custom-section-2 .heading-container .j-logo {
          top: -23px;
    	  left: -10px;
        }
      }
  	</style>

 {% elsif block.type == 'custom-section-3' %}

	{% if block.settings.text_1 %}
       {{block.settings.text_1}}
    {% endif %}

 {% elsif block.type == 'custom-section-4' %}

    <div class="custom-section-4">
    	{% if block.settings.image %}
           <img width="100%" height="auto" src="{{block.settings.image | img_url: 'original'}}">
        {% endif %}  
  	</div>
  	<style>
      .custom-section-4 img {
        display: block;
      }
  	</style>

 {% elsif block.type == 'custom-section-5' %}
  
  	<div class="custom-section-5">
      <div class="page-width grid grid--uniform">
        <div class="section-5-left">
          <div class="heading-container">
            {% if block.settings.subheading %}
            	<span>{{block.settings.subheading}}</span>
            {% endif %}
            {% if block.settings.heading %}
            	<h2>{{block.settings.heading}}</h2>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="page-width grid grid--uniform">
        <div class="section-5-left grid__item medium-up--one-half">
          <div class="content-left">
            {% if block.settings.text %}
            	<p>{{block.settings.text}}</p>
            {% endif %}
            <div class="image-with-sign">
              {% if block.settings.image_1 %}
                 <img src="{{block.settings.image_1 | img_url: 'original'}}">
              {% endif %}
              {% if block.settings.image_sign_1 %}
                  <span class="image-sign">{{block.settings.image_sign_1}}</span>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="section-5-right grid__item medium-up--one-half">
          <div class="content-right">
            <div class="image-with-sign">
              {% if block.settings.image_2 %}
                 <img src="{{block.settings.image_2 | img_url: 'original'}}">
              {% endif %}
              {% if block.settings.image_sign_2 %}
                 <span class="image-sign">{{block.settings.image_sign_2}}</span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      </div>
  	<div class="section-5_2 border-top-dark">
      <div class="page-width grid grid--uniform">
        <div class="section-5-left">
          <div class="content-left">
            {% if block.settings.about_text %}
            	{{block.settings.about_text}}
            {% endif %}
            {% if block.settings.about_text_sign %}
            	<span class="discovery-sign">{{block.settings.about_text_sign}}</span>
            {% endif %}
          </div>
        </div>
      </div>
  	</div>
  	<style> 
      .custom-section-5 {
        background: #152F38;
        padding-bottom: 5%;
        position: relative;
    	padding-top: 5%;
      }
      .custom-section-5:before {
        content: "";
        background-image: url({{ 'Greg_Bg_2.png'| asset_url }});
        background-size: cover;
        background-position: top center;
        width: 100%;
        height: 100px;
        position: absolute;
        top: -55px;
      }
      .custom-section-5 .heading-container {
        text-align: center;
        margin-bottom: 60px;
      }
      .custom-section-5 .heading-container span {
        color: #558B92;
        font-size: 12px;
        letter-spacing: 4px;
        line-height: 20px;
        text-align: center;
      }
      .custom-section-5 .heading-container h2 {
        color: #FFF;
        font-family: "roslindaletextregular";
        font-size: 54px;
        line-height: 62px;
        text-align: center;
      }
      
      .custom-section-5 p {
        color: #E4E4E4;
        font-size: 16px;
        font-weight: 300;
        line-height: 26px;
        text-align: justify;
      }
      .section-5_2 {
        background: #152F38;
        padding-bottom: 0%;
        position: relative;
      }  
      .section-5_2 .section-5-left {
        padding: 5% 2% 15%;								
      }
      .section-5_2 {
        padding-bottom: 0;
      }
      .custom-section-5.border-top-dark {
        border-top: 1px solid #558B92;
      }
      .custom-section-5 .border-right-dark {
        border-right: 1px solid #558B92;
      }
      .custom-section-5 .image-sign {
        color: #558B92;
        font-family: "Antro Vectra";
        font-size: 32px;
        line-height: 40px;
        font-weight: bold;
        transform: rotate(353deg);
        display: inline-block;
      }
      .custom-section-5 .image-with-sign {
        position: relative;
      }
      .custom-section-5 .image-with-sign .image-sign {
        position: absolute;
        bottom: -15px;
        right: -35px;
        z-index: 2;
      }
      .section-5_2 .content-left {
        position: relative;
      }
      .section-5_2 .content-left p {
        color: #FFF;
        font-family: "roslindaletextregular";
        font-size: 54px;
        line-height: 72px;
        text-align: left;
      }
      .section-5_2 .content-left .discovery-sign p {
        color: #558B92;
        font-family: "Antro Vectra";
        font-size: 32px;
        line-height: 40px;
        font-weight: bold;
        transform: rotate(353deg);
        display: inline-block;
        position: absolute;
        right: 5%;
    	bottom: -30%; 
      }
      .section-5_2 .content-right {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .section-5_2 .content-right svg ellipse, .section-5_2 .content-right svg path {
        stroke: #558B92;
      }
      .section-5_2 .content-right svg {
        width: 200px;
        height: 200px;
      }
      .section-5_2 .page-width {
        display: flex;
        align-items: center;
      }
      @media only screen and (max-width: 768px) {
        .custom-section-5 .heading-container h2 {
          font-size: 48px;
          line-height: 48px;
        }
        .section-5_2 .content-left p {
          font-size: 28px;
    	  line-height: 45px;
        }
        .section-5_2 .content-left .discovery-sign p {
          font-size: 28px;
    	  line-height: 36px;
          position: initial;
        }
      }
      @media only screen and (max-width: 576px) {
        .custom-section-5 .grid__item {
          padding-left: 0;
        }
        .custom-section-5 .heading-container h2 {
          font-size: 36px;
          line-height: 36px;
        }
        .custom-section-5 .image-with-sign .image-sign {
          bottom: -15px;
    	  left: 0;
        }
        .custom-section-5 .image-with-sign {
          margin-bottom: 10%;
        }
        .section-5_2 .page-width {
          flex-wrap: wrap;
        }
        .section-5_2 .section-5-left {
          padding: 5%;
          border-bottom: 1px solid #558B92;
          border-right: none;
        }
        .section-5_2 .content-right {
          padding: 5%;
        }
      }
      @media only screen and (max-width: 425px) {
        
      }
      @media only screen and (max-width: 320px) {
        .section-5_2 .content-left p {
    	  font-size: 20px;
    	  line-height: 30px;
        }
        .section-5_2 .content-right svg {
          width: 100px;
          height: 120px;
        }
      }
  	</style>

 {% elsif block.type == 'custom-section-6' %}
  
  	<div class="custom-section-6">
      <div class="page-width section-6-heading">
        {% if block.settings.subheading %}
          <span>{{block.settings.subheading}}</span>
        {% endif %}
        {% if block.settings.heading %}
          <h2>{{block.settings.heading}}</h2>
        {% endif %}
      </div>
      <div class="page-width grid grid--uniform">
        <div class="section-6-left grid__item medium-up--one-half">
          <div class="content-left">
            {% if block.settings.text_1 %}
              {{block.settings.text_1}}
            {% endif %}
            {% if block.settings.image_1 %}
               <img src="{{block.settings.image_1 | img_url: "original"}}">
            {% endif %}
          </div>
        </div>
        <div class="section-6-right grid__item medium-up--one-half">
          <div class="content-right">
            {% if block.settings.image_2 %}
               <img src="{{block.settings.image_2 | img_url: "original"}}">
            {% endif %}
            {% if block.settings.text %}
               {{block.settings.text}}
            {% endif %}
          </div>
        </div>
      </div>
  	</div>
  	<style>
      .custom-section-6 {
        background: #F4F4F2;
        padding: 10% 0 5%;
      } 
      .custom-section-6 .section-6-heading {
        text-align: center;
        margin-bottom: 60px;
      }
      .custom-section-6 .section-6-heading span {
        color: #558B92;
        font-size: 12px;
        letter-spacing: 4px;
        line-height: 20px;
        text-align: center;
      }
      .custom-section-6 .section-6-heading h2 {
        color: #152F38;
        font-family: "roslindaletextregular";
        font-size: 54px;
        line-height: 62px;
        text-align: center;
      }
      .custom-section-6 .content-left h2 {
        color: #152F38;
        font-family: "roslindaletextregular";
        font-size: 94px;
        line-height: 94px;
      }
      .custom-section-6 .content-right p, .custom-section-6 .content-left p {
        color: #152F38;
        font-size: 16px;
        line-height: 26px;
        text-align: justify;
        margin-top: 30px;
      }
      @media only screen and (max-width: 768px) {
        .custom-section-6 .content-left h2 {
          font-size: 56px;
    	  line-height: 60px;
        }
      }
      @media only screen and (max-width: 576px) {
        .custom-section-6 .grid__item {
          padding-left: 0;
        }
        .custom-section-6 .content-left h2 {
          font-size: 36px;
    	  line-height: 36px;
        }
        
      }
      @media only screen and (max-width: 425px) {
        
      }
      @media only screen and (max-width: 320px) {
 
      }
  	</style>

 {% elsif block.type == 'custom-section-7' %}
  
  	<div class="custom-section-7">
      <div class="page-width grid grid--uniform">
        <div class="section-heading">
          <h2>In Good Company.</h2>
        </div>
      </div>
      <div class="page-width grid grid--uniform">
        <div class="section-7-left grid__item medium-up--one-third">
          <div class="content-card">
            {% if block.settings.image_1 %}
               <img src="{{block.settings.image_1 | img_url: "original"}}">
            {% endif %}
            <div class="card-data">
              {% if block.settings.title_1 %}
              	<h3>{{block.settings.title_1}}</h3>
              {% endif %}
              {% if block.settings.designation_1 %}
              	<span class="designation">{{block.settings.designation_1}}</span>
              {% endif %}
              {% if block.settings.text_1 %}
              	<p>{{block.settings.text_1}}</p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="section-7-right grid__item medium-up--one-third">
          <div class="content-card">
            {% if block.settings.image_2 %}
               <img src="{{block.settings.image_2 | img_url: "original"}}">
            {% endif %}
            <div class="card-data">
              {% if block.settings.title_2 %}
              	<h3>{{block.settings.title_2}}</h3>
              {% endif %}
              {% if block.settings.designation_2 %}
              	<span class="designation">{{block.settings.designation_2}}</span>
              {% endif %}
              {% if block.settings.text_2 %}
              	<p>{{block.settings.text_2}}</p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="section-7-right grid__item medium-up--one-third">
          <div class="content-card">
            {% if block.settings.image_3 %}
               <img src="{{block.settings.image_3 | img_url: "original"}}">
            {% endif %}
            <div class="card-data">
              {% if block.settings.title_3 %}
              	<h3>{{block.settings.title_3}}</h3>
              {% endif %}
              {% if block.settings.designation_3 %}
              	<span class="designation">{{block.settings.designation_3}}</span>
              {% endif %}
              {% if block.settings.text_3 %}
              	<p>{{block.settings.text_3}}</p>
              {% endif %}		
            </div>
          </div>
        </div>
      </div>
  	</div>
  	<style>
      .custom-section-7 {
        background: #F4F4F2;
        padding-bottom: 5%;
      }
      .custom-section-7 .section-heading h2 {
        color: #1B3F43;
        font-family: "roslindaletextregular";
        font-size: 54px;
        line-height: 62px;
        margin-bottom: 5%;
    	padding-left: 5%;
      }
      .custom-section-7 .card-data {
        padding: 5%;
      }
      .custom-section-7 .card-data h3 {
        color: #1B3F43;
        font-size: 32px;
        line-height: 32px;
        font-weight: 400;
      }
      .custom-section-7 .card-data .designation p {
        color: #1B3F43;
        font-size: 16px;
        line-height: 22px;
      }
      .custom-section-7 .card-data p {
        color: #1B3F43;
        font-size: 16px;
        line-height: 22px;
      }
      @media only screen and (max-width: 768px) {
        .custom-section-7 .section-heading h2 {
          font-size: 56px;
    	  line-height: 60px;
        }
      }
      @media only screen and (max-width: 576px) {
        .custom-section-7 .grid__item {
          padding-left: 0;
        }
        .custom-section-7 .section-heading h2 {
          font-size: 36px;
    	  line-height: 36px;
        }
        .custom-section-7 {
          padding-top: 5%;
        }
        .custom-section-7 .content-card {
          text-align: center;
        }
      }
      @media only screen and (max-width: 425px) {
        
      }
      @media only screen and (max-width: 320px) {
 
      }
    </style>
	
 {% elsif block.type == 'custom-section-8' %}
  <div class="before-footer-section">
    <div class="before-footer-wrapper">
      <div class="page-width before-footer text-center">

        {% if block.settings.pre_heading != blank %}
          <div class="section-sub-header text-center">
            {% if block.settings.pre_heading %}
               <span>{{block.settings.pre_heading}}</span>
            {% endif %}
          </div>
        {% endif %}

        {% if block.settings.heading != blank %}
          <div class="section-header text-center">
            <span class="moon_footer">{% include 'graphic_moon-footer' %}</span>
            <h2>{{ block.settings.heading | escape }}</h2>
          </div>
        {% endif %}


        {% if block.settings.button != blank and block.settings.link != blank %}
          <a href="{{ block.settings.link }}"
             class="btn btn--secondary btn--small btn-before-footer">
            {{- block.settings.button | escape -}}
            {% include 'btn-arrow' %}
          </a>
        {% endif %}

      </div>
    </div>
  </div>
  <style>
    @media only screen and (max-width: 768px) {
      .moon_footer {
        display: none;
      }
    }
    @media only screen and (max-width: 576px) {
      .before-footer-section .before-footer .section-header h2 {
        font-size: 36px;
    	line-height: 55px;
      }
      .before-footer-section .btn-before-footer {
        margin-top: 20px;
        font-size: 12px;
      }
    }
    @media only screen and (max-width: 425px) {
      .before-footer .section-header {
        max-width: 350px !important;
      }
    }
    @media only screen and (max-width: 320px) {
      .before-footer-section .btn-before-footer {
        padding: 15px 28px;
        font-size: 10px;
      }
      .before-footer-section .btn-before-footer svg {
        right: 12px;
    	width: 12px;
      }
      .before-footer .section-header {
        max-width: 300px !important;
      }
    }
  </style>
 {% elsif block.type == 'custom-section-9' %}
  	<div class="custom-section-9">
      <div class="page-width grid grid--uniform">
        <div class="section-heading">
          {% if block.settings.heading != blank %}
          	<h2>{{ block.settings.heading }}</h2>
		  {% endif %}
        </div>
      </div>
      
      <div class="slider__container">
        <div class="slider__items">
          
            {% if block.settings.image_1 != blank %}
          	<div class="slider__item">
              <img class="cloud sml" src="{{block.settings.image_1 | img_url: "400x500"}}">
            </div>
            {% endif %}
          
            {% if block.settings.image_2 != blank %}
        	<div class="slider__item">
              <img class="cloud sml" src="{{block.settings.image_2 | img_url: "400x500"}}">
            </div>
            {% endif %}
          
            {% if block.settings.image_3 != blank %}
      		<div class="slider__item">
              <img class="cloud sml" src="{{block.settings.image_3 | img_url: "400x500"}}">
            </div>
            {% endif %}
          
            {% if block.settings.image_4 != blank %}
  			<div class="slider__item">
              <img class="cloud sml" src="{{block.settings.image_4 | img_url: "400x500"}}">
            </div>
            {% endif %}
          
            {% if block.settings.image_5 != blank %}
			<div class="slider__item">
              <img class="cloud sml" src="{{block.settings.image_5 | img_url: "400x500"}}">
            </div>
            {% endif %}
          
            {% if block.settings.image_6 != blank %}
			<div class="slider__item">
              <img class="cloud sml" src="{{block.settings.image_6 | img_url: "400x500"}}">
            </div>
            {% endif %}
          
            {% if block.settings.image_7 != blank %}
			<div class="slider__item">
              <img class="cloud sml" src="{{block.settings.image_7 | img_url: "400x500"}}">
            </div>
            {% endif %}
          
            {% if block.settings.image_8 != blank %}
			<div class="slider__item">
              <img class="cloud sml" src="{{block.settings.image_8 | img_url: "400x500"}}">
            </div>
            {% endif %}
          
            {% if block.settings.image_9 != blank %}
			<div class="slider__item">
              <img class="cloud sml" src="{{block.settings.image_9 | img_url: "400x500"}}">
            </div>
            {% endif %}
          
            {% if block.settings.image_10 != blank %}
            <div class="slider__item">
              <img class="cloud sml" src="{{block.settings.image_10 | img_url: "400x500"}}">
            </div>
            {% endif %}
        </div>
      </div>
  	</div>
  
  <style>
    .custom-section-9 {
      background: #F4F4F2;
      position: relative;
      padding: 15% 0 5%;
    }
    .custom-section-9 .section-heading h2 {
      font-family: "roslindaletextregular";
      color: rgba(249,249,249,0.1);
      font-size: 250px;
      line-height: 62px;
      text-align: center;
      -webkit-text-stroke: 1px #152F38;
      -webkit-text-fill-color: rgba(249,249,249,0.1);
    }
    .custom-section-9 .slider__container {
      width:100%;
      position:relative;
    }
    .custom-section-9 .slick-list {
      perspective:1px;
    }
    .custom-section-9 .slick-track {
      will-change:transform,transition;
    }
    .custom-section-9 .slider__items {
   	  display:flex;
      align-items: center;
    }
    .custom-section-9 .section-heading {
      position: absolute;
      z-index: 10;
      left: 50%;
      top: 15%;
      transform: translateX(-50%);
    }
    
    @media only screen and (max-width: 768px) {
      .custom-section-9 .section-heading h2 {
        font-size: 175px;
      }
    }
    @media only screen and (max-width: 576px) {
      .custom-section-9 .section-heading h2 {
        font-size: 125px;
      }
    }
    @media only screen and (max-width: 425px) {
      .custom-section-9 .section-heading h2 {
        font-size: 125px;
      }
    }
    @media only screen and (max-width: 390px) {
      .custom-section-9 .section-heading h2 {
        font-size: 110px;
      }
    }
    @media only screen and (max-width: 340px) {
      .custom-section-9 .section-heading h2 {
        font-size: 99px;
      }
    }
  </style>
 {% elsif block.type == 'custom-section-10' %}
  	<div class="custom-section-10">
      <div class="page-width grid grid--uniform section-10-content">
        <div class="heading-text">
          {% if block.settings.heading != blank %}
            {{ block.settings.heading }}
          {% endif %}
        </div>
        <div class="text">
          {% if block.settings.text != blank %}
            <p>{{ block.settings.text }}</p>
          {% endif %}
        </div>
      </div>
  	</div>
  	<style>
      .custom-section-10 {
        background: #F4F4F2;
    	padding: 10% 0 5%;
      }
      
      .custom-section-10 .text {
        max-width: 732px;
        margin: 0 auto;
      }
      .custom-section-10 p {
        color: #3D3F3E;
        font-size: 16px;
        line-height: 26px;
      }
      .custom-section-10 .heading-text p {
        color: #152F38;
        font-size: 32px;
        line-height: 42px;
        text-align: center;
      }
  	</style>
 {% elsif block.type == 'custom-section-11' %}
  	<div class="custom-section-11">
      <hr class="section-11-hr">
      <div class="page-width grid grid--uniform section-11-content">
        {% if block.settings.heading != blank %}
          <h2>{{ block.settings.heading }}</h2>
		{% endif %}
        {% if block.settings.text != blank %}
          {{ block.settings.text }}
		{% endif %}
      </div>
  	</div>
  	<style>
      .custom-section-11 {
        background: #F4F4F2;
      }
      .custom-section-11 .section-11-hr {
        border-top: 1px solid #E4E4E4;
        margin: 0 auto;
        max-width: 810px;
      }
      .custom-section-11 .section-11-content {
        max-width: 732px;
        padding: 5% 0 5%;
      }
      .custom-section-11 .section-11-content h2 {
          color: #1B3F43;
          font-family: "roslindaletextregular";
          font-size: 54px;
          line-height: 62px;
          text-align: center;
      }
      .custom-section-11 .section-11-content p {
        color: #3D3F3E;
        font-size: 16px;
        line-height: 26px;
      }
  	</style>
 {% elsif block.type == 'custom-section-12' %}
  	<div class="custom-section-12">
      <div class="page-width grid grid--uniform">
        <div class="section-12-heading">
          {% if block.settings.subheading != blank %}
            <span>{{ block.settings.subheading }}</span>
          {% endif %}
          {% if block.settings.heading != blank %}
            <h2>{{ block.settings.heading }}</h2>
          {% endif %}
        </div>
        <div class="section-12-hr"></div>
        <div class="section-12-persons ctWrapper">
          <div class="ctFlex">
          {% if block.settings.title_1 != blank %}
            <h3>{{ block.settings.title_1 }}</h3>
          {% endif %}
          {% if block.settings.designation_1 != blank %}
            <span>{{ block.settings.designation_1 }}</span>
          {% endif %}
          </div>

          <div class="ctFlex">
          {% if block.settings.title_2 != blank %}
            <h3>{{ block.settings.title_2 }}</h3>
          {% endif %}
          {% if block.settings.designation_2 != blank %}
            <span>{{ block.settings.designation_2 }}</span>
          {% endif %}
          </div>

          <div class="ctFlex">
          {% if block.settings.title_3 != blank %}
            <h3>{{ block.settings.title_3 }}</h3>
          {% endif %}
          {% if block.settings.designation_3 != blank %}
            <span>{{ block.settings.designation_3 }}</span>
          {% endif %}
          </div>

          <div class="ctFlex">
          {% if block.settings.title_4 != blank %}
            <h3>{{ block.settings.title_4 }}</h3>
          {% endif %}
          {% if block.settings.designation_4 != blank %}
            <span>{{ block.settings.designation_4 }}</span>
          {% endif %}
          </div>

          <div class="ctFlex">
          {% if block.settings.title_5 != blank %}
            <h3>{{ block.settings.title_5 }}</h3>
          {% endif %}
          {% if block.settings.designation_5 != blank %}
            <span>{{ block.settings.designation_5 }}</span>
          {% endif %}
          </div>

          <div class="ctFlex">
          {% if block.settings.title_6 != blank %}
            <h3>{{ block.settings.title_6 }}</h3>
          {% endif %}
          {% if block.settings.designation_6 != blank %}
            <span>{{ block.settings.designation_6 }}</span>
          {% endif %}
          </div>
        </div>
      </div>
  	</div>
  
    <style>
      .custom-section-12 {
        background: #F4F4F2;
        padding: 5% 0;
      }
      .custom-section-12 .section-12-heading {
        text-align: center;
      }
      .custom-section-12 .section-12-heading span {
        color: #1B3F43;
        font-size: 12px;
        letter-spacing: 4px;
        line-height: 20px;
        text-align: center;
      }
      .custom-section-12 .section-12-heading h2 {
        color: #1B3F43;
        font-family: "roslindaletextregular";
        font-size: 54px;
        line-height: 62px;
        text-align: center;
      }
    </style>
 {% endif %}
{% endfor %}
</div>

{% schema %}
  {
    "name": "About Us",
    "settings": [],
	"blocks": [
		{
			"type": "custom-section-1",
			"name": "Custom section 1",
			"settings": [
				{
                    "type": "text",
                    "id": "heading_1",
                    "label": "Heading 1"
                },
				{
                    "type": "text",
                    "id": "heading_2",
                    "label": "Heading 1"
                },
				{
                    "type": "image_picker",
                    "id": "image",
                    "label": "Background Image"
                }
			]
		},
		{
			"type": "custom-section-2",
			"name": "Custom section 2",
			"settings": [
				{
                    "type": "text",
                    "id": "pre_heading",
                    "label": "Pre Heading"
                },
				{
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                },
				{
                    "type": "richtext",
                    "id": "section_text_1",
                    "label": "Section 1 Text"
                },
				{
                    "type": "image_picker",
                    "id": "section_image_1",
                    "label": "Section 1 Image"
                },
				{
                    "type": "text",
                    "id": "pre_heading_1_2",
                    "label": "Pre Heading"
                },
				{
                    "type": "text",
                    "id": "heading_1_2",
                    "label": "Heading"
                },
				{
                    "type": "richtext",
                    "id": "section_text_1_2",
                    "label": "Section 2 Text"
                },
				{
                    "type": "image_picker",
                    "id": "section_image_2",
                    "label": "Section 2 Image"
                }
			]
		},
		{
			"type": "custom-section-3",
			"name": "Custom section 3",
			"settings": [
				{
                    "type": "text",
                    "id": "text_1",
                    "label": "Text above Heading"
                }
			]
		},
		{
			"type": "custom-section-4",
			"name": "Custom section 4",
			"settings": [
				{
                    "type": "image_picker",
                    "id": "image",
                    "label": "Background Image"
                }
			]
		},
		{
			"type": "custom-section-5",
			"name": "Custom section 5",
			"settings": [
				{
					"type": "text",
					"id": "subheading",
					"label": "Sub Heading"
				},
				{
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                },
				{
                    "type": "richtext",
                    "id": "text",
                    "label": "Text"
                },
				{
                    "type": "image_picker",
                    "id": "image_1",
                    "label": "Image 1"
                },
				{
                    "type": "text",
                    "id": "image_sign_1",
                    "label": "Image Sign Text 1"
                },
				{
                    "type": "image_picker",
                    "id": "image_2",
                    "label": "Image 2"
                },
				{
                    "type": "text",
                    "id": "image_sign_2",
                    "label": "Image Sign Text 2"
                },
				{
                    "type": "richtext",
                    "id": "about_text",
                    "label": "Co-Founder text"
                },
				{
                    "type": "richtext",
                    "id": "about_text_sign",
                    "label": "Co-Founder Sign"
                }
			]
		},
		{
			"type": "custom-section-6",
			"name": "Custom section 6",
			"settings": [
				{
                    "type": "text",
                    "id": "subheading",
                    "label": "Sub Heading"
                },
				{
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                },
				{
                    "type": "image_picker",
                    "id": "image_1",
                    "label": "Image 1"
                },
				{
                    "type": "richtext",
                    "id": "text_1",
                    "label": "Text"
                },
				{
                    "type": "image_picker",
                    "id": "image_2",
                    "label": "Image 2"
                },
				{
                    "type": "richtext",
                    "id": "text",
                    "label": "Text"
                }
			]
		},
		{
			"type": "custom-section-7",
			"name": "Custom section 7",
			"settings": [
				{
                    "type": "image_picker",
                    "id": "image_1",
                    "label": "Image 1"
                },
				{
                    "type": "text",
                    "id": "title_1",
                    "label": "Title 1"
                },
				{
                    "type": "text",
                    "id": "designation_1",
                    "label": "designation 1"
                },
				{
                    "type": "richtext",
                    "id": "text_1",
                    "label": "Text 1"
                },
				{
                    "type": "image_picker",
                    "id": "image_2",
                    "label": "Image 2"
                },
				{
                    "type": "text",
                    "id": "title_2",
                    "label": "Title 2"
                },
				{
                    "type": "text",
                    "id": "designation_2",
                    "label": "designation 2"
                },
				{
                    "type": "richtext",
                    "id": "text_2",
                    "label": "Text 2"
                },
				{
                    "type": "image_picker",
                    "id": "image_3",
                    "label": "Image 3"
                },
				{
                    "type": "text",
                    "id": "title_3",
                    "label": "Title 3"
                },
				{
                    "type": "text",
                    "id": "designation_3",
                    "label": "designation 3"
                },
				{
                    "type": "richtext",
                    "id": "text_3",
                    "label": "Text 3"
                }
			]
		},
		{
			"type": "custom-section-8",
			"name": "Custom section 8",
			"settings": [
				{
                    "type": "text",
                    "id": "pre_heading",
                    "label": "Pre Heading"
                },
				{
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                },
				{
                    "type": "text",
                    "id": "button",
                    "label": "Button Text"
                },
				{
                    "type": "url",
                    "id": "link",
                    "label": "Button Link"
                }
			]
		},
		{
			"type": "custom-section-9",
			"name": "Custom section 9",
			"settings": [
				{
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                },
				{
                    "type": "image_picker",
                    "id": "image_1",
                    "label": "Image 1"
                },
				{
                    "type": "image_picker",
                    "id": "image_2",
                    "label": "Image 2"
                },
				{
                    "type": "image_picker",
                    "id": "image_3",
                    "label": "Image 3"
                },
				{
                    "type": "image_picker",
                    "id": "image_4",
                    "label": "Image 4"
                },
				{
                    "type": "image_picker",
                    "id": "image_5",
                    "label": "Image 5"
                },
				{
                    "type": "image_picker",
                    "id": "image_6",
                    "label": "Image 6"
                },
				{
                    "type": "image_picker",
                    "id": "image_7",
                    "label": "Image 7"
                },
				{
                    "type": "image_picker",
                    "id": "image_8",
                    "label": "Image 8"
                },
				{
                    "type": "image_picker",
                    "id": "image_9",
                    "label": "Image 9"
                },
				{
                    "type": "image_picker",
                    "id": "image_10",
                    "label": "Image 10"
                }
			]
		},
		{
			"type": "custom-section-10",
			"name": "Custom section 10",
			"settings": [
				{
                    "type": "richtext",
                    "id": "heading",
                    "label": "Heading"
                },
				{
					"type": "richtext",
					"id": "text",
					"label": "Text"
				}
			]
		},
		{
			"type": "custom-section-11",
			"name": "Custom section 11",
			"settings": [
				{
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                },
				{
					"type": "richtext",
					"id": "text",
					"label": "Text"
				}
			]
		},
		{
			"type": "custom-section-12",
			"name": "Custom section 12",
			"settings": [
				{
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                },
				{
					"type": "text",
					"id": "subheading",
					"label": "Sub Heading"
				},
				{
                    "type": "text",
                    "id": "title_1",
                    "label": "Title 1"
                },
				{
                    "type": "text",
                    "id": "designation_1",
                    "label": "designation 1"
                },
				{
                    "type": "text",
                    "id": "title_2",
                    "label": "Title 2"
                },
				{
                    "type": "text",
                    "id": "designation_2",
                    "label": "designation 2"
                },
				{
                    "type": "text",
                    "id": "title_3",
                    "label": "Title 3"
                },
				{
                    "type": "text",
                    "id": "designation_3",
                    "label": "designation 3"
                },
				{
                    "type": "text",
                    "id": "title_4",
                    "label": "Title 4"
                },
				{
                    "type": "text",
                    "id": "designation_4",
                    "label": "designation 4"
                },
				{
                    "type": "text",
                    "id": "title_5",
                    "label": "Title 5"
                },
				{
                    "type": "text",
                    "id": "designation_5",
                    "label": "designation 5"
                },
				{
                    "type": "text",
                    "id": "title_6",
                    "label": "Title 6"
                },
				{
                    "type": "text",
                    "id": "designation_6",
                    "label": "designation 6"
                }
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
