{% for block in section.blocks %}
{% if block.type == 'custom-section-1'  %}
<section {{ block.shopify_attributes }}>
  <div class="page-width">
    <div class="custom-section-1__wrapper">
      {% if block.settings.text_1 %}
      <p class="custom-section-1__text1">{{block.settings.text_1}}</p>
      {% endif %}
      {% if block.settings.heading %}
      <h2 class="custom-section-1__heading">{{block.settings.heading}}</h2>
      {% endif %}
      {% if block.settings.sub_heading %} 
      <div class="custom-section-1__sub-heading">{{block.settings.sub_heading}}</div>
      {% endif %}
    </div>  
  </div> 
</section>  
{% elsif block.type == 'mixcases' %}
{% if block.settings.col != blank %}  
<div class="mixcase-product-index">
  <div class="page-width jump--sign text-center">
    <div class="grid grid--uniform grid--flush-bottom grid--mixcase--wrapper">
      {% assign collection = collections[block.settings.col] %}
      {% for product in collection.products limit:90 %}
      {% unless product.tags contains 'coming soon' %}
      <div class="grid__item grid__jump medium-up--one-third text-center">
        <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{{ product.url }}">
          <span class="visually-hidden">{{ product.title }}</span>
        </a>
        {%- assign max_height = 530 -%}
        {% capture img_id %}TextColumnImage-{{ block.id }}{% endcapture %}
        {% capture wrapper_id %}TextColumnImageWrapper-{{ block.id }}{% endcapture %}
        {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        {% include 'image-style', image: product.featured_image, height: max_height, wrapper_id: wrapper_id, img_id: img_id %}

        {% include 'graphic_brief-case' %}
        <div class="jump-card-image-wrapper">
          <div class="mixcase-custom-fields">
            {%- if product.metafields.custom_fields.mile != blank -%}                                    
            <div class="new-mile-text">
              <span class="mohan" style="font-size:8px;color:#1b3f43;">
                <p><strong>{{ product.metafields.custom_fields["mile"] }}</strong></p>
BONUS MILES</span>
            </div>       
            {%- endif -%}
          </div>
          {% if product.metafields.custom_fields.mixcase_product_bg_heading != blank  %}
          <div id="{{ wrapper_id }}" class="feature-row__image-wrapper jump-card-image js">
            <div class="aarzzoo" {% comment %} style="padding-top:{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100}}%;{% endcomment %}">
              <img src="{{ product.metafields.custom_fields.mixcase_product_bg_heading }}">
              
{% comment %}             <img id="{{ img_id }}"
                   class="feature-row__image lazyload"
                   data-src="{{ img_url }}"
                   data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ product.featured_image.alt | escape }}"> {% endcomment %}
            </div>
          </div>
          {% else %}
          <div class="jump-card-image">

            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
          </div>
          {% endif %}
          <div class="jump-image-text">
            <h3 class="h4">{{ product.title | escape }}</h3>
            <img class="jump-card-bottle" src="{{ 'bottle.png' | asset_url }}">
          </div> 
          {% if product.tags contains 'new' %}
          <div class="sk__tag grid-badge">
            <span>BRAND NEW</span>
          </div>
          {% elsif product.tags contains 'bestselling' %}
          <div class="sk__tag grid-badge" style="background-color:#F88379;">
            <span>Selling Fast</span>
          </div>
          {% endif %} 
        </div>
        <noscript>
          <p>
            {{ product.featured_image | img_url: '480x480', scale: 2 | img_tag: product.featured_image.alt, 'feature-row__image' }}
          </p>
        </noscript>
        <div class="jump-card-content">
          <h4 class="h5">{% comment %}{{ product.collections.first.title }}{% endcomment %}
            {% comment %}TWO BOTTLES AND CANDLE{% endcomment %}
          </h4>
          <div class="rte-setting">
            <p>{{ product.description | strip_html | truncatewords: 10  }}</p>
          </div>
          <a href="{{ product.url }}" class="btn btn--secondary btn--small btn-jump-card" aria-label="VIEW PACK" tabindex="0">EXPLORE
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19">
              <path fill="rgb(248,131,121)" fill-rule="evenodd" d="M18 9.4392c0-.0912-.03281677-.1824-.09024613-.2584L10.80492252.1824C10.71467639.0684 10.5752051 0 10.42752962 0H6.39927075C5.9480401 0 5.5788514.342 5.5788514.76c0 .1444.04102097.2812.1230629.4028l2.53509572 3.7544c.2379216.3572.1230629.8284-.26253419 1.0488-.1230629.076-.27894257.114-.42661805.114H.82041933C.3691887 6.08 0 6.422 0 6.84v5.32c0 .418.3691887.76.82041933.76h6.72743846c.15587968 0 .30355515.038.43482225.114.38559708.2204.50045578.6916.26253418 1.0488l-2.53509571 3.7544c-.08204194.1216-.1312671.2584-.1312671.4028 0 .418.3691887.76.82041933.76h4.0200547c.14767547 0 .29535095-.0684.37739288-.1824l7.10483136-9.006c.05742935-.076.09024613-.1672.09024613-.2584 0-.0228-.0082042-.038-.01640839-.0608C17.99179581 9.4772 18 9.462 18 9.4392z"></path>
            </svg>
          </a>
        </div>
      </div>
      {% endunless %}
      {% endfor %}
      {% for product in collection.products limit:90 %}
      {% if product.tags contains 'coming soon' %}
      <div class="grid__item grid__jump medium-up--one-third text-center">
        {%- assign max_height = 530 -%}
        {% capture img_id %}TextColumnImage-{{ block.id }}{% endcapture %}
        {% capture wrapper_id %}TextColumnImageWrapper-{{ block.id }}{% endcapture %}
        {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        {% include 'image-style', image: product.featured_image, height: max_height, wrapper_id: wrapper_id, img_id: img_id %}
        {% include 'graphic_brief-case' %}
        <div class="jump-card-image-wrapper">
          <div class="mixcase-custom-fields">
            {%- if product.metafields.custom_fields.mile != blank -%}                                    
            <div class="new-mile-text">
              {{ product.metafields.custom_fields["mile"] }}
            </div>       
            {%- endif -%}
          </div>
          {% if product.metafields.custom_fields.mixcase_product_bg_heading != blank  %}
          <div id="{{ wrapper_id }}" class="feature-row__image-wrapper jump-card-image js">
            <div  class="aarzzoo" {% comment %}style="padding-top:{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100}}%;"{% endcomment %}>
                                        <img src="{{ product.metafields.custom_fields.mixcase_product_bg_heading }}">

              {% comment %} <img id="{{ img_id }}"
                   class="feature-row__image lazyload"
                   data-src="{{ img_url }}"
                   data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ product.featured_image.alt | escape }}">{% endcomment %}
              

            </div>
          </div>
          {% else %}
          <div class="jump-card-image">
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
          </div>
          {% endif %}
          <div class="jump-image-text">
            <h3 class="h4">{{ product.title | escape }}</h3>
            <img class="jump-card-bottle" src="{{ 'bottle.png' | asset_url }}">
          </div> 
        </div>
        <noscript>
          <p>
            {{ product.featured_image | img_url: '480x480', scale: 2 | img_tag: product.featured_image.alt, 'feature-row__image' }}
          </p>
        </noscript>
        <div class="jump-card-content">
          <h4 class="h5">{% comment %}{{ product.collections.first.title }}{% endcomment %} THREE BOTTLES </h4>
          <div class="rte-setting">
            <p>{{ product.description | strip_html | truncatewords: 10  }}</p>
          </div>
          <a href="#!" class="btn btn--secondary btn--small btn-jump-card" aria-label="comingsoon" tabindex="0">
            Coming Soon
          </a>
        </div>
      </div> 
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>   
{% endif %}

{% elsif block.type == 'promo-panel' %}
{% if block.settings.enable %}
<div class="promo-panels">
  <img src="{{block.settings.bg_image | img_url: 'master'}}" class="top-img">
  <div class="sub-promo-panel">
    <div class="page-width wine--sign text-center">
		<div class="image-section">
          <img src="{{block.settings.image | img_url: 'master'}}">
          <div class="promo-content">
            <h2>{{block.settings.title}}</h2>
            <h4>{{block.settings.content}}</h4>
            <div class="butn_name">
              <a href="{{block.settings.btn_link}}" class="btn btn--secondary btn--small btn-sign-card" aria-label="Let's Go" tabindex="0">
                {{block.settings.btn_label}}
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19">
                  <path fill="rgb(248,131,121)" fill-rule="evenodd" d="M18 9.4392c0-.0912-.03281677-.1824-.09024613-.2584L10.80492252.1824C10.71467639.0684 10.5752051 0 10.42752962 0H6.39927075C5.9480401 0 5.5788514.342 5.5788514.76c0 .1444.04102097.2812.1230629.4028l2.53509572 3.7544c.2379216.3572.1230629.8284-.26253419 1.0488-.1230629.076-.27894257.114-.42661805.114H.82041933C.3691887 6.08 0 6.422 0 6.84v5.32c0 .418.3691887.76.82041933.76h6.72743846c.15587968 0 .30355515.038.43482225.114.38559708.2204.50045578.6916.26253418 1.0488l-2.53509571 3.7544c-.08204194.1216-.1312671.2584-.1312671.4028 0 .418.3691887.76.82041933.76h4.0200547c.14767547 0 .29535095-.0684.37739288-.1824l7.10483136-9.006c.05742935-.076.09024613-.1672.09024613-.2584 0-.0228-.0082042-.038-.01640839-.0608C17.99179581 9.4772 18 9.462 18 9.4392z"></path>
                </svg>
              </a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endif %}


{% endfor %}
 


<style>
  .aarzzoo img {
    max-height: 530px !important;
    height: 230px;
}
  .mixcase-product-index .jump--sign .grid--mixcase--wrapper .grid__jump .jump-card-image-wrapper .jump-card-image {
    max-height: 232px;
}
  .custom-section-1 {
    padding: 80px 0;
  } 
  .custom-section-1__wrapper { 
    padding: 100px 0;
    background-image: url({{ 'Ellipse_2.png' | asset_url }});  
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
   .before-footer-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-wave { 
    width: 100%;
  }
  
  .before-footer-section {
    margin-top: -30px;
    margin-bottom: -240px;
  }
  
  .before-footer {
    position: absolute;
  }
  
  .btn-before-footer {
    margin-top: 40px;
    background: #0A3039;
    border-radius: 45px;
    padding: 23px 63px;
    color: #fff;
    font-size: 13.82px;
    font-weight: 700;
    letter-spacing: 2.3px;
    text-align: center;
    position: relative;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .btn-before-footer {
    background: #0A3039 !important;
    color: white !important;
  }
  .btn-before-footer svg {
  	position: absolute;
  	right: 27px;
  } 
  .before-footer .section-sub-header span {
    color: #0A3039;
    font-family: "{{ settings.custom_text_font }}";
    font-size: 12px;
    letter-spacing: 4px;
    line-height: 20px;
    text-align: center;
  }
  
  .before-footer .section-header {
    width: 600px;
    margin: 0 auto;
    position: relative;
  }
  .moon_footer { 
    position: absolute;
    top: -80px;
    right: -140px;
  } 
  
  .before-footer .section-header h2 {
    color: #0A3039;
    font-family: "{{ settings.custom_heading_font }}";
    font-size: 54px;
    line-height: 83px;
    text-align: center;
    letter-spacing: 0;
    text-transform: initial;
    font-weight: normal;
  }  
  .promo-panels {
    background-color: #f4f4f2;
    position: relative;
    margin-top: 43px !important;
    display: inline-block;
    width: 100%;
  }
 
  .image-section {
    position: relative;
  }
  div#shopify-section-page-mixcase-index-template {
    padding-bottom: 0;
  }

  .promo-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
  }
  .promo-content h2 {
    font-family: 'neuzeit-grotesk';
    font-size: 50px;
  }


  .promo-content h4 {
    letter-spacing: 3px;
    font-family: 'roslindaletextregular';
    font-size: 11px;
  }
  .butn_name a {
    color: #0a3039 !important;
    padding: 14px 50px;
  }

  .butn_name a svg path {
    fill: rgb(248, 131, 121);
  } 
  img.top-img {
    position: absolute;
    top: -30px;
    width: 100%;
  }
  @media (max-width:1024px){
    .custom-section-1__wrapper { 
      padding:5% 0;
    }
  }
 
  @media (max-width:768px){

    .promo-content {
      position: relative;
      top: unset;
      left: unset;
      transform: unset;
    }

    .promo-content h2 {
      font-family: 'neuzeit-grotesk';
      font-size: 40px;
      margin: 0 0 5px;
    }
    
    .promo-content h4 {
      line-height: 23px;
    } 
    .butn_name a {
      color: #0a3039 !important;
      padding: 14px 50px;
      margin: 0 0 40px;
    }

    
    
    
    
    
  }
</style>
{% schema %}
  {
    "name": "Mixcase index",
    "settings": [
		
	],
	"blocks": [
		{
			"type": "custom-section-1",
			"name": "Custom section 1",
			"settings": [
				{
                    "type": "text",
                    "id": "text_1",
                    "label": "Text above Heading"
                },
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                },
                {
                    "type": "richtext",
                    "id": "sub_heading",
                    "label": "Sub-Heading"
                }
			]
		},
		{
			"type": "mixcases",
			"name": "Mixcases",
			"settings": [
				{
					"type": "collection",
					"id": "col",
					"label": "Collection"
				}
			]
		},
		{
		  	"type": "promo-panel",
			"name": "Promo panel",
			"settings": [
				{
					"type": "checkbox",
					"id": "enable",
					"label": "Enable",
					"default": true
				},
				{
					"type": "image_picker",
					"id": "bg_image",
					"label": "Background image"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Main image"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Title"
				},
				{
					"type": "textarea",
					"id": "content",
					"label": "Content"
				},
				{
					"type": "text",
					"id": "btn_label",
					"label": "Button label"
				},
				{
					"type": "url",
					"id": "btn_link",
					"label": "Button link"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
