<div class="page-width contact-wrapper-width">
  {%- comment -%}<div class="contact-mobile-heading">
    {% if section.settings.heading != blank %}
    	<h2>{{ section.settings.heading }}</h2>
    {% endif %}
    <div class="quote">
      {% if section.settings.quote != blank %}
      	{{ section.settings.quote }}
      {% endif %}
    </div>
    <div class="quote_by">
      {% if section.settings.quote_by != blank %}
      	<p>{{ section.settings.quote_by }}</p>
      {% endif %}
    </div>
  </div>{%- endcomment -%}
  <div class="heading-wrapper">
    {% if section.settings.heading != blank %}
    	<h2>{{ section.settings.heading }}</h2>
    {% endif %}
    {% if section.settings.subheading != blank %}
    	<p>{{ section.settings.subheading }}</p>
    {% endif %}
  </div>
  <div class="grid contact-content">
    <div class="grid__item medium-up--one-third">
      <div class="contact-content-wrapper">
        {% include 'contact-icon-email' %}
        <h3>Email</h3>
        {% if section.settings.email != blank %}
        <span class="contact-tabs">
          {{ section.settings.email }}
        </span>
        {% endif %}
      </div>
    </div>
    <div class="grid__item medium-up--one-third">
      <div class="contact-content-wrapper">
        {% include 'contact-icon-phone' %}
        <h3>Phone</h3>
        {% if section.settings.phone != blank %}
        <span class="contact-tabs">
          {{ section.settings.phone }}
        </span>
        {% endif %}
      </div>
    </div>
    <div class="grid__item medium-up--one-third">
      <div class="contact-content-wrapper">
        {% include 'contact-icon-chat' %}
        <h3>Live Chat</h3>
        {% if section.settings.chat != blank %}
        <span class="contact-tabs">
          {{ section.settings.chat }}
        </span>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="quote_wrapper">
    <div class="quote">
      {% if section.settings.quote != blank %}
      	{{ section.settings.quote }}
      {% endif %}
    </div>
    <div class="quote_by">
      {% if section.settings.quote_by != blank %}
      	<p>{{ section.settings.quote_by }}</p>
      {% endif %}
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Contact Us",
	"settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
	  {
        "type": "text",
        "id": "subheading",
        "label": "Sub Heading"
      },
	  {
        "type": "richtext",
        "id": "email",
        "label": "Email"
      },
	  {
        "type": "richtext",
        "id": "phone",
        "label": "Phone"
      },
	  {
        "type": "richtext",
        "id": "chat",
        "label": "Live Chat"
      },
	  {
        "type": "richtext",
        "id": "quote",
        "label": "Quote"
      },
	  {
        "type": "text",
        "id": "quote_by",
        "label": "Quote By"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
