<div class="photoPanelWrapper" data-section-id="{{ section.id }}">
  <div class="page-width">
    <div class="photoPanelGrid">
      {% for block in section.blocks %}
        {% if block.settings.image != blank %}
      		<div class="photoPanelItem">
              <div style="background-image:url({{ block.settings.image | img_url: '1024x' }})"></div>
      		</div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="photoPanelTxt">
      {% if section.settings.title != blank %}<h2>{{ section.settings.title }}</h2>{% endif %}
      {% if section.settings.content != blank %}<div class="rte">{{ section.settings.content }}</div>{% endif %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Photo panel",
	"max_blocks": 5,
    "settings": [
		{
			"type": "text",
			"id": "title",
			"label": "Title"
		},
		{
			"type": "richtext",
			"id": "content",
			"label": "Content"
		}
	],
	"blocks": [	
		{
			"type": "photo",
			"name": "Photo",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				}
			]
		}
	],
    "presets": [
      {
        "name": "Photo panel",
        "category": {
          "cs": "Obrázek",
          "da": "Billede",
          "de": "Foto",
          "en": "Image",
          "es": "Imagen",
          "fi": "Kuva",
          "fr": "Image",
          "hi": "इमेज",
          "it": "Immagine",
          "ja": "画像",
          "ko": "이미지",
          "nb": "Bilde",
          "nl": "Afbeelding",
          "pl": "Obraz",
          "pt-BR": "Imagem",
          "pt-PT": "Imagem",
          "sv": "Bild",
          "th": "รูปภาพ",
          "tr": "Görsel",
          "vi": "Hình ảnh",
          "zh-CN": "图片",
          "zh-TW": "圖片"
        }
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
