<div class="section_container">
  <div class="main_content page-width">

    <div class="content_wrapper">
      <div class="info_wrapper">

        {% if section.settings.title != blank %}
          <div class="section_title">{{ section.settings.title }}</div>
        {% endif %}

        {% if section.settings.text != blank %}
          <div class="text">{{ section.settings.text }}</div>
        {% endif %}

        <div class="custom-product-wrapper">
          <div class="product-details">
            <div class="add-to-cart">
              <button data-gift-atc name="add" aria-label="Add to cart" class="btn btn-add-to-cart product-form__cart-submit" aria-haspopup="dialog" data-add-to-cart="">
                <span data-add-to-cart-text="" class="">Add to cart</span>
                <span class="hide" data-loader="">
                  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-spinner" viewBox="0 0 20 20"><path d="M7.229 1.173a9.25 9.25 0 1 0 11.655 11.412 1.25 1.25 0 1 0-2.4-.698 6.75 6.75 0 1 1-8.506-8.329 1.25 1.25 0 1 0-.75-2.385z" fill="#919EAB"></path></svg>
                </span>
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19">
                  <path fill="rgb(248,131,121)" fill-rule="evenodd" d="M18 9.4392c0-.0912-.03281677-.1824-.09024613-.2584L10.80492252.1824C10.71467639.0684 10.5752051 0 10.42752962 0H6.39927075C5.9480401 0 5.5788514.342 5.5788514.76c0 .1444.04102097.2812.1230629.4028l2.53509572 3.7544c.2379216.3572.1230629.8284-.26253419 1.0488-.1230629.076-.27894257.114-.42661805.114H.82041933C.3691887 6.08 0 6.422 0 6.84v5.32c0 .418.3691887.76.82041933.76h6.72743846c.15587968 0 .30355515.038.43482225.114.38559708.2204.50045578.6916.26253418 1.0488l-2.53509571 3.7544c-.08204194.1216-.1312671.2584-.1312671.4028 0 .418.3691887.76.82041933.76h4.0200547c.14767547 0 .29535095-.0684.37739288-.1824l7.10483136-9.006c.05742935-.076.09024613-.1672.09024613-.2584 0-.0228-.0082042-.038-.01640839-.0608C17.99179581 9.4772 18 9.462 18 9.4392z"></path>
                </svg>
              </button>
            </div>
          </div>
        </div>

      </div>

      <div class="image_wrapper">
        {% render 'rimage', image: section.settings.image %}
      </div>

    </div>

  </div>
</div>
{% schema %}
{
  "name": "Product ATC",
  "class": "product-atc-gift",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ]
}
{% endschema %}