<div class="wine-subs-letsgo">
  <div class="letsgo-wrapper grid page-width">
    <div class="letsgo-col-1 grid__item medium-up--one-half">
      <span class="icon-letsgo">  	{% include 'icon_logo-symbolic' %}</span>
      {%- comment -%}{% if product.metafields.custom_fields["subscription_pre_heading"] == blank %}
      <div class="pre-heading"><p  style="color:#fff;">{{ section.settings.pre_heading }}</p></div>
      {% else %}
      <div class="pre-heading metafields"><p  style="color:#fff;">{{ product.metafields.custom_fields["subscription_pre_heading"] }}</p></div>
      {% endif %}{%- endcomment -%}
      {% if product.metafields.custom_fields["subscription_title"] == blank %}
      <div class="heading" style="color:#fff;">{{ section.settings.title }}</div>
      {% else %}
      <div class="heading metafields" style="color:#fff;">{{ product.metafields.custom_fields["subscription_title"] }}</div>
      {% endif %}
      <div class="text">
        {% if product.metafields.custom_fields["subscription_sub_title"] == blank %}
        <p  style="color:#fff;">{{ section.settings.sub_title }}</p>
        {% else %}
        <p style="color:#fff;" class="metafields_value">{{ product.metafields.custom_fields["subscription_sub_title"] }}</p>
        {% endif %}
      </div>
    </div>
    <div class="letsgo-col-2 grid__item medium-up--one-half">
      <div class="letsgo-content-rapper">
        <div class="heading-content">
          <div>
            <h2>{{ product.title }}</h2>
            {%- comment -%}<span>VALUED OVER {{ product.compare_at_price | money | remove: '.00'}}</span><br>{%- endcomment -%}
            {% if product.metafields.custom_fields["subscription_date"] != blank %}
            <span>{{ product.metafields.custom_fields["subscription_date"] }}</span>
            {% else %}
            <span>
              {{ section.settings.journey_date }}
            </span>
            {% endif %}
          </div>
          
         
          
          <div class="price-tag">
            <div class="price"><a href="  {% if product.handle == 'tour-of-tuscany'%}https://www.winejourney.com.au/cart/add?id=37614245576874{% endif %}
                   {% if product.handle == 'rhine-river-white-wine-cruise' %}https://www.winejourney.com.au/cart/add?id=37614281097386{% endif %}
                   {% if product.handle == 'victorian-chardonnay-journey'%}https://www.winejourney.com.au/cart/add?id=37611834212522{% endif %}
                   {% if product.handle == 'barossa-shiraz-and-beyond'%}https://www.winejourney.com.au/cart/34878779850912:1
              {% endif %}">{{ product.price | money | remove: '.00' }}</a>{%- comment -%}<span>PER MONTH</span>{%- endcomment -%}</div>
             {%- if product.metafields.custom_fields.mile != blank -%}
          <div class="mile-text-21">
            <div class="sub-mile-text" >
              <img src="{{'icons.png' | asset_img_url: 'master' }}">
              {{ product.metafields.custom_fields["mile"] }}
            </div>
          </div>
            
          {%- endif -%}
            <div class="tag">
              
              
              
              <img src="{{ "tag_pink.png" | asset_url }}">
              <span><a style="color:#fff;" href="
                {% if product.handle == 'tour-of-tuscany'%}https://www.winejourney.com.au/cart/add?id=37614245576874{% endif %}
                   {% if product.handle == 'rhine-river-white-wine-cruise' %}https://www.winejourney.com.au/cart/add?id=37614281097386{% endif %}
                   {% if product.handle == 'victorian-chardonnay-journey'%}https://www.winejourney.com.au/cart/add?id=37611834212522{% endif %}
                   {% if product.handle == 'barossa-shiraz-and-beyond'%}https://www.winejourney.com.au/cart/34878779850912:1
                {% endif %}">Valued over {{ product.compare_at_price | money | remove: '.00'}}</a></span>
            </div>
          </div>
        </div>
        <div class="letsgo-text">
          {{ product.description }}
        </div>
        <div class="letsgo-list">
          <ul>
            {% if product.metafields.custom_fields["listText"] == blank %}
            {% for i in (1..4) %}
            {% assign listText = 'listtext_' | append: i %}
            {% if section.settings[listText] != blank %}<li>{{ section.settings[listText] }}</li>{% endif %}
            {% endfor %}
            {% else %}
            	{{ product.metafields.custom_fields["listText"] }}
            {% endif %}
          </ul>
        </div>
        
        <div class="letsgo-icons-wrapper">
          {% unless product.metafields.custom_fields["tab-icon"] != blank or product.metafields.custom_fields["tab-text"] != blank %}
          {% if section.blocks.size > 0 %}
          {% for block in section.blocks %}
          <div class="letsgo-icons-tab">           
            {% if forloop.index == 1 %}
            	<span class="icon-tab mobile345"><img src="{{ 'icon_free-shipping.svg' | asset_url }}" width="60px"></span>
            {% elsif  forloop.index == 2 %}
            	<span class="icon-tab clas-mb-hide"><img src="{{ 'icon_magnifying_glass.svg' | asset_url }}" width="60px"></span>
            {% elsif  forloop.index == 3 %}
            	<span class="icon-tab mobil89"><img src="https://cdn.shopify.com/s/files/1/0423/0312/7712/files/Group_e48f02ee-38c5-4396-9351-9cb4e88b6eed.png?v=1612347101" width="60px"></span>
            {% endif %}
            {% if block.settings.icon_text != blank %}<span class="text">{{ block.settings.icon_text }}</span>{% endif %}
          </div>
          {% endfor %}
          {% endif %}
          {% else %}          
            {% assign separator = "|###|" %}
            {% assign icon_array = product.metafields.custom_fields["tab-icon"] | split: separator %}
            {% assign text_array = product.metafields.custom_fields["tab-text"] | split: separator %}
              {% for i in (1..3) %}
              {% assign index = i | minus: 1 %}
              <div class="letsgo-icons-tab metafields">
                <span class="icon-tab"><img src="{{ icon_array[index] }}" width="60px"></span>
                <span class="text">{{ text_array[index] }}</span>
              </div>
              {% endfor %}
          {% endunless %}
        </div>
        
        <div class="letsgo-button">
          <a class="click__addToCart" href="#">
            Add to cart
            {% include 'btn-arrow' %}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
.wine-subs-letsgo{ background-image: url({{ section.settings.featured_bg | img_url: '1360x' }}); }
</style>
{% schema %}
  {
    "name": "Product Featured Block",
    "settings": [
		{
			"type":"text",
			"id":"title",
			"label":"Heading",
			"default":"Let’s go"
		},
		{
			"type":"text",
			"id":"pre_heading",
			"label":"Pre Heading",
			"default":"SUBSCRIBE"
		},
		{
			"type":"text",
			"id":"sub_title",
			"label":"Sub Title",
			"default":"We have a limited number of Tours available, so be sure to subscribe now to avoid disappointment."
		},
		{
			"type": "text",
			"id": "journey_date",
			"label": "Journey Date Text"
		},
		{
			"type":"image_picker",
			"id":"featured_bg",
			"label":"Image"
		},
		{
			"type":"text",
			"id":"listtext_1",
			"label":"List Text 1"
		},
		{
			"type":"text",
			"id":"listtext_2",
			"label":"List Text 2"
		},
		{
			"type":"text",
			"id":"listtext_3",
			"label":"List Text 3"
		},
		{
			"type":"text",
			"id":"listtext_4",
			"label":"List Text 4"
		}
	],
	"blocks":[
		{
			"type":"block",
			"name":"Item",
			"settings":[
				{
					"type":"image_picker",
					"id":"icon",
					"label":"Icon Image"
				},
				{
					"type":"text",
					"id":"icon_text",
					"label":"Icon Text"
				}

			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
