<section class="image-with-text" id="{{ section.id }}">
  <div class="page-width">
    <div class="section-header text-center">
      {% if section.settings.subtitle != blank %}<h3>{{ section.settings.subtitle }}</h3>{% endif %}
      {% if section.settings.title != blank %}<h2>{{ section.settings.title }}</h2>{% endif %}
    </div>
    <div class="image-with-text-block">
      <div class="text-item-section">
        {% if section.settings.heading != blank %}<h2>{{ section.settings.heading }}</h2>{% endif %}
        <img src="{{ 'journey-logo.png' | asset_url }}" alt="logo" />
        {% if section.settings.content != blank %}<div class="rte">{{ section.settings.content }}</div>{% endif %}
      </div>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Image with text",
    "settings": [
		{
			"type":"text",
			"id":"subtitle",
			"label":"Subtite"
		},
		{
			"type":"text",
			"id":"title",
			"label":"Title"
		},
		{
			"type":"header",
			"content":"Content Section"
		},
		{
			"type":"text",
			"id":"heading",
			"label":"Heading"
		},
		{
			"type":"richtext",
			"id":"content",
			"label":"content"
		}
	]
  }
{% endschema %}