<div class="section_container">

  <div class="main_content">
    {% if section.settings.image != blank %}
      <div class="image_wrapper">{% render 'rimage', image: section.settings.image %}</div>
    {% endif %}
  </div>

</div>

{% schema %}
{
  "name": "Image banner",
  "class": "product-banner-gift",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ]
}
{% endschema %}