<div class="section-6">
  
  <div class="page-width grid grid--uniform">
    <div class="section-6-left grid__item medium-up--one-half">
      <div class="section-6-heading">
        <h2>{{ section.settings.heading}}</h2>
      </div>
      <div class="content-left-6">
        <img src="{{section.settings.left_image | img_url: 'master' }}">
      </div>
    </div>

    <div class="section-6-right grid__item medium-up--one-half">
      <div class="content-right-6">
        <img src="{{section.settings.right_image | img_url: 'master' }}">
      </div>
    </div>
  </div>

  <div class="bottom-section-6">
    <div class="sub-bottom-section-6">
      <div class="left-section-6">
        <div class="page-width">
          <h2>{{section.settings.bottom_content}}</h2>
        </div>
      </div>
      <div class="right-section-6">
        <div class="page-width">
          <img src="{{section.settings.bottom_right_image | img_url: 'master' }}">
        </div>
      </div>
    </div>
  </div>


</div>



{% schema %}
  {
    "name": "Section Sixth",
    "class": "sect-63",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
		"default":"Rewards that travel with you."
      },  
      {
        "type": "image_picker",
        "id": "left_image",
        "label": "Left Image"
      }, 
      {
        "type": "image_picker",
        "id": "right_image",
        "label": "Right Image"
      },
      {
        "type": "text",
        "id": "bottom_content",
        "label": "Bottom Content",
		"default":"KrisFlyer members will enjoy access to exclusive offers and promotions through Wine Journey"
      },  
      {
        "type": "image_picker",
        "id": "bottom_right_image",
        "label": "Bottom Right Image"
      }
	]
  }
{% endschema %}