<div class="section-4">
  <div class="feature-row">  
    <div class="left-section-4">
      <div class="page-width">
        <div class="content-area-left">
          <h2 class="h3">
           {{section.settings.heading}}
          </h2>
          <span class="pre_title">{{section.settings.sub_heading}}</span>
        </div>
      </div>
    </div>

    <div class="right-section-4">
      <div class="page-width">
        <div class="content-area-right">
          <img src="{{ section.settings.image | img_url: 'master' }}">

        </div>
      </div>
    </div>
  </div>
</div>




{% schema %}
  {
    "name": "Section four",
    "class": "sect-4",
    "settings": [
      {
        "type": "text",
        "id": "sub_heading",
        "label": "Sub Heading",
		"default":"Terms & Conditions Apply"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
		"default":"Earn 2 KrishFlyer miles for every one dollar spent with Wine Journey. Enjoy bonus miles on selected products."
      },      
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }     
	]
  }
{% endschema %}