<div class="section-7">
  <div class="page-width">
  <div class="section-sub-7" style="background-image: url('{{ section.settings.image | img_url: "master" }}')">
    
      <div class="center-section-7">
        <div class="sub-center-section-7">
          <h2>{{ section.settings.heading}}</h2>
          {{section.settings.content}}
        </div>
        
        <a href="{{ section.settings.url}}" class="buttons-section-7 btn btn--secondary btn--small btn-sign-card" aria-label="Let's Go" tabindex="0">
          {{ section.settings.button_name}}
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19">
            <path fill="rgb(248,131,121)" fill-rule="evenodd" d="M18 9.4392c0-.0912-.03281677-.1824-.09024613-.2584L10.80492252.1824C10.71467639.0684 10.5752051 0 10.42752962 0H6.39927075C5.9480401 0 5.5788514.342 5.5788514.76c0 .1444.04102097.2812.1230629.4028l2.53509572 3.7544c.2379216.3572.1230629.8284-.26253419 1.0488-.1230629.076-.27894257.114-.42661805.114H.82041933C.3691887 6.08 0 6.422 0 6.84v5.32c0 .418.3691887.76.82041933.76h6.72743846c.15587968 0 .30355515.038.43482225.114.38559708.2204.50045578.6916.26253418 1.0488l-2.53509571 3.7544c-.08204194.1216-.1312671.2584-.1312671.4028 0 .418.3691887.76.82041933.76h4.0200547c.14767547 0 .29535095-.0684.37739288-.1824l7.10483136-9.006c.05742935-.076.09024613-.1672.09024613-.2584 0-.0228-.0082042-.038-.01640839-.0608C17.99179581 9.4772 18 9.462 18 9.4392z"></path>
          </svg>
        </a>
        
      </div>
    </div>  
  </div>
</div>














{% schema %}
  {
    "name": "Section Seven",
    "class": "sect-7",
    "settings": [
	  {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
		"default":"Sign up to KrisFlyer"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content",
        "default": "<p>Not already a krisflyer member? Join now: It's fast and free, and as a wine journey customer you'll receive 500 krisflyer miles as a welcome bonus</p>"
      },
      {
        "type": "text",
        "id": "button_name",
        "label": "Button Name",
        "default": "Sign Up"
      },
      {
        "type": "url",
        "id": "url",
        "label": "Url"
      }
	]
  }
{% endschema %}