<div class="section-2">
  <div class="section-sub-2" style="background-image: url('{{ section.settings.image | img_url: 'master' }}')">
    <div class="page-width">
      <div class="center-section-2">
        <div class="sub-center-section-2">
          {{section.settings.title}}
        </div>
      </div>
    </div>  
  </div>
</div>



{% schema %}
  {
    "name": "Section Two",
    "class": "sect-2",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Left Image"
      },
      {
        "type": "richtext",
        "id": "title",
        "label": "Title"
      }      
	]
  }
{% endschema %}