<div class="section-3">
  <div class="page-width feature-row"> 
    <div class="right_image">   
      <div class="feature-row">
        <div class="feature-row__item feature-row__text feature-row__text--right">
          <span class="pre_title">{{section.settings.sub_heading}}</span>
          <h2 class="h3">{{section.settings.heading}}</h2>
          <div class="sing-text">
            {{section.settings.content}}
          </div>
        </div>
        <div class="feature-row__item">

          <div id="FeatureRowImageWrapper-feature-row" class="feature-row__image-wrapper js">
            <div>
              <img id="FeatureRowImage-feature-row" class="feature-row__image lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="0.75" data-sizes="auto" alt="" data-srcset="{{ section.settings.image | img_url: 'master' }}, {{ section.settings.image | img_url: 'master' }}, {{ section.settings.image | img_url: 'master' }} 540w, {{ section.settings.image | img_url: 'master' }} 720w, {{ section.settings.image | img_url: 'master' }} 900w, {{ section.settings.image | img_url: 'master' }} 1080w, {{ section.settings.image | img_url: 'master' }} 1296w, {{ section.settings.image | img_url: 'master' }} 1512w, {{ section.settings.image | img_url: 'master' }} 1728w, {{ section.settings.image | img_url: 'master' }} 2048w" sizes="398px" srcset="{{ section.settings.image | img_url: 'master' }} 180w, {{ section.settings.image | img_url: 'master' }} 360w, {{ section.settings.image | img_url: 'master' }} 540w, {{ section.settings.image | img_url: 'master' }} 720w, {{ section.settings.image | img_url: 'master' }} 900w, {{ section.settings.image | img_url: 'master' }} 1080w, {{ section.settings.image | img_url: 'master' }} 1296w, {{ section.settings.image | img_url: 'master' }} 1512w, {{ section.settings.image | img_url: 'master' }} 1728w, {{ section.settings.image | img_url: 'master' }} 2048w">
              {% if section.settings.icon == true %}
              <svg xmlns="http://www.w3.org/2000/svg" width="97.467" height="97.473" viewBox="0 0 97.467 97.473">
                <g>
                  <ellipse cx="48.733" cy="48.736" fill="none" stroke="rgb(248,131,121)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1.6" rx="47.933" ry="47.936"></ellipse>
                  <ellipse cx="48.733" cy="48.736" fill="none" stroke="rgb(248,131,121)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1.6" rx="41.979" ry="41.981"></ellipse>
                  <g>
                    <path fill="none" stroke="rgb(248,131,121)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1.6" d="M22.23604467 48.0754235s6.85707038-10.59230917 18.70110104-8.10000113C52.78117636 42.46773041 62.13172688 29.3831132 62.13172688 29.3831132"></path>
                    <path fill="none" stroke="rgb(248,131,121)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1.6" d="M26.59963491 54.92927062s6.85707038-10.59230917 18.70110104-8.10000113C57.1447666 49.32157753 66.49531712 36.2369603 66.49531712 36.2369603"></path>
                    <path fill="none" stroke="rgb(248,131,121)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1.6" d="M30.96322515 61.16004072s6.85707038-10.59230917 18.70110104-8.10000113C61.50835685 55.55234763 70.85890737 42.4677304 70.85890737 42.4677304"></path>
                    <path fill="none" stroke="rgb(248,131,121)" stroke-linecap="butt" stroke-linejoin="miter" stroke-width="1.6" d="M36.57355546 67.39081083s6.85707038-10.59230918 18.70110104-8.10000114c11.84403066 2.49230804 21.19458118-10.59230917 21.19458118-10.59230917"></path>
                  </g>
                </g>
              </svg>
              {% endif %}
            </div>
          </div>
        </div>


      </div> 

    </div>

  </div>
</div>





{% schema %}
  {
    "name": "Section Three",
    "class": "sect-3",
    "settings": [
      {
        "type": "text",
        "id": "sub_heading",
        "label": "Sub Heading",
		"default":"FIERCELY INDEPENDENT"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
		"default":"Expertly curated. Deliciously unique."
      }, 
      {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      }, 
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }, 
      {
        "type": "checkbox",
        "id": "icon",
        "label": "Show Icon",
		"default": true
      }      
	]
  }
{% endschema %}