<style>
  span#more {display: none;}
button#myBtn {
    margin-top: 10px;
    border: 0px;
    text-decoration: underline;
}
</style>
<div class="section-8 fsdwee">
  <div class="page-width">
    <div class="sub-faq">
      <h2>{{section.settings.heading}}</h2>
      <section id="content">
        <div id="accordion" class="accordion-container">

          {% for block in section.blocks %}
          <article class="content-entry">
            <h4 class="article-title"><i></i>{{block.settings.title}}</h4>
            <div class="accordion-content">
              {{block.settings.content}}
            </div>
            <!--/.accordion-content-->
          </article>
          {% endfor %}
          
        </div>
        <div id="description">
{{ section.settings.content}}
        </div>
      </section>

    </div>
  </div>
</div>



<style>
  .sub-faq .accordion-container {
    position: relative;
    width: 100%;
    border-top: none;
    outline: 0;
    cursor: pointer
  }

  .sub-faq .accordion-container .article-title {
    display: block;
    position: relative;
    margin: 0;
    padding: 20px 40px 20px 20px;
    font-size: 16px;
    font-weight: normal;
    color: #3A3A3A;
    cursor: pointer;
    background-color: #fff;
  }

  .sub-faq .accordion-container .article-title:hover i:before,
  .sub-faq .accordion-container .article-title:hover i:active,
  .sub-faq .accordion-container .content-entry.open i {
    color: #0A3039;
  }


  .sub-faq .accordion-container .content-entry i {
    position: absolute;
    top: 48%;
    right: 1%;
    font-style: normal;
    color: #0A3039;
    transform: translateX(-50%)translateY(-50%);
    font-size: 23px;
  }


  .sub-faq .accordion-container .content-entry i:before {
    content: "+ ";
  }

  .sub-faq .accordion-container .content-entry.open i:before {
    content: "- ";
  }

  .sub-faq .accordion-content {
    display: none;
    padding-left: 0;
    padding: 11px 10px 0 10px;
  }
  /* This stuff is just for the Codepen demo */

  .sub-faq #content {
    width: 100%;
  }

  .sub-faq .accordion-container,
  .sub-faq  #description {
    width: 90%;
    margin: 1.875em auto;
  }

  .sub-faq #description p {
    line-height: 1.5;
  }

  .sub-faq #description h2 {
    text-align: center;
  },
  


  @media all and (min-width: 860px) {
    .sub-faq #content {
      width: 70%;
      margin: 0 auto;
    }
  }
</style>

<script>
  $(function() {
    var Accordion = function(el, multiple) {
      this.el = el || {};
      this.multiple = multiple || false;

      var links = this.el.find('.article-title');
      links.on('click', {
        el: this.el,
        multiple: this.multiple
      }, this.dropdown)
    }

    Accordion.prototype.dropdown = function(e) {
      var $el = e.data.el;
      $this = $(this),
        $next = $this.next();

      $next.slideToggle();
      $this.parent().toggleClass('open');

      if (!e.data.multiple) {
        $el.find('.accordion-content').not($next).slideUp().parent().removeClass('open');
      };
    }
    var accordion = new Accordion($('.accordion-container'), false);
  });

  $(document).on('click', function (event) {
    if (!$(event.target).closest('#accordion').length) {
      $this.parent().toggleClass('open');
    }
  });
  
  
  function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less"; 
    moreText.style.display = "inline";
  }
}
</script>



{% schema %}
  {
    "name": "Section Eight",
    "class": "sect-8",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
		"default":"Frequently asked questions"
      },
      {
        "type": "html",
        "id": "content",
        "label": "Content",
		"default":"<p>This simple accordion toggle is a variation on the Super Smooth Accordion Dropdown Menu tutorial on jQueryScript.net. I used it to create a FAQ section for a project recently, but it can easily be adapted for any kind of content. This simple accordion toggle is a variation on the Super Smooth Accordion Dropdown Menu tutorial on jQueryScript.net. I used it to create a FAQ section for a project recently, but it can easily be adapted for any kind of content. This simple accordion toggle is a variation on the Super Smooth Accordion Dropdown Menu tutorial on jQueryScript.net. I used it to create a FAQ section for a project recently, but it can easily be adapted for any kind of content. This simple accordion toggle is a variation on the Super Smooth Accordion Dropdown Menu tutorial on jQueryScript.net. I used it to create a FAQ section for a project recently, but it can easily be adapted for any kind of content.</p>"
      }  
	],
    "blocks": [
      {
        "type": "text_block",
        "name": "faq",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Adventure and discovery keep us young."
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>"
          }
        ]
      }
    ]
  }
{% endschema %}
