<div class="section-1">
  <div class="page-width">
    <div class="center-section">
      <div class="sub-center-section">
        {%- if section.settings.image != blank -%}
        <img src="{{ section.settings.image | img_url: 'master' }}" class="img-left"/>
        {%- else -%}
        {%- if section.settings.svg != blank -%}
        <div class="icon-col sk-logo-svg">
          {{ section.settings.svg }}
        </div>
        {%- endif -%}
        {%- endif -%}
        <div class="center"><span><img src="https://cdn.shopify.com/s/files/1/0423/0312/7712/files/Group_4_b93a7ce3-7e8f-40e1-a239-a07317ed5508.png?v=1622648290"></span></div>
        <div class="icon-col sk-logo-img">
            <img src="{{ section.settings.image1 | img_url: 'master' }}" class="img-right"/>
        </div>
      </div>
    </div>
  </div> 
  <div class="page-width">
    <div class="partner-text">{{section.settings.bottom_title}}</div>
  </div>
</div>


{% schema %}
  {
    "name": "Section One",
    "class": "sect-1",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Left Image"
      },
      {
        "type": "html",
        "id": "svg",
        "label": "Logo Svg"
      },
      {
        "type": "image_picker",
        "id": "image1",
        "label": "Right Image"
      },
      {
        "type": "text",
        "id": "bottom_title",
        "label": "Bottom Title",
		"default":"Partnership"
      }      
	]
  }
{% endschema %}