<div class="section-5">

  <div id="AjaxinateContainer" class="page-width">
    <div class="page-title-5">{{ section.settings.heading }}</div>
    <ul class="grid grid--uniform grid--blog onetwothre">

      {% for block in section.blocks %}
      {% assign ig = ig | plus: 1 %}

      <li class="gird-new-section grid__item medium-up--one-third">
        <div class="main-section-5">
          <div class="article__grid-image-wrapper js">
            <div class="article__grid-image-container" >
              <div class="sect-5-round"><span>{% if ig <= 9 %}0{% endif %}{{ig}}</span></div>
            </div>
          </div>

          <div class="section-5-content">
            <h3 class="h3"> 
              <a href="{{block.settings.url}}" class="article__link">{{block.settings.title}}</a>
            </h3>
            {{block.settings.content}}
          </div>
        </div>
      </li>    

      {% endfor %}
 
    </ul>
   
    
  </div>
</div>





{% schema %}
  {
    "name": "Section Fifth",
    "class": "sect-5",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
		"default":"It's as simple as..."
      }      
	],
    "blocks": [
      {
        "type": "text_block",
        "name": "Column",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Shop your wine"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Url"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>"
          }
        ]
      }
    ]
  }
{% endschema %}