<section class="subscription-text-overlay" id="{{ section.id }}">
  <div class="subscription-overlay-bg">
    <div class="subscription-text subAbsoluteContent">
      {% if section.settings.title != blank %}<h2>{{ section.settings.title }}</h2>{% endif %}
      {% if section.settings.content != blank %}<div class="rte">{{ section.settings.content }}</div>{% endif %}
    </div>
  </div>
</section>
<style> 
  .subscription-overlay-bg{
    background-image: url({{ section.settings.image | img_url: 'master' }});
  }
  {% if section.settings.image_mobile != blank %}
  @media only screen and (max-width: 591px){
    .subscription-overlay-bg{
      background-image: url({{ section.settings.image_mobile | img_url: 'master' }});
    }
  }
  {% endif %}
</style>
{% schema %}
  {  
    "name": "Subscription Text Overlay",
    "settings": [
		{
			"type":"image_picker",
			"id":"image",
			"label":"Background Image"
		},
		{
			"type":"image_picker",
			"id":"image_mobile",
			"label":"Background Image (mobile)"
		},
		{
			"type":"text",
			"id":"title",
			"label":"Heading"
		},
		{
			"type":"richtext",
			"id":"content",
			"label":"Subheading"
		}

	]
  }
{% endschema %}