{% for block in section.blocks %}
 {% if block.type == 'custom-section-1'  %}
    <section {{ block.shopify_attributes }}>
      <div class="page-width">
        <div class="custom-section-1__wrapper">
          {% if block.settings.text_1 %}
          <p class="custom-section-1__text1">{{block.settings.text_1}}</p>
          {% endif %}
          {% if block.settings.heading %}
          <h2 class="custom-section-1__heading">{{block.settings.heading}}</h2>
          {% endif %}
          {% if block.settings.sub_heading %} 
          <div class="custom-section-1__sub-heading">{{block.settings.sub_heading}}</div>
          {% endif %}
        </div>  
      </div> 
    </section>  
 {% elsif block.type == 'mixcases' %}
  {% if block.settings.col != blank %}  
    <div class="mixcase-product-index mobile_show_de">
      <div class="page-width jump--sign text-center">
        <div class="grid grid--uniform grid--flush-bottom grid--mixcase--wrapper">
          {% assign collection = collections[block.settings.col] %}
          {% for product in collection.products limit:3 %}
          <div class="grid__item grid__jump medium-up--one-third text-center">
            <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{{ product.url | within: collection }}">
              <span class="visually-hidden">{{ product.title }}</span>
            </a>
            {%- assign max_height = 530 -%}
            {% capture img_id %}TextColumnImage-{{ block.id }}{% endcapture %}
            {% capture wrapper_id %}TextColumnImageWrapper-{{ block.id }}{% endcapture %}
            {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            {% include 'image-style', image: product.featured_image, height: max_height, wrapper_id: wrapper_id, img_id: img_id %}
             {% include 'graphic_brief-case' %}
            <div class="jump-card-image-wrapper">
              {% if product.featured_image %}
              <div id="{{ wrapper_id }}" class="feature-row__image-wrapper jump-card-image js">
                <div style="padding-top:{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100}}%;">
                  <img id="{{ img_id }}"
                       class="feature-row__image lazyload"
                       data-src="{{ img_url }}"
                       data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                       data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                       data-sizes="auto"
                       alt="{{ product.featured_image.alt | escape }}">
                </div>
              </div>
              {% else %}
              <div class="jump-card-image">
              {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
              {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
              {% endif %}
              <div class="jump-image-text">
                  <h3 class="h4">{{ product.title | escape }}</h3>
                <img class="jump-card-bottle" src="{{ 'bottle.png' | asset_url }}">
              </div> 
        	</div>
            <noscript>
              <p>
                {{ product.featured_image | img_url: '480x480', scale: 2 | img_tag: product.featured_image.alt, 'feature-row__image' }}
              </p>
            </noscript>
            <div class="jump-card-content">
              <h4 class="h5">{{ product.collections.first.title }}</h4>
              <div class="rte-setting">
                <p>{{ product.description | strip_html | truncatewords: 15  }}</p>
              </div>
              <a href="{{ product.url }}" class="btn btn--secondary btn--small btn-jump-card" aria-label="VIEW PACK" tabindex="0">VIEW CASE<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19">
                <path fill="rgb(248,131,121)" fill-rule="evenodd" d="M18 9.4392c0-.0912-.03281677-.1824-.09024613-.2584L10.80492252.1824C10.71467639.0684 10.5752051 0 10.42752962 0H6.39927075C5.9480401 0 5.5788514.342 5.5788514.76c0 .1444.04102097.2812.1230629.4028l2.53509572 3.7544c.2379216.3572.1230629.8284-.26253419 1.0488-.1230629.076-.27894257.114-.42661805.114H.82041933C.3691887 6.08 0 6.422 0 6.84v5.32c0 .418.3691887.76.82041933.76h6.72743846c.15587968 0 .30355515.038.43482225.114.38559708.2204.50045578.6916.26253418 1.0488l-2.53509571 3.7544c-.08204194.1216-.1312671.2584-.1312671.4028 0 .418.3691887.76.82041933.76h4.0200547c.14767547 0 .29535095-.0684.37739288-.1824l7.10483136-9.006c.05742935-.076.09024613-.1672.09024613-.2584 0-.0228-.0082042-.038-.01640839-.0608C17.99179581 9.4772 18 9.462 18 9.4392z"></path>
                </svg>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>   
   {% endif %}	
 {% endif %}
{% endfor %}


<!----------mobile -------------->




{%- comment -%}
{% for block in section.blocks %}
 {% if block.type == 'custom-section-1'  %}
    <section {{ block.shopify_attributes }}>
      <div class="page-width">
        <div class="custom-section-1__wrapper">
          {% if block.settings.text_1 %}
          <p class="custom-section-1__text1">{{block.settings.text_1}}</p>
          {% endif %}
          {% if block.settings.heading %}
          <h2 class="custom-section-1__heading">{{block.settings.heading}}</h2>
          {% endif %}
          {% if block.settings.sub_heading %} 
          <div class="custom-section-1__sub-heading">{{block.settings.sub_heading}}</div>
          {% endif %}
        </div>  
      </div> 
    </section>  
 {% elsif block.type == 'mixcases' %}
  {% if block.settings.col != blank %}  
    <div class="mixcase-product-index mobile_show" style="display:none;">
      <div class="page-width jump--sign text-center">
        <div class="grid grid--uniform grid--flush-bottom grid--mixcase--wrapper testimonial_opslider">
          {% assign collection = collections[block.settings.col] %}
          {% for product in collection.products limit:3 %}
          <div class="grid__item grid__jump medium-up--one-third text-center">
            {%- assign max_height = 530 -%}
            {% capture img_id %}TextColumnImage-{{ block.id }}{% endcapture %}
            {% capture wrapper_id %}TextColumnImageWrapper-{{ block.id }}{% endcapture %}
            {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            {% include 'image-style', image: product.featured_image, height: max_height, wrapper_id: wrapper_id, img_id: img_id %}
             {% include 'graphic_brief-case' %}
            <div class="jump-card-image-wrapper">
              {% if product.featured_image %}
              <div id="{{ wrapper_id }}" class="feature-row__image-wrapper jump-card-image js">
                <div style="padding-top:{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100}}%;">
                  <img id="{{ img_id }}"
                       class="feature-row__image lazyload"
                       data-src="{{ img_url }}"
                       data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                       data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                       data-sizes="auto"
                       alt="{{ product.featured_image.alt | escape }}">
                </div>
              </div>
              {% else %}
              <div class="jump-card-image">
              {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
              {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
              {% endif %}
              <div class="jump-image-text">
                  <h3 class="h4">{{ product.title | escape }}</h3>
                <img class="jump-card-bottle" src="{{ 'bottle.png' | asset_url }}">
              </div> 
        	</div>
            <noscript>
              <p>
                {{ product.featured_image | img_url: '480x480', scale: 2 | img_tag: product.featured_image.alt, 'feature-row__image' }}
              </p>
            </noscript>
            <div class="jump-card-content">
              <h4 class="h5">{{ product.collections.first.title }}</h4>
              <div class="rte-setting">
                <p>{{ product.description | strip_html | truncatewords: 15  }}</p>
              </div>
              <a href="{{ product.url }}" class="btn btn--secondary btn--small btn-jump-card" aria-label="VIEW PACK" tabindex="0">VIEW PACK<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19">
                <path fill="rgb(248,131,121)" fill-rule="evenodd" d="M18 9.4392c0-.0912-.03281677-.1824-.09024613-.2584L10.80492252.1824C10.71467639.0684 10.5752051 0 10.42752962 0H6.39927075C5.9480401 0 5.5788514.342 5.5788514.76c0 .1444.04102097.2812.1230629.4028l2.53509572 3.7544c.2379216.3572.1230629.8284-.26253419 1.0488-.1230629.076-.27894257.114-.42661805.114H.82041933C.3691887 6.08 0 6.422 0 6.84v5.32c0 .418.3691887.76.82041933.76h6.72743846c.15587968 0 .30355515.038.43482225.114.38559708.2204.50045578.6916.26253418 1.0488l-2.53509571 3.7544c-.08204194.1216-.1312671.2584-.1312671.4028 0 .418.3691887.76.82041933.76h4.0200547c.14767547 0 .29535095-.0684.37739288-.1824l7.10483136-9.006c.05742935-.076.09024613-.1672.09024613-.2584 0-.0228-.0082042-.038-.01640839-.0608C17.99179581 9.4772 18 9.462 18 9.4392z"></path>
                </svg>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>   
   {% endif %}	
 {% endif %}
{% endfor %}
{%- endcomment -%}

 
 
<style>
  .custom-section-1 {
    padding: 80px 0;
  } 
  .custom-section-1__wrapper { 
    padding: 40px 0;
/*     background-image: url({{ 'Ellipse_2.png' | asset_url }});  
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain; */
  }
   .before-footer-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-wave { 
    width: 100%;
  }
  
/*   .before-footer-section {
    margin-top: -30px;
    margin-bottom: -240px;
  } */
  
  .before-footer {
    position: absolute;
  }
  
  .btn-before-footer {
    margin-top: 40px;
    background: #0A3039;
    border-radius: 45px;
    padding: 23px 63px;
    color: #fff;
    font-size: 13.82px;
    font-weight: 700;
    letter-spacing: 2.3px;
    text-align: center;
    position: relative;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .btn-before-footer {
    background: #0A3039 !important;
    color: white !important;
  }
  .btn-before-footer svg {
  	position: absolute;
  	right: 27px;
  } 
  .before-footer .section-sub-header span {
    color: #0A3039;
    font-family: "{{ settings.custom_text_font }}";
    font-size: 12px;
    letter-spacing: 4px;
    line-height: 20px;
    text-align: center;
  }
  
  .before-footer .section-header {
    width: 600px;
    margin: 0 auto;
    position: relative;
  }
  .moon_footer { 
    position: absolute;
    top: -80px;
    right: -140px;
  } 
  
  .before-footer .section-header h2 {
    color: #0A3039;
    font-family: "{{ settings.custom_heading_font }}";
    font-size: 54px;
    line-height: 83px;
    text-align: center;
    letter-spacing: 0;
    text-transform: initial;
    font-weight: normal;
  }   
  
  @media (max-width:1024px){
     .custom-section-1__wrapper { 
        padding:5% 0;
     }
  }
  
  @media screen and (max-width: 749px) {
    .mobile_show_de{display:none;}
    .mobile_show{display:block !important;}
  }
 
</style>
{% schema %}
  {
    "name": "Mixcase index",
    "class": "Mixcase09 unoiqure_csl",
"settings": [
		
	],
	"blocks": [
		{
			"type": "custom-section-1",
			"name": "Custom section 1",
			"settings": [
				{
                    "type": "text",
                    "id": "text_1",
                    "label": "Text above Heading"
                },
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                },
                {
                    "type": "richtext",
                    "id": "sub_heading",
                    "label": "Sub-Heading"
                }
			]
		},
		{
			"type": "mixcases",
			"name": "Mixcases",
			"settings": [
				{
					"type": "collection",
					"id": "col",
					"label": "Collection"
				}
			]
		},
		{
		  	"type": "promo-panel",
			"name": "Promo panel",
			"settings": [
				{
					"type": "checkbox",
					"id": "enable",
					"label": "Enable",
					"default": true
				},
				{
					"type": "image_picker",
					"id": "bg_image",
					"label": "Background image"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Main image"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Title"
				},
				{
					"type": "textarea",
					"id": "content",
					"label": "Content"
				},
				{
					"type": "text",
					"id": "btn_label",
					"label": "Button label"
				},
				{
					"type": "url",
					"id": "btn_link",
					"label": "Button link"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
