<section class="subscription-product-gallery sub__products_wrpper" id="{{ section.id  }}">
  {%- assign collection = collections[section.settings.collection] -%}
  <div class="product-gallery-block">
    {% for product in collection.products %}
    {% unless product.tags contains 'coming soon' %}
    <div class="product-gallery-item" id="block-{{ product.id }}">
      <div class="product-gallery-grid" style="background-image:url({{ product.featured_image | img_url: 'master' }})">
        <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{{ product.url }}">
          <span class="visually-hidden">{{ product.title }}</span>
        </a>
        <div class="gallery-grid-content">
        <h2>{{ product.title }}</h2>
          <div class="rte">{% comment %}<p>3 months {{ product.price | money_without_trailing_zeros }}/mo</p>{% endcomment %}</div>  
          <a href="{{ product.url }}">Let's Go{% include 'btn-arrow' %}</a>
        </div>
        {% if product.tags contains 'new' %}
        <div class="grid-badge">
          <h2>BRAND NEW</h2>
        </div>
        {% elsif product.tags contains 'bestselling' %}
        <div class="grid-badge hide" style="background-color:#F88379;">
          <h2>Selling Fast</h2>
        </div>
        {% endif %}
  
        {% for tag in product.tags %}
          {% if tag contains 'tag_' %}
          <div class="grid-badge" style="background-color:#F88379;">
            <h2>{{ tag | remove: 'tag_' }}</h2>
          </div>
          {% endif %}
        {% endfor %}   
      </div>
      <div class="gallery-content-item">
        {% comment %}{% if product.description %}
        <div class="rte">{{ product.description | truncate: 50 }}</div>
        {% endif %}{% endcomment %}
        <h3>WineJourney</h3>
      </div>
    </div>
    {% endunless %}
    {% endfor %}
    {% for product in collection.products %}
    {% if product.tags contains 'coming soon' %}
    <div class="product-gallery-item" id="block-{{ product.id }}">
      <div class="product-gallery-grid" style="background-image:url({{ product.featured_image | img_url: 'master' }})">
        <div class="gallery-grid-content">
          <h2>{{ product.title }}</h2>
          <a href="#!" class="comingsoon__btn">Coming Soon</a>
        </div>
        {% if product.tags contains 'coming soon' %}
        <div class="grid-badge">
          <h2>Coming Soon</h2>
        </div>
        {% endif %}
      </div>
      <div class="gallery-content-item">
        {% if product.description %}
        <div class="rte" style="display: none;">{{ product.description | truncate: 50 }}</div>
        {% endif %}
        <h3>WineJourney</h3>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</section>

{% schema %}
  {
    "name": "Subscription Products",
    "class":"custom-product-gallery hhh",
    "settings":[
      {
        "type":"collection",
        "id":"collection",
        "label":"Collection"
      }
	]
  }
{% endschema %}