<div class="before-footer-wrapper">
  {% comment %}
  <img class="footer-wave" src="{{ "Swirl_Top.png" | asset_url }}">
  {% endcomment %}
  <div class="page-width before-footer text-center">

    {% if section.settings.pre_title != blank %}
      <div class="section-sub-header text-center">
        <span>{{ section.settings.pre_title | escape }}</span>
      </div>
    {% endif %} 

    {% if section.settings.title != blank %}
      <div class="section-header text-center">
        <span class="moon_footer">{% include 'graphic_moon-footer' %}</span>
        <h2>{{ section.settings.title | escape }}</h2>
      </div>
    {% endif %}


    {% if section.settings.button_label_main != blank and section.settings.button_link_main != blank %}
      <a href="{{ section.settings.button_link_main }}"
         class="btn btn--secondary btn--small btn-before-footer">
        {{- section.settings.button_label_main | escape -}}
        {% include 'btn-arrow' %}
      </a>
    {% endif %}

  </div>
</div>


{% schema %}
{
  "name": "Subs Local Knowledge",
  "class": "before-footer-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
	{
      "type": "text",
      "id": "pre_title",
      "label": "Pre Heading"
    },
	{
      "type": "text",
      "id": "button_label_main",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link_main",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "name": "Custom Section 6",
      "category": "Custom Section"
    }
  ]
}
{% endschema %}
