<section class="subscription-product-gallery" id="{{ section.id  }}">
  {% if section.blocks.size > 0 %}
  <div class="product-gallery-block">
    {% for block in section.blocks %}
    <div class="product-gallery-item" id="block-{{ block.id }}">
      <div class="product-gallery-grid">
        <div class="gallery-grid-content">
        {% if block.settings.title != blank %}<h2>{{ block.settings.title }}</h2>{% endif %}
        {% if block.settings.subtitle != blank %}<div class="rte">{{ block.settings.subtitle }}</div>{% endif %}
        {% if block.settings.btn_text != blank %}<a href="{{ block.settings.btn_link }}">{{ block.settings.btn_text }}{% include 'btn-arrow' %}</a>{% endif %}
        </div>
        {% if block.settings.show_badge %}
      <div class="grid-badge">
        {% if block.settings.badge_text != blank %} 
        <h2>{{ block.settings.badge_text }}</h2>
        {% endif %}
      </div>
      {% endif %}
      </div>
      <div class="gallery-content-item">
        {% if block.settings.content != blank %}<div class="rte">{{ block.settings.content }}</div>{% endif %}
        {% if block.settings.logo_text != blank %}<h3>{{ block.settings.logo_text }}</h3>{% endif %}
      </div>
      
    </div>
    <style>
      #block-{{ block.id }} .product-gallery-grid{
        background-image: url({{ block.settings.image | img_url: 'master' }});
      }
      #block-{{ block.id }} .product-gallery-grid .grid-badge{
        background-color: {{ block.settings.bagde_bg }};
      }
</style>
    {% endfor %}
  </div>
  {% endif %}
</section>

{% schema %}
  {
    "name": "Subs sProducts Gallery",
    "class":"custom-product-gallery hhh",
	"blocks":[
		{
			"type":"block",
			"name":"Item",
			"settings":[
				{
					"type":"image_picker",
					"id":"image",
					"label":"background Image"
				},
				{
					"type":"textarea",
					"id":"title",
					"label":"Title"
				},
				{
					"type":"richtext",
					"id":"subtitle",
					"label":"Subtitle"
				},
				{
					"type":"url",
					"id":"btn_link",
					"label":"Button Link"
				},
				{
					"type":"text",
					"id":"btn_text",
					"label":"Button Text"
				},
				{
					"type":"richtext",
					"label":"Content",
					"id":"content"
				},
				{
					"type":"text",
					"id":"logo_text",
					"label":"WineJourney"
				},
				{
					"type":"checkbox",
					"id":"show_badge",
					"label":"Show/Hide Badge"
				},
				{
					"type":"color",
					"id":"bagde_bg",
					"label":"Badge Background"
				},
				{
					"type":"text",
					"id":"badge_text",
					"label":"Badge text"
				}
			]
		}
	]
  }
{% endschema %}