<div class="subscription-map-section" id="{{ section.id }}">
  <div class="page-width">
    <div class="map-block-section">
      {% if section.settings.title != blank %}<h2>{{ section.settings.title }}</h2>{% endif %}
      {% if section.settings.content != blank %}<div class="rte">{{ section.settings.content }}</div>{% endif %}
      {% if section.settings.image != blank %}<img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.image.alt }}" />{% endif %}
      <div class="signup-form">
        {% if section.settings.heading != blank %}<div class="rte">{{ section.settings.heading }}</div>{% endif %}
        <div class="klaviyo-form-YmeUXP"></div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Subscription Newsletter",
	"class":"custom-map-section",
    "settings": [
		{
			"type":"text",
			"id":"title",
			"label":"Heading"
		},
		{
			"type":"richtext",
			"id":"content",
			"label":"Subheading"
		},
		{
			"type":"image_picker",
			"id":"image",
			"label":"Image"
		},
		{
			"type":"header",
			"content":"Newsletter"
		},
		{
			"type":"richtext",
			"id":"heading",
			"label":"Heading"
		}
	]
  }
{% endschema %}