<div class="page-width jump--sign text-center">

  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}
  
  {% if section.settings.sub_title != blank %}
    <div class="section-sub-header text-center">
      <h3>{{ section.settings.sub_title | escape }}</h3>
    </div>
  {% endif %}
  
  <div class="grid {% unless section.blocks.size == 5 %}grid--uniform{% endunless %} grid--jump--wrapper" style="display:none;">
    {%- assign grid_item_width = 'medium-up--one-third' -%}
    {%- assign max_height = 345 -%}
    {% case section.blocks.size %}
      {% when 1 %}
        {%- assign grid_item_width = 'medium-up--one-half' -%}
        {%- assign max_height = 530 -%}
      {% when 2 %}
        {%- assign grid_item_width = 'medium-up--one-half' -%}
        {%- assign max_height = 530 -%}
      {% when 4 %}
        {%- assign grid_item_width = 'medium-up--one-half' -%}
        {%- assign max_height = 530 -%}
    {% endcase %}
    {% for block in section.blocks %}
      {% if section.blocks.size == 5 and forloop.index < 3 %}
        {%- assign column_width = 'medium-up--one-half' -%}
        {%- assign max_height = 530 -%}
      {% else %}
        {%- assign column_width = grid_item_width -%}
      {% endif %}
      <div class="grid__item grid__jump {{ column_width }} text-{{ section.settings.align_text }}" {{ block.shopify_attributes }}>
        {% if block.settings.enable_image %}
          {% if block.settings.image != blank %}
            {% capture img_id %}TextColumnImage-{{ block.id }}{% endcapture %}
            {% capture wrapper_id %}TextColumnImageWrapper-{{ block.id }}{% endcapture %}
            {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            {% include 'image-style', image: block.settings.image, height: max_height, wrapper_id: wrapper_id, img_id: img_id %}
            
        	{% include 'graphic_brief-case' %}
        	<div class="jump-card-image-wrapper">
              <div id="{{ wrapper_id }}" class="feature-row__image-wrapper jump-card-image js">
                <div style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100}}%;">
                  <img id="{{ img_id }}"
                       class="feature-row__image lazyload"
                       data-src="{{ img_url }}"
                       data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                       data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                       data-sizes="auto"
                       alt="{{ block.settings.image.alt | escape }}">
                </div>
              </div>
              <div class="jump-image-text">
              {% if block.settings.title != blank %}
                  <h3 class="h4">{{ block.settings.title | escape }}</h3>
              {% endif %}
                <img class="jump-card-bottle" src="{{ 'bottle.png' | asset_url }}">
              </div>
        	</div>
            <noscript>
              <p>
                {{ block.settings.image | img_url: '480x480', scale: 2 | img_tag: block.settings.image.alt, 'feature-row__image' }}
              </p>
            </noscript>
          {% else %}
            <p>
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </p>
          {% endif %}
        {% endif %}
        
        <div class="jump-card-content">
          
          {% if block.settings.title2 != blank %}
            <h4 class="h5">{{ block.settings.title2 | escape }}</h4>
          {% endif %}
          {% if block.settings.text != blank %}
            <div class="rte-setting">{{ block.settings.text }}</div>
          {% endif %}

          {% if block.settings.button_label != blank and block.settings.button_link != blank %}
            {%- capture ariaLabel -%}
              {{- block.settings.button_label -}}
              {%- if block.settings.button_link.type == 'frontpage_link' -%}
                : {{ 'homepage.general.title' | t -}}
              {%- elsif block.settings.button_link.type == 'catalog_link' -%}
                : {{ 'collections.catalog.title' | t -}}
              {%- elsif block.settings.button_link.object.title -%}
                : {{ block.settings.button_link.object.title -}}
              {%- endif -%}
            {%- endcapture -%}

            <a href="{{ block.settings.button_link }}"
              class="btn btn--secondary btn--small btn-jump-card"
              aria-label="{{ ariaLabel | escape }}">
              {{- block.settings.button_label | escape -}}
              {% include 'btn-arrow' %}
            </a>
          {% endif %}
        </div>
        
      </div>
    {% endfor %}
  </div>
  
  {% if section.settings.button_label_main != blank and section.settings.button_link_main != blank %}
    <a href="{{ section.settings.button_link_main }}"
       class="btn btn--secondary btn--small btn-jump-main">
      {{- section.settings.button_label_main | escape -}}
      <img src="{{ 'Path.png' | asset_url }}">
    </a>
  {% endif %}

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}

</div>



{% schema %}
{
  "name": "Subscription Jump Section",
  "class": "subscription-jump-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Text columns with images"
    },
	{
      "type": "text",
      "id": "sub_title",
      "label": "Sub Heading",
      "default": "Text columns with images Sub Heading"
    },
    {
      "type": "select",
      "id": "align_text",
      "label": "Text alignment",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Centered"
        }
      ]
    },
	{
      "type": "text",
      "id": "button_label_main",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link_main",
      "label": "Button link"
    }
  ],
  "blocks": [
    {
      "type": "text_block",
      "name": "Column",
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_image",
          "label": "Show image",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Add a title or tagline"
        },
		{
          "type": "text",
          "id": "title2",
          "label": "Heading 2",
          "default": "Add a title or tagline"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Section 4",
      "category": "Custom Section",
      "blocks": [
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        }
      ]
    }
  ]
}
{% endschema %}
