<style>
  .custom-blog-section {
    background-image: url({{ "Greg_Bg.png" | asset_url }});
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 100px;
  }
  .custom-blog-section .section-header {
  	margin-bottom: 0 !important;
  }
  .custom-blog-section .section-header h2 {
    color: #1B3F43;
    font-family: "{{ settings.custom_heading_font }}";
    font-size: 54px;
    line-height: 62px;
    text-align: center;
    margin-bottom: 30px;
  }
  .custom-blog-section .section-sub-header {
  	margin-bottom: 0 !important;
  }
  .custom-blog-section .section-sub-header h3 {
    color: #1B3F43;
    font-size: 32px;
    line-height: 42px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 55px;
  }
  .custom-blog-section .article__grid-image-wrapper {
    max-width: 400px !important;
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .custom-blog-section .article__grid-image-wrapper .article__link {
  	width: 100%;
    height: 100%;
  }
  
  .custom-blog-section .article__grid-image-wrapper .custom-blog-content {
  	position: absolute;
    top: 0;
    padding: 50px 30px;
    bottom: 0;
  }
  
  .custom-blog-section .article__grid-image-wrapper .custom-blog-content .article__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .custom-blog-section .article__grid-image-wrapper .custom-blog-content h3 {
  	color: #FFF;
    font-family: "{{ settings.custom_text_font }}";
    font-size: 32px;
    font-weight: 300;
    line-height: 36px;
  }
  
  .custom-blog-section .article__grid-image-wrapper .custom-blog-content .btn--small {
  	color: #FFF;
    font-family: "{{ settings.custom_text_font }}";
    line-height: 26px;
    border: none !important;
    
    padding: 0;
    text-decoration: underline;
    font-weight: 300;
    font-size: 18px;
  }
  
  .article__date time {
  	color: #FFF;
    font-family: "{{ settings.custom_text_font }}";
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
  }
  
  .custom-blog-section .article__grid-image-wrapper img {
    max-width: 400px !important;
    max-height: 500px !important;
  }
  
  .custom-blog-section .article__grid-image-container {
    margin-bottom: 0 !important;
  }
  
  .custom-blog-view-all .btn {
    margin-top: 75px;
    background: #fff;
    border: .5px solid #0A3039;
    border-radius: 45px;
    padding: 23px 150px;
    color: #0A3039;
    font-size: 13.82px;
    font-weight: 700;
    letter-spacing: 2.3px;
    text-align: center;
    position: relative;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .custom-blog-view-all .btn {
    background: #fff !important;
    color: #0A3039 !important;
  }
  .custom-blog-view-all svg {
  	position: absolute;
  	right: 27px;
  } 
</style>

<div class="page-width">
  {% if section.settings.title != blank %}
    <header class="section-header text-center">
      <h2>{{ section.settings.title | escape }}</h2>
    </header>
  {% endif %}
  {% if section.settings.sub_title != blank %}
    <div class="section-sub-header text-center">
      <h3>{{ section.settings.sub_title | escape }}</h3>
    </div>
  {% endif %}

  {%- assign blog = blogs[section.settings.blog] -%}

  {% unless blog.articles_count == 0 %}
    <ul class="grid grid--uniform grid--blog">
      {% for article in blog.articles limit: section.settings.post_limit %}
        <li class="grid__item medium-up--one-third">
          <article aria-labelledby="FeaturedBlogTitle-{{ forloop.index0 }}-{{ section.id }}">
            <header>
              <a href="{{ article.url }}" class="article__link">
                {% if article.image %}
                  {% capture img_id %}ArticleImage-{{ article.image.id }}{% endcapture %}
                  {% capture img_wrapper_id %}ArticleImageWrapper-{{ article.image.id }}{% endcapture %}
                  {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

                  {% include 'image-style', image: article.image, height: 345, wrapper_id: img_wrapper_id, img_id: img_id %}
                  <div id="{{ img_wrapper_id }}" class="article__grid-image-wrapper js">
                    <div class="article__grid-image-container" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100}}%;">
                      <img id="{{ img_id }}"
                          class="article__grid-image lazyload"
                          data-src="{{ img_url }}"
                          data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                          data-aspectratio="{{ article.image.aspect_ratio }}"
                          data-sizes="auto"
                          alt="">
                    </div>
                    
                    <div class="custom-blog-content">
                      {% if section.settings.blog_show_date %}
                        <span class="article__date nobhgy_n">
                          {{ article.published_at | time_tag: format: 'date' }}
                        </span>
                      {% endif %}
                      <h3 class="article__title" id="FeaturedBlogTitle-{{ forloop.index0 }}-{{ section.id }}">
                        {{ article.title }}
                      </h3>
                      <a href="{{ article.url }}" class="btn btn--tertiary btn--small" aria-label="{{ 'blogs.article.read_more_title' | t: title: article.title }}">
                        {{ 'blogs.article.read_more' | t }}
                      </a>
                          {% if section.settings.blog_show_date %}
                        <span class="article__date">
                          {{ article.published_at | time_tag: format: 'date' }}
                        </span>
                      {% endif %}
                    </div>
                    
                  </div>
                  <noscript>
                    <div class="article__grid-image-wrapper">
                      {{ article | img_url: '345x345', scale: 2 | img_tag: article.title, 'article__grid-image' }}
                    </div>
                  </noscript>
                {% endif %}
              </a>
              
            </header>
          </article>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="grid grid--uniform grid--blog">
      {% for i in (1..section.settings.post_limit) %}
        <div class="grid__item medium-up--one-third">
          <div class="article__grid-meta">
            <h3 class="article__title">
              <a href="#">{{ 'homepage.onboarding.blog_title' | t }}</a>
            </h3>

            {% if section.settings.blog_show_author %}
              <span class="article__author">{{ 'homepage.onboarding.blog_author' | t }}</span>
            {% endif %}
 
            <ul class="list--inline article__meta-buttons">
              <li>
                <a href="{{ article.url }}" class="btn btn--tertiary btn--small">
                  {{ 'blogs.article.read_more' | t }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endunless %}

  {% if section.settings.show_view_all %}
    <hr class="hr--invisible" aria-hidden="true">
    <div class="text-center custom-blog-view-all">
      <a href="{{ blog.url }}" class="btn" aria-label="{{ 'blogs.article.view_all_blogs' | t }}">
        {{ 'blogs.article.view_all' | t }}
        {% include 'btn-arrow' %}
      </a>
    </div>
  {% endif %}
</div>



{% schema %}
{
  "name": "Subscription Blog posts",
  "class": "custom-blog-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "cs": "Nadpis",
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pl": "Nagłówek",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "tr": "Başlık",
        "vi": "Tiêu đề",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "cs": "Příspěvky na blogu",
        "da": "Blogopslag",
        "de": "Blogposts",
        "en": "Blog posts",
        "es": "Entradas del blog",
        "fi": "Blogijulkaisut",
        "fr": "Articles de blog",
        "hi": "ब्लॉग पोस्ट",
        "it": "Articoli del blog",
        "ja": "ブログ記事",
        "ko": "블로그 게시물",
        "nb": "Blogginnlegg",
        "nl": "Blogberichten",
        "pl": "Posty na blogu",
        "pt-BR": "Posts do blog",
        "pt-PT": "Publicações no blogue",
        "sv": "Blogginlägg",
        "th": "โพสต์บล็อก",
        "tr": "Blog gönderileri",
        "vi": "Bài viết blog",
        "zh-CN": "博客文章",
        "zh-TW": "部落格文章"
      }
    },
    {
	  "type": "text",
      "id": "sub_title",
	  "label": "Sub Heading"
    },
    {
      "id": "blog",
      "type": "blog",
      "label": {
        "cs": "Blog",
        "da": "Blog",
        "de": "Blog",
        "en": "Blog",
        "es": "Blog",
        "fi": "Blogi",
        "fr": "Blog",
        "hi": "ब्लॉग",
        "it": "Blog",
        "ja": "ブログ",
        "ko": "블로그",
        "nb": "Blogg",
        "nl": "Blog",
        "pl": "Blog",
        "pt-BR": "Blog",
        "pt-PT": "Blogue",
        "sv": "Blogg",
        "th": "บล็อก",
        "tr": "Blog",
        "vi": "Blog",
        "zh-CN": "博客",
        "zh-TW": "部落格"
      }
    },
    {
      "type": "range",
      "id": "post_limit",
      "label": {
        "cs": "Příspěvky",
        "da": "Opslag",
        "de": "Posts",
        "en": "Posts",
        "es": "Publicaciones",
        "fi": "Julkaisut",
        "fr": "Articles",
        "hi": "पोस्ट",
        "it": "Articoli",
        "ja": "投稿",
        "ko": "게시물",
        "nb": "Innlegg",
        "nl": "Berichten",
        "pl": "Posty",
        "pt-BR": "Posts",
        "pt-PT": "Publicações",
        "sv": "Inlägg",
        "th": "โพสต์",
        "tr": "Gönderiler",
        "vi": "Bài viết",
        "zh-CN": "文章",
        "zh-TW": "貼文"
      },
      "min": 3,
      "max": 12,
      "step": 3,
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": {
        "cs": "Zobrazit autora",
        "da": "Vis forfatter",
        "de": "Autor anzeigen",
        "en": "Show author",
        "es": "Mostrar autor",
        "fi": "Näytä tekijä",
        "fr": "Afficher l'auteur",
        "hi": "लेखक दिखाएं",
        "it": "Mostra autore",
        "ja": "執筆者を表示する",
        "ko": "작성자 표시",
        "nb": "Vis forfatter",
        "nl": "Auteur weergeven",
        "pl": "Pokaż autora",
        "pt-BR": "Exibir autor",
        "pt-PT": "Mostrar autor",
        "sv": "Visa författare",
        "th": "แสดงผู้เขียน",
        "tr": "Yazarı göster",
        "vi": "Hiển thị tác giả",
        "zh-CN": "显示作者",
        "zh-TW": "顯示作者"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": {
        "cs": "Zobrazit datum",
        "da": "Vis dato",
        "de": "Datum anzeigen",
        "en": "Show date",
        "es": "Mostrar fecha",
        "fi": "Näytä päivämäärä",
        "fr": "Afficher la date",
        "hi": "दिनांक दिखाएं",
        "it": "Mostra data",
        "ja": "日付を表示する",
        "ko": "날짜 표시",
        "nb": "Vis dato",
        "nl": "Datum weergeven",
        "pl": "Pokaż datę",
        "pt-BR": "Exibir data",
        "pt-PT": "Mostrar data",
        "sv": "Visa datum",
        "th": "แสดงวันที่",
        "tr": "Tarihi göster",
        "vi": "Hiển thị ngày",
        "zh-CN": "显示日期",
        "zh-TW": "顯示日期"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": {
        "cs": "Zobrazit tlačítko Zobrazit vše",
        "da": "Vis knappen \"Se flere\"",
        "de": "'Alle anzeigen' Button anzeigen",
        "en": "Show 'View all' button",
        "es": "Mostrar el botón 'Ver todo'",
        "fi": "Näytä \"Näytä kaikki\" -painike",
        "fr": "Afficher le bouton “Voir tout”",
        "hi": "'सभी देखें' बटन दिखाएं",
        "it": "Mostra il pulsante \"Visualizza tutto\"",
        "ja": "「すべて表示」ボタンを表示する",
        "ko": "'모두 보기' 버튼 표시",
        "nb": "Vis «Se alle»-knapp",
        "nl": "Knop 'Alles weergeven' weergeven",
        "pl": "Pokaż przycisk „Wyświetl wszystkie”",
        "pt-BR": "Exibir botão \"Visualizar tudo\"",
        "pt-PT": "Mostrar botão 'Ver tudo'",
        "sv": "Visa \"Visa alla\"-knappen",
        "th": "แสดงปุ่ม 'ดูทั้งหมด'",
        "tr": "\"Tümünü görüntüle\" düğmesini göster", 
        "vi": "Hiển thị nút \"Xem tất cả\"",
        "zh-CN": "显示“查看全部”按钮",
        "zh-TW": "顯示「檢視全部」按鈕"
      },
      "default": false
    }
  ]
}
{% endschema %}
