{%- if section.settings.enable_section == true -%}
<div class="page-width">
  <div class="wdigem__wrapper">
    <div class="section-header text-center">
      {% if section.settings.pre_title  != blank %}
      <div class="pre-heading"><span>{{ section.settings.pre_title }}</span></div>
      {% endif %}
      {% if section.settings.title  != blank %}
      <h2>{{ section.settings.title }}</h2>
      {% endif %}
    </div>
    <div class="grid wdigem__blocks_wrap">
      <div class="grid__item medium-up--four-tenths">
        {% if section.settings.col_title  != blank %}
        <h3>{{ section.settings.col_title }}</h3>
        {% endif %}
        <span class="wdigem__logo_separator"><img src="{{ "j-mark.svg" | asset_url }}">{%- if section.settings.col_title  != blank-%}<hr>{% endif %}</span>        
        {% unless section.settings.text == blank %}
        <div class="wdigem__text rte">{{ section.settings.text }}</div>
        {% endunless %}
      </div>
      <div class="grid__item medium-up--six-tenths">
        <div class="wdigem__image_wrapper">
          {% if section.settings.image_1 != blank %}
          <img data-src="{{ section.settings.image_1 | img_url: 'master' }}" class="wdigem__top_image lazyload">
          {% endif %}
          <span class="wdigem__svg">{% include "graphic_stamp-passport-01" %}</span>
          {% if section.settings.image_2 != blank %}
          <img data-src="{{ section.settings.image_2 | img_url: 'master' }}" class="wdigem__bottom_image lazyload">
          {% endif %}
        </div>
      </div>
      {% if section.settings.col_text != blank %}
      <div class="grid__item one-whole wdigem__text">
        {{ section.settings.col_text }}
      </div>
      {% endif %}
    </div>
    {%- comment -%}<div class="grid wdigem__tab_wrap">
      
      <div class="grid__item medium-up--one-half">
        <div class="wdigem__tab">
          {%- if section.settings.tab_image_1 != blank -%}
          <div class="wdigem__tabImage"><img class="lazyload" data-src="{{ section.settings.tab_image_1 | img_url: 'master' }}"></div>
          {% endif %}
          {%- if section.settings.tab_1 != blank -%}{{ section.settings.tab_1 }}{% endif %}
        </div>
      </div>
      
      
      <div class="grid__item medium-up--one-half">
        <div class="wdigem__tab">
          {%- if section.settings.tab_image_2 != blank -%}
          <div class="wdigem__tabImage"><img class="lazyload" data-src="{{ section.settings.tab_image_2 | img_url: 'master' }}"></div>
          {% endif %}
          {%- if section.settings.tab_2 != blank -%}{{ section.settings.tab_2 }}{% endif %}
        </div>
      </div>
      
    </div>{%- endcomment -%}
    
    <div class="wdigem__btn text-center medium-up--hide">
      <button class="btn click__addToCart">
        Join the Journey
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19">
          <path fill="rgb(248,131,121)" fill-rule="evenodd" d="M18 9.4392c0-.0912-.03281677-.1824-.09024613-.2584L10.80492252.1824C10.71467639.0684 10.5752051 0 10.42752962 0H6.39927075C5.9480401 0 5.5788514.342 5.5788514.76c0 .1444.04102097.2812.1230629.4028l2.53509572 3.7544c.2379216.3572.1230629.8284-.26253419 1.0488-.1230629.076-.27894257.114-.42661805.114H.82041933C.3691887 6.08 0 6.422 0 6.84v5.32c0 .418.3691887.76.82041933.76h6.72743846c.15587968 0 .30355515.038.43482225.114.38559708.2204.50045578.6916.26253418 1.0488l-2.53509571 3.7544c-.08204194.1216-.1312671.2584-.1312671.4028 0 .418.3691887.76.82041933.76h4.0200547c.14767547 0 .29535095-.0684.37739288-.1824l7.10483136-9.006c.05742935-.076.09024613-.1672.09024613-.2584 0-.0228-.0082042-.038-.01640839-.0608C17.99179581 9.4772 18 9.462 18 9.4392z"></path>
        </svg>
      </button>
    </div>
  </div>
</div>
{%- endif -%}

{% schema %}
  {
    "name": "What do I get each month",
    "class": "wdigem__section",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_section",
        "label": "Enable section",
        "default": true
      },
      {
        "type": "text",
        "id": "pre_title",
        "label": "Pre Title"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "header",
        "content": "Row content"
      },
      {
        "type": "text",
        "id": "col_title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "1. Image"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "2. Image"
      },
      {
        "type": "header",
        "content": "Tabs content"
      },
      {
        "type": "richtext",
        "id": "tab_1",
        "label": "1. Tab"
      },
      {
        "type": "image_picker",
        "id": "tab_image_1",
        "label": "1. Image"
      },
      {
        "type": "richtext",
        "id": "tab_2",
        "label": "2. Tab"
      },
      {
        "type": "image_picker",
        "id": "tab_image_2",
        "label": "2. Image"
      }
	]
  }
{% endschema %}