$(window).scroll(function() {
  if($('#shopify-section-product-subscription-template-custom .btn-add-to-cart,#shopify-section-product-template-custom .btn-add-to-cart,#shopify-section-product-mixcase-template-custom .btn-add-to-cart').length) {
    $(".ctm-sticky-box").hide();
    if($(window).scrollTop() < $('#shopify-section-product-subscription-template-custom .btn-add-to-cart,#shopify-section-product-template-custom .btn-add-to-cart,#shopify-section-product-mixcase-template-custom .btn-add-to-cart').offset().top){
      $(".ctm-sticky-box").hide();
      $(".ctm-sticky-box").css("position","initial");
      $('.sk-header-section').css('position','fixed');
    }else if($(window).scrollTop() > $('#shopify-section-product-subscription-template-custom .btn-add-to-cart,#shopify-section-product-template-custom .btn-add-to-cart,#shopify-section-product-mixcase-template-custom .btn-add-to-cart').offset().top){
      $(".ctm-sticky-box").show();
      $(".ctm-sticky-box").css("position","fixed");
      $(".ctm-sticky-box").css("top","0");
      $(".ctm-sticky-box").css("z-index","10");
      $('.sk-header-section').css('position','static');
    }
  }
  
  if($('.sk-header-section').offset().top > 50) {
    $('.sk-header-section').css('background', '#f2f4f4');
    $('.sk-header-section').css('transition', '.2s');
  } else {
    $('.sk-header-section').css('background', 'transparent');
    $('.sk-header-section').css('transition', '.2s');
  }
  
//   if($('.page-subscriptions').length > 0 ){
//     if($(window).scrollTop() > 200) {
//       $('.site-header').css({'position': 'fixed','transition': '.2s'});
//     } else {
//       $('.site-header').css({'position': 'unset','transition': '.2s'});
//     }
//   }
});


$(document).ready(function(){

  FaqAccordionInit();
  GiftATCInit();
 
  var backButton = '<?xml version="1.0" encoding="utf-8"?><svg height=44px version=1.1 viewBox="0 0 44 44"width=44px xmlns=http://www.w3.org/2000/svg xmlns:xlink=http://www.w3.org/1999/xlink><defs><path d="M22 44C34.1503 44 44 34.1503 44 22C44 9.84974 34.1503 0 22 0C9.84974 0 0 9.84974 0 22C0 34.1503 9.84974 44 22 44Z"id=path_1 /><clipPath id=clip_1><use xlink:href=#path_1 /></clipPath></defs><g id=Group-20><g id=Oval><use xlink:href=#path_1 fill=#FFFFFF stroke=none fill-rule=evenodd /><g clip-path=url(#clip_1)><use xlink:href=#path_1 fill=none stroke=#0A3139 stroke-width=2 /></g></g><path d="M3.76983e-07 5.09476C-0.000408199 4.68467 0.331347 4.35171 0.74146 4.35062L6.24592 4.33628C6.82622 4.33476 7.18107 3.69866 6.87753 3.20408L5.606 1.1322C5.30187 0.636585 5.65886 -0.000589087 6.24034 4.08738e-07L7.98931 0.00181429C8.22869 0.00206369 8.45333 0.117579 8.59275 0.312154L12.5379 5.81688C12.6946 6.03553 12.7122 6.29238 12.6301 6.5102C12.7065 6.72504 12.6865 6.97578 12.5329 7.19L8.59276 12.6878C8.45333 12.8824 8.2287 12.9979 7.98932 12.9982L6.24039 13C5.65886 13.0006 5.30188 12.3634 5.60605 11.8678L6.8706 9.80724C7.17563 9.31024 6.81579 8.67161 6.23267 8.67506L0.767414 8.70725C0.354852 8.70968 0.0192397 8.37568 0.0196478 7.96312L0.0206001 7.05034L0.00204319 7.05043L3.76983e-07 5.09476Z"id=Path fill=#0A3139 fill-rule=evenodd stroke=none transform="matrix(-1 0 0 1 27.678356 16)"/></g></svg>';
  var nextButton = '<?xml version="1.0" encoding="utf-8"?><svg height=44px version=1.1 viewBox="0 0 44 44"width=44px xmlns=http://www.w3.org/2000/svg xmlns:xlink=http://www.w3.org/1999/xlink><defs><path d="M22 44C34.1503 44 44 34.1503 44 22C44 9.84974 34.1503 0 22 0C9.84974 0 0 9.84974 0 22C0 34.1503 9.84974 44 22 44Z"id=path_2 /><clipPath id=clip_2><use xlink:href=#path_2 /></clipPath></defs><g id=Group-21><g id=Oval><use xlink:href=#path_2 fill=#0A3139 stroke=none fill-rule=evenodd /><g clip-path=url(#clip_2)><use xlink:href=#path_2 fill=none stroke=#0A3139 stroke-width=2 /></g></g><path d="M3.76983e-07 5.09476C-0.000408199 4.68467 0.331347 4.35171 0.74146 4.35062L6.24592 4.33628C6.82622 4.33476 7.18107 3.69866 6.87753 3.20408L5.606 1.1322C5.30187 0.636585 5.65886 -0.000589087 6.24034 4.08738e-07L7.98931 0.00181429C8.22869 0.00206369 8.45333 0.117579 8.59275 0.312154L12.5379 5.81688C12.6946 6.03553 12.7122 6.29238 12.6301 6.5102C12.7065 6.72504 12.6865 6.97578 12.5329 7.19L8.59276 12.6878C8.45333 12.8824 8.2287 12.9979 7.98932 12.9982L6.24039 13C5.65886 13.0006 5.30188 12.3634 5.60605 11.8678L6.8706 9.80724C7.17563 9.31024 6.81579 8.67161 6.23267 8.67506L0.767414 8.70725C0.354852 8.70968 0.0192397 8.37568 0.0196478 7.96312L0.0206001 7.05034L0.00204319 7.05043L3.76983e-07 5.09476Z"id=Path fill=#FFFFFF fill-rule=evenodd stroke=none transform="translate(16 16)"/></g></svg>';
  $("[text_slider]").slick({
    slidesToShow: 2,
    slidesToScroll: 1,
    autoplay: false,
    arrows: true,
    dots: false,
    infinite: false,
    prevArrow: backButton,
    nextArrow: nextButton,
    responsive: [
      {
        breakpoint: 767,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          infinite: false,
          dots: false,
          arrows: true
        }
      }
    ]
  })
  $('[mob-featured-product_slider]').slick({
		slidesToShow: 1,
		slidesToScroll: 1,
        mobileFirst: true,
        arrows: false,
        dots: true,
        responsive: [
            {
                breakpoint: 769,
                settings: 'unslick'
            }
        ]
    });
  $('[data-logo-slider]').slick({
      slidesToShow: 2,
      slidesToScroll: 2,
      mobileFirst: true,
      arrows: false,
      dots: true,
      centerMode: false,
      infinite: true,
         responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 7,
          slidesToScroll: 7,
          centerMode: false,
          dots: false,
        
        }
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 3,
          centerMode: false,

        }
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
    }
   ]
  });
  $("[featured-product_slider]").slick({
    slidesToShow: 3,
    slidesToScroll: 1,
    autoplay: false,
    arrows: true,
    dots: false,
    infinite: false,
    prevArrow: backButton,
    nextArrow: nextButton,
    responsive: [
      {
        breakpoint: 767,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          infinite: false,
          dots: true,
          arrows: false
        }
      }
    ]
  })

  $('.wineSubHeroSlideshow').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    autoplay: true,
    arrows: false,
    dots: false,
    speed: 1500,
    fade: true,
    cssEase: 'linear'
  });
                             
  $('.testimonial_opslider').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    autoplay: false,
    arrows: false,
    dots: true
  });

  $('.slides_logo_slick').slick({
    slidesToShow: 6,
    slidesToScroll: 1,
    dots: false,
    autoplay: false,
    responsive: [
      {
        breakpoint: 750,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 2,
          centerMode: false,
          infinite: false,
          variableWidth: false,
          dots: false
        }
      },
      {
        breakpoint: 590,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1,
          centerMode: false,
          infinite: false,
          variableWidth: false,
          arrows: false,
          dots: true
        }
      },
      {
        breakpoint: 360,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          centerMode: false,
          infinite: false,
          variableWidth: false,
          arrows: false,
          dots: true
        }
      }
    ]
  });

  $(document).on("click", ".custom_slider-dots .slick-dot", function(){
    var index = $(this).attr("data-index");
    $(this).closest(".section_container").find("[data-slider]").slick("slickGoTo", index);
  })

  // $('.hero-slide-banner-wrapper[data-slider]').on('beforeChange', function(event, slick, currentSlide, nextSlide){
  //   var row = $(this).next(".custom_slider-dots").find(".slick-dot").length;
  //   var index = currentSlide + 1;
  //   index = index % row;
  //   $(".custom_slider-dots .dot_line").removeClass("active");
  //   $(".custom_slider-dots [data-index=" + index + "]").find(".dot_line").addClass("active");
  // });

  $('.hero-slide-banner-wrapper[data-slider]').on('afterChange', function(event, slick, currentSlide, nextSlide){
    var row = $(this).next(".custom_slider-dots").find(".slick-dot").length;
    var index = currentSlide + 1;
    index = index % row;
    $(".custom_slider-dots .dot_line").removeClass("active");
    $(".custom_slider-dots [data-index=" + currentSlide + "]").find(".dot_line").addClass("active");
  });
  

  $("[data-slider]").each(function(){
      var show = 1, scroll = 1, mob_show = 1, mob_scroll = 1;
      // Show Number, Scroll Number For Desktop and Mobile
      // Desktop
      if($(this).attr("data-show") !== undefined) {
        show = $(this).data("show");
      }
      if($(this).attr("data-scroll") !== undefined) {
        scroll = $(this).data("scroll");
      }
      // Mobile
      if($(this).attr("data-mob-show") !== undefined) {
        mob_show = $(this).data("mob-show");
      } else {
        mob_show = show;
      }
      if($(this).attr("data-mob-scroll") !== undefined) {
        mob_scroll = $(this).data("mob-scroll");
      } else {
        mob_scroll = scroll;
      }

      // Autoplay, Arrows, Dots, CenterMode For Desktop and Mobile
      // Desktop
      var _autoplay = false, _arrows = false, _dots = false, _centerMode = false, _infinite = false;
      if($(this).attr("data-autoplay") !== undefined) {
        _autoplay = $(this).data("autoplay");
      }
      if($(this).attr("data-arrows") !== undefined) {
        _arrows = $(this).data("arrows");
      }
      if($(this).attr("data-dots") !== undefined) {
        _dots = $(this).data("dots");
      }
      if($(this).attr("data-centerMode") !== undefined) {
        _centerMode = $(this).data("centerMode");
      }
      if($(this).attr("data-infinite") !== undefined) {
        _infinite = $(this).data("infinite");
      }
      var mob_autoplay = false, mob_arrows = false, mob_dots = false, mob_centerMode = false, mob_infinite = false;
      // Mobile
      if($(this).attr("data-mob-autoplay") !== undefined) {
        mob_autoplay = $(this).data("mob-autoplay");
      } else {
        mob_autoplay = _autoplay;
      }
      if($(this).attr("data-mob-arrows") !== undefined) {
        mob_arrows = $(this).data("mob-arrows");
      } else {
        mob_arrows = _arrows;
      }
      if($(this).attr("data-mob-dots") !== undefined) {
        mob_dots = $(this).data("mob-dots");
      } else {
        mob_dots = _dots;
      }
      if($(this).attr("data-mob-centerMode") !== undefined) {
        mob_centerMode = $(this).data("mob-centerMode");
      } else {
        mob_centerMode = _centerMode;
      }
      if($(this).attr("data-mob-infinite") !== undefined) {
        mob_infinite = $(this).data("mob-infinite");
      } else {
        mob_infinite = _infinite;
      }
      $(this).slick({
        slidesToShow: show,
        slidesToScroll: scroll,
        autoplay: _autoplay,
        arrows: _arrows,
        dots: _dots,
        centerMode: _centerMode,
        infinite: _infinite,
        responsive: [
          {
            breakpoint: 750,
            settings: {
              slidesToShow: mob_show,
              slidesToScroll: mob_scroll,
              centerMode: mob_centerMode,
              arrows: mob_arrows,
              infinite: mob_infinite,
              dots: mob_dots,
              autoplay: mob_autoplay
            }
          }
        ]
      })
  })
  

  $('.grid--sign--wrapper_op').slick({
    slidesToShow: 3,
    slidesToScroll: 1,
    dots: false,
    autoplay: false,
    arrows: false,
    responsive: [
      {
        breakpoint: 750,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 2,
          centerMode: false,
          infinite: false,
          variableWidth: false,
          dots: true
        }
      },
      {
        breakpoint: 425,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1,
          centerMode: false,
          infinite: false,
          variableWidth: false,
          dots: true
        }
      },
      {
        breakpoint: 360,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1,
          centerMode: false,
          infinite: false,
          variableWidth: false,
          dots: true
        }
      }
    ]
  });

  $('.journey__promo').slick({
    slidesToShow: 3,
    slidesToScroll: 1,
    dots: false,
    autoplay: false,
    arrows: false,
    infinite: false,
    responsive: [
      {
        breakpoint: 750,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 2,
          centerMode: false,
          infinite: false,
          variableWidth: false,
          dots: true
        }
      },
      {
        breakpoint: 590,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          centerMode: false,
          infinite: false,
          variableWidth: false,
          dots: true
        }
      },
      {
        breakpoint: 360,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1,
          centerMode: false,
          infinite: false,
          variableWidth: false,
          dots: true
        }
      }
    ]
  });

});
$(document).ready(function(e){

  $(document).on('click','.cart__submit[name="checkout"]',function(e){

    if (!$('#ageVer').prop('checked')) {
      e.preventDefault();
      alert("Please check the above checkbox to verify you are over 18 years old."); //checked

    }
    else {
      return true;
    }
  });

  $('.testimonial-slider').slick({
    slidesToShow: 3,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 2000,
    variableWidth: true,
    infinite: false,
    prevArrow: $('.prev'),
    nextArrow: $('.next')
  });

  $('.slider-product-gallery').slick({
    slidesToShow: 1,
    slidesToScroll: 1, 
    autoplay: false,
    autoplaySpeed: 2000,
    prevArrow: $('.product-prev'),
    nextArrow: $('.product-next')

  });

  $('.mixcase-slider').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    autoplay: false,
    autoplaySpeed: 2000,
    prevArrow: $('.mixcase-prev'),
    nextArrow: $('.mixcase-next')
  });

  $('.single-product-slider').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    autoplay: false,
    autoplaySpeed: 2000,
    prevArrow: $('.prev-product'),
    nextArrow: $('.next-product')
  });
  
  if($('.grid--sign--wrapper').length > 0){
  $('.grid--sign--wrapper').slick({
    slidesToShow: 3,
    slidesToScroll: 1,
    dots: false,
    autoplay: false,
    arrows: false,
    responsive: [
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 2,
          centerMode: false,
          infinite: false,
          variableWidth: false,
          dots: true
        }
      },
      {
        breakpoint: 425,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          centerMode: false,
          infinite: false,
          variableWidth: false,
          dots: true
        }
      },
      {
        breakpoint: 360,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          centerMode: false,
          infinite: false,
          variableWidth: false,
          dots: true
        }
      }
    ]
  });
  }

  /**Luu Dao customize dots of slick*/
  var $yourCase = $('.list-your-case');
  toggleSlick = function () {
    if ($(window).width() < 450) {
      $yourCase.not(".slick-initialized").slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        dots: true,
        customPaging : function(slider, i) {
          return '<a>'+(i+1)+'</a>';
        },
        autoplay: false,
        arrows: true
      });
    } else {
      if($yourCase.hasClass("slick-initialized")) {
        $yourCase.slick('unslick');
      }
    }
  }
  toggleSlick();
  $(window).resize(function () {
    toggleSlick();
  });
  /*End Luu Dao*/
  $('.grid--jump--wrapper').slick({
    slidesToShow: 3,
    slidesToScroll: 1,
    dots: false,
    autoplay: false,
    arrows: false,
    responsive: [
      {
        breakpoint: 750,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1,
          centerMode: true,
          infinite: false,
          variableWidth: true,
          dots: true
        }
      },
      {
        breakpoint: 425,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          centerMode: false,
          infinite: false,
          variableWidth: false,
          dots: true
        }
      }
    ]
  }).on('setPosition', function (event, slick) {
    slick.$slides.css('height', slick.$slideTrack.height() + 'px');
  });

  $('.blogs__slideshow').slick({
    slidesToShow: 3,
    slidesToScroll: 1,
    dots: false,
    autoplay: false,
    arrows: false,
    responsive: [
      {
        breakpoint: 750,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          infinite: false,
          dots: true
        }
      },
      {
        breakpoint: 425,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          infinite: false,
          dots: true
        }
      }
    ]
  });


  if( $(window).width() <= 591  ) {
    $('#shopify-section-subscription-blog-posts .grid--blog').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      infinite: true,
      arrows: false,
      dots: true
    });
    $('.tour-wine-bottle-card .tour-col-2').slick({
      slidesToScroll: 1,
      dots: true,
      autoplay: false,
      arrows: false,
      accessibility: true,
      responsive: [
        {
          breakpoint: 425,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: false,
            prevArrow: $('.prev-wine-bottle'),
            nextArrow: $('.next-wine-bottle'),
            dots: true,
            arrows:false
          }
        }
      ]
    });
  }

  $('.tour-wine-bottle-card .tour-col-2').on('afterChange', function(event, slick, currentSlide, nextSlide){
    var currLink = $("[id^='#marker-"+(currentSlide+1)+"']");
    $('.tooltip').each(function(){$(this).css("display","none");});
    currLink.children('.tooltip').css("display","block");
  });

  //   Accordion

  $('.panel').css("border", "0px");
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      panel.style.border = "0px";
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
        panel.style.border = "0px";
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
        panel.style.border = "1px solid #e1e1e1";
      } 
    });
  }

  //   Wine Subs Js
  //   var height = $('.tour-wine-bottle-card .tour-col-2 .bottle-cards-container').outerHeight();
  //   $('.tour-wine-bottle-card .tour-col-2').css('height', height);
  //   $('.tour-wine-bottle-card .tour-col-2').css('overflow-y','scroll');


  // set the image-map width and height to match the img size
  $('#image-map').css({'width':$('#image-map img').width(),
                       'height':$('#image-map img').height()
                      })

  //tooltip direction
  var tooltipDirection;

  for (i=0; i<$(".pin").length; i++)
  {               
    // set tooltip direction type - up or down             
    if ($(".pin").eq(i).hasClass('pin-down')) {
      tooltipDirection = 'tooltip-down';
    } else {
      tooltipDirection = 'tooltip-up';
    }

    // append the tooltip
    $("#image-map").append("<div id='#marker-"+(i+1)+"' style='left:"+$(".pin").eq(i).data('xpos')+"px;top:"+$(".pin").eq(i).data('ypos')+"px' class='" + tooltipDirection +"'>\
<div class='tooltip'>" + $(".pin").eq(i).html() + "</div>\
</div>");
  }    

  // show/hide the tooltip
  $('.tooltip-up, .tooltip-down').mouseenter(function(){
    $(this).children('.tooltip').fadeIn(100);
  }).mouseleave(function(){
    $(this).children('.tooltip').fadeOut(100);
  })

  $(".tour-col-2").on("scroll", onScroll);
  $('#image-map .tooltip-down').first().children('.tooltip').css("display","block");
  function onScroll(event){
    var scrollPos = $(document).scrollTop();

    $('#image-map .tooltip-down').each(function () {
      var currLink = $(this);
      var refElement = $(currLink.attr("id"));
      if (refElement.position().top-50 <= scrollPos && refElement.position().top-50 + refElement.outerHeight() > scrollPos) {
        currLink.children('.tooltip').css("display","block");
      }
      else{
        currLink.children('.tooltip').css("display","none");
      }
    });
  }

});

if(document.querySelector(".card")) {

  gsap.registerPlugin(MotionPathPlugin);

  // The start and end positions in terms of the page scroll
  const card = document.querySelector(".card").getBoundingClientRect();
  const offsetFromTop = card.height; 
  console.log(offsetFromTop);
  const pathBB = document.querySelector("#path").getBoundingClientRect();
  const startY = pathBB.top - innerHeight + offsetFromTop;
  const finishDistance = startY + pathBB.height - offsetFromTop;


  const divHeight = document.querySelector(".tour-wine-bottle-card").offsetTop;
  const divScrollHeight = document.querySelector(".tour-col-2").scrollHeight;
  const viewHeight = window.innerHeight;
  if( $(window).width() > 590  ) {
  // the animation to use
  var tween = gsap.to("#dot-1", {
    duration: 10, 
    paused: true,
    ease: "none",
    motionPath: {
      path: "#path",
      align: "#path",
      autoRotate: true,
      alignOrigin: [0.5, 0.5] 
    }    
  }).pause(0.001);

  // Listen to the scroll event
  document.addEventListener("scroll", function() {
    // Prevent the update from happening too often (throttle the scroll event)
    if (!requestId) {
      requestId = requestAnimationFrame(update);
    }
  });

  update(); 

  function update() {
    // Update our animation
    if(((scrollY - divHeight) / (divScrollHeight - viewHeight))<0) {
      tween.progress(0.01);
    } else {
      tween.progress((scrollY - divHeight) / (divScrollHeight - viewHeight));
    }

    // Let the scroll event fire again
    requestId = null;
  }
}

  if( $(window).width() <= 590  ) {
    var tweenMob = gsap.to("#dot-2", {
      duration: 3, 
      paused: true,
      ease: "power1.inOut",
      motionPath: { 
        path: "#path1",
        align: "#path1",
        autoRotate: true,
        alignOrigin: [0.5, 0.5]
      }    
    });

    // Listen to the scroll event
//     document.addEventListener("scroll", function() {
//       // Prevent the update from happening too often (throttle the scroll event)
//       if (!requestId) {
//         requestId = requestAnimationFrame(update);
//       }
//     });

    //update();

    function update(c) {
      tweenMob.progress( c / 6);
      requestId = null;
    }

    $('.tour-wine-bottle-card .tour-col-2').on('afterChange', function(event, slick, currentSlide, nextSlide){
      update(currentSlide + 1);
    });
    
    if($('.product-wine-subscriptions').length > 0){
      var t = $('.wineSubWrap .subsText').text().replace(/\-/g, "<br />");
      $('.wineSubWrap .subsText').html(t);
    }
  }


}


// Sticky Script

// (function() {

//   var stickyAddCart = function() {
//     var hasSticky = $('.ctm-sticky-txt').length;
//     if( hasSticky > 0 ){
//       $(".ctm-sticky-box").sticky({
//         topSpacing:0,
//         zIndex: '999'
//       });
//     }
//   };

//   var secaddCart = function(){
//     $(document).on('click','.secAddToCart',function(e){
//       e.preventDefault();
//       $('.product-form').find('.btn-add-to-cart').trigger('click');
//     });
//   } 

//   stickyAddCart();
//   secaddCart();

//   $(document).on('shopify:section:load', function(event) { 
//     stickyAddCart();
//     secaddCart();
//   });
// }());

if($('.custom-section-9 .slider__container')){
  $('.slider__container').each(function(i){
    var $this = $(this);
    var $slides = $('.slider__items',this);
    var currentSlide = 1;
    var activeSlidesLength = 0;
    var slidePositions = {};
    var totalSlides = 0;
    var trackStart = 0;
    var lastSlideWidth = 0;
    var interval = null;
    var sliderSpeed = 9000; //ms for slide to scroll
    var tweenNext = '';
    var tweenPrev = '';
    var backClicked = false;
    var autoAdvance = true;
    $slides.on('init',function(e,slick){
      var $track = $('.slick-track',$this);
      function setSizeVars() {
        activeSlidesLength = 0;
        trackStart = $('.slick-slide',$this).first().outerWidth();
        slidePositions[1] = trackStart;
        $('.slick-slide:not(.slick-cloned)',$this).each(function(i){
          var width = $(this).outerWidth();
          activeSlidesLength += width;
          slidePositions[i + 2] = trackStart + activeSlidesLength;
          lastSlideWidth = width;
          totalSlides = i + 2;
        });
      };
      setSizeVars();
      $(window).on('resize',function(){
        setSizeVars();
      });
      $track.css({'transform':'translate(-'+slidePositions[currentSlide]+'px,0,0)'});
      function goToNextSlide(transitionTime,transitionEasing) {
        if (currentSlide == totalSlides - 1) { // Go to first cloned slide if reached end
          var nextSlide = currentSlide + 1;
          tweenNext = TweenLite.to($track, 0,{
            x:-(slidePositions[1] - lastSlideWidth),
            ease: Power0.easeNone,
            onComplete: function(){
              currentSlide = nextSlide;
              goToNextSlide(transitionTime,transitionEasing);
            }
          });
        } else {
          var nextSlide = (currentSlide == totalSlides ? 1 : currentSlide + 1);
          tweenNext = TweenLite.to($track, transitionTime,{
            x:-(slidePositions[nextSlide]),
            ease: transitionEasing,
            onComplete: function(){
              currentSlide = nextSlide;
              if (autoAdvance) {
                goToNextSlide(sliderSpeed/1000, Power0.easeNone);
              }
            }
          });
        }
      }
      function goToPrevSlide(transitionTime,transitionEasing) {
        backClicked = true;
        if (currentSlide == totalSlides) {//Go to last Slide
          var prevSlide = currentSlide - 1;
          tweenPrev = TweenLite.to($track, 0,{
            x:-(slidePositions[prevSlide]),
            ease: Power0.easeNone,
            onComplete: function(){
              currentSlide = prevSlide;
              goToPrevSlide(transitionTime,transitionEasing);
            }
          });
        } else if (currentSlide == 1) {//Go to cloned slide instead of last slide
          var prevSlide = totalSlides;
          tweenPrev = TweenLite.to($track, transitionTime,{
            x:-(slidePositions[1] - lastSlideWidth),
            ease: transitionEasing,
            onComplete: function(){
              currentSlide = prevSlide;
            }
          });
        } else {
          var prevSlide = currentSlide - 1;
          tweenPrev = TweenLite.to($track, transitionTime,{
            x:-(slidePositions[prevSlide]),
            ease: transitionEasing,
            onComplete: function(){
              currentSlide = prevSlide;
            }
          });
        }
      }
      setTimeout(function(){
        goToNextSlide(sliderSpeed/1000, Power0.easeNone);
      },1000);
      $this.hover(function() {
        //         tweenNext.pause();
      },function() {
        if (backClicked) {
          goToNextSlide(sliderSpeed/1000, Power0.easeNone);
        } else {
          tweenNext.play();
        }
        autoAdvance = true;
        backClicked = false;
      });
      $('.slider-prev',$this).on('click',function(){
        if (backClicked) {
          goToPrevSlide(0.2, Power1.easeInOut);
        } else {
          tweenNext.reverse().timeScale(6);
        }
        backClicked = true;
        autoAdvance = false;
      });
      $('.slider-next',$this).on('click',function(){
        goToNextSlide(0.2, Power1.easeInOut);
        autoAdvance = false;
      });
    });
    $slides.slick({
      infinite: true,
      variableWidth: true,
      arrows:false,
      accessibility:false,
      draggable:false,
      swipe:false,
      touchMove:false,
      pauseOnHover:false
    });
  });
}

$(document).ready(function(){
  
  $('.click__addToCart').click(function(e){
    e.preventDefault();
    $('.product-form [data-add-to-cart]').trigger('click');
  });
  
  if($(window).width() < 591){
    function checkHeader(){
      var scroll = $(window).scrollTop();
      if(scroll  > 100) {
        $('.grid__item.medium-up--one-quarter.text-right.site-header__icons.site-header__icons--plus').css('visibility','visible'); 
      }else{ 
        $('.grid__item.medium-up--one-quarter.text-right.site-header__icons.site-header__icons--plus').css('visibility','hidden'); 
      }
    }

    checkHeader();

    $(window).scroll(function() {
      checkHeader(); 
    });
  }
});
var links = document.links;
for (let i = 0, linksLength = links.length ; i < linksLength ; i++) {
  if (links[i].hostname !== window.location.hostname) {
    links[i].target = '_blank';
    links[i].rel = 'noreferrer noopener';
  }
}

$(function() {
    var header = $("body");
    $(window).scroll(function() {    
        var scroll = $(window).scrollTop();
    
        if (scroll >= 50) {
            header.removeClass('clearHeader').addClass("darkHeader");
        } else {
            header.removeClass("darkHeader").addClass('clearHeader');
        }
    });
});

$('.onetwothrefff').slick({
    slidesToShow: 3,
    slidesToScroll: 1,
    dots: false,
    autoplay: false,
    arrows: false,
    responsive: [
      {
        breakpoint: 750,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          centerMode: false,
          infinite: false,
          variableWidth: false,
          dots: true
        }
      },
      {
        breakpoint: 425,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          centerMode: false,
          infinite: false,
          variableWidth: false,
          dots: true
        }
      },
      {
        breakpoint: 360,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          centerMode: false,
          infinite: false,
          variableWidth: false,
          dots: true
        }
      }
    ]
  });



$(".onetwothre").slick({
    autoplay: false,
    dots: true,
  slidesToShow: 3,
            slidesToScroll: 1,
    customPaging : function(slider, i) {
    var thumb = $(slider.$slides[i]).data();
    return '<a class="dot">'+(i+1)+'</a>';
            },
    responsive: [
      {
        breakpoint: 750,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          centerMode: false,
          infinite: false,
          variableWidth: false,
          dots: true
        }
      },
      {
        breakpoint: 425,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          centerMode: false,
          infinite: false,
          variableWidth: false,
          dots: true
        }
      },
      {
        breakpoint: 360,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          centerMode: false,
          infinite: false,
          variableWidth: false,
          dots: true
        }
      }
    ]
});




const FaqAccordionInit = function() {
  $(document).on('click', '.faq-accordion-title', function(){
    var $item = $(this).closest('.faq-accordion-item');
    if($item.hasClass('open')) {
      $item.find('.faq-accordion-content').slideToggle();
    }
    else {
      $('.faq-accordion-item.open .faq-accordion-content').slideUp();
      $('.faq-accordion-item.open').removeClass('open');
      $item.find('.faq-accordion-content').slideDown();
    }
    $item.toggleClass('open');
  })
}

const GiftATCInit = function() {
  $(document).on('click', '[data-gift-atc]', function() {
    var $this = $(this);
    $this.attr('aria-disabled', true);
    $this.find('[data-add-to-cart-text]').addClass('hide');
    $this.find('[data-loader]').removeClass('hide');
    $('.product-form-product-gift-template-custom button[type="submit"]').click();
    btnActive();
  })

  function btnActive() {
    setTimeout(function() {
      var cls = $("[data-cart-popup-wrapper]").attr('class');
      console.log(cls);
      if(cls.indexOf('cart-popup-wrapper--hidden') > 0) {
        btnActive();
      }
      else {
        $('[data-gift-atc]').removeAttr('aria-disabled');
        $('[data-gift-atc]').find('[data-add-to-cart-text]').removeClass('hide');
        $('[data-gift-atc]').find('[data-loader]').addClass('hide');
      }
    }, 1);
  }
}