body.template-page.page-subscription-taste-of-pack main.main-content {
    padding-top: 0;
}
body.template-page.page-subscription-taste-of-pack .page-width.before-footer.text-center {
    position: static;
}
.custom-mixcase-wrapper .mixcase-bottle-card-wrapper .bottle-card-wrapper .bottle-card-container .bottle-card .content-container p {
    margin-top: 33px;
    color: #232f22;
    font-family: neuzeit-grotesk !important;
    font-size: 13.3px !important;
    line-height: 26px;
    text-align: center;
    margin: 10px 0 0;
}
.product-new-template .ctm-sticky-btn span.minijourney {
    display: none !important;
}
.product-new-template .mixcase-addition-section {
    padding: 0% 0 !important;
}
.product-new-template .ctm-sticky-btn span.price-item.price-item--regular.regular {
    font-weight: bold !important;
    font-size: 20px !important;
}
.product-new-template .custom-product-wrapper .product-details .in-stock ul li{line-height:7px !important;}

ul.overlaytweak {
    margin-top: 70%; 
}
.product-new-template .product-single .mixcase-image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.product-new-template .product-single .image-content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 20;
}
.product-new-template .product-single .inner {
    border: .5px solid #f7f8f7;
    border-radius: 18px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-index-wrapper .mixcase-bottle-card-wrapper .bottle-card-wrapper .bottle-card-container .bottle-card .stamp.stamp-margin {
  top: 15%;
}
.product-index-wrapper .mixcase-bottle-card-wrapper .bottle-card-wrapper .bottle-card-container .bottle-card .stamp {
  top: 3%;
}
.holm-oak-the-protege-pinot-noir-2020 .maker-tabs.grid{
  display: none;

}
.none_opo12{
  display: none;

}
br.metafier09{
  display: none;

}
a.cart__continue-btn {
    border-radius: 45px !important;
    padding: 19px 97px !important;
    font-size: 13.82px !important;
    font-weight: 700 !important;
    letter-spacing: 2px !important;
    font-family: inherit !important;
}
a.btn.btn--has-icon-after.cart__continue-btn svg {
    position: absolute;
    margin-left: 4%;
}
.shopify-policy__body ul li:before {
    content: ' ';
    background: #000;
    width: 6px;
    height: 6px;
    left: 0;
    position: absolute;
    border-radius: 100%;
    top: 6px;
}
.shopify-policy__body ul li {
    display: block;
    position: relative;
    padding: 0 0 0 20px;
}
.shopify-policy__body ul {
    margin: 0;
}
.fsdwee h4.article-title:before {
    background-image: url(https://cdn.shopify.com/s/files/1/0423/0312/7712/files/Combined_Shape_Copy.png?v=1622813995);
    content: ' ';
    position: absolute;
    width: 13px;
    height: 13px;
    right: 20px;
    background-repeat: no-repeat;
    top: 36%;
	transition: all 0.5s;
}
.fsdwee article.content-entry.open h4.article-title:before {
    transform: rotate(
85deg
);
    transition: all 0.5s;
}
.fsdwee .sub-faq .accordion-container .content-entry i {
    position: absolute;
    top: 48%;
    right: 1%;
    font-style: normal;
    color: #0A3039;
    transform: translateX(-50%)translateY(-50%);
    font-size: 23px;
    display: none;
}
.announcement-bar {
  padding: 5px !important;
}
br.hiddern_op89 {
  display: block;
}
body.template-article.article {
  padding-top: 100px;
}
body.template-page.page-subscriptions .page-width.before-footer.text-center {
  position: static;
}
body.template-page.page-subscriptions .mixcase-product-index .jump--sign .grid--mixcase--wrapper .grid__jump .jump-card-content .rte-setting {
  height: 70px;
}
.ProductFeaturedBlock .blog-filter {
  margin: 30px 0;
}
.ProductFeaturedBlock .custom-blog-content {
  margin: 20px 0;
}
.ProductFeaturedBlock .custom-blog-content a.btn.btn--tertiary.btn--small {
  background: #1b3f43;
  color: #fff;
  border-radius: 50px;
  padding: 15px 30px;
  margin: 20px 0 0 0;
  display: inline-block;
}
.custom-blog-section.ProductFeaturedBlock {
  margin-bottom: 80px;
  display: inline-block;
  width: 100%;
}
.custom-blog-section.ProductFeaturedBlock  h3.article__title {
  min-height: 48px;
}
.custom-blog-section.ProductFeaturedBlock ul li .article__grid-image-wrapper img {
  max-width: 400px !important;
  max-height: 500px !important;
  position: static;
}
.custom-blog-section.ProductFeaturedBlock .article__grid-image-container {
  padding: 0 !important;
}
.custom-mixcase-heading .pre-heading {
  text-transform: uppercase;
}
.custom-mixcase-heading .location-text {
  max-width: 690px;
  margin: 0 auto;
  width: 100%;
  display: inline-block;
}
.custom-mixcase-wrapper .product-details .product-desc {
  max-height: 135px;
  overflow: auto;
  font-size: 15px;
}
.custom-mixcase-wrapper .mixcase-bottle-card-wrapper .bottle-card-wrapper.grid {
  margin-left: 0;
}
.mixcase-addition-section .section-2-left.grid__item.medium-up--one-half {
  padding-left: 0;
}
.product-mixcase-custom .main-content .custom-mixcase-heading {
  max-width: 1200px;
}
.custom-product-wrapper .product-details .price-count .count .count-title {
  margin-bottom: 10px;
}
.custom-mixcase-wrapper .mixcase-bottle-card-wrapper .bottle-card-wrapper .bottle-card-container .bottle-card .content-container .sub-heading {
  text-transform: uppercase;
}
.ctm-sticky-box .ctm-sticky-txt p {
  text-transform: uppercase;
}
.ctm-sticky-box .ctm-sticky-btn .btn {
  padding: 17px 30px;
  min-width: 200px;
}
.ctm-sticky-box .ctm-sticky-btn .btn svg {
  width: 13px;
  height: 14px;
}
.ctm-sticky-btn .price__pricing-group span.price-item {
  color: #1B3F43;
}
.ctm-sticky-btn .price--on-sale .price-item--regular{
  color: #F88379;
}
.ctm-sticky-btn .price dd:last-child {
  margin: 0;
}
.ctm-sticky-btn .price--on-sale .price__sale {
  margin: 0;
}
.ctm-sticky-box .ctm-sticky-btn .price {
  padding: 0 15px 0 0px;
  text-align: right;
}
.ctm-sticky-box .ctm-sticky-btn p {
  text-align: right;
  padding: 0 10px 0 0;
}
div#shopify-section-cart-template {
  padding-top: 10%;
  padding-bottom: 5%;
}
.cart-header a.text-link.text-link--accent {
  background: #1b3f43;
  padding: 10px 20px;
  color: #fff;
  text-transform: capitalize;
  display: inline-block;
  font-size: 12px;
  border-radius: 45px;
}
.cart__submit-controls input.cart__submit.btn.btn--small-wide {
  background: #1b3f43;
  padding: 12px 20px;
  border-radius: 45px;
  margin-top: 10px;
}
body.template-page.page .section-header.text-center h1 {
  font-family: "Roslindale Testing";
  color: #1B3F43;
  font-size: 48px;
  font-weight: 700;
  line-height: 57px;
  text-align: center;
}
body.template-page.page .rte p b {
  font-size: 22px;
  color: #1B3F43;
  line-height: 1em;
  font-weight: 600;
  text-align: center;
}
body.template-page.page .rte p {
  color: #3D3F3E;
  font-size: 16px;
  line-height: 26px;
}
body.template-page.page .rte {
  margin-bottom: 50px;
  display: inline-block;
}
.custom-blog-section ul li .article__grid-image-wrapper img {
  border-radius: 20px;
}
.custom-blog-section ul li header {
  background: transparent !important;
}

.cust-left-secS ul li img {
  width: 220px;
}
.hide_bndi .grid--journey--wrapper {
  background-color: transparent;
}
.sign-section .btn-wine-main {
  margin-top: 30px;
}
.bannermidle h2.animate__animated.animate__fadeIn.h1.mega-title {
  font-size: 50px;
  line-height: 50px;
  font-family: Roslindale Testing;
  font-weight: 500;
  margin: 0 0 15px 0;
}
.bannermidle .animate__animated.animate__fadeIn.rte-setting.mega-subtitle p {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 4px;
  color: #fff;
  font-weight: 300;
}
.bannermidle a.btn.hero__btn.animate__animated.animate__fadeIn.animate__delay-1s {
  margin: 40px 0 0 0;
  padding: 17px 80px;
  line-height: 23.04px;
  font-family: neuzeit-grotesk;
  border-radius: 31px;
}
.shopify-section.index-section.index-section--flush.bannermidle {
  margin: 20px 0 90px 0 !important;
  display: inline-block;
  width: 100%;
  position: relative;
}
.shopify-section.index-section.index-section--flush.bannermidle .page-width:before {
  content: ' ';
  background-image: url(https://cdn.shopify.com/s/files/1/0423/0312/7712/files/SIA_KF_Stacked_Linear_MET_RGB_3cafcbc7-0a17-483e-a130-dab73f637c18.png?v=1621428390);
  position: absolute;
  right: 8%;
  top: 5%;
  width: 280px;
  height: 100px;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: 100%;
}
.shopify-section.index-section.index-section--flush.bannermidle .page-width{
  position: relative;
}
.shopify-section.index-section.index-section--flush.bannermidle .page-width .page-width:before{
  display: none;
}
.sect-7 .page-width:before {
  content: ' ';
  background-image: url(https://cdn.shopify.com/s/files/1/0423/0312/7712/files/SIA_KF_Stacked_Linear_MET_RGB_3cafcbc7-0a17-483e-a130-dab73f637c18.png?v=1621428390);
  position: absolute;
  right: 8%;
  top: 5%;
  width: 180px;
  height: 47px;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: 100%;
}
.sect-7 .page-width{
  position: relative;
}
.schild-estate-moorooroo-shiraz-2018 .custom-product-wrapper .product-details .in-stock {
  display: block;
}
.shopify-section.custom-testimonial-section {
  padding: 0;
  margin: 0 0 -40px 0;
}
div#shopify-section-1600256358304 {
  padding-top: 100px;
}
.testimonial-content .section-header h2 {
  text-align: left;
}
.sect-1 .center-section {
  padding: 40px 0 70px;
}
.sect-2 .sub-center-section-2 p {
  color: #fff;
  margin: 0;
  line-height: 75px;
}
body#wine-journey-singapore-airlines .shopify-section.sign-section {
  display: none;
}
.new-mile-text {
  position: absolute;
  top: 9%;
  left: 5%;
  display: inline-block;
  padding: 5px;
  border: 2px solid #1b3f43;
  border-radius: 10px;
  text-align: center;
  background: 0 0;
  width: 95px;
}
.new-mile-text:before {
  content: ' ';
  background-image: url(https://cdn.shopify.com/s/files/1/0423/0312/7712/files/Group_2_7cda39cb-97cd-412c-b05b-79c97672a56e.png?v=1621245768);
  top: -20px;
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.new-mile-text p {
  color: #1b3f43;
  font-size: 8px;
  margin: 0;
  padding: 0;
  line-height: normal;
}
.new-mile-text p strong {
  width: 100%;
  display: inline-block;
  font-size: 17px;
  color: #8A6C4D;
}
.sub-mile-text img {
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  width: 25px;
  background-color: #fff;
  padding: 5px;
}
.price-tag .tag span {
  font-size: 16px !important;
}
.price-tag .tag img {
  height: 50px;
}
.wine-subs-letsgo .letsgo-wrapper .letsgo-col-2 .letsgo-content-rapper .heading-content .price-tag .tag {
  margin-top: 30px;
}
.mile-text-21 {
  width: 90px;
}
.coll-mile-text:before {
  content: ' ';
  background-image: url(https://cdn.shopify.com/s/files/1/0423/0312/7712/files/Group_2_7cda39cb-97cd-412c-b05b-79c97672a56e.png?v=1621245768);
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -31px;
  width: 30px;
  height: 30px;
  background-color: #f7f8f7;
}
.coll-mile-text {
  position: relative;
}
.content-area-section h1 {
  font-family: 'neuzeit-grotesk' !important;
  font-size: 120px;
  font-weight: 600;
  margin-bottom: 0;
}
.content-area-section h4 {
  font-family: Roslindale Testing;
  font-weight: 500;
  font-size: 32px;
}
.cust-over-img-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 10px 20px;
  margin: 70px 0 0 0;
  flex-wrap: wrap;
  border-radius: 10px;
}
.cust-left-secS ul {
  display: flex;
  align-items: center;
}
.cust-left-secS ul li span {
  padding: 0 0 0 20px;
  color: #152F38;
  font-size: 26px;
  line-height: 38px;
}
.cust-right-secS h5 {
  margin: 0;
  color: #856E51;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 4px;
  font-family: 'neuzeit-grotesk';
}
.cust-over-img-text.toyu ul li img {
  width: 130px;
}
.cust-over-img-text.toyu ul li span {
  font-size: 10px;
  letter-spacing: 3.3px;
  font-weight: 700;
}
.cust-over-img-text.toyu {
  background: transparent;
  padding: 10px 0;
  margin: 0 0 20px 0;
}
.cust-left-secS.iopu ul {
  justify-content: space-between;
}
.cust-left-secS.iopu {
  width: 100%;
}
.cust-right-secS h5 a {
  border-bottom: 1px solid;
}
li.custom-coll {
  border-radius: 6px !important;
}
.bannermidle .hero--medium {	
  border-radius: 20px;
}
.bannermidle .page-width {
  padding-left: 25px;
}

/*********css ********************/
.product-new-template .wineSubWrap {
  background: #f4f4f2;
}
.product-new-template .custom-product-wrapper {
  background: transparent;
  padding-top: 0;
  margin-top: -30px;
  position: relative;
}
.product-new-template .grid.product-container.product-single {
  background: #fff;
  border-radius: 20px;
  margin-left: 0px;
}
.product-new-template .custom-product-wrapper .product-details {
  padding-right: 20px;
  padding-left: 0px;
  padding-bottom: 20px;
}	
.product-new-template .mixcase-slider.slick-initialized.slick-slider {
  padding: 30px 30px 30px 0px;
}
.product-new-template .custom-product-wrapper .product-image .product-image-wrapper {
  width: 100% !important;
  padding: 0 30px 0 0;
  display: inline-block;
}
.product-new-template span.minijourney {
  color: #1b3f43;
  font-family: neuzeit-grotesk;
  font-size: 16px;
  letter-spacing: 5.3px;
  line-height: 22px;
  text-align: right;
  text-transform: uppercase;
}
.product-new-template span.price-item.price-item--regular.regular {
  font-size: 36px;
  font-family: Roslindale Testing;
  font-weight: 400;
}
.product-new-template .grid.grid--uniform.custom-field--value.list-your-case {
  margin-left: 0px;
}
.product-new-template .mixcase-bottle-card-wrapper .heading {
  font-size: 20px;
  text-align: center;
  margin: 30px 0 120px 0;
  display: inline-block;
  width: 100%;
  color: #656d64;
  line-height: 26px;
}
.product-new-template .mixcase-bottle-card-wrapper .heading h2 {
  font-size: 32px;
  font-family: neuzeit-grotesk;
  line-height: 62px;
  font-weight: 500;
  color: #1b3f43;
}
.product-new-template .custom-field__mixcase-wines .bottle-card {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
}
.product-new-template .custom-field__mixcase-wines .img-container {
  text-align: center;
}
.product-new-template .custom-field__mixcase-wines .img-container img {
  max-height: 310px;
  max-width: 240px;
  margin: -50px 0 0 0;
}
.product-new-template .content-container h3 {
  font-size: 16px;
  text-align: center;
  margin: 0 0 10px 0;
  min-height: 38px;
  color: #1b3f43;
}
p.oomeray {
  height: auto;
  color: #232f22;
  font-size: 10pt;
  line-height: 26px;
text-align:center;	
  font-family: Cabin,sans-serif;

}
.product-new-template span.sub-heading {
  text-align: center;
  width: 100%;
  display: block;
  font-size: 8px;
  font-weight: 400;
  letter-spacing: 2.67px;
  line-height: 20px;
  text-transform: uppercase;
  color: #0a3039;  
}
.product-new-template .content-container p span {
  font-size: 15px !important;
  line-height: 26px;
  font-family: Arial !important;
}
.product-new-template .alod {
  border-top: 1px solid #F4F4F2;
  padding: 40px 0 0 0;
  margin: 10px 0 0 0;
  display: inline-block;
  width: 100%;
}
.product-new-template .alod ul li {
  border-bottom: 1px solid #F4F4F2;
  margin: 0 0 30px 0;
  padding: 0 0 30px 0;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  justify-content: left;
  color: #1b3f43;
}
.product-new-template .alod ul li:last-child {
  border: none;
  margin: 0;
  padding-bottom: 20px;
}
.product-new-template .icon-sec {
  margin-top: -9px;
  width: 20%;
}
.product-new-template .ContentS-sec {
  width: 80%;
}
.product-new-template .ContentS-sec h3 {
  text-align: left;
  font-size: 26px;
  line-height: 38px;
  font-weight:400;
  color: #1b3f43;
}
.product-new-template .ContentS-sec p {
  font-size: 16px;
  line-height: 26px;
  color: #1b3f43;
}	
.product-new-template .custom-field__mixcase-wines {
  margin: 0 0 30px 0;
}
.product-new-template main.main-content {
  background: #f4f4f2;
}
.product-new-template span.mixcase-graphic svg {
  width: 100%;
  height: 50px;
}
.product-new-template .mixcase-image-container {
  margin: -14px 0 0 0;
}
.product-new-template span.mixcase-graphic {
  text-align: center;
  width: 100%;
  display: inline-block;
}
.product-new-template .lattitide {
  position: absolute;
  left: -120px;
  bottom: 40%;
  color: #D2BDA5;
  font-size: 10px;
  letter-spacing: 3.3px;
  transform: rotate(
    -90deg
  );
}



/*  mm css file */
@media (min-width:749px){

  .product-index-wrapper .mixcase-bottle-card-wrapper .bottle-card-wrapper .bottle-card-container .bottle-card .img-container img {
    height: 480px;
    object-fit: cover
  }
  .wine-subs-testimonial .wine-subs-wrapper .testimonial-content-wrapper .main-text {
    font-size: 25px;
  }
  .journey-section .grid--journey--wrapper {
    display: inherit;
  }
  .wine--journey .section-header {
    margin-bottom: -40px !important;
  }
  .wine--journey .section-header h2 {
    line-height: 34px;
    margin-bottom: 28px;
  }
  img.journey-img-abs {
    display: none;
  }
  section#subscription-products-gallery-section,
  section#subscription-products-section{
    max-width: 1400px;
    margin: 0 auto;
  }
  .product-gallery-block .product-gallery-item .product-gallery-grid .gallery-grid-content a svg {
    margin-left: 10px;
    position: absolute;
    right: 20px;
  }
  .product-gallery-block .product-gallery-item .product-gallery-grid .gallery-grid-content a:hover {
    background: #0a3039;
    color: #fff;
  }
  .product-gallery-block .product-gallery-item .product-gallery-grid .gallery-grid-content a:hover svg path {
    fill: #fff;
  }	
  .journey-img-abs-2 {
    margin-top: 90px;
  }
  .journey-clouds {
    top: 82%;
  }
  .custom-map-section input.notranslate.needsclick {
    background: transparent !important;
    border: none !important;
    font-size: 18px !important;
  }
  .custom-map-section input.notranslate.needsclick::placeholder {
    color: #a4a8a4 !important;
    font-size: 18px !important;
    font-family: "neuzeit-grotesk" !important;
  }
  .product-index-wrapper .mixcase-bottle-card-wrapper .bottle-card-wrapper .bottle-card-container .bottle-card .content-container .text h3 {
    height: 40px;
    font-weight: 400;
  }
  .product-collection-buttons a {
    padding: 5px 63px !important;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    font-family: "neuzeit-grotesk";
    color: #152F38 !important;
  }
  .btn-product-slider.color-1 {
    margin-top: 24px;
  }
  div#shopify-section-1600149856749 .jump-card-content .rte-setting {
    min-height: 110px;
  }
  .btn-product-slider svg, .btn-product-slider-mob svg {
    margin-left: 10px;
    width: 10px;
    position: absolute;
    right: 20px;
  }
  .btn-product-slider, .btn-product-slider:active, .btn-product-slider:visited, .btn-product-slider-mob, .btn-product-slider-mob:active, .btn-product-slider-mob:visited {
    padding: 15px 35px;
    justify-content: left;
    align-items: center;
  }

  .hero__inner .mega-subtitle p {	
    font-size: 16px;
    font-weight: 400;
  }
  .custom-section-1__heading {
    font-weight: 600;
  }
  .product-slider-col-1-wrapper .section-header h2 {
    font-weight: 600 !important;
  }
  .custom-blog-section .section-header h2 {
    font-weight: 600;
  }
  .hide_bndi .journey-img-abs-1 svg:first-child {
    opacity: 1;
  }
  .hide_bndi .journey-img-abs-1 svg:last-child {
    width: 65px;
    height: 85px;
  }
  .jump--sign .section-sub-header h3 {
    margin-bottom: 42px;
  }
  .jump-section .grid__jump {
    padding-top: 0 !important;
  }
  .jump-card-content h4 {
    text-transform: uppercase;
    margin-bottom: 4px;
  }
  span.article__date.ye-balas {
    display: none;
  }
  span.article__date.dffdf {
    opacity: 0;
  }
  .custom-product-slider {
    margin-top: 22px;
  }
  .grid--jump--wrapper .slick-track .grid__item {
    outline: transparent;
  }
  .image-text .pre_title {
    padding-bottom: 12px;
    display: inline-block;
  }
  .image-text p {
    color: #3D3F3E;
  }
  .custom-section-1__sub-heading p {
    max-width: 900px;
    margin: 0 auto;
  }
  .footer-graphics .footer-vines {
    margin-top: -21px;
  }
  .hide_bndi .grid--journey--wrapper {
    display: inherit;
  }
  .site-nav a {
    font-size: 14px;
  }
  header .site-header__account .check-in, header .site-header__cart .my-case {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.86px;
  }
  .hide_bndi img.journey-img-abs {
    display: none;
  }
  .hero__btn, .hero__btn:active, .hero__btn:visited {
    font-family: "neuzeit-grotesk";
    line-height: normal;
    padding: 23px 110px;
  }
  /* Changed */
  .sign-section a.btn.btn-sign-card {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
    border-radius: 31px;
    padding: 14px 56px;
    position: relative;
  }
  .sign-section a.btn.btn-sign-card svg {
    position: absolute;
    right: 20px;
    width: 14px;
    height: auto;
    margin-left: 0;
  }
  .custom-blog-section .article__grid-image-wrapper .custom-blog-content .btn--small {
    font-size: 20px;
  }
  .grid__sign .h4 {
    font-family: "neuzeit-grotesk";
  }
  .btn-jump-card svg {
    right: 20px;
    width: 12px;
  }
  .wine--sign .section-header h2 {
    line-height: 62px !important;
    font-weight: 600;
  }
  .sign-section .btn-wine-main {
    /* margin-top: 42px !important;*/
    /*   margin-bottom: 50px; */
    padding: 19px 97px !important;
    line-height: 23.04px;
    font-family: "neuzeit-grotesk";
  }
  .sign-section a.btn.btn-sign-card:hover {
    color: #0a3039;
    background: #FBE4B5 !important;
  }
  /*====================

  ======================*/



  .sect-3 .section-3 .h3 {
    font-size: 54px;
    margin-top: 10px;
  }
  .sect-5 .main-section-5  {
    border-radius: 20px;
  }
  .sect-5 .sect-5-round span {
    font-family: Roslindale Testing;
  }
  .sect-5 .section-5-content h3 a {
    letter-spacing: 3px;
    font-size: 8px;
    color: #0A3039;
  }
  .sect-5 .section-5-content p {
    font-size: 16px;
  }
  .sect-5 .page-title-5 {
    margin: 0 0 -30px 0;
    position: relative;
    z-index: 3;
  }  
  .sect-5 button.slick-next.slick-arrow:before {
    content: '\203A';
    font-size: 50px;
    font-family: "slick-icons, sans-serif";
    opacity: 1;
}
.sect-5 .slick-next {
    right: 0;
}
.sect-5 button.slick-prev.slick-arrow:before {
    content: '\2039';
    font-size: 50px;
    font-family: "slick-icons, sans-serif";
    color: #000;
    opacity: 1;
}
.sect-5 .slick-prev {
    left: 0;
    z-index: 2;
}

  .sect-63 .left-section-6 {
    border-right: 1px solid #39626a;
    padding-top: 60px;
    padding-bottom: 100px;
  }
  .sect-63 .bottom-section-6 {
    padding-top: 0;
  }
  .sect-63 .section-6 {
    padding-bottom: 0;
  }
  .sect-7 .sub-center-section-7 h2 {
    font-size: 48px;
  }
  .sect-8 .sub-faq h2 {
    color: #1B3F43;
  }

  .template-index.index .site-header,.template-index.index .site-header__mobile-nav
  {
    background-color:transparent;
  }


  .site-header__cart-count span {
    font-weight: bold;
    text-align: center;
    font-family: "neuzeit-grotesk";
  }
  .wineSubsTab .wrapper .btn-wineSubsTab:hover {
    background: #FBE4B5;
    color: #0A3039;
  }
  .wineThink-wrapper .btn-wineThink:hover {
    background: #FBE4B5;
    color: #0A3039;
  }
  .wine-subs-faq-wrapper .product-accordion .panel {
    border: none !important;
  }
  .wine-subs-hero-wrapper .wine_subs_hero {
    margin-bottom: 40px;
  }
  .wine-subs-tour .tour-wine-bottle-card .tour-col-2 .bottle-cards-container .bottle-cards-col-1 p {
    max-height: 400px;
    overflow: auto;
    z-index: 9;
    position: relative;
  }  
  .mixcase-product-index .jump--sign .grid--mixcase--wrapper .grid__jump .jump-card-content .btn-jump-card svg {
    width: 12px;
    height: 14px;
  }
  .btn-jump-card:hover {
    background: #FBE4B5 !important;
    color: #0A3039 !important;
    border-color: #FBE4B5 !important;
  }
  body.template-page.page-mixcase-index .jump-card-content .rte-setting {
    min-height: 70px;
  }
  .jump-card-image-wrapper .jump-image-text h3 {
    font-size: 50px !important;
    line-height: 34px !important;
    max-width: 300px;
  }
  .jump-card-content .rte-setting p {
    font-size: 16px;
    letter-spacing: 0.34px;
    line-height: 22px;
  }
  .btn-jump-card {
    margin-bottom: -10px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 23.04px;
    border-radius: 31px;
    padding: 9px 50px;
    background-color: #152F38 !important;
    font-family: "neuzeit-grotesk";
  }
  .custom-product-slider .product-slider-wrapper .product-slider-col-1 {
    /*     padding-left: 30px; */
    padding-top: 15px;
  }
  .jump-section .grid.slick-slider {
    margin: 0;
  }
  .sign-section .grid.slick-slider {
    margin: 0;
  }
  .wine--journey .grid--journey--wrapper {
    margin: 0;
  }
  .custom-blog-section .article__grid-image-wrapper .custom-blog-content .btn--small {
    font-size: 20px !important;
    display: block;
    text-align: left;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .grid__sign .h5 {
    font-family: "neuzeit-grotesk";
  }
  .custom-blog-section .custom-blog-view-all .btn {
    margin-top: 0px;
    padding: 18px 67px;
    line-height: 23.04px;
    font-family: "neuzeit-grotesk";
    border-radius: 31px;
    border: 1.15px solid #E4E4E4;
  }
  .card-content-wrapper .section-header h2 {
    font-size: 48px;
    max-width: 360px;
  }
  .testimonial-info span.votes {
    padding: 0 0 0 8px;
    color: #888;
    font-size: 10.67px;
    letter-spacing: 1px;
  }
  .testimonial-content .section-sub-header p {
    color: #666D65 !important;
    font-size: 16px !important;
    font-family: "neuzeit-grotesk" !important;
  }
  .testimonial-section .testimonial-slider-content {
    width: 60%;
  }
  .testimonial-section .testimonial-content {
    width: 40%;
  }
  .testimonial-section .quotes-slide {
    width: 320px !important;
    outline: transparent;
  }
  .testimonial-section .testimonial-wrapper {
    margin: 0 10px;
    height: 100%;
  }
  .testimonial-slider-nav {
    margin: 10px 0 30px 0;
  }
  .before-footer-section .before-footer .section-header h2 {
    max-width: 540px;
    margin: 0 auto;
    margin-bottom: 18px;
  }
  .before-footer-section .btn-before-footer {
    border-radius: 31px;
    padding: 19px 68px;
    line-height: 23.04px;
    font-family: "neuzeit-grotesk";
  }
  /*============================================
  product page css
  ===========================================*/
  .custom-product-wrapper .product-details .add-to-cart .btn-add-to-cart {
    border-radius: 31px;
    line-height: 23.04px;
    font-family: "neuzeit-grotesk";
  }
  .left-detail-col .product-detail-info:last-child {
    margin: 0 0 -38px 0;
  }
  .left-detail-col .product-detail-info:first-child {
    margin-top: 15px;
  }
  /*   .custom-product-wrapper .product-maker-wrapper .maker-content .maker-col-1 p {
  font-size: 16px;
  line-height: 32px;
} */
  .maker-tabs .maker-tab p {
    font-size: 16px;
    line-height: 26px;
  }
  .wine--sign .section-sub-header h3 {
    font-size: 32px;
    font-family: "neuzeit-grotesk";
  }
  li.site-footer__linklist-item a {
    font-size: 16px;
    line-height: 26px;
  }
  .footer-logo {
    margin-bottom: 30px;
    display: inline-block;
  }

  /*============================================
  products/barossa page css
  ===========================================*/
  .wineSubWrap .wineSubHero ul li {
    font-size: 20px;
  }
  .wineSubWrap .wineThink .wineThinkHead h2 br {
    display: none;
  }
  .wineSubWrap .wineThink .wineThinkBox {
    margin: 0 10px;
  }
  .wineThinkHead .rte p br {
    display: none;
  }
  /*   .wine-subs-tour .tour-wine-bottle-card .tour-col-2 .bottle-cards-container:nth-child(2) .img-highlight {
  top: 150px !important;
  right: 0 !important;
} */
  .wine-subs-tour .tour-wine-bottle-card .tour-col-2 .bottle-cards-container:nth-child(2) span.bg-count {
    margin-left: -30px !important;
  }
  #shopify-section-product-bg-block .wine-subs-letsgo .letsgo-wrapper .letsgo-col-1 .icon-letsgo svg path {
    stroke: #F4F4F2;
  }
  #shopify-section-product-bg-block .wine-subs-letsgo .letsgo-wrapper .letsgo-col-1 .icon-letsgo svg ellipse {
    stroke: #F4F4F2;
  }
  /*   .letsgo-wrapper.grid.page-width {
  padding-left: 0;
} */
  .wine-subs-letsgo .letsgo-wrapper .letsgo-col-1 {
    padding-left: 20px;
    padding-top: 30px;
  }
  .wine-subs-letsgo .letsgo-wrapper .letsgo-col-1 .icon-letsgo {
    left: -30px;
    top: -18px;
  }
  .wine-subs-letsgo .letsgo-wrapper .letsgo-col-1 .pre-heading p {
    margin: 0 0 0 -30px;
    color: #152F38 !important;
  }
  .wine-subs-letsgo .letsgo-wrapper .letsgo-col-1 .heading {
    margin: 15px 0;
    color: #152F38 !important;
  }
  .wine-subs-letsgo .letsgo-wrapper .letsgo-col-1 .text {
    max-width: 354px;
  }
  .wine-subs-letsgo .letsgo-wrapper .letsgo-col-1 .text p {
    color: #152F38 !important;
  }
  .wine-subs-letsgo .letsgo-wrapper .letsgo-col-2 .letsgo-content-rapper .heading-content div span {
    font-size: 12px;
    letter-spacing: 4px;
  }
  .wine-subs-letsgo .letsgo-wrapper .letsgo-col-2 .letsgo-content-rapper .heading-content h2 span {
    font-size: 42px;
    line-height: 42px;
    display: block;
  }
  .wine-subs-letsgo .letsgo-wrapper .letsgo-col-2 .letsgo-content-rapper .heading-content .price-tag .price {
    font-weight: bold;
  }
  .wine-subs-letsgo .letsgo-wrapper .letsgo-col-2 .letsgo-content-rapper .heading-content .price-tag .tag {
    width: 160px;
  }
  .wine-subs-letsgo .letsgo-wrapper .letsgo-col-2 .letsgo-content-rapper .heading-content .price-tag .tag span {
    letter-spacing: normal;
  }
  .wine-subs-letsgo .letsgo-wrapper .letsgo-col-2 .letsgo-content-rapper .heading-content h2 {
    max-width: 340px;
  }
  .wine-subs-testimonial .wine-subs-wrapper .testimonial-content-wrapper {
    padding-left: 29px;
  }
  .wine-subs-testimonial .wine-subs-wrapper .testimonial-content-wrapper .sub-text {
    max-width: 350px;
  }
  .wine-subs-faq-wrapper .product-accordion {
    max-width: 900px;
  }
  .wine-subs-faq-wrapper .product-accordion .accordion .text {
    font-weight: 400;
    letter-spacing: 1px;
  } 

  /*============================================
  subscriptions page css
  ===========================================*/  

  .subscription-text h2 {
    font-size: 54px;
    line-height: 62px;
  }
  .subscription-text .rte p {
    font-size: 32px;
    line-height: 32px;
  }
  .journey-img-abs-1 svg:first-child {
    opacity: 0;
  }
  .grid--journey--wrapper {
    border-radius: 10px;
  }
  .grid__journey h3 {
    line-height: 38px;
    margin-bottom: 35px;
    font-family: "neuzeit-grotesk";
  }
  .product-gallery-block .product-gallery-item .product-gallery-grid {
    height: 480px;
    /*     padding-top: 18%; */
  }
  .product-gallery-block .product-gallery-item .product-gallery-grid .gallery-grid-content h2 span {
    margin: -14px 0 0 0;
  }
  .product-gallery-block .product-gallery-item .product-gallery-grid .gallery-grid-content h2 {
    font-size: 50px;
    line-height: 50px;
  }
  .product-gallery-block .product-gallery-item .product-gallery-grid .gallery-grid-content .rte p {
    max-width: 250px;
    margin: 0 auto;
  }
  .product-gallery-block .product-gallery-item .product-gallery-grid .gallery-grid-content a {
    margin-top: 30px;
    position: relative;
    padding: 10px 62px;
  }
  .product-gallery-block .product-gallery-item .gallery-content-item .rte p {
    font-size: 12px;
    letter-spacing: 4px;
    line-height: 20px;
  }
  .map-block-section .rte p {
    font-size: 32px;
    letter-spacing: 0.3px;
    line-height: 42px;
    max-width: 760px;
    margin: 0 auto;
  }
  .map-block-section .signup-form .rte p {
    max-width: 100%;
  }
  .custom-blog-section .section-sub-header h3 {
    font-family: "neuzeit-grotesk";
  }
  .custom-blog-section {
    margin-bottom: 10px;
  }
  .jump--sign .section-header h2 {
    font-weight: 600;
  }
  .jump--sign .section-sub-header h3 {
    font-family: "neuzeit-grotesk";
  }
  .subscription-jump-section .jump--sign .slick-slider {
    margin-left: -10px;
  }
  .subscription-testimonial-section:before {
    content: ' ';
    background: #f3f4f1;
    position: absolute;
    height: 50%;
    bottom: 0;
    width: 100%;
    z-index: -1;
  }
  .subscription-testimonial-section {
    position: relative;
  }
  .custom-blog-section .article__grid-image-wrapper .custom-blog-content {
    padding: 0px 30px !important;
    padding-bottom: 100px !important;
  }
  span.article__date.nobhgy_n {
    opacity: 0;
  }
  .custom-blog-content .article__date time {
    font-weight: 400;
  }

}

@media (max-width:749px){
.product-new-template .custom-product-wrapper .product-details {
    padding-right: 20px;
    padding-left: 20px;
}
  ul.overlaytweak {
     margin-top: 0%;
}
  .sk-cart-attribute {
    display: block;
   
}
  .product-new-template .icon-sec {
    margin-top: 0;
}
.product-new-template .ContentS-sec {
    padding: 0 0 0 20px;
}
  
  a.cart__continue-btn {
    border-radius: 45px!important;
    padding: 19px 59px!important;
    font-size: 12.82px!important;
    font-weight: 700!important;
    width: max-content;
    letter-spacing: 2px!important;
    font-family: inherit!important;
}
  p.sk-cart-attribute.cart-attribute__field img {
    top: 0px !important;
    margin-right: 0px !important;
}
.sect-5 button.slick-next.slick-arrow:before {
    content: '\203A';
    font-size: 50px;
    font-family: "slick-icons, sans-serif";
    opacity: 1;
}
.sect-5 .slick-next {
    right: 0;
}
.sect-5 button.slick-prev.slick-arrow:before {
    content: '\2039';
    font-size: 50px;
    font-family: "slick-icons, sans-serif";
    color: #000;
    opacity: 1;
}
.sect-5 .slick-prev {
    left: 0;
    z-index: 2;
}
  .sect-5 .slick-dots li.slick-active a {
    background: #1b3f43;
    color: #fff;
}
.sect-5 .slick-dots li {
    margin: 0 5px;
    display: inline-block;
    width: auto;
    height: auto;
}
.sect-5 .slick-dots li a {
    font-size: 15px !important;
    width: 30px;
    height: 30px;
    color: #1b3f43;
    border: 1px solid #000 !important;
    border-radius: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
}
.sect-5 .slick-dots li a:before {
    opacity: 0;
}
.sect-5 ul.slick-dots {
    margin: 0 0 20px 0;
}
  .product-new-template .lattitide {
    display: none;
  }
  .bannermidle h2.animate__animated.animate__fadeIn.h1.mega-title {
    font-size: 30px;
    line-height: 30px;
  }
  .shopify-section.index-section.index-section--flush.bannermidle:before {
    width: 180px;
    height: 70px;
  }
  p.oomeray {
    height: auto;
  }
  .product-new-template .mixcase-slider.slick-initialized.slick-slider {
    padding: 20px;
  }
  .product-new-template .custom-product-wrapper .product-image .product-image-wrapper {
    padding: 0;
  }
  .product-new-template span.minijourney {
    font-size: 12px;
  }
  .product-new-template .custom-product-wrapper .product-details {
    padding-bottom: 20px;
  }
  .product-new-template .mixcase-bottle-card-wrapper .heading h2 {
    font-size: 32px;
    line-height: 33px;
  }
  .product-new-template .mixcase-bottle-card-wrapper .heading {
    font-size: 16px;
    padding: 0 2%;
  }
  .product-new-template .custom-field__mixcase-wines .img-container img {
    margin: 0 auto;
  }
  .cust-left-secS {
    width: 100%;
    text-align: right;
  }
  .cust-left-secS ul li span {
    font-size: 17px;
    padding: 5px 0;
    display: block;
  }
  .cust-right-secS {
    width: 100%;
  }
  .content-area-section h1 {
    font-size: 40px;
  }
  .content-area-section h4 {
    font-size: 20px;
  }
  .promo-panels a.btn.btn--secondary.btn--small.btn-sign-card {
    background: #0a3039!important;
    color: #fff!important;
  }
  .product-product-custom .shopify-section.sk-related-products-section {
    display: none;
  }
  .product-wine-subscriptions .wine-subs-letsgo .heading-content {
    display: inline-block !important;
    width: 100%;
  }
  .product-wine-subscriptions .wine-subs-letsgo .heading-content h2 {
    max-width: 100% !important;
  }
  .product-wine-subscriptions .wine-subs-letsgo .heading-content .price {
    text-align: left !important;
    display: inline-block;
  }
  .product-wine-subscriptions .wine-subs-letsgo .heading-content .mile-text-21 {
    width: 90px;
    right: 40px;
    top: 15px;
  }
  .cust-left-secS ul {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  br.gayb_uop{display: none;}
  br.metafier09{
    display: block;

  }
  br.hiddern_op89 {
    display: none;
  }
  br.metafier {
    display: none;
  }
  .none_opo12{
    display: block;

  }
  .product-wine-subscriptions span.subsText br:nth-child(1) {
    display: none;
  }
  .custom-product-gallery {
    display: inline-block !important;
    width: 100%;
    margin: 55px 0 0 0;
    padding: 0 20px;
  }
  section#subscription-image-with-text-overlay .subscription-overlay-bg {
    height: 450px;
  }
  section#subscription-image-with-text-overlay .subscription-text h2 {
    color: #152F38;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    max-width: 300px;
  }
  section#subscription-image-with-text-overlay .subscription-text .rte p {
    font-size: 35px;
    max-width: 200px;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    margin: 0 auto;
  }
  .page-subscriptions .journey-img-abs-1 svg:first-child {
    opacity: 0;
  }
  .wine--journey .section-header h2 {
    font-size: 26px !important;
    line-height: 32px !important;
    padding: 0 20px;
    max-width: 290px;
    margin: 0 auto;
    margin-bottom: 18px;
  }
  .journey-section .grid__journey h3 {
    font-size: 20px;
    font-family: "neuzeit-grotesk";
  }
  .page-subscriptions .journey-section .journey-clouds {
    opacity: 0;
  }
  .journey-img-abs {
    bottom: 0;
    position: relative;
    right: 0;
    float: right;
  }
  .page-subscriptions .journey-img-abs-2 {
    display: none;
  }
  .product-gallery-block .product-gallery-item {
    width: 100%;
    padding: 40px 0 0px;
    margin-bottom: 8%;
  }
  .product-gallery-block .product-gallery-item .product-gallery-grid {
    width: 85%;
    height: 321px;
  }
  .product-gallery-block .product-gallery-item .product-gallery-grid .gallery-grid-content h2 {
    margin-top: 50px;
    font-size: 45px;
    font-weight: 900;
    letter-spacing: -3.75px;
    line-height: 45px;
    text-align: center;
  }
  .product-gallery-block .product-gallery-item .product-gallery-grid .gallery-grid-content h2 span {
    margin: -20px 0 0 0;
  }
  .product-gallery-block .product-gallery-item .product-gallery-grid .gallery-grid-content .rte p {
    line-height: 16px;
  }
  .product-gallery-block .product-gallery-item .product-gallery-grid .gallery-grid-content a {
    /*     background: transparent; */
    padding: 8px 65px;
    border: 1px solid #fff;
    /*     color: #fff; */
    margin-top: 6px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 23.04px;
    text-align: center;
    position: relative;
    font-family: "neuzeit-grotesk";
  }
  .product-gallery-block .product-gallery-item .product-gallery-grid .gallery-grid-content a svg {
    position: absolute;
    right: 17px;
  }
  .product-gallery-block .product-gallery-item .product-gallery-grid .gallery-grid-content a svg path {
    fill: #F88379;
  }
  .product-gallery-block .product-gallery-item .product-gallery-grid .grid-badge {
    display: none;
  }
  .gallery-content-item .rte {
    margin-bottom: 22px;
  }
  .product-gallery-block .product-gallery-item .gallery-content-item .rte p {
    font-size: 10px;
    letter-spacing: 3.33px;
    line-height: 16px;
  }
  .product-gallery-block .product-gallery-item .gallery-content-item h3 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 0;
  }
  .map-block-section h2 {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    max-width: 290px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-weight: 600;
  }
  .map-block-section .rte p {
    font-size: 16px;
    letter-spacing: 0.15px;
    line-height: 20px;
  }
  .signup-form .rte {
    margin-bottom: 20px;
  }
  .map-block-section .signup-form .rte p {
    max-width: 220px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .map-block-section .signup-form form {
    display: flex;
  }
  .map-block-section .signup-form input[type="email"] {
    width: 100%;
    font-size: 16px;
  }
  .map-block-section .signup-form input[type="submit"] {
    margin: 0 0 0 -13px;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 12px;
    font-size: 12px;
    padding: 0 20px;
  }
  div#shopify-section-custom-section-6 {
    object-fit: cover;
    background-size: cover;
    background-position: top;
    background-image: url(//cdn.shopify.com/s/files/1/0423/0312/7712/t/3/assets/Greg_Bg.png?v=829167334141181665);
    background-repeat: no-repeat;
    padding-top: 150px;
    display: inline-block;
    width: 100%;
    background-color: inherit;
    padding-bottom: 150px;
    margin-top: 30px;
    position: relative;
  }
  div#shopify-section-custom-section-6:before {
    content: ' ';
    background: #f3f4f1;
    position: absolute;
    height: 50%;
    bottom: 0;
    width: 100%;
    z-index: -1;
  }
  .before-footer-section .moon_footer {
    display: block !important;
    position: absolute;
    top: -80px;
    right: 30px;
    z-index: 0;
  }
  .before-footer-section .moon_footer svg {
    width: 80px;
  }
  div#shopify-section-custom-section-6 .before-footer .section-header h2 {
    font-size: 26px;
    line-height: 32px;
    max-width: 270px;
    margin: 0 auto;
    margin-bottom: 18px;
    margin-top: 15px;
    z-index: 2;
    position: relative;
  }
  /*   div#shopify-section-custom-section-6 .btn-before-footer {
  display: none;
} */
  .custom-blog-section .section-header h2 {
    font-size: 32px !important;
    line-height: 40px !important;
    text-align: center !important;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 20px !important;
    font-weight: 600;
  }
  .custom-blog-section .section-sub-header h3 {
    font-family: "neuzeit-grotesk";
    max-width: 300px;
    margin: 0 auto;
    font-size: 20px !important;
    line-height: 26px !important;
  }
  div#shopify-section-subscription-blog-posts {
    background-size: cover;
    margin-bottom: 0;
  }
  .custom-blog-view-all .btn {
    margin-top: 0px !important;
    padding: 15px 60px !important;
    width: 88%;
  }
  .jump--sign .section-header h2 {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    max-width: 290px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-weight: 600;
    padding: 0;
  }
  .jump--sign .section-sub-header h3 {
    margin-bottom: 0px;
    letter-spacing: 0.15px;
    font-family: "neuzeit-grotesk";
    max-width: 320px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    padding: 0;
  }
  .jump-card-content {
    width: 100%;
  }
  .testimonial-content .section-header h2 {
    font-size: 32px !important;
    line-height: 40px !important;
    text-align: center;
    max-width: 290px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-weight: 600;
  }
  .testimonial-section {
    padding-top: 100px !important;
  }
  .testimonial-content .section-sub-header p {
    font-size: 14px !important;
    letter-spacing: 0.15px;
    line-height: 20px !important;
    text-align: center;
    margin-bottom: 20px;
  }
  .testimonial-content .section-pre-header {
    text-align: center;
  }
  .testimonial-content {
    padding: 10px 30px !important;
  }
  .testimonial-section .testimonial-slider-content {
    width: 100%;
  }
  .testimonial-section .testimonial-content {
    width: 100%;
  }
  .custom-section-1__wrapper .custom-section-1__text1 {
    font-size: 10px;
  }
  .sign-section {
    padding-top: 26px;
  }
  .sign-section .wine--sign .section-header h2 {
    font-size: 32px;
    line-height: 40px !important;
    max-width: 320px;
    margin: 0 auto;
  }
  .wine--sign .section-sub-header h3 {
    max-width: 330px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
    line-height: 26px;
    font-family: "neuzeit-grotesk";
  }
  .sign-section .slick-slider {
    overflow: hidden;
  }
  .jump-section .slick-slider {
    overflow: hidden;
  }
  .sign-section .btn-wine-main {
    padding: 20px 35px !important;
  }
  .btn-jump-card {
    margin-bottom: -10px;
    border-radius: 31px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 12px;
    font-family: "neuzeit-grotesk";
  }
  .custom-blog-section .article__grid-image-wrapper .custom-blog-content h3 {
    font-size: 26px !important;
    line-height: 32px !important;
    margin: 0 30px 20px 0px;
  }
  .journey-section .hide_bndi .journey-clouds {
    left: -100px;
    top: 85%;
    transform: none;
  }
  .journey-section .hide_bndi .journey-clouds svg {
    width: 130%;
    display: none;
  }
  .hide_bndi .journey-img-abs-2 svg:first-child {
    margin-left: 80px;
    margin-top: -30px;
    margin-bottom: 0;
    transform: none;
    width: 230px;
  }
  .hide_bndi span.journey-clouds svg path:nth-child(2) {
    display: none;
  }
  .hide_bndi span.journey-clouds svg path:nth-child(3) {
    display: none;
  }
  .hide_bndi span.journey-clouds svg path:nth-child(4) {
    display: none;
  }
  .hide_bndi .journey-img-abs {
    bottom: 130px;
  }
  .hide_bndi .journey-img-abs-2 {
    margin-top: 30px;
  }
  .custom-blog-section {
    padding-top: 20px;
  }
  .custom-blog-view-all .btn {
    border-radius: 31px;
    background-color: #152F38 !important;
    color: #fff !important;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 23.04px;
  }
  .image-text h2 {
    margin-top: 20px;
  }
  .image-text p {
    font-size: 20px !important;
    line-height: 26px !important;
  }
  .image-text .btn-image-text {
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 23.04px;
  }
  .image-text {
    margin: 60px 15px;
  }
  .image-text .feature-row__image-wrapper svg {
    position: absolute;
    top: 2%;
    right: -25px;
    width: 60px;
  }
  .photoPanelWrapper .photoPanelGrid .photoPanelItem:nth-child(3) {
    margin-top: -20px;
  }
  .photoPanelWrapper .photoPanelGrid {
    grid-gap: 10px;
  }
  .before-footer-section .before-footer .section-header h2 {
    font-size: 26px;
    line-height: 32px;
    max-width: 270px;
    margin: 0 auto;
    margin-bottom: 18px;
    margin-top: 25px;
    z-index: 2;
    position: relative;
  }
  .before-footer-section .btn-before-footer {
    margin-top: 40px !important;
    font-family: "neuzeit-grotesk";
    font-size: 12px;
  }
  .before-footer-section {
    padding: 25% 0 !important;
  }
  .custom-blog-section .section-sub-header {
    margin-bottom: 40px !important;
  }
  .custom-blog-section .section-header {
    background: transparent !important;
  }
  .custom-product-wrapper .product-details {
    margin-top: 0;
  }
  .product-form {
    padding-top: 0;
  }
  .custom-product-wrapper .product-details .in-stock {
    margin-top: 0;
  }
  .custom-product-wrapper .product-details .price-count .price .single-price {
    font-size: 32px;
  }
  .custom-product-wrapper .product-details .product-desc .product-desc-text {
    max-width: 320px;
    margin: 0 auto;
  }
  .custom-product-wrapper .product-detail-wrapper .left-detail-col {
    padding: 0 22px;
  }
  .add-to-cart .product-form__item.product-form__item--submit {
    padding: 0 10%;
  }
  .custom-product-wrapper .product-maker-wrapper .maker-content .maker-col-2 .image-wrapper .image-1 img {
    border: 6px solid white;
    border-radius: 20px;
  }
  .custom-product-wrapper .product-maker-wrapper .maker-content .maker-col-2 .image-wrapper .image-1 {
    border: none;
    display: inline-block;
  }
  .custom-product-wrapper .product-maker-wrapper .maker-tabs {
    margin-bottom: 0;
  }
  .custom-product-wrapper .product-maker-wrapper .maker-content .maker-col-2 .image-wrapper .img-logo {
    right: -10px;
  }
  .wineSubWrap .wineSubHero {
    background-position: 60% 0;
    height: 500px;
  }
  .wineSubWrap .wineThink .wineThinkHead .rte {
    padding: 0px 20px;
  }
  .wineSubWrap .wineThink .wineThinkBox .wineThinkItem ul li {
    font-size: 14px;
    line-height: 26px;
  }
  .wineSubWrap .wineThink {
    padding-bottom: 0;
  }
  .wine-subs-tour .tour-heading p br {
    display: none;
  }
  .wine-subs-tour .tour-wine-bottle-card .tour-col-2 {
    margin-top: 0px;
    padding-left: 0;
  }
  .wine-subs-tour .tour-wine-bottle-card .tour-col-2 .bottle-cards-container {
    padding-top: 0px;
    align-items: inherit;
  }
  .wine-subs-tour .tour-wine-bottle-card .tour-col-2 .bottle-cards-container .bottle-cards-col-1 {
    margin-right: 0;
    width: 60%;
  }
  .wine-subs-tour .tour-wine-bottle-card .tour-col-2 .bottle-cards-container .bottle-cards-col-2 {
    /*     margin-top: -30px; */
    padding-left: 0px;
    align-items: inherit;
    text-align: center;
    display: inline-block;
    width: 40%;
  }
  .wine-subs-tour .tour-wine-bottle-card .tour-col-2 .bottle-cards-container .bottle-cards-col-2 .bg-count {
    line-height: 270px;
    margin-left: -115px;
    z-index: -1;
  }
  .bottle-cards-col-2 img {
    width: 70%;
  }
  .wine-subs-letsgo .letsgo-wrapper .letsgo-col-2 .letsgo-content-rapper .heading-content h2 {
    max-width: 189px;
  }
  .tour-wine-bottle-card.grid .slick-dots li {
    display: block;
    padding: 7px 0;
  }
  .tour-wine-bottle-card.grid .slick-dots {
    position: absolute;
    top: 30%;
    left: 18px;
  }
  .wine-subs-tour .brand-wrapper .brands .brand {
    margin: 12px 10px;
  }
  .wine-subs-tour .tour-wine-bottle-card .slick-list {
    overflow: visible;
  }
  .wine-subs-tour .tour-wine-bottle-card .tour-col-2 .bottle-cards-container .bottle-cards-col-1 p span {
    font-size: 14px !important;
  }
  .wine-subs-letsgo .letsgo-wrapper .letsgo-col-2 .letsgo-content-rapper .heading-content span {
    max-width: 130px;
    display: inline-block;
  }
  .wine-subs-letsgo .letsgo-wrapper .letsgo-col-2 .letsgo-content-rapper .heading-content .price-tag .tag {
    margin-right: -15px;
    margin-top: 10px;
    width: 150px;
  }
  .wine-subs-letsgo .letsgo-wrapper .letsgo-col-2 .letsgo-content-rapper .heading-content .price-tag .tag img {
    height: 39px;
  }
  .wine-subs-letsgo .letsgo-wrapper .letsgo-col-2 .letsgo-content-rapper .letsgo-list {
    padding: 0 30px;
    padding-top: 12px;
  }
  .wine-subs-letsgo .letsgo-wrapper .letsgo-col-2 .letsgo-content-rapper .letsgo-text {
    font-size: 14px;
  }
  .wine-subs-testimonial {
    margin-top: 30px;
  }
  .wine-subs-testimonial .wine-subs-wrapper .testimonial-image-wrapper {
    padding-left: 0;
  }
  .wine-subs-faq-wrapper .product-accordion .panel {
    border: none !important;
  }
  .wine-subs-faq-wrapper .product-accordion .accordion .accordion-arrow {
    margin-left: 0;
  }
  .wine-subs-faq-wrapper .product-accordion .accordion {
    padding: 18px 18px;
  }
  ul.poland_tk li span {
    display: none;
  }
  .wineSubsTab {
    margin: 0;
    margin-top: -32px;
  }
  .grid--sign--wrapper_op .grid__sign .sign-card-content .h4 {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: -1.67px;
    line-height: 20px;
  }
  .grid--sign--wrapper_op .grid__sign .sign-card-content h4.h5 {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: -1.67px;
    margin-bottom: 0px;
  }
  .grid--sign--wrapper_op .grid__sign .sign-card-content .btn-sign-card svg path {
    fill: #F88379;
  }
  .grid--sign--wrapper_op .grid__sign .sign-card-content .btn-sign-card svg {
    margin-left: 15px;
    width: 12px;
    position: absolute;
    right: 8px;
  }
  .grid--sign--wrapper_op .grid__sign .sign-card-content p {
    font-size: 10px;
    font-weight: 700;
    line-height: 10px;
    max-width: 150px;
    max-height: 10px;
    margin-bottom: 5px;
  }
  .grid--sign--wrapper_op .grid__sign .sign-card-content .btn-sign-card {
    margin-top: 0;
    font-size: 8px;
    font-weight: 700;
    letter-spacing: 1.33px;
    line-height: 23.04px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 0px 32px;
  }
  .grid--sign--wrapper_op .wine--sign .grid__item {
    outline: transparent;
  }
  .wine-subs-hero-wrapper {
    margin-bottom: 0;
  }
  span.article__date.nobhgy_n {
    opacity: 0;
  }
  .custom-blog-section .article__grid-image-wrapper .custom-blog-content {
    padding: 0px 30px !important;
    padding-bottom: 100px !important;
  }
  .custom-blog-section .article__grid-image-wrapper .custom-blog-content .btn--small {
    display: block;
    text-align: left;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  #shopify-section-1600059758555 img.journey-img-abs {
    display: none;
  }
}
@media only screen and (max-width: 425px){
  .journey-img-abs {
    bottom: -75px;
    position: absolute;
    right: 25px;
    float: right;
  } 
  div#shopify-section-custom-section-6{
    background-size: auto;
  }
}


@media only screen and (max-width: 425px){
  .wine-subs-tour .tour-wine-bottle-card .tour-col-2 .bottle-cards-container .bottle-cards-col-2,
  .wine-subs-tour .tour-wine-bottle-card .tour-col-2 .bottle-cards-container .bottle-cards-col-2 img {
    margin-left: auto;
    margin-right: auto;
  }
  .tour-wine-bottle-card.grid .slick-dots {
    top: 36% !important;
    left: 50% !important;
    transform: translateX(-50%);
    margin-left: 0;
  }
  .tour-wine-bottle-card.grid .slick-dots li {
    display: inline-block;
  }
  .wine-subs-tour .tour-wine-bottle-card .tour-col-2 .bottle-cards-container .bottle-cards-col-1 {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 361px){
  .grid--sign--wrapper .grid__sign .sign-card-content p {
    font-size: 14px !important;
  }
  .tour-wine-bottle-card.grid .slick-dots {
    top: 36% !important;
  }
}
#shopify-section-1600149856749 .jump-card-content {
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
}

a.box-link{
  display: block;
  height: auto;
  width: 100%;
  position: inherit;
  float: left;
}
.grid--jump--wrapper .slick-track .grid__item {
  height:100%;
}
a.box-link1 {
  width: 100%;
  height: 100%;
  position: relative;
}
.addition-image-right {
  border-radius: 15px;
}
.addition-image-left {
  border-radius: 15px;
}
body.template-product.product-wine-subscriptions .wine-subs-letsgo .letsgo-wrapper .letsgo-col-1 .icon-letsgo svg ellipse {
  stroke: #162f39 !important;
}
body.template-product.product-wine-subscriptions .wine-subs-letsgo .letsgo-wrapper .letsgo-col-1 .icon-letsgo svg path {
  stroke: #162f39 !important;
}
span.hide__title_month {
  display: none !important;
}
img#FeatureRowImage-feature-row {
  border-radius: 2px 22px 22px 2px;
}
img#FeatureRowImage-1600172896749 {
  border-radius: 2px 22px 22px 2px;
}
.rte.rte-setting.featured-row__subtext p {
  font-size: 32px;
}

@media only screen and (max-width: 600px) {
  .sub-center-section-2 p {
    font-size: 28px;
  }
  .section-4 .h3 {
    font-size: 33px;
}
  #shopify-section-section-wine-journey-banner, .section-6-right.grid__item.medium-up--one-half {
    display: none;
  }
  .section-8 {
    margin-top: 70px;
  }
}
div#accordion h4 {
  font-family: 'neuzeit-grotesk';
}
article.content-entry ::before {
color: #162f39; 
}
div#shopify-section-product-recommendations {
  display: none;
}
.partner-text {
  font-weight: 600;
}
.grid__item.site-footer__payment-icons.cart__payment_icons {
  display: none !important;
}
.sing-text {
  font-size: 14px;
}