$textColor: #0a3039;

[data--hidden] {
  display: none !important;
}

$ff-n-t: 'neuzeit-grotesk';

.rimage {
  width: 100%;
  padding-top: 0px !important;
}

.rimage img {
  left: 0px;
  top: 0px;
  width: 100%;
  height: auto;

}
.rimage.hide--mobile img {
  min-height: 510px;
}
@media (min-width: 750px) {
  .hide--desktop {
    display: none !important;
  }
}

@media (max-width: 749px) {
  .hide--mobile {
    display: none !important;
  }
}



.btn {
  &.btn-rounded {
    border-radius: 31px;
  }
  &.btn-white {
    background: #FFFFFF;
    border: none;
    color: $textColor !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background: #fbe4b5 !important;
    }
  }
}



// Header
@media (min-width: 750px) {
  .sk-header-section {
    position: fixed !important;
  }
  .ctm-sticky-box {
    padding-top: 22px !important;
    padding-bottom: 22px !important;
    z-index: 1000 !important;
  }
}


// Product Page

body.template-product {
  .wine-subs-testimonial {
    @media (max-width: 750px) {
      
      background-size: cover;

      .testimonial-content-wrapper, .testimonial-image-wrapper {
        width: 100%;
      }
      
      .wine-subs-wrapper {
        display: flex;
        flex-direction: column;
        height: auto !important;
        padding-bottom: 60px;
      }

      .testimonial-image-wrapper {
      }

      .testimonial-image-wrapper img {
        height: auto !important;
        max-width: 100% !important;
        width: 100%;
      }

      .testimonial-content-wrapper {
        padding-left: 0px;
        .main-text {
          padding-top: 30px;
          padding-bottom: 30px;
        }
        .main-text p {
          font-size: 16x;
          line-height: 1.5;
        }
      }

      .testimonial-mobile-row {
        line-height: 1.5;
        margin-top: 10px;
        height: auto;
        padding: 8px;
      }

    }
  }
}

// Homepage hero slider banner
#shopify-section-1633932807e85c15f8 {
  @media (max-width: 767px) {
    background-color: #ebebeb;
    padding-top: 20px;
  }
}

.shopify-section.hero-slide-banner {
  padding-bottom: 0;
  .title.text_title img {
     		 margin: 20px 0 0 0;
    width: 100%;
  		}
  .section_container {
    position: relative;
    &.logo-hidden {
      &::before {
        display: none !important;
      }
      .subtitle.hide--desktop {
        p {
          font-size: 22px;
          line-height: 32px;
          color: #0A3139;
          text-align: center;
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
      .content_wrapper .content {
        max-width: 875px;
        @media (max-width: 767px) {
          transform: translate(-50%,-50%);
          top: 50%;
          position: absolute;
          left: 50%;
          width: 100%;
          .title {
            margin-top: 0;
          }
        }
        &.text_center * {
          text-align: center;
        }
      
        .title p {
          font-size: 110px;
          font-family: "neuzeit-grotesk", sans-serif;
          font-weight: 900;
          letter-spacing: -6.22px;
          @media (max-width: 767px) {
            font-size: 50px;
            letter-spacing: -2.42px;
          }
          strong {
            color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: white;
            display: block;
            margin-bottom: 20px;
          }
        }
        .subtitle p {
          font-size: 45px;
          line-height: 54px;
          letter-spacing: -2.54px;
        }
      }
    }
    &::before {
      content: "";
      background: url("{{'wj-logo-1.svg' | assets_url }}");
      background-size: contain;
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 86px;
      height: 86px;
      z-index: 1;
      transform: translate(-50%,50%);
/*       background-size: 32px 48px; */
      background-repeat: no-repeat;
      background-position: center;
      background-color: white;
      border-radius: 50%;
      @media (max-width: 1200px) {
        width: 60px;
        height: 60px;
      }
    }
  }
  .hero-banner {
    position: relative;
    .image-wrapper {
          min-height: 690px;
    }
    }
  .content_wrapper {
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    align-items: center;
  }
  .content_wrapper .content {
    max-width: 480px;
/*     transform: translateY(-50%);
    top: 50%;
    position: absolute; */
    @media (max-width: 767px) {
      max-width: 270px;
    }
  }
  .content * {
    color: #FFFFFF    
  }
  .pretitle {
    margin-bottom: -10px;
    font-size: 12px;
    letter-spacing: 3.95px;
    @media (max-width: 767px) {
      font-size: 10px;
      line-height: 12px;
      margin-bottom: 0;
    }
  }
  .title {
    font-family: 'roslindaletextregular', sans-serif;
    font-size: 56px;
    line-height: 54px;
    margin-top: 15px;
    @media (max-width: 767px) {
      font-size: 50px;
      line-height: 54px;
      letter-spacing: 0.27px;
      margin-top: 26px;
    }
  }
  .subtitle {
    font-size: 32px;
    line-height: 1.3;
    margin-top: 8px;
    @media (max-width: 767px) {
      p {
          font-size: 20px;
          line-height: 26px;
          letter-spacing: 0px;
      }
    }
  }
  .btn_wrapper {
    margin-top: 15px;
  }
  a.btn {
    height: 55px;
    width: 240px;
    position: relative;
    font-size: 14px;
    letter-spacing: 2.88px;
    font-family: 'neuzeit-grotesk';
    @media (max-width: 767px) {
      height: 40px;
      width: 190px;
      font-size: 14px;
      line-height: 17px;
    }
    span.icon {
      right: 27px;
      position: absolute;
      width: 17.5px;
      height: auto;
    }
  }
  .custom_slider-dots {
    display: flex;
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 70px;
    @media (max-width: 1250px) {
    	bottom: 40px;
    }
      @media (max-width: 1100px) {
    	bottom: 30px;
    }
    @media (max-width: 767px) {
      left: unset;
      bottom: unset;
      right: 0;
      width: max-content;
      top: 50%;
      transform: translateY(-50%);
      width: max-content;
      flex-direction: column;
    }
  }
  .slick-dot {
    flex: 1;
    cursor: pointer;
  }
  .dot_title {
    color: white;
    text-transform: uppercase;
    margin-bottom: 5px;
    letter-spacing: 4px;
    text-align: center;
    font-size: 12px; 
    @media (max-width: 1100px) {
      display:none;
    }
  }
  .dot_line {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    @media (max-width: 767px) {
      margin-top: 16.5px;
      margin-bottom: 16.5px;
    }
    &.active {
      @media (max-width: 767px) {
        margin-top: -1.5px;
        margin-bottom: -1.5px;
      }      
      span:first-child, span:last-child 
      {
        background: #F88379;
      }
      span:nth-child(2) {
        width: 47px;
        height: 47px;
        border: 3px solid #F88379;
        @media (max-width: 767px) {
          width: 40px;
          height: 40px;
        }
        &::before {
          background-color: #F88379;
        }
      }
    }
      span:first-child, span:last-child {
        height: 3px;
        background: white;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
      }
      span:nth-child(2) {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 3px solid white;
        position: relative;
       @media (max-width: 767px) {
         border-width: 1px;
       }
        &::before {
          content: "";
          position: absolute;
          width: 14px;
          height: 14px;
          background-color: white;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
        }
      }
  }
  .product-content {
    max-width: 310px;
    width: 100%;
    margin-left: auto;
    background: white;
    border-radius: 11px;
    &.hide--desktop {
      max-width: 285px;
      margin-right: auto;
    }
    .bottle-card {
      text-align: center;
      position: relative;

    }
    .img-container {
        background: #F4F4F2; 
    	padding: 20px;
      	position: relative;
      	border-radius: 11px 11px 0 0;
       .bg-c {
		width: 230px;
   		height: 230px;
    	background: #fff;
   		border-radius: 200px;
    	z-index: 1;
    	position: absolute;
    	left: 50%;
    	top: 50%;
    	transform: translate(-50%,-50%);
      }
    }
    .img-container > div {
      position: relative;
      z-index: 2;
      img {
        position: absolute;
        width: 100%;
        top: 0;
      }
    }
  }
  .content-container {
    display: flex;
    padding: 30px 20px 0 20px;
    justify-content: space-between;
    .text {
      color: #4a666a;
      padding-right: 20px;
    }
    .text h3 {
        color: #1b3f43;
        font-family: neuzeit-grotesk;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 0;
        font-weight: normal;
    }
    .sub-heading {
    color: #0a3039;
    font-family: neuzeit-grotesk;
    font-size: 8px;
    letter-spacing: 2.67px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: left;
    }
    .price {
      flex-direction: row;
      span {
        color: #1b3f43;
        font-family: "neuzeit-grotesk", sans-serif;
        font-size: 26px;
        font-weight: 700;
        line-height: 26px;
        text-align: right;
      }
      .price-old {
        text-decoration: line-through;
        color: #8a3a31;
        font-size: 26px;
        line-height: 26px;
        margin-right: 5px;
      }
    }
  }
  .btn-view-item {
    border-radius: 33px;
    padding: 16px 63px;
    background-color: #0a3139;
    font-size: 11px;
    line-height: 1;
    letter-spacing: 2.26px;
    text-transform: uppercase;
    margin-top: 35px;
    display: inline-block;
    color: white;
    font-weight: 900;
    margin-bottom: 20px;
    @media (max-width: 768px) {
      margin-top: 15px;
    }
  }
}

a.btn--secondary svg, button.btn svg {
  max-width: 13px;
}
// Sign Section
.sign-section {
  .grid__sign.badge {
    .grid_badge {
      position: absolute;
      left: 0px;
      top: 29px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      color: white;
      font-weight: 700;
      text-transform: uppercase;
      width: 127px;
      font-size: 11px;
      line-height: 13px;
      height: 23px;
      letter-spacing: 2.23px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 767px) {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .wine--sign .btn-wine-main {
    padding: 17px 54px!important;
    line-height: 16px;
    letter-spacing: 2.67px;
    font-size: 13px;
    margin-top: 43px;

  }
}

.template-index .sign-section {
  padding-top: 70px !important;
  h2 {
    font-family: 'neuzeit-grotesk';
  }
  @media (max-width: 750px) {
    h2 {
      font-size: 38px !important;
      max-width: 300px !important;
      font-weight: 900;
    }
  }
  .section-sub-header h3 {
    margin-bottom: 50px;
  }
}

.home_product_grid {
  padding-top: 46px;
  text-align: center;
  @media (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 72px !important;
    ul.slick-dots {
      transform: translate(-50%, 50px);
      position: absolute;
      bottom: 0;
      left: 50%;
    }
    [mob-featured-product_slider] {
      .slick-track {
        display: flex;
      }
    }
  }
  .section-header {
    margin-bottom: 11px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }
    .title {
      color: #1b3f43;
      font-weight: 600;
      font-size: 53px;
      line-height: 64px;
      @media (max-width: 750px) {
        font-size: 38px !important;
      }
    }
    a {
      color: #0a3139;
      font-size: 13px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 2.675px;
      border-radius: 33px;
      border: solid #0a3139;
      padding: 11px 45px;
      text-transform: uppercase;
      @media (max-width: 750px) {
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 900;
        font-size: 14px;
      }
    }
  }
  .product-index-wrapper + a {
    border: 2px solid #0A3139;
    border-radius: 33px;
    font-size: 13px;
    font-family: 'neuzeit-grotesk';
    font-weight: 700;
    letter-spacing: 2.67px;
    padding: 14px 44px;
    text-transform: uppercase;
  }
  .product-index-wrapper .mixcase-bottle-card-wrapper .bottle-card-wrapper .bottle-card-container .bottle-card  {
    .content-container .text h3 {
      height: auto;
    }
    &.no-arrow {
      .img-container > div {
        padding-top: 120% !important;
      }
      .img-container img {
        margin-top: 0;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: contain;
        max-height: 100%;
        @media (max-width: 767px) {
          width: 100%;
          height: 100%;
        }
      }  
    }
    .img-container img {
      border-radius: 11px;
    }
    .btn-view-item {
      font-size: 11px;
      letter-spacing: 2.26px;
      @media (max-width: 750px) {
        width: 75%;
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }
  }
  [featured-product_slider] {
    .slick-track {
      display: flex;
      .bottle-card {
        margin-top: 20px;
      }
    }
    svg {
      cursor: pointer;
      z-index: 9;
    }
    svg:first-child {
      position: absolute;
      top: -67px;
      right: 53px;
      &:not(.slick-disabled) {
        use {
          fill: #0a3139;
        }
        #Group-20 path {
          fill: white;
        }
      }
    }
    svg:last-child {
      position: absolute;
      top: -67px;
      right: 0;
     &.slick-disabled {
      use {
        fill: white;
      }
      #Group-21 > path {
        fill: #0a3139;
      }
     }
    }
  }
    .mixcase-bottle-card-wrapper [featured-product_slider].bottle-card-wrapper .bottle-card-container .bottle-card .img-container {
      & > div {
        position: relative;
        width: 100%;
        padding-top: 100% !important;
        img {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          height: 100%;
        }
    }
  }
}

body.template-index {
  .product-index-wrapper .mixcase-bottle-card-wrapper .bottle-card-wrapper .bottle-card-container .bottle-card .content-container .price span {
    @media (max-width: 750px) {
      font-size: 26px !important;
    }
  }
}

body.template-index {
  .section-header .title {
    font-family: $ff-n-t;
    font-size: 54px;
  }
}

#shopify-section-1633932807e85c15f8 {
  @media (max-width: 767px) {
    padding-bottom: 40px;
    .on-sale {
    }
    .image_wrapper {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
#shopify-section-163391900662beacd8 {
  position: relative;
  .collection-header {
    z-index: 3;
    position: relative;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 58%;
    background: #ebebeb;
  }
}
.index-section.logos-bar {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  background-color: #0a3039;
  h2 {
    font-weight: 700;
  }
    padding-bottom: 33px !important;
    ul.slick-dots {
      li {
        margin-left: 10px;
        margin-right: 10px;
        button:before {
          background: white !important;
        }
      }
      li.slick-active button:before {
        background: #f88379 !important;
      }
    }

    .slick-dots li button:before, .slick-dots li a:before {
      color: #C8C8C8;
      content: " ";
      background: #C8C8C8; 
      border-radius: 50px;
      opacity: 1;
      width: 6px;
      height: 6px;
    }

  .section-header {
    margin-bottom: 0;
  }
  .section-header h2 {
    font-family: "neuzeit-grotesk", sans-serif;
    font-size: 41px;
    letter-spacing: -1.5px;
    color: white;
    margin-bottom: 0;
  }
  .logo-bar {
    .slick-track {
      display: flex;
      align-items: center;
    }
  }
}
.main-content .shopify-section.text_blocks {
  max-width: 1120px;
  padding: 73px 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  @media (max-width: 767px) {
    flex-direction: column;
    padding: 50px 20px;
  }
  .main_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 90px;
    @media (max-width: 767px) {
      margin-right: 0px;
      text-align: center;
    }
    .subtitle {
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: #0a3139;
    }
    .title {
      font-size: 55px;
      line-height: 53px;
      font-family: 'roslindaletextregular', sans-serif;
      margin: 13px 0 0 0;
      max-width: 294px;
      color: #0a3139;
      @media (max-width: 767px) {
        max-width: 300px;
        font-size: 45px;
        line-height: 1;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
      }
    }
  }
  .text__blocks {
    overflow: hidden;
    padding-bottom: 95px;
    svg:first-child {
      cursor: pointer;
      position: absolute;
      bottom: 0;
      left: calc(50% - 10px);
      transform: translateX(-100%);
      &:not(.slick-disabled) {
        use {
          fill: #0a3139;
        }
        #Group-20 path {
          fill: white;
        }
      }
    }
    svg:last-child {
      cursor: pointer;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(10px);
      &.slick-disabled {
        use {
          fill: white;
        }
        #Group-21 > path {
          fill: #0a3139;
        }
       }
    }
    .text_item {
      border-radius: 6px;
      background: #f4f4f2;
      border-top-left-radius: 24px;
      border-bottom-right-radius: 24px;
      margin-left: 10px;
      margin-right: 10px;
      padding: 53px 18px 24px;
      display: flex;
      flex-direction: column;
      min-height: 361px;
      justify-content: space-between;
      @media (max-width: 767px) {
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 20px;
      }
    }
    .item_content {
      p {
        font-size: 23px;
        line-height: 28px;
        font-family: 'roslindaletextregular',sans-serif;
        color: #0A3139;
      }
    }
    .time_text {
      text-align: right;
      font-size: 12px;
      text-transform: uppercase;
      line-height: 15px;
      letter-spacing: 3.95px;
    }
  }
}
.index-section--newsletter-background {
  .section-header {
    margin-bottom: 35px;
    @media (max-width: 767px) {
      margin-bottom: 15px;
     
    }
    h2 {
      margin-bottom: 0;
      font-size: 55px;
      font-weight: 400;
      line-height: 53px;
      @media (max-width: 767px) {
        font-size: 44px !important;
        font-weight: normal;
        line-height: 1 !important;
        margin-bottom: 30px;
      }
    }
  }
  .input-group {
    input:first-child {
      border-radius: 4px;
      margin-bottom: 0;
      font-size: 12px;
        color: #0a3139;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 1px;
      &::placeholder {
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 1px;
      }
    }
    input:nth-child(2) {
      border-radius: 4px;
      margin-left: 22px;
      margin-bottom: 0;
      font-size: 12px;
        color: #0a3139;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 1px;
      &::placeholder {
        font-size: 12px;
        color: #0a3139;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 1px;
      }
      @media (max-width: 767px) {
        margin-left: 0;
        margin-top: 10px;
      }
    }
    .input-group__btn {
      margin-left: 22px;
      @media (max-width: 840px) {
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
        text-align: center;
      }
     
      button {
        border-radius: 22px;
        background: #f88379;
        font-family: inherit;
        padding: 14px 74px;
        position: relative;
        @media (max-width: 840px) {

        }
        svg {
          position: absolute;
          right: 15px;
          path {
            fill: white;
          }
        }
      }
    }

    @media (max-width: 750px) {
      input, button {
        display: block;
        min-width: 80%;
        margin: 5px auto;
      }
    }

  }
}

@mixin desktop {
  @media (min-width: 750px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 749px) {
    @content;
  }
}

body.template-gift_card {
  .custom-product-wrapper {
    @include mobile {
      padding-top: 30px;
    }
  }
  .product-template__container.page-width {
    @include desktop {
      padding-left: 0px;
      padding-right: 0px;
    }
    @include mobile {
      .add-to-cart .product-form__item.product-form__item--submit {
        padding-left: 0;
      }
      .price-count {
        align-items: flex-start;
        flex-direction: column;
      }
      .price {
        align-items: flex-start;
        margin-top: 20px;
      }
    }
  }
  #shopify-section-journey-promo {
    display: none;
  }
  .custom-product-wrapper .product-image .product-image-wrapper {
    height: 450px;
    padding-left: 9%;
    padding-right: 9%;
    @include desktop {
    }
    @include mobile {
      height: 300px;
    }
  }
  .custom-product-wrapper .product-image .product-image-wrapper .bg-c {
    @include desktop {
      border-radius: 50%;
      width: 450px;
      height: 450px;
    }
  }

  .product-details {
    @include desktop {
      max-width: 35%;
      margin-left: 50px;
      padding-right: 0px;
      padding-left: 30px;
    }
  }
  .price-count {
    .value {
      font-size: 36px;
    }
    .price-label {
      font-size: 10px;
      letter-spacing: 3.3px;
    }
  }

  .shopify-section.product-banner-gift {
    background: #f4f4f2;
    padding-top: 50px;
    padding-bottom: 100px;
    @include mobile {
      padding-bottom: 30px;
    }
  }
  .shopify-section.product-faq-gift {
    background: #f4f4f2;
    .section_header {
      .section_title {
        color: #1b3f43;
        font-size: 32px;
      }
      .subtitle {
        font-size: 20px;
        margin-top: 10px;
        p {
          color: #656D64;
        }
      }
    } 
    .faq-accordion {
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      .faq-accordion-item {
        background: #FFF;
        margin-bottom: 12px;
        &.open {
          .faq-accordion-title .icon {
            transform: rotate(90deg);
          }
        }
        .faq-accordion-title {
          color: #656D64;
          cursor: pointer;
          display: flex;
          font-size: 16px;
          align-items: center;
          justify-content: space-between;
          padding: 30px;
          .icon {
            transition: all .3s;
          }
        }
        .faq-accordion-content {
          display: none;
          font-size: 16px;
          padding: 0 30px 30px 30px;
          p {
            color: #656d64;
          }
        }
      }
    }
  }

  .shopify-section.product-atc-gift {
    background: #f4f4f2;
    padding-top: 45px;
    padding-bottom: 120px;
    @include mobile {
      padding-bottom: 60px;
    }
    .info_wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .content_wrapper {
      background: #F7F8F7;
      border-radius: 20px;
      display: flex;
      justify-content: space-between;
      padding: 20px;
      @include mobile {
        flex-direction: column-reverse;
      }
      .info_wrapper {
        @include desktop {
          padding-left: 45px;
          width: calc(50% - 30px);
        }
        @include mobile {
          padding-top: 30px;
        }
      }
      .image_wrapper {
        @include desktop {
          width: calc(50% - 30px);
        }
      }
    }
    .section_title {
      color: #152F38;
      font-size: 32px;
    }
    .text {
      color: #101116;
      font-size: 36px;
      @include mobile {
        color: #656d64;
        font-size: 16px;
      }
    }
    .custom-product-wrapper {
      padding-top: 0px;
      .product-details {
        margin-left: 0px;
        max-width: unset;
        padding-left: 0px;
      }
      button {
        max-width: 380px;
      }
    }
  }
}