{% comment %}
  The contents of the blog.liquid template can be found in /sections/blog-template.liquid
{% section 'custom-featured-article' %}
{% endcomment %}


{% section 'feature_blog_Section' %}
