{% comment %}
  The contents of the cart.liquid template can be found in /sections/cart-template.liquid


<!-- Begin ReCharge code -->
{% include 'subscription-cart-footer' %}
<!-- End ReCharge code -->
{% endcomment %}

{% section 'cart-template' %}

