{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}
{% section 'collection-template-product' %}
<div class="wines-index-journey">
{% comment %}
{% section 'custom-section-3' %}
{% endcomment %}
</div>
<!-- <style>
  li.custom-coll {
    display: none !important;
}
</style> -->
