{% section 'section-wine-journey-1' %}
{% section 'section-wine-journey-2' %}
{% section 'section-wine-journey-3' %}
{% section 'section-wine-journey-4' %}
{% section 'section-wine-journey-5' %}
{% section 'section-wine-journey-6' %}
{%- comment -%}{% section 'section-wine-journey-7' %}{%- endcomment -%}
{% section 'section-wine-journey-banner' %}
{% section 'section-wine-journey-8' %}
{% section 'section-wine-journey-9' %}


<style>
  .main-content .shopify-section{
  padding:0;
  }
  .content-area-right img {
    width: 204px !important;
}
</style>








