<div class="section-contact-us">
  
{% section 'page-contact-custom' %}
  
  <div class="page-width contact-wrapper-width contact-form-wrapper">
    <div class="grid">
      <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
        <div class="section-header text-center">
          <h2>Or use this form</h2>
        </div>

        {% if page.content.size > 0 %}
          <div class="rte">
            {{ page.content }}
          </div>
        {% endif %}

        <div class="contact-form form-vertical">
          {%- assign formId = 'ContactForm' -%}
          {% form 'contact', id: formId %}
            {% include 'form-status', form: form, form_id: formId %}

            <div class="grid grid--half-gutters">
              <div class="grid__item medium-up--one-half">
                <label for="{{ formId }}-fname">{{ 'contact.form.fname' | t }}</label>
                <input type="text" id="{{ formId }}-fname" name="contact[{{ 'contact.form.fname' | t }}]" placeholder="Enter First Name" value="{% if form[fname] %}{{ form[fname] }}{% elsif customer %}{{ customer.fname }}{% endif %}">
              </div>
              <div class="grid__item medium-up--one-half">
                <label for="{{ formId }}-lname">{{ 'contact.form.lname' | t }}</label>
                <input type="text" id="{{ formId }}-lname" name="contact[{{ 'contact.form.lname' | t }}]" placeholder="Enter Last Name" value="{% if form[lname] %}{{ form[lname] }}{% elsif customer %}{{ customer.lname }}{% endif %}">
              </div>
            </div>
            <div class="grid grid--half-gutters">
              <div class="grid__item medium-up--one-half">
                <label for="{{ formId }}-email">{{ 'contact.form.email' | t }} </label>
                <input
                  type="email"
                  id="{{ formId }}-email"
                  name="contact[email]"
                  placeholder="Enter Email"
                  autocorrect="off"
                  autocapitalize="off"
                  value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                  aria-required="true"
                  {%- if form.errors contains 'email' -%}
                    class="input--error"
                    aria-invalid="true"
                    aria-describedby="{{ formId }}-email-error"
                  {%- endif -%}
                  >
                {%- if form.errors contains 'email' -%}
                  <span id="{{ formId}}-email-error" class="input-error-message">
                    <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                    {% include 'icon-error' %}
                    <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                  </span>
                {%- endif -%}
              </div>
              <div class="grid__item medium-up--one-half">
                <label for="{{ formId }}-phone">{{ 'contact.form.phone' | t }}</label>
            	<input type="tel" id="{{ formId }}-phone" name="contact[{{ 'contact.form.phone' | t }}]" placeholder="Enter Phone Number" pattern="[0-9\-]*" value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
              </div>
            </div>

            <label for="{{ formId }}-message">{{ 'contact.form.message' | t }}</label>
            <textarea rows="1" id="{{ formId }}-message" name="contact[{{ 'contact.form.message' | t }}]" placeholder="Enter Message">{% if form.body %}{{ form.body }}{% endif %}</textarea>

          	<button type="submit" class="btn btn-contact-submit" value="{{ 'contact.form.submit' | t }}">
              SUBMIT
              {% include 'btn-arrow' %}
            </button>

          {% endform %}
        </div>
        
      </div>
    </div>
  </div>
</div>