{% section 'subscription-image-with-text-overlay' %}
<div class="page-width text-center">
  <div class="post__wine _icon">
    <div class="post__relative_div">
      <span class="journey-cloud">{% include 'graphic_clouds' %}</span>
      <div class="journey-air-ballon">
        <div class="post__absolute_div">{% include 'graphic_swirl-right' %}</div>
        <div>{% include 'icon_hot-air-ballon' %}</div>
      </div>
    </div>
  </div>
</div>
{% section 'subscription-feature-column' %}
{% section 'subscription-products-section' %}
{% section 'subsciption-newsletter' %}

{% section 'subscription-jump-section-new' %}

{% section 'custom-section-6' %}

{% comment %}
{% section 'subscription-blog-posts' %}
{% section 'subscription-testimonials' %}
{% section 'subscription-products-gallery-section' %}
{% section 'subscription-jump-section' %}
{% section 'subscription-jump-section-new' %}
{% section 'subscription-testimonials' %}


<style>
/*   #journeys .site-header,#journeys .site-header__mobile-nav{ background-color: #f2f4f4 !important; border-bottom:0px; position:unset; } 
  .main-content{padding-top:0px;} */
</style>
{% endcomment %}