<div class="wineSubWrap"> 
  <div class="wineSubHero" {% comment %}style="background-image:url({{ product.featured_image | product_img_url: '1400x' }})"{% endcomment %}>
    <div class="wineSubHeroImageWrapper {% if product.images.size > 1 %}wineSubHeroSlideshow{% endif %}">
      {% for image in product.images %}
      <div class="wineSubHeroSlides" style="background-image:url({{ image | img_url: '1400x' }})"></div>
      {%- endfor -%}
    </div>
    <div class="wineSubHeroContentWrapper">
    	<div class="page-width">
      <h2>        
        {% if product.metafields.custom_fields["wine_subscription_heading_line"] != blank %}
            {{ product.metafields.custom_fields["wine_subscription_heading_line"] }}
        {% endif %}
        {% if product.metafields.custom_fields["wine_subscription_heading_2"] != blank %}
            <span>{{ product.metafields.custom_fields["wine_subscription_heading_2"] }}</span>
        {% endif %}
      </h2>
      
      {% if product.metafields.custom_fields["wine_subs_tabs"] != blank %}
        {% assign separator = "|###|" %}
        {% assign wine_subs_tab_1_array = product.metafields.custom_fields["wine_subs_tab_1"] | split: separator %}
        {% assign fc_keys = product.metafields.custom_fields["wine_subs_tabs"] | split: "," %}
        <ul>
          {% for i in fc_keys %}
            {% assign index = i | plus: 0 %}
              <li class="lnop">{{ wine_subs_tab_1_array[index] }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      
      {% if product.metafields.custom_fields["subscription_months"] != blank %}
      <span class="subsText">     
        {% assign text = product.metafields.custom_fields["subscription_months"] | split: '-' %}
        {{ text[0] }}{%- if text[1] != blank -%}<sk class="break__line"> - {{ text[1] }}</sk>{%- endif -%}
      </span>
      {% endif %}
    </div>
    </div>
  </div>
   
  {% section 'product-subscription-template-custom' %}

    
  <div class="wineThink">
    <div class="page-width">
      <div class="wineThinkHead">
        {% if product.metafields.custom_fields["wine_subs_heading1"] != blank %}
           <h2>{{ product.metafields.custom_fields["wine_subs_heading1"] }}</h2>
        {% endif %}
        {% if product.metafields.custom_fields["wine_subs_text"] != blank %}
        	<div class="rte">
              {{ product.metafields.custom_fields["wine_subs_text"] }}
          	</div>
        {% endif %}
      </div>
      <div class="wineThinkBox"> 
        <div class="wineThinkItem">
          <div class="wineThinkTitle">
            {% include 'icon_logo-symbolic' %}
            
            {% if product.metafields.custom_fields["highlights_pre_heading"] != blank %}
            	<p>{{ product.metafields.custom_fields["highlights_pre_heading"] }}</p>
            {% endif %}
            {% if product.metafields.custom_fields["highlights_heading"] != blank %}
            	<h3>{{ product.metafields.custom_fields["highlights_heading"] }}</h3>
            {% endif %}
            
          </div>
          
          {% if product.metafields.custom_fields["highlight_points"] != blank %}
            {% assign separator = "|###|" %}
            {% assign highlight_point_array = product.metafields.custom_fields["highlight_point"] | split: separator %}
            {% assign fc_keys = product.metafields.custom_fields["highlight_points"] | split: "," %}
          	<ul>
              {% for i in fc_keys %}
                  {% assign index = i | plus: 0 %}
              		<li>{{ highlight_point_array[index] }}</li>
              {% endfor %}
          	</ul>
          {% endif %}
        </div>
        <div class="wineThinkItem">
          <div class="wineThinkTitle">
            {% include 'icon_logo-symbolic' %}
            
            {% if product.metafields.custom_fields["inclusions_pre_heading"] != blank %}
            	<p>{{ product.metafields.custom_fields["inclusions_pre_heading"] }}</p>
            {% endif %}
            
            {% if product.metafields.custom_fields["inclusions_heading"] != blank %}
            	<h3>{{ product.metafields.custom_fields["inclusions_heading"] }}</h3>
            {% endif %}
          </div>
          
          {% if product.metafields.custom_fields["inclusions_points"] != blank %}
            {% assign separator = "|###|" %}
            {% assign inclusions_point_array = product.metafields.custom_fields["inclusions_point"] | split: separator %}
            {% assign fc_keys = product.metafields.custom_fields["inclusions_points"] | split: "," %}
                
          	<ul>
          	{% for i in fc_keys %}
              {% assign index = i | plus: 0 %}
              	<li>{{ inclusions_point_array[index] }}</li>
          	{% endfor %}
          	</ul>
          {% endif %}

        </div>
      </div>
      
      {% if product.metafields.custom_fields["wine_subs_button_link"] != blank %}
        <div class="wineThink-wrapper">
          <a class="btn-wineThink click__addToCart" href="#">
             Add To Cart
            {% include 'btn-arrow' %}
          </a>
        </div>
      {% endif %}
      
    </div>
  </div>
</div>   

{%- comment -%}{%- section 'subscription-text-with-image' -%}{%- endcomment -%}

<div class="wine-subs-tour page-width">
  <div class="tour-heading">
    {% if product.metafields.custom_fields["wine_tour_heading"] != blank %}
        <h2>{{ product.metafields.custom_fields["wine_tour_heading"] }}</h2>
    {% endif %}
    {% if product.metafields.custom_fields["wine_tour_sub_heading"] != blank %}
        <p>{{ product.metafields.custom_fields["wine_tour_sub_heading"] }}</p>
    {% endif %}
  </div>
  
  <div class="tour-wine-bottle-card grid">
    <div class="tour-col-1 grid__item medium-up--one-third">
      <div id="image-map" class="image-map">        
        {% if product.metafields.custom_fields["map_path_location"] != blank %}
          {% if product.metafields.custom_fields["map_path_location"] == "Barossa" %}
              <div class="card" style="background-image: url({{ "map.png" | asset_url }})">
                  <div id="dot-1"></div>

                  <svg version="1.1" id="Path" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 743 910" style="enable-background:new 0 0 743 910;" xml:space="preserve">
                    <style type="text/css">

                            .st0{fill:none;stroke:#707171;stroke-width:1.3136;stroke-linecap:round;stroke-miterlimit:14.3246;stroke-dasharray:2.0001,4.8348;}
                    </style>
                    <path id="path" class="st0" d="M597.9,189.4c-14.8-5.2-29.9-9.7-45.1-13.6c-2.9,9.1-5.7,18.2-8.6,27.3c-0.5,1.7-1.2,3.6-2.7,4.7
                        c-2.2,1.5-5.2,0.5-7.6-0.4c-20.9-8.2-42.1-15.8-63.4-22.8c-2.3,6.2-4.6,12.5-6.9,18.7c-5.4-1.4-10.8-2.8-16.3-4.3
                        c-10.5,28.5-21.1,57-29.3,86.2c17.5,0.7,33.3,9.9,49.8,15.5c16.1,5.5,33.2,7.7,49.3,13.2c19.8,6.7,38,18.4,58.7,21.5
                        c1.1-1.5,1.8-3.3,2-5.1c16.4,3.7,33.6,4.2,50.3,1.5c4.8-0.8,10.4-2.6,11.9-7.2c0.5-1.5,0.7-3.5,2.3-4c0.7-0.2,1.4,0,2.1,0.3
                        c2.5,1.2,4,3.7,5.6,6c1.5,2.3,3.5,4.6,6.3,5c2.7,0.4,5.8-2.5,4.6-4.9c1.1,4.1-4,7.6-8.2,6.7c-4.1-0.8-7.2-4.3-9.9-7.5
                        c-2.8,5.5-8.6,9-14.6,10.5c-6,1.5-12.3,1.3-18.5,1c-9.9-0.4-19.7-0.8-29.6-1.1c-1,0-2-0.1-2.9,0.3c-1,0.5-1.7,1.4-2.4,2.3
                        c-6.6,9.7-10.1,21.5-9.7,33.2c-3.9,2.3-8.9,1.6-13.1-0.2c-4.2-1.8-7.9-4.5-12-6.3c-5.4-2.3-11.3-2.9-17.1-3.5
                        c-9,20.1-15.8,40.2-20.8,61.6c-0.4,1.7-0.9,3.5-2.4,4.3c-1.2,0.6-2.6,0.4-3.9,0.1c-9.1-1.8-18.4-3.7-26.2-8.6
                        c-3.2-2-6.1-4.5-9.4-6.2c-9.4-5-20.9-3.7-30.7-7.6c-3.4,11.3-8.1,22.3-11,33.7c-7-2.9-13.5-5.4-20.5-8.3c-1.6-0.7-3.3-1.3-4.6-2.5
                        c-0.8-0.7-1.5-1.6-2.4-2.2c-0.9-0.6-2.1-0.8-3.2-1c-6.7-1-14.1-0.7-19.1-5.2c0.6,12.2,0.1,23.1,0.7,35.3c0.1,2.9,0.3,5.9-0.5,8.7
                        c-0.9,3.5-3.1,6.5-4.9,9.6c-6.3,11.2-7.5,24.4-11.9,36.5c-4.1,11.1-10.9,21-17.7,30.8c-5.2,7.5-10.6,15.1-17.9,20.6
                        c-3.5,9.8-7.5,19.8-13.5,28.4c-1.3,1.9-2.8,3.8-3.3,6.1c-0.7,2.8,0.1,5.7,0.6,8.5c2.7,15.9-4.4,33.2-17.6,42.6
                        c-1.5,1.1-3.2,2.1-5.1,2.3c-1.9,0.2-3.8-0.6-5.7-1.1c-15.9-4.2-31.5,11.1-47.7,8.8c-3.4-0.5-6.6-1.7-10-1.6
                        c-8.2,0.3-14.6,8.2-22.8,8.1c-10.4-6.4-17.9-16.4-24.1-26.8c-1.1-1.7-2.1-3.6-3.9-4.7c-1.7-1-3.8-1.2-5.7-1.3
                        c-10-0.5-20.1-1.1-30.1-1.6c-3.5-0.2-7-0.4-10.3,0.5c-3.3,0.9-6.5,3.1-7.6,6.3c3.1-5,10.3-5.2,16.2-4.8c4.6,0.3,9.2,0.6,13.7,0.9
                        c3.2,0.2,6.5,0.4,9.5,1.5c2.8,1,5.2,2.7,7.5,4.5c14.2,10.7,25.5,24.7,36.7,38.5c9.7,12,5.5,30,5.4,45.4c-0.2,20,1.8,40.1,6.1,59.7
                        c1.3,6.2,2.9,12.5,2.1,18.8c-0.5,4.1-2,7.9-3.5,11.7c-2.8,7.4-5.7,14.7-8.5,22.1c-3.2,8.3-6.5,16.7-11.9,23.7
                        c-1,1.3-2.2,2.6-2.6,4.3c-0.5,1.7-0.2,3.5,0.1,5.3c2.7,14.3,6.7,28.3,12,41.9"/>
                  </svg>
              </div>
          {% elsif product.metafields.custom_fields["map_path_location"] == "Tuscany" %}
              <div class="card" style="background-image: url({{ "Tuscany.png" | asset_url }})">
                  <div id="dot-1"></div>

                  <svg version="1.1" id="Path" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 370 455" style="enable-background:new 0 0 370 455;" xml:space="preserve">
                    <style type="text/css">

                            .st0{fill:none;stroke:#707171;stroke-width:1.3136;stroke-linecap:round;stroke-miterlimit:14.3246;stroke-dasharray:2.0001,4.8348;}
                        .st1{fill-rule:evenodd;clip-rule:evenodd;fill:#707070;}
                    </style>
                    <path id="path" class="st0" d="M187.5,323.7c1.1-0.1,2-1,2.6-2c0.5-1,0.8-2.1,1.4-3.1c1.2-2.1,3.3-3.4,5.5-4.5c0.8-0.4,1.7-0.8,2.6-0.9
                        c0.9-0.1,1.9,0.2,2.5,1c0.3,0.5,0.5,1.1,1,1.4c1.2,0.9,2.7-0.6,4.1-0.7c0.6,0,1.2,0.2,1.8,0.3c1.6,0.3,3.2-0.2,4.7-0.7
                        c0.7-0.2,1.4-0.5,1.8-1c0.3-0.4,0.5-0.9,0.9-1.2c0.3-0.2,0.7-0.2,1.1-0.1c2.2,0.2,4.4,0.3,6.6,0.5c0.3,1.9-0.3,3.9,0.6,5.5
                        c0.2,0.4,0.6,0.8,0.8,1.3c0.9,1.6,0.5,3.5,0.1,5.3c2.4,1.4,5.4,1,8,0.3c2.7-0.7,5.4-1.7,8.1-1.3c-4,1.2-8,2.5-12,3.7
                        c-0.4,0.1-0.9,0.3-1.1,0.7c-0.5,0.9,0.8,2,0.7,3c-0.1,0.9-1.3,1.4-1.6,2.2c-0.5,1.3,0.9,2.5,1.5,3.8c0.6,1.3,0.3,2.7-0.1,4
                        s-0.9,2.6-0.8,4s1.2,2.8,2.6,2.7c0.9,0.6,1.7,1.7,2.3,2.6c-1.3-0.1-2.4-1-3.5-1.7s-2.5-1.2-3.7-0.7c-1.3,0.5-1.9,2-2,3.4
                        c-0.2,1.4,0,2.8-0.4,4.1c-0.6,2.1-2.5,3.5-4.2,4.8c-0.6,0.5-1.3,1-1.9,1.4c-0.5,0.4-1.1,0.8-1.8,0.8c-0.6-0.1-1.1-0.5-1.7-0.9
                        c-0.5-0.4-1.3-0.6-1.8-0.3c-0.6,0.4-0.5,1.3-0.7,1.9c-0.4,1.7-2.3,2.6-3.8,3.4c-0.8,0.4-1.5,0.9-1.9,1.7c-0.2,0.4-0.2,0.9-0.2,1.3
                        c0,1.3,0.2,2.6,0.7,3.9c-0.6,0.4-1.4-0.1-1.7-0.7s-0.2-1.4-0.1-2c0.1-0.7,0.2-1.4-0.1-2c-0.6-1.3-2.6-1.4-3.5-2.6
                        c-0.4-0.5-0.5-1-0.9-1.5c-0.2-0.2-0.4-0.4-0.6-0.5c-0.6-0.6-1-1.3-1.6-1.9c-1-1.2-2.5-1.8-3.9-2.5c-0.4-0.2-0.9-0.4-1.3-0.3
                        c-0.7,0.1-1.1,0.8-1.5,1.4c-0.7,1.1-1.3,2.2-2,3.3c-2,0.1-4.2,0.1-5.7-1.2c-0.3-0.2-0.5-0.5-0.8-0.7c-0.6-0.3-1.3-0.1-1.8,0.2
                        s-1.1,0.7-1.7,0.9c-1.2,0.3-2.5-0.3-3.7-0.4c-0.7-0.1-1.6,0-1.9-0.7c-2,0-3.9,1.5-4.5,3.3c-0.6,1.9-0.1,4.1,1.2,5.6
                        c0.8,1,2,1.8,2.5,3c1.4,2.9-1.3,6.2-1,9.4c-1.5,1.3-1.7,3.8-0.5,5.4c1.2,1.6,3.7,2.3,4,4.3c0.1,0.8-0.1,1.5,0,2.3
                        c0.1,0.7,0.5,1.2,0.9,1.8c2.3,2.9,5.7,4.8,7.7,8c0.8,1.3,1.4,2.9,2.4,4.1c1,1.2,2.4,2.1,2.7,3.6c0.1,0.5,0,1.1,0.2,1.7
                        c0.2,0.6,0.7,1,1.1,1.4c3.3,2.9,6.6,5.9,10.6,7.7c-1.4-0.4-2.9-0.6-4.3-0.5c-0.4,0-0.9,0.1-1.2,0.3c-0.4,0.2-0.7,0.6-1,0.9
                        c-1.4,1.7-2.8,3.4-4.2,5.1c1-2.1,2-4.2,2.9-6.3c0.2-0.6,0.5-1.1,0.5-1.8c-0.1-2.1-2.6-2.9-3.9-4.5c-1.1-1.3-1.3-3.2-2.3-4.6
                        c-0.8-1.1-2-1.8-2.7-2.9c-0.6-0.9-0.7-2.1-1-3.1c-0.9-2.3-2.9-3.9-4.9-5.4c-1.9-1.5-3.9-3.4-4.3-5.8c-0.1-0.8-0.1-1.8-0.8-2.4
                        c-0.3-0.2-0.7-0.3-1-0.5c-1.6-0.8-1.6-3-2.1-4.7c-0.2-0.7-0.5-1.4-0.6-2.1c-0.3-1.9,0.9-3.6,1.6-5.4c0.7-1.7,1-4.1-0.6-5.2
                        c-0.4-0.3-0.9-0.4-1.3-0.8c-0.6-0.5-0.8-1.3-1-2.1c-0.4-1.7-0.8-3.3-1.2-5c-0.2-0.9,0.2-1.9,0.8-2.6c0.6-0.7,1.2-1.5,1.4-2.4
                        c0.2-1.1-0.5-2.2-1.4-2.9c-0.6-0.5-1.3-0.8-1.8-1.3c-0.9-0.9-1.3-2.3-2.4-2.9c-0.4-0.2-0.8-0.3-1.1-0.6c-0.2-0.2-0.3-0.6-0.4-0.9
                        c-0.5-1.6-1.1-3.1-1.9-4.6c-0.3-0.6-0.7-1.2-1.2-1.5c-0.3-0.2-0.6-0.3-1-0.4c-1.1-0.3-2.1-0.8-3.1-1.3c-2.5-1.2-4.8-2.7-6.9-4.5
                        c-0.5-1.4,0.3-3,0.6-4.5c0.3-1.2,0.2-2.4,0.2-3.6c0.1-1.3,0.3-2.7,0.2-4c-0.1-1.3-0.6-2.7-1.8-3.4c-0.5-2.5-1.2-4.9-2.4-7.1
                        c-0.8-1.4-1.6-2.7-2.2-4.1c-0.6-1.6-0.8-3.3-1.2-5c-0.3-1.5-0.6-3-1.2-4.4c-1-2.2-2.5-4.2-3.7-6.3c-2.2-3.7-3.4-7.9-3.5-12.2
                        c-0.1-3.1-0.1-6.4-1.4-9.1c-0.5-1.1-1.2-2-1.7-3.1c-0.7-1.6-0.9-3.3-1.1-5.1c-0.4-4.1-0.9-8.3-2.7-12c-0.9-1.8-2-3.5-2.1-5.4
                        c-0.1-1.6,0.6-3.2,1.6-4.5c1-1.3,2.2-2.3,3.5-3.3c3.7-3,7.3-5.7,11.1-8.5c1.1-0.9,2.3-1.6,3.3-2.6c2.1-2.2,2.9-5.3,3.1-8.3
                        s0-6,0.3-9c0.1-1.2,0.4-2.4,0.5-3.6c0.2-3-0.5-6.2,1.3-8.7c0.3-0.4,0.6-0.8,0.7-1.3c0.1-0.6-0.3-1.1-0.5-1.6
                        c-0.6-1.2-0.7-2.6-0.2-3.8c1.1-3.3,1.1-6.9,0.8-10.4c-0.1-1-0.2-2,0.1-2.9c0.2-0.7,0.7-1.4,1.2-2c1.6-2.1,3.1-4.1,4.9-6
                        c0.3-0.3,0.6-0.6,0.8-1c0.3-0.6,0.4-1.2,0.5-1.9c0.1-0.7,0.1-1.4-0.1-2.1s-0.8-1.2-1.5-1.2c-0.2,0-0.5,0.1-0.7,0.1
                        c-0.3,0-0.5-0.3-0.7-0.4c-2.8-2.5-7.1-2.1-10.5-3.7c-1.3-0.6-2.4-1.5-3.7-2.1c-2-1-4.4-1.3-6.6-0.8c-1.6-3.9-4.5-7.8-7.6-10.6
                        c-1.5-1.3-3.1-2.5-4.3-4c-1.2-1.6-1.9-3.7-1.2-5.5c2.3-6.2-2.9-13.1-5.4-19.2c-3.6-9-4.1-18.9-6.4-28.4c-2.4-10.1-6.8-20.4-4.2-30.4
                        c1-4,3.1-7.6,5.2-11.1c3.7-6,7.6-11.9,11.8-17.5c1.1-1.5,2.2-3,2.5-4.8c0.8-4.3-3.4-8-4-12.4c0-0.3-0.1-0.7,0-1
                        c0.2-0.6,0.7-1,1.3-1.4c2.2-1.5,4.4-3.1,6.5-4.6c0.4-1,0.7-2.1,1.1-3c0.3-0.7,0.6-1.4,0.7-2.1c0.2-1.3-0.1-2.6,0.1-3.8
                        c0.2-1.5,1.2-2.8,2.5-3.6c0.2-0.1,0.6,0,0.6,0.3s-0.2,0.5-0.5,0.4s-0.4-0.4-0.2-0.6"/>
                    
                    </svg>
              </div>
          {% elsif product.metafields.custom_fields["map_path_location"] == "Sicily" %}
              <div class="card sicily" style="background-image: url({{ "sicily.jpg" | asset_url }})">
                  <div id="dot-1"></div>

                  <svg version="1.1" id="Path" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 370 455" style="enable-background:new 0 0 370 455;" xml:space="preserve"  >
                    <style type="text/css">

                            .st0{fill:none;stroke:#707171;stroke-width:1.3136;stroke-linecap:round;stroke-miterlimit:14.3246;stroke-dasharray:2.0001,4.8348;}
                        .st1{fill-rule:evenodd;clip-rule:evenodd;fill:#707070;}
                    </style>
                    <g id="WJ-Sicily-journey" transform="translate(12, 174.5)">
                    <path id="path" class="st0" d="M0,10.0032349 C3.2810137,20.3536534 11.8573391,24.189287 15.6921158,28 C21.3711518,33.6433993 22.9511995,36.2831984 32.6921158,36 C35.9169798,35.9062433 39.5383305,33.6153092 43.448494,33.8139496 C49.282753,34.1103361 47.9496193,36.2111467 51.6921158,37 C54.484423,37.5885699 59.2531232,39.0319318 62.6921158,38 C66.4677183,36.8670623 71.977941,34.0682858 76.4820938,30.3868866 C79.388583,28.0113129 85.3493818,18.2846561 83.3467331,21.4596252 C79.812592,27.0625992 74.4406909,31.5806741 71.8763962,37.6886902 C70.4111555,41.1788169 70.8964068,43.6087307 71.6921158,46 C72.9108712,49.6626107 75.9518026,54.0775785 79.6921158,56 C85.7817379,59.1299038 93.3698259,58.6685898 95.321846,60.0353394 C96.6830996,60.9884509 96.4382002,64.1138986 97.6921158,65 C98.7760527,65.765983 99.6849581,67.2837281 100.692116,68 C101.393682,68.498941 103.026785,67.5247858 103.692116,68 C105.384735,69.2089581 107.226431,71.9363218 108.692116,73 C112.095281,75.4697476 112.996788,79.3528551 115.692116,81 C127.692116,88.3333333 134.692116,91.3333333 136.692116,90 C140.025449,91.3333333 142.025449,92 142.692116,92 C143.358782,92 146.358782,94 151.692116,98 C153.025449,99.3333333 153.692116,100.333333 153.692116,101 C153.692116,102 153.692116,105 154.692116,105 C155.358782,105 156.692116,104.666667 158.692116,104 L163.692116,108 C163.692116,107.333333 164.692116,107.666667 166.692116,109 C169.692116,111 168.692116,113 169.692116,112 C170.692116,111 171.692116,112 171.692116,112 C171.692116,112 172.692116,112 173.692116,113 C174.692116,114 179.692116,117 180.692116,117 C181.692116,117 183.692116,117 184.692116,117 C185.358782,117 186.692116,117.333333 188.692116,118 L196.692116,119 C198.025449,118.333333 199.025449,118 199.692116,118 C200.358782,118 202.358782,117.333333 205.692116,116 L210.692116,118 C212.692116,120 214.025449,121 214.692116,121 C215.692116,121 222.692116,126 224.692116,126 C226.025449,126 228.025449,126.333333 230.692116,127 L236.692116,125 L241.692116,130 L247.692116,138 C257.692116,132 264.692116,129.333333 268.692116,130 C274.692116,131 277.692116,131 275.692116,129 C273.692116,127 271.692116,123 271.692116,122 C271.692116,121.333333 272.692116,119.333333 274.692116,116 C274.692116,116.666667 274.692116,116.333333 274.692116,115 C274.692116,113 275.692116,114 275.692116,112 C275.692116,110.666667 276.358782,109.333333 277.692116,108 C280.358782,107.333333 281.692116,107 281.692116,107 C281.692116,107 283.025449,107 285.692116,107 C287.025449,107 288.025449,107 288.692116,107 C289.692116,107 294.692116,103 297.692116,102 C300.692116,101 300.692116,101 301.692116,101 C302.358782,101 303.025449,100.333333 303.692116,99 L307.692116,95 C309.692116,94.3333333 311.358782,93.3333333 312.692116,92 C314.025449,90.6666667 315.358782,89.3333333 316.692116,88 L317.692116,84 L320.692116,78 C320.025449,73.3333333 319.692116,69.6666667 319.692116,67 C319.692116,63 319.692116,59 319.692116,58 C319.692116,57 321.692116,50 322.692116,50 C323.692116,50 331.692116,48 331.692116,45 C331.692116,42 336.692116,30 336.692116,28 C336.692116,26.6666667 337.025449,24.3333333 337.692116,21 C340.358782,15.6666667 341.025449,12.6666667 339.692116,12 C337.692116,11 333.692116,8 333.692116,6 C333.692116,4 328.692116,2 328.692116,2 C328.692116,2 327.358782,1.33333333 324.692116,0" />
                   
                   <g id="Group-2" transform="translate(270.192116, 124.000000)">
                    <circle id="Oval" stroke="#20424A" stroke-width="1.6" fill="#FFFFFF" cx="5.5" cy="5.5" r="6.3"></circle>
                    <path d="M5.46819429,7.80831714 C6.47403429,7.80831714 7.20267429,7.06383714 7.20267429,6.01839714 C7.20267429,5.07591714 6.54531429,4.36311714 5.66619429,4.36311714 C5.43651429,4.36311714 5.26227429,4.40271714 5.01675429,4.50567714 L5.01675429,3.37311714 L6.78291429,3.37311714 L6.78291429,2.45439714 L4.09011429,2.45439714 L4.09011429,5.58279714 L4.75539429,5.58279714 C4.94547429,5.32935714 5.15139429,5.22639714 5.42859429,5.22639714 C5.87211429,5.22639714 6.21267429,5.58279714 6.21267429,6.04215714 C6.21267429,6.50151714 5.87211429,6.84999714 5.43651429,6.84999714 C5.08011429,6.84999714 4.85043429,6.66783714 4.69995429,6.27183714 L3.81291429,6.60447714 C3.95547429,6.97671714 4.05843429,7.13511714 4.24851429,7.33311714 C4.56531429,7.64199714 4.99299429,7.80831714 5.46819429,7.80831714 Z" id="5" fill="#20424A" fill-rule="nonzero"></path>
                </g>
                <g id="Group-2" transform="translate(238.692116, 131.500000)">
                    <circle id="Oval" stroke="#20424A" stroke-width="1.6" fill="#FFFFFF" cx="5.5" cy="5.5" r="6.3"></circle>
                    <path d="M6.72747429,8.20535714 L6.72747429,7.12031714 L7.21059429,7.12031714 L7.21059429,6.24911714 L6.72747429,6.24911714 L6.72747429,2.90687714 L5.66619429,2.90687714 L3.81291429,6.27287714 L3.81291429,7.12031714 L5.75331429,7.12031714 L5.75331429,8.20535714 L6.72747429,8.20535714 Z M5.75331429,6.24911714 L4.64451429,6.24911714 L5.75331429,4.28495714 L5.75331429,6.24911714 Z" id="4" fill="#20424A" fill-rule="nonzero"></path>
                </g>
                <g id="Group-2" transform="translate(83.692116, 12.000000)">
                    <circle id="Oval" stroke="#20424A" stroke-width="1.6" fill="#FFFFFF" cx="5.5" cy="5.5" r="6.3"></circle>
                    <path d="M5.39691429,8.30831714 C6.41067429,8.30831714 7.15515429,7.54799714 7.15515429,6.51839714 C7.15515429,5.62343714 6.60075429,4.99775714 5.74539429,4.92647714 L7.21059429,2.95439714 L3.99507429,2.95439714 L3.99507429,3.82559714 L5.51571429,3.82559714 L4.31187429,5.43335714 L4.88211429,5.91647714 C5.03259429,5.82143714 5.18307429,5.78183714 5.36523429,5.78183714 C5.84043429,5.78183714 6.18099429,6.12239714 6.18099429,6.58967714 C6.18099429,7.04903714 5.82459429,7.39751714 5.37315429,7.39751714 C4.98507429,7.39751714 4.70787429,7.15199714 4.64451429,6.74015714 L3.73371429,6.77183714 C3.78123429,7.16783714 3.84459429,7.37375714 4.00299429,7.61135714 C4.29603429,8.05487714 4.81083429,8.30831714 5.39691429,8.30831714 Z" id="3" fill="#20424A" fill-rule="nonzero"></path>
                </g>
                <g id="Group-2" transform="translate(7.192116, 16.000000)">
                    <circle id="Oval" stroke="#20424A" stroke-width="1.6" fill="#FFFFFF" cx="5.5" cy="5.5" r="6.3"></circle>
                    <path d="M6.96507429,7.70535714 L6.96507429,6.81039714 L5.46819429,6.81039714 L6.45819429,5.36103714 C6.92547429,4.67199714 7.10763429,4.22847714 7.10763429,3.74535714 C7.10763429,2.92959714 6.45027429,2.34351714 5.52363429,2.34351714 C4.47819429,2.34351714 3.84459429,3.02463714 3.85251429,4.14135714 L4.78707429,4.14135714 C4.79499429,3.87207714 4.81083429,3.77703714 4.86627429,3.63447714 C4.95339429,3.40479714 5.17515429,3.26223714 5.46027429,3.26223714 C5.82459429,3.26223714 6.08595429,3.50775714 6.08595429,3.84831714 C6.08595429,4.10175714 6.00675429,4.26807714 5.60283429,4.88583714 L3.75747429,7.70535714 L6.96507429,7.70535714 Z" id="2" fill="#20424A" fill-rule="nonzero"></path>
                </g>
                    </g>
                    </svg>
              </div>
         {% elsif product.metafields.custom_fields["map_path_location"] == "Burgundy" %}
              <div class="card sicily" style="background-image: url({{ "burgundy.png" | asset_url }})">
                  <div id="dot-1"></div>

                  <svg version="1.1" id="Path" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 370 455" style="enable-background:new 0 0 370 455;" xml:space="preserve"  >
                    <style type="text/css">

                            .st0{fill:none;stroke:#707171;stroke-width:1.3136;stroke-linecap:round;stroke-miterlimit:14.3246;stroke-dasharray:2.0001,4.8348;}
                        .st1{fill-rule:evenodd;clip-rule:evenodd;fill:#707070;}
                    </style>
                   <g id="WJ-burgundy-journey" >
            		<g transform="translate(94.000000, 71.000000)">
						<path id="path" class="st0" d="M0,0 C4.24284213,22.2439146 10.2546371,25.9631455 20,46 C21.7009239,49.4971673 20.6867787,53.8673959 22,59 C22.7718957,62.0168833 25.537064,64.0508298 27,67 C28.1021501,69.2218526 29.8745785,69.9117357 31,72 C32.4938854,74.7719637 33.4444554,78.7700202 36,80 C40.7598053,82.2908873 44.8555839,80.8004606 50,82 C54.3884336,83.0232646 60.927591,85.0710352 65,87 C69.8610674,89.3025261 75.1603693,90.2355751 79,93 C82.1028541,95.2339667 86.6645989,98.5964684 89,101 C94.5620218,106.724282 96.6932766,110.025013 99,112 C103.461795,115.820131 108.762268,117.590454 113.381134,122.795227 C118,128 116.081494,131.565028 118,136 C119.064377,138.460499 121,141 124,141 C127,141 126.945968,141.125476 127.983826,139.897217 C128.612575,139.153119 130.284633,137.854047 133,136 C137.683984,134.84616 133.761139,132.294983 140,132 C142.163405,131.897711 146.811925,132.226735 149,132 C151.120762,131.78024 154.695363,129.563151 156.82132,129.401184 C161.576407,129.038916 164.240266,130.295012 169,130 C172.719066,129.76949 178,126 182,126 C186,126 184.185416,135.672096 188,138 C191.813138,140.327022 199.380479,136.381552 202,140 C204.228996,143.079 198.809601,146.286079 198,150 C196.269215,157.939717 197.991196,159.121557 196,167 C195.677856,168.274605 190.979261,173.122821 190,174 C189.717999,174.252604 186.255057,181.716604 186,182 C177,192 178,194 174,194 C172.445968,194 165.998606,193.726636 165.327209,195.355164 C163,201 173.811484,198.814783 174,201 C174.486934,206.644387 170.740337,210.608577 169,216 C168.116502,218.737006 169.056454,223.124486 169,226 C168.936021,229.258817 169.371405,229.896165 169,233 C168.575146,236.550507 169.604352,237.910504 169,242 C168.278943,246.879212 166.947235,250.031738 167,254 C167.052765,257.968262 168.238977,258.018821 169,259 C170.118762,260.442408 171.325226,264.765991 171,267 C170.674774,269.234009 170.236924,268.227518 171,274 C171.763076,279.772482 174,280 174,286 C174,292 178,292 180,296 C181.333333,298.666667 181.333333,301 180,303 C182.666667,304.333333 184,306.333333 184,309 C184,313 182,317 179,322 C176,327 179,330 176,334 C173,338 175,342 173,345 C171,348 169,354 169,354 C169,354 168.333333,355 167,357 C165.666667,358.333333 165,360.333333 165,363 C165,367 166,368 165,370 C164,372 160,368 160,368 C160,368 159,365 157,363 C155,361 155.593017,359.952318 152,356 C149.604656,353.365121 147.937989,351.698454 147,351" ></path>                    <g id="Group-2" transform="translate(162.000000, 203.000000)">
                    </g>
                    <g id="Group-2" transform="translate(162.000000, 203.000000)">
                     <circle id="Oval" stroke="#20424A" stroke-width="1.6" fill="#FFFFFF" cx="5.5" cy="5.5" r="6.3"></circle>
                        <path d="M5.46495327,8 C6.35514019,8 7,7.30473373 7,6.32840237 C7,5.44822485 6.4182243,4.78254438 5.64018692,4.78254438 C5.43691589,4.78254438 5.28271028,4.81952663 5.06542056,4.91568047 L5.06542056,3.85798817 L6.62850467,3.85798817 L6.62850467,3 L4.2453271,3 L4.2453271,5.92159763 L4.83411215,5.92159763 C5.00233645,5.68491124 5.18457944,5.5887574 5.42990654,5.5887574 C5.82242991,5.5887574 6.12383178,5.92159763 6.12383178,6.35059172 C6.12383178,6.7795858 5.82242991,7.10502959 5.43691589,7.10502959 C5.12149533,7.10502959 4.9182243,6.93491124 4.78504673,6.56508876 L4,6.87573964 C4.12616822,7.22337278 4.21728972,7.37130178 4.38551402,7.55621302 C4.66588785,7.84467456 5.04439252,8 5.46495327,8 Z" id="5" fill="#20424A" fill-rule="nonzero"></path>
                    </g>
                    <g id="Group-2" transform="translate(151.000000, 191.500000)">
                        <circle id="Oval" stroke="#20424A" stroke-width="1.6" fill="#FFFFFF" cx="5.5" cy="5.5" r="6.3"></circle>
                        <path d="M6.72747429,8.20535714 L6.72747429,7.12031714 L7.21059429,7.12031714 L7.21059429,6.24911714 L6.72747429,6.24911714 L6.72747429,2.90687714 L5.66619429,2.90687714 L3.81291429,6.27287714 L3.81291429,7.12031714 L5.75331429,7.12031714 L5.75331429,8.20535714 L6.72747429,8.20535714 Z M5.75331429,6.24911714 L4.64451429,6.24911714 L5.75331429,4.28495714 L5.75331429,6.24911714 Z" id="4" fill="#20424A" fill-rule="nonzero"></path>
                    </g>
                    <g id="Group-2" transform="translate(168.000000, 184.000000)">
                        <circle id="Oval" stroke="#20424A" stroke-width="1.6" fill="#FFFFFF" cx="5.5" cy="5.5" r="6.3"></circle>
                        <path d="M5.39691429,8.30831714 C6.41067429,8.30831714 7.15515429,7.54799714 7.15515429,6.51839714 C7.15515429,5.62343714 6.60075429,4.99775714 5.74539429,4.92647714 L7.21059429,2.95439714 L3.99507429,2.95439714 L3.99507429,3.82559714 L5.51571429,3.82559714 L4.31187429,5.43335714 L4.88211429,5.91647714 C5.03259429,5.82143714 5.18307429,5.78183714 5.36523429,5.78183714 C5.84043429,5.78183714 6.18099429,6.12239714 6.18099429,6.58967714 C6.18099429,7.04903714 5.82459429,7.39751714 5.37315429,7.39751714 C4.98507429,7.39751714 4.70787429,7.15199714 4.64451429,6.74015714 L3.73371429,6.77183714 C3.78123429,7.16783714 3.84459429,7.37375714 4.00299429,7.61135714 C4.29603429,8.05487714 4.81083429,8.30831714 5.39691429,8.30831714 Z" id="3" fill="#20424A" fill-rule="nonzero"></path>
                    </g>
                    <g id="Group-2" transform="translate(183.500000, 131.000000)">
                        <circle id="Oval" stroke="#20424A" stroke-width="1.6" fill="#FFFFFF" cx="5.5" cy="5.5" r="6.3"></circle>
                        <path d="M6.96507429,7.70535714 L6.96507429,6.81039714 L5.46819429,6.81039714 L6.45819429,5.36103714 C6.92547429,4.67199714 7.10763429,4.22847714 7.10763429,3.74535714 C7.10763429,2.92959714 6.45027429,2.34351714 5.52363429,2.34351714 C4.47819429,2.34351714 3.84459429,3.02463714 3.85251429,4.14135714 L4.78707429,4.14135714 C4.79499429,3.87207714 4.81083429,3.77703714 4.86627429,3.63447714 C4.95339429,3.40479714 5.17515429,3.26223714 5.46027429,3.26223714 C5.82459429,3.26223714 6.08595429,3.50775714 6.08595429,3.84831714 C6.08595429,4.10175714 6.00675429,4.26807714 5.60283429,4.88583714 L3.75747429,7.70535714 L6.96507429,7.70535714 Z" id="2" fill="#20424A" fill-rule="nonzero"></path>
                    </g>
            		</g>
                 </svg>
              </div>
          {% elsif product.metafields.custom_fields["map_path_location"] == "Victoria" %}
              <div class="card" style="background-image: url({{ "Victoria.jpg" | asset_url }})">
                  <div id="dot-1"></div>

                  <svg version="1.1" id="Path" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 743 910" style="enable-background:new 0 0 743 910;" xml:space="preserve">
                    <style type="text/css">

                        .st0{fill:none;stroke:#707171;stroke-width:1.3136;stroke-linecap:round;stroke-miterlimit:14.3246;stroke-dasharray:2.0001,4.8348;}
                        .st1{fill-rule:evenodd;clip-rule:evenodd;fill:#707070;}
                    </style>
                    <path id="path" class="st0" d="M26.2,516.1c2.1,4.8-9.8,7.4-7.7,12.2c3.3,1.2,6.6,2.4,9.9,3.6c2.1,0.8,4.6,2,4.8,4.2c0.1,1.1-0.4,2.2-0.7,3.3
                        c-1.3,4.6,0.9,9.9,5.2,12.1c1.6-1,2.7-2.9,2.7-4.8c2.8,0.8,5.4,2.1,7.7,3.9c-0.6-4.9-8.2-6.9-11.2-2.9c-2.5-5.2-0.2-12.1,4.8-14.8
                        c2-1.1,4.3-1.6,6-3.1c4.1-3.7,2.9-11.7,7.9-14c2.7-1.3,6.1-0.1,8.9-1.2c4.8-1.9,4.6-8.6,4.4-13.7c-0.2-7.7,1.5-15.5,5.1-22.4
                        c0.6-1.1,1.3-2.2,2.4-2.8c1.1-0.5,2.4-0.4,3.3-1.1c1.4-0.9,1.5-3,2.2-4.6c1.8-4.4,7.7-5.2,12.5-5.2c12.6-0.1,25.3-0.2,37.9-0.2
                        c1.1,0,2.3-0.1,3-0.8c0.6-0.6,0.8-1.6,0.9-2.4c0.4-3,0.8-6,1.1-8.9c4.4-1,8.9-1.4,13.4-1.1c-0.7-9.5,6.9-17.4,14-23.9
                        c4.6-4.2,9.2-8.4,13.8-12.6c2.6-2.4,5.4-5,6.6-8.4c1.5-4.1,0.5-8.9,2.4-12.8c2.7-5.7,10.9-8.4,11.2-14.7c5,1,10.1,0,15.1-0.9
                        c8.4-1.7,16.7-3.3,25.1-5c3.4-10.8,4.7-22.2,5.1-33.4c9.9,9,17,20.6,25.9,30.6c8.9,10,20.7,18.7,34.1,19c4.1,0.1,8.2-0.6,12.2-1.3
                        c5.3-0.9,10.5-1.8,15.8-2.8c2.3-0.4,4.7-0.8,7.1-0.5c2.1,0.3,4.1,1.3,6.3,1.3c1.7,0,3.3-0.6,4.9-0.9c5.5-1.2,11.2-0.2,16.8,0.8
                        c3.6,0.7,7.5,1.4,10.3,3.8c4.9,4,5.6,11.2,9.7,15.9c4.6,5.4,12.7,6.6,17.8,11.5c5.2,4.9,6.4,12.6,6.1,19.7c-0.3,7.1-2,14.1-1.5,21.2
                        c3.3,1,6.1,3.3,8.6,5.6c1.8,1.6,3.3,3.5,5.4,4.6c1.7,0.9,3.6,1.4,5.2,2.3c7.3,4,6.9,15.1,13,20.7c5.9,5.5,15.5,4,22.7,7.7
                        c3.7,1.9,6.9,5.3,11.1,5.6c1.7,0.1,3.8-0.2,4.9,1.2c0.5,0.6,0.6,1.4,0.7,2.2c1.6,8.4,9.4,14.1,16.7,18.8c2.8,1.8,5.9,3.7,9.2,3.4
                        c2.1-0.2,3.9-1.3,5.7-2.2c4.6-2.3,10.3-3.5,14.6-0.8c4,2.5,6,7.8,10.5,8.9c1.4,0.3,2.8,0.2,4.1,0.7c1.1,0.4,2,1.2,2.8,2
                        c2.5,2.3,4.9,4.7,7.4,7c1.1,1,2.1,2,2.7,3.3c0.9,2.2,0.3,5.1,1.8,7c8.1,10.5,20.7,16.1,32.5,22.1c1.3,0.7,2.7,1.3,4.1,1.7
                        c1.7,0.4,3.4,0.3,5.1,0.5c7,0.8,13.3,6.2,14.9,13.1c0.6,2.6,0.8,5.6,2.8,7.4c1.3,1.1,3.1,1.5,4.8,1.5c5.3,0.1,10.3-2.2,15.6-2.3
                        c5-0.1,9.8,1.8,14.8,2.1c3.8,0.2,7.5-0.5,11.3-0.7c5.6-0.3,11.2,0.6,16.8,1.6c1.3,0.2,2.6,0.4,3.8,1.1c2.9,1.6,3.9,5.2,5,8.3
                        c1.8,4.7,4.8,8.9,8.6,12.2c1.3-3.7,5.2-5.9,9.1-6.2c1-0.1,2,0,2.9-0.3c2.1-0.8,2.8-3.3,4.1-5.1c2.5-3.6,7.7-4.9,9.5-8.9
                        c0.5-1.1,0.8-2.4,1.9-2.9c1.3-0.6,2.7,0.3,4.1,0.7c4.7,1.3,9.3-3.6,14.1-2.6"/>
                    <path class="st1" d="M707.2,566.9c0-0.5,0.4-0.9,1-0.9l11.2,0.1c0.2,0,0.4,0,0.5-0.1c0.4-0.3,0.6-0.9,0.3-1.3l-4.6-7.5
                        c-0.1-0.1-0.1-0.3-0.1-0.5c0-0.5,0.4-0.9,1-0.9l6.2,0c0.3,0,0.6,0.1,0.8,0.4l10.1,14.1c0.4,0.1,0.7,0.5,0.7,0.9c0,0.1,0,0.1,0,0.2
                        l0,0.1l0,0.1c0,0.5-0.3,0.8-0.7,0.9l-10.1,14.1c-0.2,0.2-0.5,0.4-0.8,0.4h-6.2c-0.5,0-1-0.4-1-0.9c0-0.2,0-0.3,0.1-0.5l4.6-7.5
                        c0.3-0.4,0.1-1-0.3-1.3c-0.2-0.1-0.3-0.1-0.5-0.1l-11.2,0.1c-0.5,0-1-0.4-1-0.9V566.9z"/>
                    </svg>
              </div>
          {% elsif product.metafields.custom_fields["map_path_location"] == "Rhine River" %}
              <div class="card" style="background-image: url({{ "RhineRiver.jpg" | asset_url }})">
                  <div id="dot-1"></div>

                  <svg version="1.1" id="Path" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 743 910" style="enable-background:new 0 0 743 910;" xml:space="preserve">
                    <style type="text/css">

                        .st0{fill:none;stroke:#707171;stroke-width:1.3136;stroke-linecap:round;stroke-miterlimit:14.3246;stroke-dasharray:2.0001,4.8348;}
                        .st1{fill-rule:evenodd;clip-rule:evenodd;fill:#707070;}
                    </style>
                    <path id="path" class="st0" d="M229.6,199c-3.5,3-2.5,9,0.8,12.3c3.3,3.2,8,4.4,12.5,5.4c4.3,1,8.5,2,12.8,2.9c2.7,0.6,5.4,1.2,8.1,0.7
                        c4.7-1,7.9-5.3,11.8-8.2c7.2-5.2,17-5.2,25.2-8.7c5.9-2.5,10.9-6.8,15.8-11.1c5.9-5.1,11.7-10.2,17.6-15.3c4.6-4,9.7-10.1,6.8-15.5
                        c-1.4-2.6-4.2-4-6.6-5.7c-2.3-1.8-4.4-4.8-3.1-7.5c2.5,7.6,15.5,7.7,17.4,15.5c0.4,1.7,0.4,3.9,2,4.6c0.9,0.4,1.9,0.1,2.8-0.1
                        c13.4-3.8,26.8-7.5,40.2-11.3c2.4-0.7,5.1-1.5,6.6-3.5c2.2-3,1.1-7.1,0.9-10.8c-0.3-7,3.5-14,9.5-17.6c4.4-2.6,9.6-3.4,14.6-4.2
                        c7-1.1,13.9-2.1,20.9-3.2c34.6-5.2,69.7-10.5,104.5-7.2c-4.7,5.3-3,14.2,1.9,19.4c4.9,5.2,12,7.5,18.9,9.3
                        c6.9,1.8,14.1,3.3,19.9,7.4c10.6,7.5,26,6.4,35.1,15.6c10.6,10.8,13,28.2,7.5,42.3c-5.5,14.1-18,24.8-32.2,30.1
                        c-0.3,1.6,0.9,3.1,2.3,3.9c1.4,0.8,3,1.1,4.5,1.7c3.9,1.6,6.4,5.3,8.3,9.1c1.8,3.8,3.1,7.8,5.4,11.3c1.2,1.8,2.8,3.5,3.9,5.4
                        c2,3.2,2.9,7,3.7,10.8c3.2,14.9,5.7,29.8,7.6,44.9c1.6,12.9-6.4,25.8-7.4,38.7c-1.1,14.2,7,27.3,14.2,39.6c4.3,7.3,8.5,15.3,8,23.8
                        c-0.4,7.1-4,13.7-5.9,20.6c-1.7,6-2,12.2-2.3,18.4c-0.4,7.3-0.8,14.6-1.2,21.9c-0.4,7.5-0.8,14.9-0.4,22.4c0.7,12,3.5,24.2,0.3,35.8
                        c-2.2-1.4-4.4-2.6-6.6-4c-0.5-0.3-1-0.6-1.5-0.6c-2.1-0.2-2.6,2.7-2.6,4.8c0.1,5.5-1.1,11-3.5,15.9c-2.6,5.3-6.5,10-7.8,15.7
                        c-0.7,3-0.6,6-1.3,9c-0.8,3.3-2.4,6.4-3.9,9.5c-3.9,8.1-6.8,16.8-8.4,25.7c-0.4,2.3-0.7,4.7,0.3,6.7c1.2,2.4,3.8,3.6,5.6,5.4
                        c4.1,3.9,4.5,10.2,4.7,15.9c0.3,10.1,0.6,20.2,1,30.3c0.3,9.3,0.6,18.6,0.1,27.8c-0.3,4.7-0.7,9.4,0.3,13.9c0.6,2.8,1.8,5.5,3.5,7.8
                        c-2.1,2.2-4.7,4.4-7.4,5.7c-1.5,0.7-3.1,1.3-4.6,2.3c-2.1,1.4-3.6,3.4-5,5.4c-0.9,1.3-1.7,2.7-1.6,4.3c0.3,3.6,5.1,5,6.6,8.3
                        c-13.3,4-28.2,2.8-40.9-2.9c-0.4-1.9-0.8-3.9-1.2-5.8c-1.7,0.4-3.3,0.8-5,1.2c-2.3-7.8-6.5-15.1-12.2-21c-1.7-1.7-3.5-3.4-4.5-5.6
                        c-1-2.2-0.8-5.1,1-6.6c1-0.8,2.3-1.1,3.6-1.4c5.6-1.5,10.6-5.1,13.9-9.9c-7.3-3-10.2-11.5-15.2-17.6c-2.8-3.5-6.4-6.2-10-9
                        c-9.4-7.5-18.6-15.5-29.2-21.1c-10.6-5.6-23.2-8.8-34.8-5.8c-4.8,1.2-9.7,3.4-14.4,2c-2.2-0.7-4.1-2.1-5.9-3.6
                        c-5-3.9-10-7.8-15-11.6c-4-3.1-8.1-6.3-10.7-10.7s-3.4-10.2-0.7-14.4c4.4-6.8,0.4-16,0.1-24.1c-0.1-3.4-0.3-6.8-1.6-9.9
                        c-1.5-3.8-4.4-6.9-7.2-9.9c-3.5-3.6-6.9-7.3-10.4-10.9c-3.3-3.5-6.6-7-8.7-11.3c-2.5-5.2-2.9-11.1-4.9-16.5c-3.4-9-11.6-16-21-18
                        c-12.5-2.7-26.6-12.5-30-24.8c-1.7-6.1-0.5-13-3.4-18.7c-5.8-11.2-22.1-9.7-33.6-15c-6.8-3.1-12-8.8-17.1-14.4
                        c-13.2-14.7-26.5-29.5-36.5-46.5c-10-17-16.6-36.6-15.1-56.3c0.7-9,2.8-18.9-2.1-26.5c-2.7-4.2-7.3-7-11.9-8.9
                        c-21.9-9.2-47-3.7-69.4,4.1c-9.2,3.2-18.8,6.7-28.4,5.3c-11.8-1.8-21.2-10.7-28.8-19.8c-6.1-7.3-11.6-15.1-16.4-23.3
                        c-2.1-3.5-4.1-7.1-7.2-9.8c-2.5-2.2-5.6-3.5-8.6-4.9C45.5,238.1,26.4,221,2.7,217.3"/>
                    <path class="st1" d="M36.3,207.3c-0.2,0.5-0.7,0.7-1.2,0.5l-10.4-4c-0.2-0.1-0.3-0.1-0.5,0c-0.5,0.1-0.8,0.6-0.7,1.1l1.7,8.7
                        c0,0.2,0,0.3,0,0.5c-0.2,0.5-0.7,0.7-1.2,0.6l-5.7-2.2c-0.3-0.1-0.5-0.3-0.6-0.6L13,195.2c-0.4-0.2-0.5-0.7-0.4-1.1
                        c0-0.1,0.1-0.1,0.1-0.2l0-0.1l0-0.1c0.2-0.4,0.6-0.7,1-0.6l14.4-9.7c0.3-0.2,0.6-0.2,0.9-0.1l5.7,2.2c0.5,0.2,0.7,0.7,0.6,1.2
                        c-0.1,0.2-0.2,0.3-0.3,0.4l-6.9,5.4c-0.4,0.3-0.5,0.9-0.2,1.3c0.1,0.1,0.3,0.2,0.4,0.3l10.4,3.8c0.5,0.2,0.7,0.7,0.6,1.2L36.3,207.3
                        z"/>
                  </svg>
              </div>
          {% endif %}
        {% endif %}
<!--         <div class="pin pin-down" data-xpos="228" data-ypos="36">Torzi Matthews 1</div>
        <div class="pin pin-down" data-xpos="300" data-ypos="116">Torzi Matthews 2</div>
        <div class="pin pin-down" data-xpos="300" data-ypos="198">Torzi Matthews 3</div>
        <div class="pin pin-down" data-xpos="234" data-ypos="213">Torzi Matthews 4</div>
        <div class="pin pin-down" data-xpos="152" data-ypos="366">Torzi Matthews 5</div>
        <div class="pin pin-down" data-xpos="75" data-ypos="178">Torzi Matthews 6</div> -->
      </div>
      <div class="image-map-mobile">
        <div class="card">
            <div id="dot-2"></div>

            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 406 93" style="enable-background:new 0 0 813 93;" xml:space="preserve">
                <style type="text/css">
                    .st1{fill:none;stroke:#717171;stroke-width:1.3136;stroke-linecap:round;stroke-miterlimit:14.3246;stroke-dasharray:2.0001,4.8348;}
                </style>
                <path id="path1" class="st1" d="M0.6,47.5c15.9,0,19.9,11,37.9,10C61.8,56.2,75,44.1,97.2,36.9c26.6-8.6,56.8-7.7,81.7,5
                    c7.1,3.6,13.7,8.1,21.2,10.8c14.6,5.2,30.7,2.9,45.6-1.4c14.9-4.3,29.2-10.5,44.4-13.2s32.1-1.3,44.3,8.2c6.5,5.1,12,12.6,20.2,13.4
                    c8.3,0.9,15.3-5.6,22.4-10.1c9.3-5.9,20.3-9,31.3-8.7"/>
            </svg>
        </div>		
      </div>
    </div>
    <div class="tour-col-2 grid__item medium-up--two-thirds">
      
      {% if product.metafields.custom_fields["wine_tour_wines"] != blank %}
            {% assign separator = "|###|" %}
            {% assign wine_tour_image_array = product.metafields.custom_fields["wine_tour_image"] | split: separator %}
            {% assign tour_wine_heading_array = product.metafields.custom_fields["tour_wine_heading"] | split: separator %}
            {% assign tour_wine_text_array = product.metafields.custom_fields["tour_wine_text"] | split: separator %}
            {% assign fc_keys = product.metafields.custom_fields["wine_tour_wines"] | split: "," %}
            {% for i in fc_keys %}
            	{% assign index = i | plus: 0 %}
              <div class="bottle-cards-container grid" id="marker-{{ index | plus: 1 }}">
                <div class="bottle-cards-col-1 grid__item medium-up--one-half">
                  <span class="pre-heading">STOP {{ index | plus: 1 }}</span>
                  <h3>{{ tour_wine_heading_array[index] }}</h3>
                  <p>{{ tour_wine_text_array[index] }}</p>
                </div>
                <div class="bottle-cards-col-2 grid__item medium-up--one-half">
                  <span class="bg-count">{{ index | plus: 1 }}</span>
                  <span class="img-highlight"><span class="red">{{ index | plus: 1 }} -  {{ fc_keys.size }}</span> HIGHLIGHTS</span>
                  {{ wine_tour_image_array[index] }}
                </div>
              </div>
            {% endfor %}
      {% endif %}
      
    </div>
    {% comment %}
    <div class="wine-tour-slider-nav">
      <span class="prev-wine-bottle">{% include 'btn-arrow' %}</span>
      <span class="next-wine-bottle">{% include 'btn-arrow' %}</span>
    </div>
    {% endcomment %}
  </div>
  
  <div class="brand-wrapper">
    {% comment %}
    <div class="heading">
      {% if product.metafields.custom_fields["brands_heading"] != blank %}
          <h3>{{ product.metafields.custom_fields["brands_heading"] }}</h3>
      {% endif %}
    </div>
    <div class="brands grid slides_logo_slick">
      {% if product.metafields.custom_fields["brand_logos"] != blank %}
            {% assign separator = "|###|" %}
            {% assign brand_images_array = product.metafields.custom_fields["brand_images"] | split: separator %}
            {% assign fc_keys = product.metafields.custom_fields["brand_logos"] | split: "," %}
            {% for i in fc_keys %}
              {% assign index = i | plus: 0 %}
              <div class="brand grid__item medium-up--one-sixth">
                {{ brand_images_array[index] }}
              </div>
            {% endfor %}
      {% endif %}
    </div>
    {% endcomment %}
  </div>
</div>

{% section 'product-bg-block' %}

{% section 'what-do-i-get-each-month' %}

{% if product.metafields.custom_fields["testimonial_image"] != blank or product.metafields.custom_fields["testimonial_text"] != blank  or product.metafields.custom_fields["testimonial_name"] != blank or product.metafields.custom_fields["testimonial_testimonial"] != blank %}
<div class="wine-subs-testimonial">
  <div class="wine-subs-wrapper page-width grid">
    <div class="testimonial-image-wrapper grid__item one-half">
      {% if product.metafields.custom_fields["testimonial_image"] != blank %}
          {% include 'cf-image' with image: product.metafields.custom_fields["testimonial_image"] %}
      {% endif %}
      
      {% if product.metafields.custom_fields["testimonial_name"] != blank %}
      	<span class="image-content small--hide"> 
           Hi, I'm {{ product.metafields.custom_fields["testimonial_name"] }}
      	</span>
      {% endif %}
    </div>
    
    <div class="testimonial-mobile-row grid__item medium-up--hide one-whole">
      {% if product.metafields.custom_fields["testimonial_name"] != blank %}
      <span class="image-content"> 
        Hi, I'm {{ product.metafields.custom_fields["testimonial_name"] }}
      </span>
      {% endif %}
    </div>

    <div class="testimonial-content-wrapper grid__item one-half">
      {% if product.metafields.custom_fields["testimonial_testimonial"] != blank %}
          <span class="main-text">{{ product.metafields.custom_fields["testimonial_testimonial"] }}</span>
      {% endif %}
       {% if product.metafields.custom_fields["testimonial_text"] != blank %}
          <span class="sub-text">{{ product.metafields.custom_fields["testimonial_text"] }}</span>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}
{%- comment -%}
<div class="wine-subs-journey-wrapper">
	{% section 'custom-section-2' %}
 
</div>

<div class="wine-subs-faq-wrapper">
  {%- comment -%}<div class="heading">
    {% if product.metafields.custom_fields["faq_heading"] != blank %}
    	<h2>{{ product.metafields.custom_fields["faq_heading"] }}</h2>
    {% endif %}
    {% if product.metafields.custom_fields["faq_sub_heading"] != blank %}
    	<div>{{ product.metafields.custom_fields["faq_sub_heading"] }}</div>
    {% endif %}
  </div>{%- endcomment -%}
  
  
  {%- comment -%}{% if product.metafields.custom_fields["faq_questions"] != blank %}
  	<div class="product-accordion page-width">
        {% assign separator = "|###|" %}
        {% assign question_array = product.metafields.custom_fields["question"] | split: separator %}
        {% assign answers_array = product.metafields.custom_fields["answers"] | split: separator %}
        {% assign fc_keys = product.metafields.custom_fields["faq_questions"] | split: "," %}
        {% for i in fc_keys %}
          {% assign index = i | plus: 0 %}
  			<button class="accordion">
              <span class="text">{{ question_array[index] }}</span>
              <span class="accordion-arrow">{% include 'btn-arrow' %}</span>
            </button>
            <div class="panel">
              <p>{{ answers_array[index] }}</p>
            </div>
        {% endfor %}
  	</div>
  {% endif %}{%- endcomment -%}
</div>


{%- section 'subscription-copy-image-with-text' -%}
{%- endcomment -%}

<style>
  @media only screen and (min-width: 591px){
    div[data-section-id="header"]{
/*       height:96px; 
      background-color: transparent; */
    } 
  }
  .site-header, .site-header__mobile-nav{
    border-bottom:0px;
  }
  .main-content{padding-top:0px;}
</style>
<script>
  document.addEventListener('DOMContentLoaded', function (){
    $('[data-bsub-selling-plan-group] label').trigger('click');
  }, false);
</script>
<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  }
</script>
{% assign current_variant = product.selected_or_first_available_variant %} 
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": {{ product.title | json }},
  "url": {{ shop.url | append: product.url | json }},
  {%- if product.featured_media -%}
    {%- assign media_size = product.featured_media.preview_image.width | append: 'x' -%}
    "image": [
      {{ product.featured_media | img_url: media_size | prepend: "https:" | json }}
    ],
  {%- endif -%}
  "description": {{ product.description | strip_html | json }},
  {%- if current_variant.sku != blank -%}
    "sku": {{ current_variant.sku | json }},
  {%- endif -%}
  "brand": {
    "@type": "Thing",
    "name": {{ product.vendor | json }}
  },
  "offers": [
    {%- for variant in product.variants -%}
      {
        "@type" : "Offer",
        {%- if variant.sku != blank -%}
          "sku": {{ variant.sku | json }},
        {%- endif -%}
        "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
        {%- if forloop.first == true -%}
        "price" : {{ variant.price | divided_by: 600.00 | round: 2 | json }},
        {%- else -%}
        "price" : {{ variant.price | divided_by: 100.00 | json }},
        {%- endif -%}
        "priceCurrency" : {{ cart.currency.iso_code | json }},
        "url" : {{ shop.url | append: variant.url | json }}
      }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ]
}
</script>
<script type="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>
<style> 
  .mile-text-21 {
    display: none !important;
} 
</style>