<div class="wineSubWrap"> 
  <div class="wineSubHero" {% comment %}style="background-image:url({{ product.featured_image | product_img_url: '1400x' }})"{% endcomment %}>
    <span class="lattitide">
      {{ product.metafields.custom_fields["lat_french"] }}
      </span>
    <div class="wineSubHeroImageWrapper {% if product.images.size > 1 %}wineSubHeroSlideshow{% endif %}">
      <div class="wineSubHeroSlides" style="background-image:url( {{ product.metafields.custom_fields["banner"] }})"></div>
      
    </div>
    <div class="wineSubHeroContentWrapper">
    	<div class="page-width">
      <h2>        
        {% if product.metafields.custom_fields["wine_subscription_heading_line"] != blank %}
        <span> {{ product.metafields.custom_fields["wine_subscription_heading_line"] }}</span>
        {% endif %}
        {% if product.metafields.custom_fields["wine_subscription_heading_2"] != blank %}
            {{ product.metafields.custom_fields["wine_subscription_heading_2"] }}
        {% endif %}
      </h2>
       
      {% if product.metafields.custom_fields["wine_subs_tabs"] != blank %}
        {% assign separator = "|###|" %}
        {% assign wine_subs_tab_1_array = product.metafields.custom_fields["wine_subs_tab_1"] | split: separator %}
        {% assign fc_keys = product.metafields.custom_fields["wine_subs_tabs"] | split: "," %}
        <ul>
          {% for i in fc_keys %}
            {% assign index = i | plus: 0 %}
              <li class="lnop">{{ wine_subs_tab_1_array[index] }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      
      {% if product.metafields.custom_fields["subscription_months"] != blank %}
      <span class="subsText">     
        {% assign text = product.metafields.custom_fields["subscription_months"] | split: '-' %}
        {{ text[0] }}{%- if text[1] != blank -%}<sk class="break__line"> - {{ text[1] }}</sk>{%- endif -%}
      </span>
      {% endif %}
    </div>
    </div>
  </div>
   
  {% section 'product-mixcase-template-custom' %}

 <div class="mixcase-bottle-card-wrapper page-width"> 
    <div class="heading">
      {% if product.metafields.custom_fields["mixcase_collection_title"] != blank %}
          <h2>{{ product.metafields.custom_fields["mixcase_collection_title"] }}</h2>
      {% endif %}
      {% comment %}{% if product.metafields.custom_fields["mixcase_collection_subtitle"] != blank %}
      <p>{{ product.metafields.custom_fields["mixcase_collection_subtitle"] }}</p>
      {% endif %} {% endcomment %}
      {{ product.description }}
    </div>
    <div class="bottle-card-wrapper grid">
      
      
      {% if product.metafields.custom_fields["mixcase_wines"] != blank %}
        <div class="custom-field custom-field__mixcase-wines custom-field__type--field-collection">
          <div class="grid grid--uniform custom-field--value list-your-case">
            {% assign separator = "|###|" %}
            {% assign wine_image_array = product.metafields.custom_fields["wine_image"] | split: separator %}
            {% assign wine_title_array = product.metafields.custom_fields["wine_title"] | split: separator %}
            {% assign wine_subtitle_array = product.metafields.custom_fields["wine_subtitle"] | split: separator %}
            {% assign wine_text_array = product.metafields.custom_fields["wine_text"] | split: separator  %}
                        {% assign wine_text_icon_array = product.metafields.custom_fields["wine_text_icon"] | split: separator %}

            {% assign fc_keys = product.metafields.custom_fields["mixcase_wines"] | split: "," %}
            {% for i in fc_keys %}
              {% assign index = i | plus: 0 %}
            	<div class="bottle-card-container grid__item medium-up--one-third">
                  <div class="bottle-card">
                    <div class="img-container"> 
                      {{ wine_image_array[index] }}
                      <span class="bg-c"></span>
                    </div>
                    <div class="content-container">
                      <h3>{{ wine_title_array[index] }}</h3>
                      <span class="sub-heading">{{ wine_subtitle_array[index] }}</span> 
                      <p class="oomeray">  {{ wine_text_array[index] }}</p>
                      <div class="alod">{{ wine_text_icon_array[index] }}</div>
                    </div>
                  </div>
                </div>
            {% endfor %}
            
          </div>
        </div>
      {% endif %}
    </div>
  </div>
      <div class="custom-mixcase-wrapper custom-product-wrapper">
  <div class="product-accordion page-width">
    {% if product.metafields.custom_fields["expert_reviews"] != blank %}
    <div class="custom-field custom-field__expert-reviews custom-field__type--field-collection">
      <div class="custom-field--value">
        {% assign separator = "|###|" %}
        {% assign reviewer_photo_array = product.metafields.custom_fields["reviewer_photo"] | split: separator %}
        {% assign reviewer_name_array = product.metafields.custom_fields["reviewer_name"] | split: separator %}
        {% assign expert_review_array = product.metafields.custom_fields["expert_review"] | split: separator %}
        {% assign reviewer_points_array = product.metafields.custom_fields["reviewer_points"] | split: separator %}
        {% assign fc_keys = product.metafields.custom_fields["expert_reviews"] | split: "," %}

        <button class="accordion">
          <span class="text">Expert Reviews</span>
<!--           <span class="vertical-hr"></span> -->
          <span class="text text-g-1">{{ reviewer_points_array | sort | last }} 
            {% assign max_point = reviewer_points_array | sort | last %}
            {% for i in fc_keys %}
            {% assign index = i | plus: 0 %}
            {% unless max_point != reviewer_points_array[index] %}
            {{ reviewer_name_array[index] }}
            {% endunless %}
            {% endfor %}
          </span>
          <span class="see-all">See all reviews</span>
          <span class="accordion-arrow">{% include 'btn-arrow' %}</span>
        </button>

        <div class="panel">
          {% for i in fc_keys %}
          {% assign index = i | plus: 0 %}
          <div class="fc-item fc-item--expert reviews fc-index--{{ index }}">
            <div class="fc-field field__reviewer-photo">
              {{ reviewer_photo_array[index] }}
            </div>
            <div class="fc-field field__reviewer-name">
              <div class="fc-field field__reviewer-points">
                {{ reviewer_points_array[index] }} POINTS
              </div>
              {{ reviewer_name_array[index] }}
            </div>
            <div class="fc-field field__expert-review">
              {{ expert_review_array[index] }}
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </div>
    {% endif %}
    
    {% if product.metafields.custom_fields["awards"] != blank %}
      <div class="custom-field custom-field__awards custom-field__type--field-collection">
        <div class="custom-field--value">
          {% assign separator = "|###|" %}
          {% assign award_name_array = product.metafields.custom_fields["award_name"] | split: separator %}
          {% assign award_description_array = product.metafields.custom_fields["award_description"] | split: separator %}
          {% assign fc_keys = product.metafields.custom_fields["awards"] | split: "," %}
          
          <button class="accordion">
            <span class="text text-g-1 text-1">Awards</span>
            <span class="see-all">See all awards</span>
            <span class="accordion-arrow">{% include 'btn-arrow' %}</span>
          </button>
          
          <div class="panel">
          {% for i in fc_keys %}
            {% assign index = i | plus: 0 %}
            <div class="fc-item fc-item--awards fc-index--{{ index }}">
              <div class="fc-field field__award-name">
                {{ award_name_array[index] }}
              </div>
              <div class="fc-field field__award-description">
                {{ award_description_array[index] }}
              </div>
            </div>
          {% endfor %}
          </div>
          
        </div>
      </div>
    {% endif %}
    
  </div>
  </div>
</div>

{% section 'new-custom-mixcase-section-addition' %} 
{% comment %}
<div class="product-mixcase-end-wrapper">
	{% section 'custom-section-addition' %} 
	{% section 'custom-section-3' %}
</div>
{% endcomment %}

<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here. 
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  }
</script>

{% assign current_variant = product.selected_or_first_available_variant %} 

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": {{ product.title | json }},
  "url": {{ shop.url | append: product.url | json }},
  {%- if product.featured_media -%}
    {%- assign media_size = product.featured_media.preview_image.width | append: 'x' -%}
    "image": [
      {{ product.featured_media | img_url: media_size | prepend: "https:" | json }}
    ],
  {%- endif -%}
  "description": {{ product.description | strip_html | json }},
  {%- if current_variant.sku != blank -%}
    "sku": {{ current_variant.sku | json }},
  {%- endif -%}
  "brand": {
    "@type": "Thing",
    "name": {{ product.vendor | json }} 
  },
  "offers": [
    {%- for variant in product.variants -%}
      {
        "@type" : "Offer",
        {%- if variant.sku != blank -%}
          "sku": {{ variant.sku | json }},
        {%- endif -%}
        "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
        {%- if forloop.first == true -%}
        "price" : {{ variant.price | divided_by: 600.00 | round: 2 | json }},
        {%- else -%}
        "price" : {{ variant.price | divided_by: 100.00 | json }},
        {%- endif -%}
        "priceCurrency" : {{ cart.currency.iso_code | json }},
        "url" : {{ shop.url | append: variant.url | json }}
      }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ]
}
</script>
<script type="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>
<style>
  .cust-over-img-text.toyu {
    background: 0 0;
    padding: 10px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #fff !important;
    border-top: 1px solid #fff !important;
}
  .custom-product-wrapper .product-details .in-stock ul li{letter-spacing: 1.3px !important; }
</style>
