

<div class="custom-product-heading">
  <span class="pre-heading">{{ product.metafields.custom_fields["makers_name"] }}</span>
  <h1 class="heading">{{ product.title }}</h1>
  <span class="location-text">{% include 'product-location-dropper' %} 
    {{ product.metafields.custom_fields["location"] }}</span>
  <span class="side-text">Add to Wishlist</span>
</div>
 
<div class="custom-product-wrapper">
  {% section 'product-gift-template-custom' %}

    {% comment %}
    <div class="product-accordion page-width">
     
      {% if product.metafields.custom_fields["expert_reviews"] != blank %}
        <div class="custom-field custom-field__expert-reviews custom-field__type--field-collection">
          <div class="custom-field--value">
            {% assign separator = "|###|" %}
            {% assign reviewer_photo_array = product.metafields.custom_fields["reviewer_photo"] | split: separator %}
            {% assign reviewer_name_array = product.metafields.custom_fields["reviewer_name"] | split: separator %}
            {% assign expert_review_array = product.metafields.custom_fields["expert_review"] | split: separator %}
            {% assign reviewer_points_array = product.metafields.custom_fields["reviewer_points"] | split: separator %}
            {% assign fc_keys = product.metafields.custom_fields["expert_reviews"] | split: "," %}
            
            <button class="accordion">
              <span class="text">Expert Reviews</span>
              <span class="vertical-hr"></span>
              <span class="text text-g-1">{{ reviewer_points_array | sort | last }} POINTS - 
              {% assign max_point = reviewer_points_array | sort | last %}
              {% for i in fc_keys %}
                {% assign index = i | plus: 0 %}
              	{% unless max_point != reviewer_points_array[index] %}
              		{{ reviewer_name_array[index] }}
              	{% endunless %}
              {% endfor %}
              </span>
              <span class="see-all">See all reviews</span>
              <span class="accordion-arrow">{% include 'btn-arrow' %}</span>
            </button>
            
            <div class="panel">
              {% for i in fc_keys %}
                {% assign index = i | plus: 0 %}
                <div class="fc-item fc-item--expert reviews fc-index--{{ index }}">
                  <div class="fc-field field__reviewer-photo">
                    {{ reviewer_photo_array[index] }}
                  </div>
                  <div class="fc-field field__reviewer-name">
                    <div class="fc-field field__reviewer-points">
                      {{ reviewer_points_array[index] }} POINTS
                    </div>
                    {{ reviewer_name_array[index] }}
                  </div>
                  <div class="fc-field field__expert-review">
                    {{ expert_review_array[index] }}
                  </div>
                </div>
              {% endfor %} 
            </div>
            
          </div>
        </div> 
      {% endif %}
    
      {% if product.metafields.custom_fields["awards"] != blank %}
        <div class="custom-field custom-field__awards custom-field__type--field-collection">
          <div class="custom-field--value">
            {% assign separator = "|###|" %}
            {% assign award_name_array = product.metafields.custom_fields["award_name"] | split: separator %}
            {% assign award_description_array = product.metafields.custom_fields["award_description"] | split: separator %}
            {% assign fc_keys = product.metafields.custom_fields["awards"] | split: "," %}
            
            <button class="accordion">
              <span class="text text-g-1 text-1">Awards</span>
              <span class="see-all">See all awards</span>
              <span class="accordion-arrow">{% include 'btn-arrow' %}</span>
            </button>
            
            <div class="panel">
            {% for i in fc_keys %}
              {% assign index = i | plus: 0 %}
              <div class="fc-item fc-item--awards fc-index--{{ index }}">
                <div class="fc-field field__award-name">
                  {{ award_name_array[index] }}
                </div>
                <div class="fc-field field__award-description">
                  {{ award_description_array[index] }}
                </div>
              </div>
            {% endfor %}
            </div>
            
          </div>
        </div>
      {% endif %}
      
    </div>
    {% endcomment %}
  
  {% comment %}
  <div class="product-detail-wrapper grid page-width">
    <div class="left-detail-col grid__item  medium-up--one-quarter">
      <div class="product-detail-info detail__block_1">
        <span class="icon-container">{% include 'product-map-circle' %}</span>
        <h3>{{ product.metafields.custom_fields["title_1"] }}</h3>
        <p>{{ product.metafields.custom_fields["text_1"] }}</p>
      </div>
      <div class="product-detail-info detail__block_2">
        <span class="icon-container">{% include 'product-location-circle' %}</span>
        <h3>{{ product.metafields.custom_fields["title_2"] }}</h3>
        <p>{{ product.metafields.custom_fields["text_2"] }}</p>
      </div>
    </div>
    <div class="center-detail-col grid__item  medium-up--two-quarters">
      <span class="bg-c"></span>
      <img src="{{ product.featured_image | product_img_url: '560x' }}" width="280px" height="auto"/>
    </div>
    <div class="right-detail-col grid__item  medium-up--one-quarter">
      <div class="product-detail-info detail__block_3">
        <span class="icon-container">{% include 'product-wine-circle' %}</span>
        <h3>{{ product.metafields.custom_fields["title_3"] }}</h3>
        <p>{{ product.metafields.custom_fields["text_3"] }}</p>
      </div>
      <div class="product-detail-info detail__block_4">
        <span class="icon-container">{% include 'product-ballon-circle' %}</span>
        <h3>{{ product.metafields.custom_fields["title_4"] }}</h3>
        <p>{{ product.metafields.custom_fields["text_4"] }}</p>
      </div>
    </div>
  </div>
  {% endcomment %}
  
  <div class="product-maker-wrapper page-width">
    <div class="pre-heading"><span>THE MAKER</span></div>
    <div class="heading"><h2>{{ product.metafields.custom_fields["makers_name"] }}</h2></div>
    <div class="maker-content grid">
      <div class="maker-col-1 grid__item medium-up--one-half">
        <h3>{{ product.metafields.custom_fields["makers_section_title"] }}</h3>
        <span class="wj-j"><hr></span>
        {% unless product.metafields.custom_fields["makers_section_text"] contains '<!-- split -->' %}
        <p>{{ product.metafields.custom_fields["makers_section_text"] }}</p>
        {% else %}
        {% assign desc = product.metafields.custom_fields["makers_section_text"] | split: '<!-- split -->'%}
        {{ desc[0] }}
        {% endunless %}
      </div>
      <div class="maker-col-2 grid__item medium-up--one-half">
        <div class="image-wrapper">
          <span class="image-1">
          	{{ product.metafields.custom_fields["makers_section_image_1"] }}
          </span>
          <span class="img-logo">{% include "graphic_stamp-passport-01" %}</span>
          <span class="image-2">
            {{ product.metafields.custom_fields["makers_section_image_2"] }}
          </span>
        </div>
      </div>
      {% if product.metafields.custom_fields["makers_section_text"] contains '<!-- split -->' %}
      <div class="maker-col-1 maker__col_splitText grid__item medium-up--one-whole">
        {% assign desc = product.metafields.custom_fields["makers_section_text"] | split: '<!-- split -->'%}
        {{ desc[1] }}
      </div>
      {% endif %}
    </div>
    {% comment %}
    <div class="maker-tabs grid">
      <div class="maker-tab-1 grid__item medium-up--one-third">
        <div class="maker-tab">
          <p>{{ product.metafields.custom_fields["makers_tab_1"] }}</p>
        </div>
      </div>
      <div class="maker-tab-2 grid__item medium-up--one-third">
        <div class="maker-tab">
          <p>{{ product.metafields.custom_fields["makers_tab_2"] }}</p>
        </div>
      </div>
      <div class="maker-tab-3 grid__item medium-up--one-third">
        <div class="maker-tab">
          <p>{{ product.metafields.custom_fields["makers_tab_3"] }}</p>
        </div>
      </div>
    </div>
    {% endcomment %}
  </div>
</div>

<div class="custom-banners">
  {% if product.metafields.custom_fields["custom_banner"] != blank %}
  {{ product.metafields.custom_fields["custom_banner"] }}
  {% endif %}
</div>

{% section 'product-banner-gift' %}
{% section 'product-atc-gift' %}
{% section 'product-faq-gift' %}

<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  }
</script>

{% assign current_variant = product.selected_or_first_available_variant %}

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": {{ product.title | json }},
  "url": {{ shop.url | append: product.url | json }},
  {%- if product.featured_media -%}
    {%- assign media_size = product.featured_media.preview_image.width | append: 'x' -%}
    "image": [
      {{ product.featured_media | img_url: media_size | prepend: "https:" | json }}
    ],
  {%- endif -%}
  "description": {{ product.description | strip_html | json }},
  {%- if current_variant.sku != blank -%}
    "sku": {{ current_variant.sku | json }},
  {%- endif -%}
  "brand": {
    "@type": "Thing",
    "name": {{ product.vendor | json }}
  },
  "offers": [
    {%- for variant in product.variants -%}
      {
        "@type" : "Offer",
        {%- if variant.sku != blank -%}
          "sku": {{ variant.sku | json }},
        {%- endif -%}
        "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
        {%- if forloop.first == true -%}
        "price" : {{ current_variant.metafields.custom_fields["single_product_price"]  | json }},
        {%- else -%}
        "price" : {{ variant.price | divided_by: 100.00 | json }},
        {%- endif -%}
        "priceCurrency" : {{ cart.currency.iso_code | json }},
        "url" : {{ shop.url | append: variant.url | json }}
      }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ]
}
</script>
<script type="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>