

<div class="custom-product-heading">
  <span class="pre-heading">{{ product.metafields.custom_fields["makers_name"] }}</span>
  <h1 class="heading">{{ product.title }}</h1>
  <span class="location-text">{% include 'product-location-dropper' %} 
    {{ product.metafields.custom_fields["location"] }}</span>
  <span class="side-text">Add to Wishlist</span>
</div>
 
<div class="custom-product-wrapper">
  {% section 'product-template-custom' %}

    
   <div class="product-accordion page-width">
     
      {% if product.metafields.custom_fields["expert_reviews"] != blank %}
        <div class="custom-field custom-field__expert-reviews custom-field__type--field-collection">
          <div class="custom-field--value">
            {% assign separator = "|###|" %}
            {% assign reviewer_photo_array = product.metafields.custom_fields["reviewer_photo"] | split: separator %}
            {% assign reviewer_name_array = product.metafields.custom_fields["reviewer_name"] | split: separator %}
            {% assign expert_review_array = product.metafields.custom_fields["expert_review"] | split: separator %}
            {% assign reviewer_points_array = product.metafields.custom_fields["reviewer_points"] | split: separator %}
            {% assign fc_keys = product.metafields.custom_fields["expert_reviews"] | split: "," %}
            
            <button class="accordion">
              <span class="text">Expert Reviews</span>
              <span class="vertical-hr"></span>
              <span class="text text-g-1">{{ reviewer_points_array | sort | last }} POINTS - 
              {% assign max_point = reviewer_points_array | sort | last %}
              {% for i in fc_keys %}
                {% assign index = i | plus: 0 %}
              	{% unless max_point != reviewer_points_array[index] %}
              		{{ reviewer_name_array[index] }}
              	{% endunless %}
              {% endfor %}
              </span>
              <span class="see-all">See all reviews</span>
              <span class="accordion-arrow">{% include 'btn-arrow' %}</span>
            </button>
            
            <div class="panel">
              {% for i in fc_keys %}
                {% assign index = i | plus: 0 %}
                <div class="fc-item fc-item--expert reviews fc-index--{{ index }}">
                  <div class="fc-field field__reviewer-photo">
                    {{ reviewer_photo_array[index] }}
                  </div>
                  <div class="fc-field field__reviewer-name">
                    <div class="fc-field field__reviewer-points">
                      {{ reviewer_points_array[index] }} POINTS
                    </div>
                    {{ reviewer_name_array[index] }}
                  </div>
                  <div class="fc-field field__expert-review">
                    {{ expert_review_array[index] }}
                  </div>
                </div>
              {% endfor %} 
            </div>
            
          </div>
        </div> 
      {% endif %}
    
    {% if product.metafields.custom_fields["awards"] != blank %}
      <div class="custom-field custom-field__awards custom-field__type--field-collection">
        <div class="custom-field--value">
          {% assign separator = "|###|" %}
          {% assign award_name_array = product.metafields.custom_fields["award_name"] | split: separator %}
          {% assign award_description_array = product.metafields.custom_fields["award_description"] | split: separator %}
          {% assign fc_keys = product.metafields.custom_fields["awards"] | split: "," %}
          
          <button class="accordion">
            <span class="text text-g-1 text-1">Awards</span>
            <span class="see-all">See all awards</span>
            <span class="accordion-arrow">{% include 'btn-arrow' %}</span>
          </button>
          
          <div class="panel">
          {% for i in fc_keys %}
            {% assign index = i | plus: 0 %}
            <div class="fc-item fc-item--awards fc-index--{{ index }}">
              <div class="fc-field field__award-name">
                {{ award_name_array[index] }}
              </div>
              <div class="fc-field field__award-description">
                {{ award_description_array[index] }}
              </div>
            </div>
          {% endfor %}
          </div>
          
        </div>
      </div>
    {% endif %}
    
  </div>  
<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  }
</script>

{% assign current_variant = product.selected_or_first_available_variant %}

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": {{ product.title | json }},
  "url": {{ shop.url | append: product.url | json }},
  {%- if product.featured_media -%}
    {%- assign media_size = product.featured_media.preview_image.width | append: 'x' -%}
    "image": [
      {{ product.featured_media | img_url: media_size | prepend: "https:" | json }}
    ],
  {%- endif -%}
  "description": {{ product.description | strip_html | json }},
  {%- if current_variant.sku != blank -%}
    "sku": {{ current_variant.sku | json }},
  {%- endif -%}
  "brand": {
    "@type": "Thing",
    "name": {{ product.vendor | json }}
  },
  "offers": [
    {%- for variant in product.variants -%}
      {
        "@type" : "Offer",
        {%- if variant.sku != blank -%}
          "sku": {{ variant.sku | json }},
        {%- endif -%}
        "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
        {%- if forloop.first == true -%}
        "price" : {{ current_variant.metafields.custom_fields["single_product_price"]  | json }},
        {%- else -%}
        "price" : {{ variant.price | divided_by: 100.00 | json }},
        {%- endif -%}
        "priceCurrency" : {{ cart.currency.iso_code | json }},
        "url" : {{ shop.url | append: variant.url | json }}
      }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ]
}
</script>
<script type="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>
  <style>
    .custom-product-wrapper .product-accordion {
    margin-bottom: 0;
}
  </style>